[2016-03-21 14:30] chrissimpkins commented on #152
@ragingnerd thank you for checking!  do you see this problem with the otf builds?

[2016-03-21 14:40] ragingnerd commented on #152
@chrissimpkins no problem! 2.019 .OTF Bold is fine, the other 3 have _0 appended to them - IDE renders everything in bold.

[2016-03-21 15:26] chrissimpkins commented on #152
@texhex I think we may need your expertise here.  Any thoughts about these issues with the Windows installs?

[2016-03-21 16:34] texhex commented on #152
@chrissimpkins OK, I will do my very best. Let's see if this is enough :)

@ragingnerd First, we should remove anything "Hack" related in order to have a clean state. Please first go to the Fonts applet (Right-click on Start menu -> Control Panel -> Appearance -> Fonts). Search for Hack and hit delete. Windows should then delete the fonts. If it says something about **File XXX in use, can't delete

[2016-03-21 17:08] chrissimpkins commented on #152
@texhex Wow, that is a convoluted mess on Windows.  It sounds like Windows doesn’t intend to have fonts updated very often.  Thanks so much for all of this information.  @rahilwazir @ragingnerd please let us know if the above works for you.

[2016-03-21 17:36] lemzwerg commented on #138
To be pedantic: It's up to the font rendering stack to decide what the three hinting modes 'full', 'medium', and 'slight' exactly do.  The FontConfig library only sets up those values without defining them.

For TrueType fonts, 'full' normally means bytecode hinting, and 'slight' the hinting as provided by FreeType's auto-hinter, ignoring bytecode completely. The basic question is what 'medium' me

[2016-03-21 18:14] texhex commented on #152
@chrissimpkins Yes, it's a total mess. The main problem is that Windows has several "data stores" (Files, Registry, Cache) and no sanity check in place if this all makes sense. I would assume that single coder, that has the full backup from the Windows lead, could get all this sorted out in less than two weeks or so. But hey, it only took them two Windows version to bring the start menu back :-).

[2016-03-21 21:42] rahilwazir commented on #152
@chrissimpkins Well that actually works :smile:

Thanks @texhex once again, so weird shit going on

[2016-03-21 22:08] chrissimpkins commented on #152
@texhex :+1: !!

[2016-03-22 01:23] ragingnerd commented on #152
@texhex  @chrissimpkins All sorted, thanks for your help!

Btw for anyone having the same problem, when I do a  `dir "C:\Windows\Fonts\Hack*.*"`, there are hack files but they are hidden on the font applet. I had to `del dir "C:\Windows\Fonts\Hack*.*"` on an elevated cmd to get rid of it.

[2016-03-22 07:21] texhex commented on #152
@ragingnerd Good to hear. Finally you can enjoy the most awesome font ever :-).

Blunt self promotion: I have create a setup.exe for Hack (and some other fonts) that should make installation on a new machine rather easy. It takes also care about those Hack_0/1/2.ttf files and about the Font Cache service(s). You might want to give it a try for the next machine: [OS Font Pack](https://github.com/te

[2016-03-22 10:13] Grimy commented on #138
I don’t think that’s necessary: full hinting is the default. Maybe a warning to the effect of “Don’t mess up with fontconfig settings unless you know what you’re doing”.

[2016-03-22 13:51] chrissimpkins commented on #138
@lemzwerg That is very helpful information.  I wasn't aware of this. Thank you very much Werner.

@Grimy That sounds good Victor.  We will leave the docs as is for now.  Is there a reason why you modified the settings?  Does this make other fonts look better on your system?

[2016-03-22 19:58] chrissimpkins commented on #152
I will try to get the docs updated this week.  Sorry for the delay and thanks again!

[2016-03-22 20:21] texhex commented on #152
@chrissimpkins No rush needed Chris, I just wanted to make sure that the setup is not "official". The message wasn't intend to push you to anything. Really.

[2016-03-22 21:11] chrissimpkins commented on #188
@phantom-code It's unfortunately not a straightforward issue Anton and you are correct that the vertical metrics differ by platform.  Here is some background to get you started:

https://www.glyphsapp.com/tutorials/vertical-metrics

Not sure why the bold glyphs had thicker strokes when you made the changes.  With rebuilds in FontForge, you will remove the hints that we use and should reapply those

[2016-03-22 21:17] chrissimpkins commented on #188
@phantom-code Another good article:

https://grahamwideman.wikispaces.com/Font+Vertical+Metrics

[2016-03-22 21:27] phantom-code commented on #188
@chrissimpkins thank you for the information. BTW, is it possible to build ttf files from sources on Linux platform? As far as I understood, the vfb2ufo exists only for Windows.

[2016-03-22 21:46] chrissimpkins commented on #188
@phantom-code The UFO source is always current with the latest release builds.

https://github.com/chrissimpkins/Hack/tree/master/source/ufo/vfb2ufo

 You can build in FontForge with the UFO source files.  We ran into some OT table build kinks with the attempt to transition to a UFO font editor.  Of note, the ttf and otf builds themselves serve as their own source (though not all data in the sourc

[2016-03-22 22:00] phantom-code commented on #188
Thanks again!

[2016-03-22 23:29] chrissimpkins commented on #138
@Grimy I came across this information on the FreeType site that addresses these font setting issues:

http://www.freetype.org/freetype2/docs/text-rendering-general.html

It seems that the FreeType project has the goal to move towards increased use of some degree of autohinting as the default based upon these comments in that document:

This is probably a reasonable goal based upon the quality of a

[2016-03-22 23:50] vbsessa commented on #120
+1 for this.
I think these glyphs  could be more like Luxi Mono ones, especially the ">" symbol: it's angle si too acute.

[2016-03-23 02:08] chrissimpkins commented on #120
@vbsessa Thanks Vicente.  We are starting work on the entire ASCII punctuation set for the v2.021 release and will have a look at these glyphs as we decide about necessary changes.

[2016-03-23 08:01] Grimy commented on #138
I read the advice to use `hintslight` somewhere, tried it, noticed it made my terminal font of the time look better, and kept the config fragment ever since.

Yes, I believe shipping a fontconfig file is reasonable. However, the example you show does not work, because the opening quote before `hintstyle` is a typographic quote (`“`, U+201C) rather than an ASCII quote (`"`, U+0022). Once this is fi

[2016-03-23 12:53] burodepeper commented on #124
@chrissimpkins I suggest we make an inventory of what other variants exist and what glyphs they use. We could preemptively fill in the missing ones (if any) with some generic shapes/open-sourced glyphs, and look at a proper unique design at a later stage.

[2016-03-23 13:05] chrissimpkins commented on #138
Excellent, thanks.  I will work this into the documentation so that others are aware.

[2016-03-23 13:15] chrissimpkins commented on #124
Sounds good. I am not aware of other Powerline variants.  Anyone know of others and where we might find their documentation?

[2016-03-24 12:56] chrissimpkins commented on #188
Started work on an application to address this.  It will allow you to easily modify the spacing yourself.  Hope to have a version that you can try in the next several days.  Will post here when available.

[2016-03-24 12:56] chrissimpkins commented on #146
Started work on an application to address this.  It will allow you to easily modify the spacing yourself.  Hope to have a version that you can try in the next several days.  Will post here when available.

[2016-03-24 12:57] chrissimpkins commented on #28
Started work on an application to address this.  It will allow you to easily modify the spacing yourself.  Hope to have a version that you can try in the next several days.  Will post here when available.

[2016-03-24 17:02] phantom-code commented on #188
Sounds awesome, I can't wait to try it.

[2016-03-24 18:25] chrissimpkins commented on #188
If you are familiar with Python and want to collaborate on it, repo is here :

https://github.com/source-foundry/font-line

[2016-03-26 09:25] chrissimpkins opened #191 "Adjust line spacing in Hack with a new line spacing modification tool"
By popular request among the crowds who want things "clown car tight" and "loosey goosey", here is a command line tool that will allow you to modify the line spacing in the fonts to any percentage of the font UPM size.  We are currently defined at 20% UPM for your modification calculations.  Decrease the value to make the line spacing tighter or increase the value to make it looser.  Full details

[2016-03-26 09:29] chrissimpkins commented on #188
The initial release of the new line spacing adjustment tool is now available.  Feel free to give it a try and please provide feedback on the tool repository if you encounter any issues.

More details in this new issue report: https://github.com/chrissimpkins/Hack/issues/191

[2016-03-26 09:30] chrissimpkins commented on #146
The initial release of the new line spacing adjustment tool is now available.  Feel free to give it a try and please provide feedback on the tool repository if you encounter any issues.

More details in this new issue report: https://github.com/chrissimpkins/Hack/issues/191

[2016-03-26 09:31] chrissimpkins commented on #28
Long overdue and now available for testing by the "clown car tight" and "loosey goosey" crowds...

The initial release of the new line spacing adjustment tool is now available.  Feel free to give it a try and please provide feedback on the tool repository if you encounter any issues.

More details in this new issue report: https://github.com/chrissimpkins/Hack/issues/191

[2016-03-26 10:21] phantom-code commented on #188
Thanks, I will test it as soon as I can.

[2016-03-26 11:48] chrissimpkins commented on #188
@phantom-code no rush at all

[2016-03-28 15:43] texhex commented on #177
I just have released [v1.2.0](https://github.com/texhex/OSFontPack/releases/tag/v1.2.0) mostly because there was a new release of Roboto.

I also rechecked which problems reported in #152 the setup program can and will solve. The main reason for these problems seems to be that the information inside the registry and the files installed to C:\Windows\Fonts are different. To prevent this, OSFontPack

[2016-03-28 17:27] chrissimpkins commented on #177
:+1: Fantastic!

Thanks for this additional information.  This is extremely helpful.  Hack Italic did begin as Hack Oblique so this could be an issue for some early users.  I absolutely positively without fail will make sure that this information makes it to the README this week ;)  Seriously, it is at the top of my TODO list along with the new package.json PR info and some other documentation odd

[2016-03-28 18:13] texhex commented on #177
You're welcome Chris!

[2016-03-28 21:11] chrissimpkins commented on #28
I’d be interested in feedback about this line spacing adjustment tool (https://github.com/chrissimpkins/Hack/issues/28#issuecomment-201744618) if you have time to give it a try.  I am looking into the metrics that influence line spacing on different platforms x different editors.  There may be a bit of tinkering with the tool to achieve cross-platform consistency in line spacing across Linux, OS X

[2016-03-28 21:18] chrissimpkins commented on #33
There is a new tool available that allows you to easily modify the line spacing in the Hack fonts.  While it may be a longshot, given Tim’s (@theckman) comment in https://github.com/chrissimpkins/Hack/issues/33#issuecomment-153996530, it may be worth minor platform specific adjustments to the line spacing to see if this improves the orientation of the glyphs in your configurations.

Tool is availa

[2016-03-29 11:55] chrissimpkins commented on #188
Closing issue report now that the line spacing tool is available.  We do not intend to modify the default line spacing at this point.  Please reopen if you need and submit any issues with the tool on that repository.

[2016-03-29 11:55] #188 closed

[2016-03-29 11:56] chrissimpkins commented on #28
Closing issue report now that the line spacing tool is available.  We do not intend to modify the default line spacing or release other spacing variants at this point. Please reopen if you need and submit any issues with the tool on that repository.

[2016-03-29 11:56] #28 closed

[2016-03-29 11:56] chrissimpkins commented on #146
Closing issue report now that the line spacing tool is available.  We do not intend to modify the default line spacing at this point.  Please reopen if you need and submit any issues with the tool on that repository.

[2016-03-29 11:56] #146 closed

[2016-03-29 16:41] texhex commented on #177
Just a follow up: For the "Oblique became Italic" issue there is already fix in OSFontPack:

[code]
This ensure the deletion of the files, but not inside the registry. I assume everybody that uses 2.10 has in the meantime updated to a newer version which already used the "Italic" name.

Finally, the list of "Known Windows font handling issues" (see above) is now also documented in the OSFontPack r

[2016-03-29 16:44] chrissimpkins commented on #177
Thanks so much for doing all of this.  I know that this is an enormous effort.  It is greatly appreciated!!

[2016-03-29 17:40] chrissimpkins commented on #33
@theckman : if you are available to test the line spacing issue that you reported on OS X, will you try the following command in font-line:

[code]

It looks like this will modify the hhea values slightly and I am wondering if this is playing a role on OS X since you saw the change with the iTerm2 line spacing adjustment.  Unfortunately the line spacing metrics that are used in platform X source c

[2016-03-29 19:27] texhex commented on #177
My pleasure Chris, glad if the project will be of use.

And in terms of "amount of hours spend on an open source project you never receive a single cent for": You are waaayyy ahead of me ;).

[2016-03-30 12:54] phantom-code commented on #188
Ok, I've finally packed font-line with its dependencies into Arch Linux packages and installed them. Now I will try to test it.

[2016-03-30 12:56] chrissimpkins commented on #188
:+1:  Let me know what you think

[2016-03-30 13:39] phantom-code commented on #188
I've run `font-line percent 20 ./Hack-Regular.ttf` and got the folowwing error:

Should I better report font-line issues in a different place?

[2016-03-30 13:44] chrissimpkins commented on #188
yes let's move conversation about tool bugs there.  try it with just the filename.  I will modify the path parser.  I think that is a problem on my end.

[2016-03-30 15:18] rosolko opened #192 "Same font style for cyrillic and latin"
Hi,

Got a question - is it correct that font look like that:

In preview(playground) on site:
![att_63](https://cloud.githubusercontent.com/assets/11458319/14147292/7bec6c2c-f6a3-11e5-89d3-318cc9a2a214.png)

In editor after font installation:
![att_62](https://cloud.githubusercontent.com/assets/11458319/14147297/83c8f050-f6a3-11e5-8d59-bcfbeeca92f2.png)

Thanks.

[2016-03-30 15:29] chrissimpkins commented on #192
Those webfont characters are definitely not from the Cyrillic set in the first screenshot.  Let me confirm that we are using the webfonts with the full character set on the Font Playground site.

[2016-03-30 16:07] chrissimpkins commented on #188
font-line fix released as v0.5.4.  Pushed to PyPI.  Thanks for reporting it!

[2016-03-30 16:44] chrissimpkins commented on #188
@phantom-code : Did you make an Arch package for this or did I misunderstand this comment?

[2016-03-30 17:11] phantom-code commented on #188
Yes, I did arch packages for commandlines, standardstreams and font-line, but I haven't public them. I'm not familiar with python packages and I didn't want to install all these files bypassing a package manager (pacman). So I created packages and installed them as usual. Maybe I could install them in my home directory somehow, but as I said - I don't have experience with python packages.

[2016-03-30 17:15] chrissimpkins commented on #188
@phantom-code any reason that you prefer not to install with pip?

[2016-03-30 17:17] phantom-code commented on #188
The reason is my poor knowledge of subject (python packages) :-)

[2016-03-30 17:46] rosolko commented on #192
![1](https://cloud.githubusercontent.com/assets/11458319/14151806/77d7bf14-f6b8-11e5-81cb-743e8c7bb71d.png)
![2](https://cloud.githubusercontent.com/assets/11458319/14151809/7a861f76-f6b8-11e5-8c98-27dd32ee42ca.png)

[2016-03-30 18:00] rosolko commented on #192
Additional: I create simple page and use `rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.019/css/hack-extended.min.css">` for load font and here a results (regular, monospace):
![2](https://cloud.githubusercontent.com/assets/11458319/14152161/5e2ce3e4-f6ba-11e5-8890-119e6a77148d.png)

![1](https://cloud.githubusercontent.com/assets/11458319/14152156/59cd01c6-f6ba-11e5-9b73-65e740b26872.png)

[2016-04-01 10:57] chrissimpkins commented on #192
Thanks for reporting it and for all of the additional data.  I will take a look into it. I'm not certain why our glyphs are not appearing.

[2016-04-02 21:32] chrissimpkins commented on #192
Do you mind confirming whether you see this with the following as well:

`href="//cdn.jsdelivr.net/font-hack/2.01/css/hack-extended.min.css"`

[2016-04-02 21:48] chrissimpkins commented on #189
added to readme along with the previous link to manual install instructions.  Thanks for the report.

[2016-04-02 21:48] #189 closed

[2016-04-02 21:59] chrissimpkins commented on #177
I added a new paragraph in the Windows install section about your tool.  Thanks again for developing and maintaining this Michael. This is a great resource for our users.  It's greatly appreciated (and much needed on the Windows platform!!).

https://github.com/chrissimpkins/Hack#windows

[2016-04-02 21:59] #177 closed

[2016-04-04 06:31] rosolko commented on #192
@chrissimpkins Yes, confirmed. Same behavior.

[2016-04-04 09:14] texhex commented on #177
Thanks Chris, my pleasure!

[2016-04-04 11:42] chrissimpkins commented on #177
Added you to our contributors list.  Thanks so much for all of the Windows help.  It is greatly appreciated!

[2016-04-05 02:11] chrissimpkins commented on #192
Bizarre.  Let me take a look at them to see if the Cyrillic glyphs were removed during the conversion to web fonts for some reason.  Shouldn't be the case for the extended set.  They should have the same character set as our desktop releases.

[2016-04-05 03:08] alphapapa commented on #191
Thanks for putting this together, Chris!  I'm pretty satisfied with Hack, but there is a font or two that I would like to decrease the line spacing on.  I'll let you know if I find any issues.

[2016-04-05 03:17] chrissimpkins commented on #191
Great! Let me know if you come across any issues.  Codeface now contains vertical metrics for all included fonts if you need references as you make modifications.  Check the individual font directories for the `vertical_metrics.txt` file.

https://github.com/chrissimpkins/codeface

[2016-04-05 03:31] chrissimpkins commented on #191
I just made these shell scripts available as well:

https://github.com/chrissimpkins/Hack/tree/master/tools/line-spacing

They automate the `font-line` install and modification of all .ttf and .otf files in the same directory for a range of % UPM line spacing values between 10 - 30%.

[2016-04-05 04:04] alphapapa commented on #191
I must confess that I know very little about the inner workings of fonts, and most of what I read in the font-line readme went over my head, so I'm not sure how much use I can make of it.  I guess I could just try a percentage reduction on, say, Fira Code, a font I like but would like to decrease the line spacing of, and see what happens, but all those metrics are meaningless to me.  :)

[2016-04-05 04:10] chrissimpkins commented on #191
Use the reporting feature and check the ratios at the bottom of the report.  Those are the ones that you can use as your reference point to modify from default values.

[2016-04-05 04:12] chrissimpkins commented on #191
And feel free to open issue reports on the tool's repo for any non-Hack questions.  Happy to help with other fonts over there.

[2016-04-05 04:13] alphapapa commented on #191
Thanks.

[2016-04-05 04:28] chrissimpkins commented on #191
no worries at all! let me know how I can help.

[2016-04-05 10:53] chrissimpkins commented on #191
@alphapapa Fira Code uses 20% UPM as well:

![fira](https://cloud.githubusercontent.com/assets/4249591/14279347/d209c23e-fafa-11e5-926f-015bdbab800c.png)

You can try modifying to 15% with the following command:

[code]

or 10% with:

[code]

[2016-04-06 03:24] alphapapa commented on #191
Thanks, I will give it a try!  :)

[2016-04-06 10:31] chrissimpkins commented on #191
Great! Let me know how it goes.

[2016-04-06 22:46] alphapapa commented on #191
Hey Chris,

I just tried the 15% command, but it increased the line spacing instead of reducing it:

[code]

Then I uninstalled the original version of the fonts, installed the new fonts, and restarted Emacs, and the line spacing is indeed increased.

[2016-04-07 02:15] chrissimpkins commented on #191
This is a bug in font-line that appears to be occur because of the way that they defined their TypoAscender and TypoDescender values.  They are not equal to the UPM.

I added an issue report here: https://github.com/source-foundry/font-line/issues/6

And will try to fix it this week.  Thanks for reporting it!

[2016-04-07 02:54] alphapapa commented on #191
No problem, I look forward to trying the fix.  :)

[2016-04-07 11:48] chrissimpkins commented on #191
Found the problem.  Mind joining me in this issue report thread?

https://github.com/source-foundry/font-line/issues/6

[2016-04-07 12:55] chrissimpkins commented on #188
Line spacing shell scripts are now available and automate this within the range 10 - 30% UPM size (in 5 percentage point increments).  Drop the script in a directory with **only** your Hack fonts and execute it.

They are available here:

https://github.com/chrissimpkins/Hack/tree/master/tools/line-spacing

[2016-04-07 12:55] chrissimpkins commented on #146
Line spacing shell scripts are now available and automate this within the range 10 - 30% UPM size (in 5 percentage point increments).  Drop the script in a directory with **only** your Hack fonts and execute it.

They are available here:

https://github.com/chrissimpkins/Hack/tree/master/tools/line-spacing

[2016-04-07 12:56] chrissimpkins commented on #122
Line spacing shell scripts are now available and automate this within the range 10 - 30% UPM size (in 5 percentage point increments).  Drop the script in a directory with **only** your Hack fonts and execute it.

They are available here:

https://github.com/chrissimpkins/Hack/tree/master/tools/line-spacing

[2016-04-07 12:56] chrissimpkins commented on #121
Line spacing shell scripts are now available and automate this within the range 10 - 30% UPM size (in 5 percentage point increments).  Drop the script in a directory with **only** your Hack fonts and execute it.

They are available here:

https://github.com/chrissimpkins/Hack/tree/master/tools/line-spacing

[2016-04-07 12:56] chrissimpkins commented on #39
Line spacing shell scripts are now available and automate this within the range 10 - 30% UPM size (in 5 percentage point increments).  Drop the script in a directory with **only** your Hack fonts and execute it.

They are available here:

https://github.com/chrissimpkins/Hack/tree/master/tools/line-spacing

[2016-04-07 12:57] chrissimpkins commented on #28
Line spacing shell scripts are now available and automate this within the range 10 - 30% UPM size (in 5 percentage point increments).  Drop the script in a directory with **only** your Hack fonts and execute it.

They are available here:

https://github.com/chrissimpkins/Hack/tree/master/tools/line-spacing

[2016-04-09 18:25] chrissimpkins commented on #192
I can verify that the Cyrillic glyphs are included in our v2.019 release of our webfonts.  I'm not certain why you are seeing this behavior.  I will be pushing the v2.020 release in the next week and we will test with these new builds.

[2016-04-09 18:37] #184 closed

[2016-04-09 18:39] chrissimpkins commented on #183
@zephster Any updates on this issue Brandon?

[2016-04-09 18:43] chrissimpkins commented on #176
A fix for the fill in the zero glyph (that showed up in your screenshot above) will be part of the v2.020 release.  I am adding this issue to our v2.021 release work plans.

[2016-04-10 23:04] zephster commented on #183
Unfortunately not. Activity in the ST3 forum thread died out, and I couldn't figure out any new meaningful information. It's something I'll just have to live with haha. I do appreciate the help, though!

[2016-04-10 23:07] chrissimpkins commented on #183
If you have any interest we just released a new line spacing tool that adjusts the default line spacing in the fonts.  May try to nudge it a bit across all of the fonts.  Only other thing that I can think of.  If you want to give it a try the link is on our readme.

[2016-04-12 08:12] Grandt commented on #35
My two Knuts worth.
Looking at FiraCode I have to say that I really dislike some of their ligatures. Especially the ones for => and <=, which they translate to ≥ and  ≤, only their "equal" line is parallel to the bottom diagonal of the arrow.
IMHO that breaks one of the fundamental needs of any font, especially one used for coding, namely that intent should be easily determined at a glance. the Fi

[2016-04-12 08:48] i-am-the-slime commented on #35
Well you just made a great point why these ligatures do make sense:
`=>` does **not** get translated to `≥`. It is translated to `⇒`, which is what it means. Very easy to get this wrong without ligatures, almost no chance with ligatures.

[2016-04-12 09:12] Grandt commented on #35
Great point regarding catching the typo in my post :)
I'm **not** against ligatures, I just wanted to point out that some are better than others, and FiraCode's version of less-than-or-equal-to or greater-than-or-equal-to are good examples of bad ligatures IMHO.

That said, most IDE's would probably mark that typo as an error. `=>` _usually_ makes no sense in the parts of the code where it should

[2016-04-13 21:50] faceleg commented on #182
This issue can be "resolved" in iTerm2 by reducing the "non-ascii font" size by 1 point.

[2016-04-13 21:51] faceleg commented on #181
Works for me too, thanks all!

[2016-04-13 22:57] chrissimpkins commented on #181
@faceleg ty!

[2016-04-14 03:10] polarathene commented on #33
While looking into these issues myself, I had the Hack font set for my terminal font at the time and ended up manually adjusting the glyphs myself on OSX with GlyphsApp. I noticed how the glyph rendering will break at different font sizes, I assume hinting can help here but I'm not familiar in how to go about that.

###font-line -> fontpatcher?
Would be great though if there is a reliable way to a

[2016-04-19 19:54] chrissimpkins commented on #182
@faceleg Thanks Michael!

[2016-04-19 20:04] chrissimpkins commented on #33
@polarathene Thanks for all of this information Brennan.  Sorry for the delay in getting back to you.

Interested in digging into this issue with me?  It would be great to create a strategy that works for us here.

Re: different font sizes and spacing issues.  I am at a loss. We have gone round and round and this seems to be extremely platform and application (editor) dependent.  Changes that are

[2016-04-19 21:39] polarathene commented on #33
@chrissimpkins

I'd only be good for throwing ideas around at the moment as I'm quite busy. In a few weeks time I may be able to commit some time towards it, I'll ping you if I start anything :)

I imagine a part of that is due to the glyphs using the full line height to align with the background colour. Another part platform wise is probably font rendering engines, OSX and Windows handle this qui

[2016-04-20 12:05] chrissimpkins commented on #33
No nothing consistent across all platforms at any given size unfortunately.

I would be very interested in the development of a tool that performs font adjustments (if necessary) and proper alignment of the Powerline symbols in a platform specific way.  I am much less excited about the manual development of multiple font variants to address this issue.  If we can script this in some fashion, that

[2016-04-20 20:20] polarathene commented on #33
I meant on a single platform/terminal.

I'm aware :) I spent a lot of time figuring out how to manually adjust the glyphs myself and it only works properly at one font size on iTerm2.

Will do.

[2016-04-20 21:37] chrissimpkins commented on #33
I think that this is the problem.  There is likely not a glyph shape based solution that will work cross platform.  I think that this will need to be a tool that modifies the glyphs in a platform dependent way.

[2016-04-21 03:37] polarathene commented on #33
@chrissimpkins That's not what I'm asking. With your experience with fonts I'd assume you are familiar with how hinting works(I am not). Ignoring cross platform support, with a specific OS and terminal, does hinting fix the issue I had when manually fixing the glyph where it only worked for a specific font size?

If the finished tool can output the glyphs as a companion font to the main font or as

[2016-04-21 04:21] chrissimpkins commented on #33
You can think of hinting as a set of instructions that provide the renderer with guidance on the expected pixel configuration at every glyph size.  Many typefaces these days use automated hinting approaches that are based upon common/average font metrics.  It is possible to manually modify these instruction sets in cases where the autohinter does not achieve the desired effect for glyphs or sub-gl

[2016-04-21 06:34] polarathene commented on #33
@chrissimpkins Ah ok, so hinting isn't likely to help on OSX :(

As far as rendering goes, from what I understand the segments are using background colour which uses the full line height, and then after this you will get a powerline glyph such as the arrows as a character using a foreground colour like any other text. The background colour for that glyph will be the next powerline segment colour o

[2016-04-21 15:55] salarmehr opened #194 "Windows redistribution packages vs dedicated font installer/upgrader"
May you add this to choco so make updating automatic. similar to https://chocolatey.org/packages/EnvyCodeR

Thanks.

[2016-04-21 16:52] chrissimpkins commented on #194
Interesting that you submit this Reza.  @texhex @burodepeper @davelab6 and I have been discussing our approach to Windows redistribution over the last day and are actively engaged in a conversation now.  Do you mind if I change your issue report to "Windows redistribution packages" or something like this?  We would like to obtain feedback from you and other Windows users (as well as users of packa

[2016-04-21 16:55] texhex commented on #194
As a side note: There is an choco package already (not created by the Hack team): https://chocolatey.org/packages/hackfont

[2016-04-21 17:32] salarmehr opened #195 "Viewing invisible special purpose characters while coding"
Providing a distinct symbol for the  invisible characters (BOM, Combining Grapheme Joiner, Left-to-right mark / Right-to-left mark, Soft hyphen Word joiner, Zero-width joiner, Zero-width non-joiner, Zero-width space)  is really useful while creating UI and processing text.  (https://en.wikipedia.org/wiki/Universal_Character_Set_characters#Special-purpose_characters)

https://www.microsoft.com/typo

[2016-04-21 17:37] salarmehr opened #196 "Viewing invisible special purpose characters while coding"
Providing a distinct symbol for the  invisible characters (BOM, Combining Grapheme Joiner, Left-to-right mark / Right-to-left mark, Soft hyphen Word joiner, Zero-width joiner, Zero-width non-joiner, Zero-width space)  is really useful while creating UI and processing text.  (https://en.wikipedia.org/wiki/Universal_Character_Set_characters#Special-purpose_characters)

https://www.microsoft.com/typo

[2016-04-21 17:56] #195 closed

[2016-04-22 01:43] chrissimpkins commented on #194
@salarmehr Reza can you confirm that the existing chocolatey package that @texhex linked works for you?

[2016-04-22 01:55] chrissimpkins commented on #196
@salarmehr Thanks for this suggestion Reza.  I'd be happy to include these glyphs.  I need to do a bit more reading to better understand their use.  Would it be possible to provide some screenshots of what you expect to see with the use of the glyphs in your documents using a set of fonts that include them?  I need a gauge of height and width, stroke dimensions relative to surrounding glyphs (e.g.

[2016-04-22 02:50] salarmehr commented on #196
Glad to hear that. consider this. As a starting point I suggest using  [middle dot](https://en.wikipedia.org/wiki/Interpunct) to represent  them and later choose a unique glyph for each one.

[2016-04-22 02:58] salarmehr commented on #194
Yes, it works well.

[2016-04-22 12:53] chrissimpkins commented on #194
@salarmehr Reza (and the general Windows user community), what is your thought about a dedicated compiled Windows installer for our fonts?  There are a number of problematic technical issues with font upgrades on Windows that can be addressed in this fashion and we are debating whether this is the best approach to address it.

[2016-04-22 14:43] salarmehr commented on #194
Personally, I think installing a program to keep a font up to date is somehow over-killing. Before finding choco, I was thinking of developing a tool to update local fonts similar to what bower do. Unfortunately I am too busy right now. I suggest extending your idea and develop a font package manager. It can be cross-platform.

[2016-04-22 14:56] davelab6 commented on #194
It seems bower is widely used for managing self-hosted web fonts. Having a desktop GUI for bower font packages would kill 2 birds with 1 stone :)

[2016-04-22 15:13] chrissimpkins commented on #194
These are helpful suggestions.  I know of bower but don't know details about how it manages packages.  A broad solution would need to address both: (1) distribution of the physical files (because its simply onerous and outdated to manually download and install); (2) provide the capacity to manipulate the system in order to address OS font caching and cleanup of prior installs.  The former is simpl

[2016-04-22 15:18] chrissimpkins commented on #194
I believe that we need the answer to this issue before we invest time in a general purpose tool.

[2016-04-22 15:18] davelab6 commented on #194
I think of libre fonts like libre software was for me in the late 90s....
kind of a new way of doing things, so not fitting very well into the
standard practices that made sense for proprietary software. Eg, Debian had
apt-get in the 90s, long before Windows Update and the App Store.

Most libre fonts are updated much more frequently than proprietary ones.

[2016-04-22 15:44] burodepeper commented on #194
@davelab6 Do you have any idea what the adoption rate of font updates is? (I know @chrissimpkins is looking for some stats considering Hack)

As a naive user, I've always _assumed_ that typefaces are thoroughly tested before release (I mean, they are one of the few design-related things that can be objectively measured for okayness), and don't need updates. Besides Hack, I've never even updated a

[2016-04-22 16:06] davelab6 commented on #194
No, but I get a lot of bug reports for things that have already been fxied.

Libre fonts testing is a lot less stringent than proprietary fonts; that's
why they get updated more.

[2016-04-22 16:17] burodepeper commented on #194
I'm almost naive enough to assume nobody updates their fonts solely based on that quote.

[2016-04-22 17:05] salarmehr commented on #194
@burodepeper Fonts are generally updated similar to softwares and code libraries but in a longer period.
For years there were no bower, if bower creator thought this is due to uselessness of such tool no bower would be created.

I my system almost 500 font is installed, manually updating them is onerous, even I do not know if there is newer version available to updated them manually, at the same t

[2016-04-22 17:56] chrissimpkins commented on #194
@burodepeper

With respect to the font file only updates in the repository, they have involved character set extensions, glyph curve modifications (shape, position, size), OpenType table changes (e.g. vertical metrics changes), and hinting modifications.  Some are to address what would properly be considered a bug, some have been aesthetic changes, and some have been an attempt to design/tune the

[2016-04-22 18:03] burodepeper commented on #194
I over-simplified things a bit, but I think we're on the same page.

Okay, so updates are more about refinement than about expansion. That's simply good to know.

[2016-04-22 21:05] chrissimpkins commented on #194
@salarmehr :

This is a perfect example of why a package manager is essential if you intend to update fonts.  Would you update all 500 if a tool followed the package manager style and permitted a simple workflow like:

`fonter update && fonter upgrade all`

?

[2016-04-23 20:09] chrissimpkins commented on #194
Work on a Windows installer for Hack is underway.  Development is being led by @texhex.  We will let you know when it is ready for use.  Here is the repository if you would like to follow the progress or comment on the tool.

https://github.com/source-foundry/Hack-windows-installer

[2016-04-24 20:49] chrissimpkins commented on #194
@salarmehr Reza, as we've researched this issue, we found that there is a Nuget package for Hack on Windows as well.

[2016-04-25 13:05] chrissimpkins commented on #192
v2.020 release will be live this week.  Let’s take a look at this again once we have a new set of web fonts.

[2016-04-25 17:38] texhex commented on #194
@salarmehr: [Version 1.0.2](https://github.com/source-foundry/Hack-windows-installer/releases/tag/v1.0.2) of *Hack Windows Installer* is finished. It would be great if you could have a look.

[2016-04-25 17:38] chrissimpkins commented on #194
@texhex does this include v2.019 or the new v2.020 releases?

[2016-04-25 17:41] texhex commented on #194
@chrissimpkins These are still the v2.019 because this is still your "official" release version. But I will create version 1.1.0 as soon as v2.020 is out.

[2016-04-25 17:58] chrissimpkins commented on #194
@texhex perfect thanks!  Will let you know when we are ready to release v2.020.  Coming in the next day or two.

[2016-04-25 18:34] chrissimpkins commented on #196
👍

Would still appreciate any screenshots that you could provide that demonstrate these in context.  I've never used them in text and could use some visuals to completely understand your request here.

[2016-04-25 21:53] chrissimpkins opened #197 "Hack v2.020 release"
The Hack v2.020 release is in progress.  [Changelog](https://github.com/chrissimpkins/Hack/blob/master/CHANGELOG.md)

- [X] create hinted ttf builds
- [X] create hinted otf builds
- [X] submit web font PR to jsDelivr (https://github.com/jsdelivr/jsdelivr/pull/11285)
- [x] push release files to release build directories
- [x] build release archives
- [x] push release archives to v2.020 tagged relea

[2016-04-26 00:13] chrissimpkins commented on #172
@heliocastro v2.020 of the Hack fonts is now available.  Please note that I made a slight modification to the tar.xz archive file path c/w the v2.019 release.

[2016-04-26 00:18] chrissimpkins commented on #197
@texhex v2.020 ttf release builds are now available for the Windows installer update.

[2016-04-26 00:42] chrissimpkins commented on #194
v2.020 builds are ready and available in Releases

[2016-04-26 04:54] salarmehr commented on #196
There are examples in wikipedida page of this characters:
e.g. https://en.wikipedia.org/wiki/Zero-width_non-joiner

an example for zwnj:
ی‌ی =
ی+ZWNJ+ی
ی+ی=یی

In Hack this ی‌ی should be shown as ی·ی

[2016-04-26 08:01] heliocastro commented on #172
Done deal. I'm applying to put on the fedora mainline too, but for now
still on copr

Many thanks

[]'s

On Tue, Apr 26, 2016 at 2:13 AM, Chris Simpkins <notifications@github.com>
wrote:

[2016-04-26 08:47] gergelypolonkai commented on #197
The otf release contains some MAC-related files. Is that really needed, or just left there?

[2016-04-26 08:53] jorgheymans commented on #129
just reporting in that this is still present in 2.020 release, i have created a new ticket on the intellj side https://youtrack.jetbrains.com/issue/IDEA-155229

[2016-04-26 11:12] chrissimpkins commented on #197
what kind of files and which archive?

[2016-04-26 11:16] chrissimpkins commented on #196
I see. That is helpful.  Thanks

[2016-04-26 11:17] chrissimpkins commented on #172
Excellent! Thank you!

[2016-04-26 11:20] chrissimpkins commented on #129
@jorgheymans mind trying the 25% line spacing script (see top of readme) to see if it addresses this in IntelliJ?

[2016-04-26 11:22] jorgheymans commented on #129
i'm on windows only here sorry , @hrach maybe ?

[2016-04-26 11:51] chrissimpkins commented on #129
happy to build them for you if that is the problem.

[2016-04-26 12:08] jorgheymans commented on #129
sure i can try out whatever zip you make available no problem.

[2016-04-26 12:34] chrissimpkins commented on #129
Give these a try.

[hack-tests.zip](https://github.com/chrissimpkins/Hack/files/236565/hack-tests.zip)

Do you know how to clear the Windows font cache and confirm that there are not duplicated font files with font upgrades?

[2016-04-26 13:00] jorgheymans commented on #129
well i remove them from the font dir first, then drop the new fonts in the windows font dir is that sufficient? also restarting intellij ofcourse.

In any case it did not solve the issue it seems.

[2016-04-26 13:02] hrach commented on #129
I did the same as @jorgheymans with the same result.

[2016-04-26 13:06] chrissimpkins commented on #129
on my phone at the moment. let me track down @texhex instructions and link them for you later today.

@texhex is there a simple way to script this for testers on Windows?

[2016-04-26 14:18] CrazyCoder commented on #129
Not IntelliJ IDEA specific, NetBeans has the same problem with bold Hack font:

![netbeans64_2016-04-26_13-28-41](https://cloud.githubusercontent.com/assets/122834/14821309/ea9de5b2-0bd2-11e6-896c-d93fc714ca8f.png)

[2016-04-26 14:21] chrissimpkins commented on #129
@CrazyCoder This is sounding like a caching / font duplication issue.  We saw this when Windows users' systems did not clear the previously installed versions (this is the default unfortunately).  Are you willing to try our new Windows installer to see if it addresses this?

cc: @texhex

[2016-04-26 14:23] chrissimpkins commented on #129
@CrazyCoder It looks like there may be clipping of the parentheses glyphs in those images as well.  Is that the case?

[2016-04-26 14:35] CrazyCoder commented on #129
Hmm, this was the first time I installed Hack font on this system, however I tried the installer and it has fixed the problem. Weird.

![idea64_2016-04-26_17-34-31](https://cloud.githubusercontent.com/assets/122834/14821898/2d00b3c4-0bd5-11e6-87f7-3debc007629c.png)

[2016-04-26 14:46] chrissimpkins commented on #129
@CrazyCoder Windows makes our head ache :) The current Windows installer contains v2.019.  v2.020 should be available sometime in the next few days.  I would recommend the 2.020 update to Win users.  We addressed the hints in some important glyphs (including the zero) that should make a difference on the platform.

[2016-04-26 15:01] chrissimpkins commented on #129
@hrach @jorgheymans want to give the installer a try?  it looks like it fixed the bracket problem for @CrazyCoder

[2016-04-26 15:10] chrissimpkins commented on #129
@CrazyCoder can you let me know how you performed the initial install?

[2016-04-26 16:14] texhex commented on #129
@hrach @jorgheymans @CrazyCoder

The [Hack Windows installer](https://github.com/source-foundry/Hack-windows-installer/releases) has been updated to install Hack v2.020. Please give it a try.

CC: @chrissimpkins

[2016-04-26 16:15] texhex commented on #197
@chrissimpkins
[Hack Windows installer](https://github.com/source-foundry/Hack-windows-installer/releases) has been updated to install Hack v2.020.

[2016-04-26 16:18] texhex commented on #129
@chrissimpkins

Sorry, but I don't understand what should be scripted? If there is this special character issue?

[2016-04-26 16:23] CrazyCoder commented on #129
Right click on .TTF files, Install.

[2016-04-26 16:24] chrissimpkins commented on #129
@texhex Wondering if there is a way to provide the functionality of the install tool without the need to compile the installer for those who help test specific issues in the fonts.  This wouldn't be used for distribution, but to provide assurance that the problems that we identified (and are addressed with the installer) are not responsible for the issue persistence when testers attempt fixes thro

[2016-04-26 16:25] chrissimpkins commented on #129
@CrazyCoder

Thank you! Does that open an install wizard or is that all of the communication from the system that you receive?

[2016-04-26 16:26] chrissimpkins commented on #197
@texhex 👍  Will try to update the documentation tonight.  Thanks for all of your work on this Tex.

[2016-04-26 16:28] texhex commented on #197
@chrissimpkins My pleasure.

[2016-04-26 16:33] CrazyCoder commented on #129
It showed some progress and that was all.

[2016-04-26 16:33] texhex commented on #129
@chrissimpkins

I really don't know if this would be of any help to duplicate the functionality in a different tools by the same coder. If I made an error in the installer by misunderstanding the inner works of Windows, I will most likely make the same mistake again. Just in a different tool/language.

What I could come up is to write a test for [Xteq5](https://github.com/texhex/Xteq5) (Disclaimer

[2016-04-26 16:38] texhex commented on #129
@CrazyCoder

Thanks for the explanation.

This is rather strange because so far our understanding was that the updates can lead to problems, but we had the impression that the very first installation should always work. I do not have an explanation why this has failed on your system, expect that somehow the TTF files were damaged.

We have seen this also, but only that the TTF files were damaged l

[2016-04-26 16:57] chrissimpkins commented on #129
@texhex Sorry, I think that I am not being clear (or I misunderstand your response).  What I would be interested in is a straightforward reusable tool (ideally a script) that performs the font maintenance (cache clear/duplicate font cleanup/etc) that has been problematic on Windows and could be used by those who report new Windows issues during our attempts to correct the issue with new font build

[2016-04-26 16:59] chrissimpkins commented on #129
As a soapbox sidebar, I find it astonishing that there is not such a tool around.  The commercial foundries must have proprietary tools for this.  I do not believe that this has not been appreciated before now...

[2016-04-26 17:35] texhex commented on #129
@CrazyCoder Because we are still clueless what was going on, would you mind uploading the setup log file to the repository of the Hack Windows installer repository?

If you agree, please do the following:

* Start -> Run -> %temp%
* Locate the file called `Setup Log 2016-04-26 #xxx.txt*` where XXX should be 001
* Double-click it and look into it to make sure it's the setup log from our installer.

[2016-04-26 19:38] chrissimpkins commented on #194
Would greatly appreciate any / all feedback on the Windows installer approach.  Please give it a shot and let us know what you think.

https://github.com/source-foundry/Hack-windows-installer

[2016-04-27 00:45] chrissimpkins commented on #197
@texhex Do you mind having a look at the new Windows installer documentation section when you have a chance in order to confirm that it is accurate.  I pushed this to a documentation branch linked here:

https://github.com/chrissimpkins/Hack/tree/documentation#windows

Will merge once you've had the chance to review this.

For future reference, the link to the installer will require a manual updat

[2016-04-27 01:34] chrissimpkins commented on #181
Fixed as of v2.020 release which is now available.  Please let us know if you have any further issues.

[2016-04-27 01:34] #181 closed

[2016-04-27 01:34] chrissimpkins commented on #167
Part of the v2.020 release that is now available.

[2016-04-27 01:34] #167 closed

[2016-04-27 01:35] chrissimpkins commented on #162
The box drawing glyph changes are part of the v2.020 release.  I do not believe that we have fully addressed your issue here.  Will leave this open so that we can come back to it.

[2016-04-27 01:36] chrissimpkins commented on #154
These fixes were included in the v2.020 release which is now available.  Thanks to all for the help here.

[2016-04-27 01:36] #154 closed

[2016-04-27 01:38] chrissimpkins commented on #150
@rcorre Will return to this issue Daniel and Ryan.  We pushed v2.020 with an iteration of the glyph changes that likely does not address these issues.

[2016-04-27 01:39] chrissimpkins commented on #138
These fixes are available in the v2.020 release.  Thanks to all here for your help with this issue!

[2016-04-27 01:39] #138 closed

[2016-04-27 01:40] chrissimpkins commented on #104
These fixes (our best attempt at them) were included in the v2.020 release.  Now available.  Thanks to all for your help with this issue.

[2016-04-27 01:40] #104 closed

[2016-04-27 01:41] rcorre commented on #150
No worries. As a result of this, I actually got used to size 11, and now I can fit more on the screen :)

[2016-04-27 01:44] chrissimpkins commented on #86
The Powerline glyphs are included in all font variants as of the v2.020 release which is now available.  Thanks to all for testing here.  Given that the consensus seems to be that the regular weight works fine, we will hold off on a heavier weight for the bold set.  Feel free to reopen if others feel differently.  Thanks to all for the testing.  Enjoy!

[2016-04-27 01:44] #86 closed

[2016-04-27 01:45] chrissimpkins commented on #150
@rcorre It is aligned at 11?  Remind me, you are on a Linux distro in Vim?

[2016-04-27 03:24] rcorre commented on #150
On linux, using the terminal [st](http://st.suckless.org/).

I just went back to size 12 to check Vim and now I can't repro it at all -- I'm pretty sure I'm still on v2.019 though.

[2016-04-27 03:30] chrissimpkins commented on #150
Those editors may be handling the hints a bit differently.  Do you happen to know your hinting settings?  Are you using slight or full?

[2016-04-27 07:12] texhex commented on #197
I checked the documentation and did some changes, feel free to change them again if it made the flow worst. PR: https://github.com/chrissimpkins/Hack/pull/198

[2016-04-27 07:14] texhex commented on #194
[Hack Windows Installer](https://github.com/source-foundry/Hack-windows-installer/releases/latest) has been updated and will now install Hack v2.020.

[2016-04-27 07:48] rosolko commented on #192
@chrissimpkins Test it. Looks well now. Thanks. I think we can close this issue, if no one doen't have this problem after upgrade. Are we?

[2016-04-27 09:50] jorgheymans commented on #129
FYI just ran the installer, no difference bug is still present.

[2016-04-27 10:03] texhex commented on #129
@jorgheymans Sorry to hear that. Can you maybe post the setup log file (as I have described above) to the HackWindowsInstaller repository? Also, do you have access to any other non-JDK based tool where you create the problematic glyph(s) with Hack Bold and see if the display error also displays there?

[2016-04-27 10:08] jorgheymans commented on #129
i tried locating the installer file but it was not there, i guess %temp% is cleared out by the restart that the installer requires ?

Using the font in gvim as well, it does not have the same issue

[2016-04-27 10:23] texhex commented on #129
The setup log should survive a restart (at least it did on all my test machines). Strange. I will think about how to duplicate the important information from the setup log to the installation folder later on.

Given that there are no issues in GVIM, could it have something to do with the Text Antialiasing settings in IntelliJ. This [bug report comment](https://youtrack.jetbrains.com/issue/IDEA-155

[2016-04-27 10:35] jorgheymans commented on #129
ok so using the testcase (modified for Hack see below) linked in the bug report i can reproduce it in plain Swing, so it has nothing to do with intellij but it's a windows bug.

Also, from that bug report, if i add _-Dsun.java2d.font.scaler=t2k_ to my intellij startup options the problem goes away ! So it was a windows bug all along it seems.

[code]

[2016-04-27 10:37] chrissimpkins commented on #129
:+1:

[2016-04-27 10:39] chrissimpkins commented on #129
If this is in fact the fix, JetBrains would be interested in hearing this.  We have filed multiple issue reports on the tracker for these rendering problems and to my knowledge they have not been resolved.

[2016-04-27 10:51] texhex commented on #129
@chrissimpkins: I think they already know and have proposed a fix: http://mail.openjdk.java.net/pipermail/2d-dev/2016-April/006674.html

Full route: [IDEA-155229: highlighted array brackets only partially shown](https://youtrack.jetbrains.com/issue/IDEA-155229) links [JDK-8146035 Windows - With LCD antialiasing, some glyphs are not rendered correctly](https://bugs.openjdk.java.net/browse/JDK-81460

[2016-04-27 11:09] chrissimpkins commented on #129
@texhex thanks to both of you for digging around on this issue.  This is very good to know.  Will leave this open until they resolve the problem.

[2016-04-27 11:46] chrissimpkins commented on #192
Strange. I don't know what the issue was but we will always take a point in the win column!

Will close.  Feel free to reopen if any new issues.

[2016-04-27 11:46] #192 closed

[2016-04-27 12:12] chrissimpkins commented on #197
README updated with documentation about new Windows installer.

[2016-04-27 13:55] jorgheymans commented on #129
Since this most likely applies to almost all jetbrains products a mentioning in the README is in order i think. You could just copy what the intellij guys concluded in the issue:

![image](https://cloud.githubusercontent.com/assets/193792/14854477/3501360a-0c90-11e6-9f15-c28299af7d7e.png)

[2016-04-27 15:34] Grimy opened #199 "Poor hinting of U+2500 (BOX DRAWINGS LIGHT HORIZONTAL) at font sizes 9, 11 and 13"
Here’s a screenshot illustrating the problem:
![box](https://cloud.githubusercontent.com/assets/3199732/14857444/98e9d634-0c9c-11e6-9495-45325cb4ce10.png)

The bottom characters fail to align properly. I first noticed this problem on DEV03172016, but didn’t report it because I assumed it was covered by the existing box-drawing issues. However, the problem still persists with Hack-v2_020.

The text

[2016-04-27 16:02] chrissimpkins commented on #129
Can we safely say that this is Windows only?

[2016-04-27 16:04] chrissimpkins commented on #199
Thank you! We will take a look.  Believe we have another similar issue.  Need to take a look at the Unicode positions involved.

[2016-04-27 16:26] texhex commented on #129
Yes, I would say so. But I still try to wrap my head around this.

If I understand this issue correctly, Windows expects several calls in a particular order or they will behave "strange". This does not happen on any other system. So, a Windows bug.

But what I do not understand that it seems to happen only when using "Hack Bold" and when using anti aliased text and highlight it (see the first atta

[2016-04-27 17:15] jorgheymans commented on #129
all good points but honestly there is so much complexity and layers involved that for such cases i have learned to not wanting to understand it anymore. Until i started tracking this project i always thought a font was something anyone with a bit of drawing skills could cook up in a couple of hours, go figure  :-)

[2016-04-27 17:46] chrissimpkins commented on #129
Do you happen to know what the font.scaler=t2k does?  It could be something in our OpenType tables that the Java renderer does not like with the default settings.

[2016-04-27 18:32] texhex commented on #129
@jorgheymans Yes, bugs of this sort are a PITA. But even if you give up on this issue, maybe we don't :-).

Would you mind to extend your example to include both Hack Bold and Hack Bold Italic as well as how it looks like when you use a different VALUE_TEXT_ANTIALIAS value as well when turning AA completly off. A screenshot would be a plus ;).

[2016-04-27 18:44] chrissimpkins commented on #183
@zephster Brandon, do you mind trying an install of our new fonts with the new Windows installer to see if it addresses this issue?  There is no change in the fonts that should address this, but the installer itself might. We've seen correction of some unusual problems on Win systems when users upgrade with the tool rather than use the common install approach on the Windows platform.  Details here

[2016-04-27 18:51] chrissimpkins commented on #140
All:

We are making some progress on these JetBrains editor (Java renderer) + Windows issues in https://github.com/chrissimpkins/Hack/issues/129.  Will update here when/if we have any additional information.

[2016-04-27 18:57] zephster commented on #183
Oh snap. That seemed to do the trick! I'll post later to confirm if it
works on my home computer too, but it definitely worked for me here at the
office.

If you're ever in south Florida, I owe you a drink or three. Seriously.

On Wednesday, April 27, 2016, Chris Simpkins <notifications@github.com>
wrote:

[2016-04-27 19:02] chrissimpkins commented on #183
Fantastic!  Glad to hear that it worked.  This was all @texhex 's work.  Tex, you traveling to S Florida anytime soon.  Free beer.  :)

Let us know if you still see these issues on your other system.

[2016-04-27 19:10] texhex commented on #183
@chrissimpkins Well, that will be most expensive beer I ever had and the most confusing discussion with customs at the airport ever.
C: Your reason for visiting the United States?
Me: To get my promised free drink.
C: ...?

[2016-04-27 19:17] zephster commented on #183
you: "Sir, you don't understand. I helped restore this internet strangers sanity, and he promised me _good_ beer, not just some Bud Light garbage!"

Seriously though, thanks again for your help @chrissimpkins, and for the installer @texhex. I know this seems like a minor issue - and it is - but when you work in a text editor and stare at code all day something like this really stands out, and to m

[2016-04-27 19:23] texhex commented on #183
@zephster
C: "Internet stranger? Not Bud Light?!? Sir, would you please follow me to the back! (Grabs disposable gloves)".

You're welcome Brandon, good to hear it works and we fully understand that once you noticed something like this, it can drive you insane. I'm crossing my fingers it will also help for your computer at home.

[2016-04-27 20:10] chrissimpkins commented on #183
I actually think that it is the lederhosen that raises red flags through customs :)

![340px-lederhose](https://cloud.githubusercontent.com/assets/4249591/14866571/56a18cb8-0c92-11e6-87c0-e5095b855abb.jpg)

My pleasure Brandon, always happy to help.

[2016-04-27 20:19] jorgheymans commented on #129
@texhex see attached
![image 2](https://cloud.githubusercontent.com/assets/193792/14866336/87a2c670-0cc3-11e6-8dbc-0930d2786024.jpg)

i whipped up a small java class that accepts a string as argument and displays it using all aliasing text hints in the four font variations :
(omitting the parameter will use []={}_() as string argument)

[code]

but that assumes you know how to compile and run java

[2016-04-27 23:37] Ulyssys opened #200 "Slashed zeroes and other alternate glyphs"
Personally, I find slashed zeroes easier to read and more aesthetically pleasing than dotted ones. I'm not sure if that's the case in general, but I would like to see a version of this with slashed zeroes.

[2016-04-27 23:57] chrissimpkins commented on #200
Thanks for the suggestion. The oval fill in the zero is part of the Hack identity and is unlikely to change in the main font sets.  A derivative typeface with different glyph shapes is a possibility down the road.  The other approach that we have considered is a way to 'swap' glyphs in the fonts for alternates (both project provided and user contributed) since many/most development text editors do

[2016-04-28 01:18] chrissimpkins commented on #140
Also see this resolved (workaround) issue in the JDK tracker:

https://bugs.openjdk.java.net/browse/JDK-8146035

[2016-04-28 01:22] chrissimpkins commented on #140
Last update.  We currently recommend that all Windows users try installs (particularly upgrades) with our new Windows installer.  It addresses a number of font caching/duplicate font issues on Windows that have led to rendering problems.

Details here:

https://github.com/chrissimpkins/Hack#windows

[2016-04-28 02:03] mike-zueff opened #201 "Trigram for heaven glyph is missing"
Hello @chrissimpkins,

I use Hack font version 2.020 and vim-airline plug-in. The Unicode glyph for 0x2630 is unfortunately not implemented yet, so I see a rectangle placeholder in the status line. This glyph is a trigram for heaven and should look like the corresponding trigram in the following Wikipedia article:

https://en.wikipedia.org/wiki/Bagua

Could you please implement it (both bold and r

[2016-04-28 02:13] chrissimpkins commented on #201
Mind pushing a screenshot of a font that includes it so that we can see it in context within the vim-airline UI?

[2016-04-28 02:49] Ulyssys commented on #200
Sounds good. Should I edit the original issue to repurpose, or...?

[2016-04-28 03:12] mike-zueff commented on #201
Some screenshots can be found here:

https://github.com/vim-airline/vim-airline/pull/1103

[2016-04-28 03:23] rcorre commented on #150
I'm using: `Hack:pixelsize=12:antialias=true:autohint=false`

But I can't seem to repro it anymore...

[2016-04-28 07:52] texhex commented on #183
@chrissimpkins Or my T-Shirt with the "Clean Diesel by VW" slogan and the three bags of sausages I try to smuggle... :)

[2016-04-28 08:04] texhex commented on #129
Wow, thanks! This is very useful and much appreciated. And it will be very useful to easily detect rending issues, just as you proposed.

Under which license do you plan to release this source? Would [MIT](http://choosealicense.com/licenses/mit/) be OK for you? I'm asking because I think it would make sense to push this code to a repository so it is not "lost" in this issue comment.

@chrissimpkin

[2016-04-28 08:24] texhex commented on #183
@zephster If you time permits and using the installer has worked on both computers, it would be great if you could paste the contents of `C:\Program Files\Hack Windows Installer\Log-FontData.txt` (from both computers) here. This could help us to identify the root cause of this issue.

[2016-04-28 08:26] jorgheymans commented on #129
@texhex it's just an adapted version of the test class that was used in the openjdk ticket, you can use it or modify it as you want. I would be happy to improve it still if needed. Good point about moving it outside of the ticket somewhere, probably could be made more visible.

Now, what I noticed just now looking at the picture is that the brackets are only cut off in the LCD HRGB and LCD HGBR al

[2016-04-28 10:17] texhex commented on #129
Yes, LCD HRGB and LCD HGBR screw up the lower part of `[]` when using Bold, while DEFAULT, LCD VBGR and LCD VRGB seems to mess up `[` when using Normal (Regular).

VALUE_TEXT_ANTIALIAS_GASP and "Antialiased Text Mode" seem to be fine always.

Could you please explain what is this T2K scaler is about?

When I understood it correctly ([Source#1](https://technfun.wordpress.com/2013/01/18/last-differe

[2016-04-28 10:18] texhex commented on #129
@jorgheymans

Awesome! Let's see what the godfather of Hack says to all of this.

[2016-04-28 10:38] chrissimpkins commented on #129
I'm gonna make them an offer they can't refuse...

[2016-04-28 10:44] chrissimpkins commented on #200
No it's OK.  leave as is and let's see if anyone chimes in.  I will look into the issue a bit and be in touch.

[2016-04-28 10:47] chrissimpkins commented on #150
point Hack :)

Let me know if it shows up again.

[2016-04-28 10:49] chrissimpkins commented on #183
That'll do it

[2016-04-28 10:59] texhex commented on #129
I have the slight feeling I will regret calling you godfather of Hack...

[2016-04-28 12:55] chrissimpkins commented on #129
Ha!

**Re: How to address this in documentation**

@texhex @jorgheymans I read the Java issue report last evening and it appears that they closed this as fixed in the patched JDK if I understood it correctly.  Do you happen to know if it is possible to define a different JDK in the JetBrains editors?  If so, perhaps we provide users with this workaround in the docs.

Would either of you be interes

[2016-04-28 13:05] chrissimpkins commented on #129
@jorgheymans and thank you for this fantastic Java tool by the way!  Much appreciated!  I am learning about Java font rendering from your code.

[2016-04-28 13:12] chrissimpkins commented on #129
Addendum to https://github.com/chrissimpkins/Hack/issues/129#issuecomment-215414355:

Is it possible, and would it be worthwhile, to add a header in this reporting tool that displays what default antialiasing settings the user's system is using or is this uniform across Windows releases?

[2016-04-28 13:30] chrissimpkins commented on #201
@mike-zueff Thanks Mike!

For my future reference:

<img width="554" alt="trigram heaven" src="https://cloud.githubusercontent.com/assets/4249591/14887378/8e25ca50-0d23-11e6-9c7d-fa5af76f0e0c.png">

Is it always positioned adjacent to numerals on the airline UI as shown in this image?  Any other uses?

![26deed3c-f102-11e5-8377-b2fb874aa0a6](https://cloud.githubusercontent.com/assets/4249591/14887

[2016-04-28 14:10] uajain opened #202 "Fedora 23: Only bold and bold italics version available"
I really liked the hack font when I tried the font here: http://sourcefoundry.org/hack/playground.html

I went ahead and installed on my Fedora 23 machine as instructed on the readme file but I get only "bold" and "bold italics" flavors of the font. Why not regular?
![screenshot from 2016-04-28 19-34-54](https://cloud.githubusercontent.com/assets/8775041/14888648/f9954450-0d78-11e6-8f25-87d277fd01

[2016-04-28 14:13] chrissimpkins commented on #202
How did you install? Did you use the Fedora package manager?

[2016-04-28 14:15] uajain commented on #202
@chrissimpkins As stated in the Readme file here: https://github.com/chrissimpkins/Hack#linux--bsd

i.e.
$ dnf install dnf-plugins-core
$ dnf copr enable heliocastro/hack-fonts
$ dnf install hack-fonts

[2016-04-28 14:18] chrissimpkins commented on #202
@heliocastro maintains that package.  Can I put the two of you in touch to look into the problem?

In the interim, try to manual install approach for Linux listed on the README.  Sorry for the troubles.  Will do what I can to help but the project doesn't maintain the packages on Linux distros.

[2016-04-28 14:20] uajain commented on #202
Sure.
Let me try the manual install and see if that works for me.

[2016-04-28 15:58] mike-zueff commented on #201
![2016-04-28-185125_631x137_escrotum](https://cloud.githubusercontent.com/assets/16763520/14892178/b2380dca-0d7a-11e6-947e-4e008b4105f8.png)

There's no any other uses for this glyph in vim-airline. In the most recent default status line configuration for vim-airline, this trigram is always located on the right of the number displaying total lines count in the file. On my screenshot, it's replaced

[2016-04-28 19:03] uajain commented on #202
I took a peek at /usr/share/fonts/hack directory and  Hack-Regular.ttf was present there.
I ran sudo fc-cache -f -v which refreshes the font's cache. Now the regular flavor worked as expected.
![screenshot from 2016-04-29 00-33-22](https://cloud.githubusercontent.com/assets/8775041/14897964/03b60a5e-0da2-11e6-835c-eb3d8c9bfdec.png)

[2016-04-28 20:18] chrissimpkins commented on #202
@uajain interesting the package manager should take care of this for you.  @heliocastro can you verify that it does? if not I will update docs with this information.

[2016-04-29 06:22] jorgheymans commented on #129
@texhex your understanding about the T2K scaler seems correct.

@chrissimpkins you can choose whatever license you want for that class. Should it not stay within the hack repository somewhere ? Otherwise just let me know where to push it to.

About the default antialiasing settings: if there are no rendering hints specified for the text antialiasing then it falls back to the setting specified for

[2016-04-29 11:59] chrissimpkins commented on #129
I see.  Thanks

This is a potential solution then, albeit a very onerous one to address your typeface display...

That would be great if you are willing to do it.  If not, please simply let me know what you feel users need to know to work around this issue.  Our README is *very long*, so the more concise the better, particularly since this only applies to a subset of users.

I would prefer to expo

[2016-04-29 15:22] kanbara commented on #201
I also don't have this glyph in Envy Code R for Powerline. Probably should use a more standard character as it's hard enough to get good console fonts patched for powerline. (re: effort)

[2016-04-29 15:39] chrissimpkins commented on #201
@kanbara encourage those Powerline and variant developers to quit being so creative ;)

[2016-05-01 02:12] chrissimpkins commented on #197
The v2.020 release is now complete.  Thanks to all for the issue reports and hard work to make this release happen.

[2016-05-01 02:12] #197 closed

[2016-05-01 02:14] chrissimpkins commented on #202
@uajain Umang, can you confirm that the Fedora package installed the fonts and that you only needed to perform

[code]

in order to make all font variants visible?  I will add this information to the Fedora installation instructions if this manual task is necessary.

Thanks much for the report.

[2016-05-01 15:00] burodepeper opened #203 "Simplify the README"
As discussed on Slack, I suggest to simplify the main `README.md` by splitting it up into several documents, and focus on clarity in the main document, opposed to the current inclusion of practically everything.

### Goal
Create a `README.md` that covers the basics and directs users to more in-depth documentation if they want to know more. Ideally, the document shouldn't need an index.

#### Curre

[2016-05-01 15:19] chrissimpkins commented on #203
Working branch: https://github.com/chrissimpkins/Hack/tree/readme

👍

[2016-05-01 16:33] burodepeper commented on #203
See #204 for my current work in progress.

[2016-05-01 18:54] jorgheymans commented on #129
ok for me to host that class somewhere in the source foundry repo.

Indeed, the test class allows for a string to be passed on the command line :

`"C:\Program Files\Java\jdk1.8.0_91\bin\java" -jar hackui.zip "[#] __ [#]" `

will render the canvas using "[#] __ [#]" (without the quotes).

i was thinking as an improvement it would also read text from a file, for those characters that are difficult

[2016-05-01 18:57] chrissimpkins commented on #129
@jorgheymans sure sounds great.  what would you like to name it?

Like the file read idea.  All sounds good!

[2016-05-01 19:02] jorgheymans commented on #129
how about "java glyph tester" -> "a tool for testing the JDK font rendering behaviour"

[2016-05-01 19:41] chrissimpkins commented on #129
@jorgheymans great!  here you go:

https://github.com/source-foundry/java-glyph-tester

[2016-05-01 19:43] chrissimpkins commented on #129
Through this tool or an external tool?  Is there a simple way to do this in Java?

[2016-05-01 19:44] jorgheymans commented on #129
sure it's supposed to be only a couple of lines going through ImageIO , i will have a look at it.

[2016-05-01 19:45] chrissimpkins commented on #129
Sounds good.  This will be a helpful tool.  Thanks Jorg!

[2016-05-01 19:49] chrissimpkins commented on #203
@burodepeper This looks great David.  The fat is trimmed and appropriately stored away in the INSTALLATION.md document.  Some of the links are not working and we will fix those.

[2016-05-01 19:56] chrissimpkins commented on #203
merged to `readme` branch.

[2016-05-02 14:53] zephster commented on #183
@texhex Here's the log file from my work computer; it did also work on my home computer I just forgot to get the log from it before I left, sorry.

---BeforeInstallAction START---
Setup version: 1.1.2
Font version.: 2.020
Local time...: 2016-27-04 14:48
Fonts folder.: C:\Windows\Fonts
Dest folder..: C:\Program Files\Hack Windows Installer
---HASH CALCULATION---
Calculating hash for Hack-Bold.ttf

[2016-05-02 15:26] chrissimpkins commented on #183
@zephster thank you!

[2016-05-02 15:46] chrissimpkins commented on #129
@jorgheymans you should have write access on the Java Glyph Tester repository now.  Let me know if you have any issues with it or if there is anything that I can do to help.

cc: @texhex

[2016-05-02 16:56] texhex commented on #129
@jorgheymans Thanks for all the time and effort you put into this Jorg, I'm very sure this tool will help us a lot to get the Freescaler under control or at least prove that it's a Windows/Java issue and not an issue of the font.

[2016-05-02 17:08] texhex commented on #183
@zephster Thanks a lot and no issue. Good to hear it works now. The log reveals one interesting part:

The Hack font was partially installed to c:\Windows\Fonts (e.g. Hack Italic) but other types (especially Hack Regular) was *NOT*.

Calculating hash for Hack-Regular.ttf
File from setup: 664cfe2a64de1486c0ace8073ceeb6d9281e8b78
File in \fonts : -NOT FOUND-

Because the font registration does not r

[2016-05-02 17:10] zephster commented on #183
Interesting.

Yeah you're welcome to close this issue, it's been resolved. Thanks!

On Monday, May 2, 2016, Michael Hex <notifications@github.com> wrote:

[2016-05-02 17:28] chrissimpkins commented on #183
@texhex 👍  Thanks!

Thanks for the report and all of your help with testing Brandon.  I will close it.  Feel free to reopen if you have further issues.

[2016-05-02 17:28] #183 closed

[2016-05-02 19:55] jorgheymans commented on #129
Access is working fine, just did initial commit.

@texhex no worries 👍

[2016-05-02 19:56] chrissimpkins commented on #129
@jorgheymans great! let us know what, if anything, we can do to help.

[2016-05-02 20:00] chrissimpkins commented on #129
To try to finalize this issue, are we in agreement about a workaround here?

[2016-05-02 23:49] chrissimpkins opened #205 "Examine and improve TrueType instruction sets across ASCII set, all variants"

[2016-05-02 23:57] chrissimpkins opened #206 "Examine and improve hints OTF builds, all variants"
Add post build processing with the Adobe Font Development Kit `autohint` tool

[2016-05-02 23:58] chrissimpkins commented on #202
Looks like we are not going to receive a response here.  Will close this issue as resolved and will point users to the font cache clean command if it arises again.  Thanks for the report.

[2016-05-02 23:58] #202 closed

[2016-05-03 00:10] chrissimpkins commented on #200
Looking into the available tools.

[2016-05-03 01:34] chrissimpkins commented on #203
We will need to cleanup the package manager info in the current version of the README file.  Users will need the package names for each platform (which differ on each platform).

[2016-05-03 01:52] chrissimpkins commented on #203
Pushed some minor modifications to the README file in the readme branch.  We will need to discuss how best to include the information on the Fedora/CentOS package managers.  I like the concise list style, but on these distros it is necessary to use multiple commands.  I think semicolon delimited commands are going to be too long to fit on the page in one line.  Thoughts?

[2016-05-03 01:54] chrissimpkins commented on #203
Also, it looks like you removed the image for the Font Playground.  I think that it is helpful to provide a way for users to jump to the FP in order to try it before they commit to a download.  We could add this as a text link along with the others in the paragraph prior to the specimen image.

[2016-05-03 06:23] jorgheymans commented on #129
yes, i will send a PR this week sometime to the README explaining what is going on and how to workaround. (but it seems there is a PR pending not sure i have to wait for this one to be applied first). How about i put it in a README-intellij.md , catches the attention of those using the tool and others can just ignore it ?

[2016-05-03 09:22] burodepeper commented on #203
Yep, removed with the ultimate purpose of more clearly separating the README from the website. I'm not opposed to including a text link. I think it would be overall a good idea to very clearly point users that want to _see_ Hack to the website, and imagine the README as the _technical_ portal.

[2016-05-03 10:19] chrissimpkins commented on #129
No rush on this.  We can wait until the revisions on the README are complete.  Just wondering what the approach will be.

[2016-05-03 10:20] chrissimpkins commented on #203
:+1:

[2016-05-09 21:43] chrissimpkins commented on #203
@burodepeper @texhex added line comments to the @texhex PR https://github.com/chrissimpkins/Hack/pull/207 .

[2016-05-11 03:44] chrissimpkins commented on #203
@texhex PR #207 was merged to `readme` branch.  I will have a detailed look through the new files this week and we will merge to master.  Feel free to weigh in on any other outstanding issues over the course of the week.  We can continue to modify for additional clarity over time.  Thanks to both of you for all of your work on this.

[2016-05-11 10:09] aplab opened #208 "Letter "a" Size 14 bold, windows JetBrains products"
![clip2net_160511151225](https://cloud.githubusercontent.com/assets/4007240/15177848/b48b1a52-178b-11e6-9d8f-e0cbdda46d6d.png)

I do not know how to explain, see the attachment

[2016-05-11 10:14] chrissimpkins commented on #208
Thanks much for the report.  Looks like a hinting problem.  Can you verify that you don't see this at other sizes?

[2016-05-11 10:17] chrissimpkins commented on #208
and also to confirm, you are using the ttf files?

[2016-05-11 10:25] aplab commented on #208
I use ttf
windows "cleartype" included

[2016-05-11 10:52] chrissimpkins commented on #208
thanks! I will look into it

[2016-05-12 12:25] Anthony25 commented on #33
Hello,
I have updated the Hack fonts on powerline repo to sync with the 2.20 release: https://github.com/powerline/fonts/pull/172

It's actually rendering great:
![nvim_ttf_hack_powerline](https://cloud.githubusercontent.com/assets/1174685/15214357/cfc6d344-184c-11e6-83b8-82819341d105.png)

After that, I saw that Hack includes by default the Powerline glyphs, so I don't need to patch it. As I use

[2016-05-12 13:10] chrissimpkins commented on #33
@Anthony25 Thank you very much for this information Anthony.  How did you patch the Hack fonts?  Was this with the patch script that Powerline releases?

Would it be possible for others in this thread to give the patched versions in Anthony’s PR a try to confirm that this is working across platforms & editors?  If we can verify that I simply haven’t hit the correct set of shapes / metrics then we

[2016-05-12 13:36] Anthony25 commented on #33
@chrissimpkins Yeah, I used their fontpatcher: https://github.com/powerline/fontpatcher
To be honest, their script is quite buggy, so you need to comment lines 117 and 118 to avoid a crash, but the generated font works for me.

[2016-05-12 13:40] stefan-kern commented on #33
thanks anthony, i checked with the fonts from your pull request. it looks really nice now, lines up perfectly!

[2016-05-12 13:42] chrissimpkins commented on #33
@stefan-kern Thanks Stefan, mind including your platform and editor?

[2016-05-12 13:47] Anthony25 commented on #33
@chrissimpkins By the way, [I asked to powerline](https://github.com/powerline/fonts/issues/171#issuecomment-218732438) if Hack should not been removed from their repo, as they don't sync it with your releases, and you already include the powerline glyphs anyway.

[2016-05-12 13:53] Irubataru commented on #33
Just want to chime in and say that the fonts in the pull request also lines up correctly on my setup

archlinux, urxvt(v9.22), vim (v7.4 p1689)

[2016-05-12 13:57] stefan-kern commented on #33
my setup (same as up above earlier): ubuntu 14.04 / fish shell / fisherman / agnostertheme / font size 12

[2016-05-12 14:15] chrissimpkins commented on #33
I submitted versions to them initially and it took a great deal of time for the PR’s to be accepted so I stopped.  This isn’t a criticism, I understand this well.  It just wasn’t serving our release schedule.  I think it is useful to include them there.  Many find that site when they are looking for new fonts with Powerline glyphs and I would like to maintain our sets as part of their releases eve

[2016-05-12 14:18] chrissimpkins commented on #33
@iirelu Thank you Anna!

@stefan-kern Thank you Stefan!

It sounds like we may have an approach for Linux/FreeType.  Have either of you modified your default font-config settings on your platforms?

[2016-05-12 14:36] Anthony25 commented on #33
@chrissimpkins Ok, I get it. Sorry if it looks like I by-passed you, that's really not my goal ;)

[2016-05-12 15:29] chrissimpkins commented on #33
@Anthony25 Absolutely no problem at all.  That decision is up to the Powerline developers and the community of users.  It's not mine to make.

[2016-05-12 18:07] jorgheymans commented on #208
try adding -Dsun.java2d.font.scaler=t2k to your intellij startup options, it solved another windows specific issue (#129) for me .

[2016-05-12 21:22] polarathene commented on #33
I'll test this at work today with iTerm2 on OSX :) *fingers crossed*

[2016-05-13 04:10] polarathene commented on #33
@chrissimpkins

11pt:
![11pt](http://i.imgur.com/hfrDrEk.png)

12pt:
![12pt](http://i.imgur.com/jqAbUsU.png)

13pt:
![13pt](http://i.imgur.com/TiHS1Dg.png)

14pt:
![14pt](http://i.imgur.com/R2meyqu.png)

None are perfectly aligned but they're only off by a minor amount, barely noticeable from a distance on a retina screen.

12pt prior to @Anthony25 PR:
![12pt prior](http://i.imgur.com/8RPrqKu.png)

[2016-05-13 10:05] Anthony25 commented on #33
Could it be because I didn't patch the fonts with font-line? I mean I took the ttf of your last release, but the glyphs replaced by the Powerline script are not, are they?

[2016-05-13 12:46] chrissimpkins commented on #33
@polarathene Thanks for posting these Brennan.  The new patched version looks good on OS X.   Would the shapes/metrics in the patched version be acceptable based upon your view on the screen c/w the patch that you implemented?

[2016-05-13 12:49] chrissimpkins commented on #33
@Anthony25

No not at all. font-line modifies the default line spacing in the font.  It is not a patching tool.  We have discussed a tool that will patch new glyphs into the font but it hasn't been developed yet.  As I understand the Powerline font patching script, there is a comparison of the metrics in the target font and the released Powerline glyph set.  The Powerline glyphs are appropriately

[2016-05-14 23:34] polarathene commented on #33
@chrissimpkins Just saw these pictures at home on my non retina screen(external laptop screen on linux). They appear blurry and you cannot clearly see the differences too well(Clicking them for fullsize helps).

On OSX I'm sure the PR patch is fine :) Not as many users would be as nitpicky as I am with the tiny (couple of pixels) vertical offsets. 14pt is really the only one that would bother me(r

[2016-05-16 13:51] fommil opened #209 "use more standard license"
Hi, great font! I've started using it :smile:

Your license https://github.com/chrissimpkins/Hack/blob/master/LICENSE.md is non-standard (according to my work's legal department) and is therefore not allowed as it is too costly to approve new ad-hoc licenses (the Bitstream license is not approved for the same reason).

Can you please use a standard licence such as CC-BY-SA, GPL or Apache 2.0?

Not

[2016-05-16 22:18] chrissimpkins commented on #33
@polarathene Thanks Brennan.  I think that we are good with these comments.  I really appreciate your feedback.

[2016-05-16 22:19] chrissimpkins commented on #33
Anyone else in the thread have comments on how the patched version looks in their Powerline or Powerline variant?

[2016-05-18 00:56] chrissimpkins commented on #209
Thanks for the feedback Sam.  I wish it were that simple.  Hack is a project that uses Bitstream Vera Sans Mono and DejaVu Sans Mono upstreams.  The BVSM license must always be associated with this derivative typeface and must include the reserved font names Bitstream and Vera.  The DejaVu contributions to BVSM are in the public domain.  Our Hack Open Font License includes elements from the SIL Op

[2016-05-18 06:03] fommil commented on #209
Its just time and effort. If it's not on the accepted list they need a business case to review it. Probably the same at all large corporations.

[2016-05-18 10:01] chrissimpkins commented on #209
To install on boxes at work, to embed in applications? what are you doing with the fonts?

[2016-05-18 10:14] fommil commented on #209
to install, just to use it.

[2016-05-18 10:46] chrissimpkins commented on #209
wow ok...

[2016-05-18 11:06] fommil commented on #209
Well it is the primary use of a license: an agreement between the licensor (author) and recipient (user).

Every piece of software that is used on a corporate desktop needs to have the license approved by legal, and if the license isn't a standard one then you need to spend internal funds to buy some of the legal department's time to review the license (even if it is trivial).

In most companies,

[2016-05-18 11:09] fommil commented on #209
btw, maybe I misunderstand the license. But isn't "Neither the Font Software nor any of its individual components, in original or modified versions, may be sold by itself." in conflict with the free/libre right to charge for original or modified versions?

[2016-05-22 12:18] chrissimpkins commented on #209
This must be present as it exists in the Bitstream Vera license and it is part of the language of the SIL OFL license which is part of the FSF libre font list (and from which our own license addendum is derived).  Here is FSF's take on it:

[2016-05-22 12:34] fommil commented on #209
Cool, thanks for clarifying the origins! Would be good if the FSF had a section for the Bitstream Vera licence, but that's their responsibility.

[2016-05-22 12:37] chrissimpkins commented on #209
Again, sorry that this quagmire limits your use.  There is absolutely no intent to do that.

[2016-05-23 00:12] davelab6 commented on #209
I agree. I hope we can make an OFL release in the future. Thanks for your patience :)

[2016-05-23 16:00] chrissimpkins commented on #203
@heliocastro we are updating the README docs and moving some of the details about the packagers to a separate doc page.  Can we assume that the instructions for Fedora > 23 is appropriate for most Fedora users at this stage?  I am going to modify the README to only include the package manager name and the package name.  @burodepeper moved the detailed instructions (which will remain) to a separate

[2016-05-24 01:35] chrissimpkins commented on #203
@burodepeper @texhex pushed edits to master branch.  I think that we can safely close this unless you have further edits.  Please reopen if you want to continue work in this thread.

[2016-05-24 01:35] #203 closed

[2016-05-24 01:36] chrissimpkins commented on #208
@aplab can you confirm whether @jorgheymans recommendation above corrected this issue?

[2016-05-24 01:38] chrissimpkins commented on #194
@texhex Tex, we are at a release version, recommend this tool by default to Windows users, and have it linked from releases, main README, and INSTALLATION docs.  Anything else that we need this thread to address?

[2016-05-24 01:39] chrissimpkins commented on #191
Bug reported by @alphapapa was fixed.  See linked font-line issue report thread above.

This tool is now available for use.  Will close this thread as it is no longer necessary.

[2016-05-24 01:39] #191 closed

[2016-05-24 01:40] chrissimpkins commented on #185
@texhex @alerque

Tex, is there a way that we can satisfy the test build directory structure for your install tool in a way that works for Caleb?  See his report above.

Thanks.

[2016-05-24 01:42] chrissimpkins commented on #160
Work on this is in progress and the project is being developed / maintained by @jorgheymans.  Additional details will be made available when a version of the tool is available for testing.

[2016-05-24 02:20] davelab6 commented on #160
cc @brawer who has something similar in noto-tools

[2016-05-24 02:38] chrissimpkins commented on #160
Thanks @davelab6!

@brawer, meet @jorgheymans, Jorg @brawer

Perhaps we can discuss where both projects are to avoid duplication of efforts?

[2016-05-24 08:57] texhex commented on #194
@chrissimpkins No, I think we are good. The tool @salarmehr proposed is on our todo list (Project "displaj").

[2016-05-24 09:20] texhex commented on #185
Disclaimer: I'm a git noob, so I don't know if I understand everything @alerque alerque and you were talking about. But I think it boils down to have a consistent URL for the development builds (regardless if its in master or dev branch).

Then it depends if you only have one set of -DEV fonts you are working with or if there are several active at the same time? I think if you always have one set

[2016-05-24 10:34] #194 closed

[2016-05-24 10:34] chrissimpkins commented on #194
:+1:

[2016-05-24 12:59] chrissimpkins commented on #185
@alerque Thoughts?

[2016-05-25 20:15] fommil opened #210 "Emacs prettify symbols"
apologies for the poor quality of this bug report, I've never reported a bug against a font before and I have no idea what the names are for things so I can't even search for dupes.

I started using Hack a few weeks ago and I'm very impressed by it. Not only am I using it on all my personal computers, but we're recommending it for use in http://ensime.github.io/editors/emacs/scala-mode/#prettify-s

[2016-05-25 23:53] markwoon commented on #40
Just curious: is this really not an option, or just dependent on #209?

[2016-05-25 23:55] davelab6 commented on #40
@markwoon I'm responsible for onboarding fonts to Google Fonts, and indeed, the licensing of Hack is a blocker - thats also why Vera and DejaVu are not available there

[2016-05-25 23:56] markwoon commented on #40
That's such a shame.  Thanks for the update.

[2016-05-26 00:28] chrissimpkins commented on #40
@markwoon we are working on it with @davelab6.  It may involve a reduced character set if it happens. Will let you know once Dave and I have had the opportunity to run the proposal by Google.

[2016-05-26 00:45] chrissimpkins commented on #210
No worries! That's why we are here.

Thanks much Sam.  I'm glad to hear that it is working out for you.  And thanks for recommending it to your users!

Am I to interpret this as the 𝔹 and ℤ glyphs are either taller or shorter vs wider or narrower than adjacent alphanumeric glyphs?

### Unicode reference

U+1D539 - Mathematical double struck capital B (𝔹)
U+2124 - Double struck capital Z (ℤ)

[2016-05-26 00:48] chrissimpkins commented on #210
This worth submitting as a separate issue report? Might find help under a different issue report title. I don't understand exactly what it is that you need here.  If there is something that we can be of assistance with, expand on this a bit and let us know.

[2016-05-26 06:10] fommil commented on #210
Ah, interesting, maybe it's getting a fallback font then. Is there an easy way to check if Hagk supports all the characters in a file?

[2016-05-26 10:21] chrissimpkins commented on #210
Not that I am aware of hut I can take a look at tg  subset that you

[2016-05-26 10:51] fommil commented on #210
the list is in that linked file :smile: plus all the greek letters (lowercase and uppercase)

[2016-05-26 11:01] chrissimpkins commented on #210
We support upper and lowercase Greek. If you are seeing render issues there please let me know.

Are you able to push the unicode code points for all of the other glyphs that you want me to confirm? This would be very helpful.

[2016-05-26 11:49] fommil commented on #210
I don't know how to get them, it's all the non-ASCII characters in this file https://github.com/ensime/emacs-scala-mode/blob/master/scala-mode-prettify-symbols.el

[2016-05-26 12:19] chrissimpkins commented on #210
You can plug them in to the search here:

http://unicode-table.com/en/

[2016-05-26 12:21] chrissimpkins commented on #210
Or I would be happy to push a pdf of the full character set in Hack.  Let me know what is easiest for you.

[2016-05-26 12:35] be5invis opened #211 "Language-specific OpenType Feature Names for Programming Ligatures"
Given the fact that in different languages, the symbol combination should be combined into a ligature are different, is it possible to provide a language-specific feature name to distinct them? For example, in C++, `>>=` should not be combined together, and we can assign a feature `XCPP` to combine `>>` only. In Haskell, `>>=` should be combined, and feature `XHS_` will be applied. The default `ca

[2016-05-26 12:54] fommil commented on #210
I'll write a java app that scans the file for non-ASCII characters and prints out their code if I find the time. Ping me in a few weeks if I forget.

[2016-05-26 12:55] fommil commented on #210
oh if you have the full list, that would help me too, then I can compare and only give you the list of what's missing. Can you do it just a plain text list of the codes you have?

[2016-05-26 14:55] alerque commented on #185
As long as they are in the same place every time with consistent naming (preferably without a version string in the filename) it doesn't make that much of a difference for packaging. If it were mine I wouldn't commit them to the master branch just so that the entire history of blobs for every build doesn't get dragged along with every checkout. Hence I would suggest attaching them to Github releas

[2016-05-26 19:16] fommil commented on #210
interestingly, typing this highlights all the non-ascii characters

[code]

[2016-05-26 20:02] fommil commented on #210
interestingly enough, the maths B is coming out as decimal value

I wrote this little script to extract unicode chars from a file

[code]

which gives

[code]

[2016-05-26 20:08] fommil commented on #210
both of these are suspect, I wonder if there is a bug in the scala reading of those two

[code]

[2016-05-26 20:10] fommil commented on #210
ah, I think "they" are actually the one glyph.

[2016-05-28 10:15] ciscorucinski commented on #140
@chrissimpkins Recent builds of Android Studio (2.2 preview 2) includes a bundled build of OpenSDK "to address various font rendering and stability issues".

I know Android Studio 2.2 preview 1 had some font rendering issues that my previous version (AS 2.0) did not have. I cannot patch to preview 2 (due to a bug in preview 1) and I have to download the huge install to install it on my laptop. Whe

[2016-06-01 16:48] iandoug commented on #200
An off-the-wall suggestion: instead of tinkering with a zero to make it look less like an O, why not use something noticeably different? Or is that too radical? :-)

[2016-06-01 16:52] iandoug commented on #134
@chrissimpkins : you seen Fira Code here on Github?

[2016-06-01 17:46] iandoug opened #212 "Dozenal glyphs"
Hi

Re http://z13.invisionfree.com/DozensOnline/ar/t1324.htm , is it possible to add the turned 2 and turned 3? I did the exercise on Fira Code (just flipped the chars and put them in the right code point) and the results looked reasonable, but I'm not a typographer....

Thanks. :-)

[2016-06-10 03:19] chrissimpkins commented on #200
@iandoug What do you have in mind?

[2016-06-10 03:21] chrissimpkins commented on #140
@ciscorucinski Thanks Christopher.  Pinging @jorgheymans on this issue.  He has been working on a Java font renderer testing tool and (I think) we may be ready to kick the tires.  Jorg, thoughts?

[2016-06-10 03:24] chrissimpkins commented on #211
We are not using ligatures at all in Hack.  Can you provide more details about how this would apply here?

[2016-06-10 09:18] iandoug commented on #200
@chrissimpkins Every font designer (or hacker) making a font for programming use sits with the problem of how to make the zero different from the O. Same with I and l :-) (and why the heck is github using a font that confuses?...). In fact when I check fonts I type oilOIL01 to see how to comes out.

In reality we're trying to deal with historical bad design ideas. In my early days, I used to wonde

[2016-06-10 16:03] iandoug commented on #200
FWIW, I think a diamond as above with a dotted (or oval) centre is a possibility. Or perhaps a triangle with rounded corners http://www.fileformat.info/info/unicode/char/1f6c6/index.htm which is only supported by Symbola at the moment (but will be a pain to 'write' manually). Diamond is easier.
The small gamma tends to look like a Y or 8, depending on how the font renders it.

http://www.fileforma

[2016-06-10 22:28] glebd commented on #200
TBH, the filled-in her in Hack creeps me out. I must be suffering from [Trypophobia](http://www.npr.org/sections/health-shots/2013/09/04/218958362/the-inside-story-on-the-fear-of-holes)!
![fear-of-holes-phobia-trypophobia](https://cloud.githubusercontent.com/assets/32538/15980327/a8b66c92-2f62-11e6-897e-9f08462418bd.jpg)

I quite like the approach available in the Input font alternates, where zero

[2016-06-12 19:28] chrissimpkins commented on #200
@iandoug :

This is definitely the issue.  There is a visual expectation for glyph shapes and extreme deviation in the name of differentiation from others glyphs may solve the initial problem but creates a new one.

[2016-06-12 19:32] chrissimpkins commented on #200
@glebd:

It's not for everyone.  Some have called it the "Eye of Sauron".  ¯\_(ツ)_/¯

[2016-06-13 08:11] iandoug commented on #200
"1. something more egg-shaped, with a wider base and narrower top" .... which brings to mind the French (borrowing from Wikipedia here, referring to "Love" score in tennis):

"It is possible that it derives from the French expression for "the egg" (l'œuf) because an egg looks like the number zero."

[2016-06-13 22:26] PlaidPhantom opened #213 "Small font sizes on high-DPI display"
Hi, I'm having an odd issue using Hack in Visual Studio on a high-res (24" 4K) monitor.  I prefer a smaller font size (about 8pt), but in VS the font seems to be distorted (vertically stretched, mostly).  It actually looks better (more like Hack, to me) if I set my font preference to 12pt and zoom my edit window down to 66%.

![fontdifferences](https://cloud.githubusercontent.com/assets/678150/160

[2016-06-14 16:50] jorgheymans commented on #140
@ciscorucinski we are trying to track down this and #129 , seems that the intellij toolsuite is doing "something" under "certain" circumstances that make the font rendering go haywire. We're still investigating this. Could you try and add -Dsun.java2d.font.scaler=t2k to your IDE startup options ? There should be a .vmoptions in your installation directory. Please let us know if this solved your is

[2016-06-14 20:27] fommil opened #214 "glyph request: complex number"
It would be great to have ⅈ

http://www.fileformat.info/info/unicode/char/2148/index.htm

It renders at a different height for me in emacs, so I assume it's not included in Hack.

[2016-06-15 09:56] eoli3n commented on #33
System : Archlinux
Aur package : ttf-hack-powerline-git
.Xresources : https://github.com/eoli3n/dotfiles/blob/master/.Xresources.d/rxvt-unicode

![screen](http://img15.hostingpics.net/pics/85960420160615114703884x122scrot.png)

I xrdb .Xresources and updated font cache

[2016-06-15 11:32] ciscorucinski commented on #140
@jorgheymans I think I will be posting about this new issue over here - https://github.com/source-foundry/Hack-windows-installer/issues/9 as #140 is about a different issue.

But here is the info from the About screen

    Android Studio 2.2 Preview 3
    Build #AI-145.2949926, built on June 7, 2016
    JRE: 1.8.0_76-release-b01 amd64
    JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

[2016-06-15 12:36] chrissimpkins commented on #140
@ciscorucinski @jorgheymans do you know if this information has been submitted to the Java issue tracker?

[2016-06-15 13:01] ciscorucinski commented on #140
What information in particular? The side-effects? I know all the other issues `t2k` workaround, #140 original issue, etc) JetBrains knows about in their issue tracker, but I am unaware about the Java issue tracker.

[2016-06-15 13:32] chrissimpkins commented on #140
Aren't these are Java JDK issues, not JetBrains (or Google in the case of Android Studio) software issues?  Wondering if they have been reported directly to the issue trackers for Java so that we can get to the root issue across all of these applications.

[2016-06-15 14:13] ciscorucinski commented on #140
Most of these are JDK issues (my new bold issues with the `t2k` workaround is probably a JDK issue too). I don't know if there are open issues on these issues or not. I tried reporting something to their issue tracker, but it was quite overwhelming to report something (I wasn't sure if I was checking the right things as I don't have the knowledge of the JDK with respect to these issues.)

I would

[2016-06-15 14:16] chrissimpkins commented on #140
:+1:

[2016-06-15 20:17] jorgheymans commented on #140
@ciscorucinski if android studio supports it, can you try running it with an early access release of jdk9 https://jdk9.java.net/download/

[2016-06-16 04:15] ciscorucinski commented on #140
I tried JDK9. However, that does not fix any issue. I also tried it with and without the 't2k' workaround and the related before and after workaround issues are still present with JDK9

[2016-06-20 19:50] jorgheymans commented on #140
hmmm https://youtrack.jetbrains.com/issue/IDEA-145206 says that jetbrains does not support jdk9 as runtime yet so unsure exactly how you tested this.

[2016-06-21 02:25] ciscorucinski commented on #140
You can select JDK9 to be used in your project and restart the IDE;  however, you cannot run your project. The font rendering from the JDK appears to work though.

[2016-06-21 06:28] jorgheymans commented on #140
But the jdk used to compile the project is not the same as the one used by the ide itself. When you go to the about screen what jre version does it say?

[2016-06-21 15:36] ciscorucinski commented on #140
ok, it doesn't change

    Android Studio 2.2 Preview 3
    Build #AI-145.2949926, built on June 7, 2016
    JRE: 1.8.0_76-release-b01 amd64
    JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

[2016-06-22 21:31] PlaidPhantom commented on #213
Okay, the latest windows updates seem to have fixed the issue.  Never mind!

[2016-06-22 21:31] #213 closed

[2016-06-22 21:32] chrissimpkins commented on #213
Any idea what the problem was?

[2016-06-24 02:16] evaryont opened #216 "New glyph request: Power symbols"
Please include the IEC Power Symbol in this font. (The power indicator everywhere, a circle with a line through the top.)

http://unicodepowersymbol.com/

It's now part of Unicode 9.0.

[2016-06-24 18:14] PlaidPhantom commented on #213
Not really, sorry.  Since it seems to have been fixed by a Windows Update, I'm guessing it was some sort of Windows scaling or font rendering bug.  At the same time some (unrelated) scaling issues were fixed in SQL Server Management Studio, which is what initially prompted me to try it again.

[2016-06-24 19:07] chrissimpkins commented on #213
No problem! Thanks for the feedback.

[2016-07-12 23:59] paplorinc opened #217 "Add support for programming ligatures"
As explained in https://www.youtube.com/watch?v=pKCKwI-bfG0, some fonts (e.g. https://github.com/tonsky/FiraCode) already support replacing e.g. `->` with `→` , `!=` with `≠`, etc.

I just tried Hack and it doesn't seem to support it.

[2016-07-13 22:32] tbrisbane commented on #35
IntelliJ IDEA has just added full support for ligatures!

Has there been any further work on this?

[2016-07-16 18:05] fommil opened #218 "support for linux console"
apologies if this is a total font-n00b question, would it be possible to get Hack as a bitmap console font (i.e. non-X). The bigger the better since today's laptop screens are ludicrously high resolution.

[2016-07-16 19:41] davelab6 commented on #218
I suspect that controlling the optical size of the font is outside the scope of the font; you need to set your framebuffer resolution to use pseudo pixels...

[2016-07-16 20:04] fommil commented on #218
@davelab6 with console fonts, you have to generate them with the size baked in. e.g. Terminus.

[2016-07-18 08:28] kaibacorp opened #219 "Deja Vu Sans Mono for Powerline - Font Awesome icons skewed."
Tried both Complete and Font Awesome patched versions of Deja Vu Sans Mono for Powerline, but both result in icons appearing squished/skewed.

Here is an example of fa-dashboard:

![fa-squished-icon](https://cloud.githubusercontent.com/assets/5510071/16909268/3e1159f4-4c97-11e6-913a-1d69d167b5ef.png)

[2016-07-20 11:24] ignatov commented on #217
Duplicates #35

[2016-07-20 11:29] ignatov commented on #35
Hi all, I've just spent several hours tonight and create ligatures for == and != for Hack Regular.
I'm going to add more of them, but the issue is that I'm using Glyphs not FontLab.
@chrissimpkins Could you please give me a piece of advice how to contribute to the main repo with FontLab VI.

Please see https://www.dropbox.com/s/owzd20463aqc40a/Hack-Normal.ttf?dl=0

[2016-07-20 13:36] Defman21 commented on #35
Looks good! What characters did you add? `!=` and `==`?

[2016-07-20 13:46] ignatov commented on #35
@Defman21 Yes, `!=` and `==`.

[2016-07-20 15:02] chrissimpkins commented on #35
@ignatov Thanks for your work on this!  My opinion about ligatures is that they belong in a separate developer 'working font' based on Hack (like Fira Code is to Fira Mono).  Happy to commit the separate fonts here if you would like.  This will require a new set of source.   Likely the better option to provide you and anyone who would like to collaborate on this with complete control on its progre

[2016-07-20 22:26] #217 closed

[2016-07-20 22:26] chrissimpkins commented on #219
Can you expand on the issue here?

[2016-07-20 22:27] chrissimpkins commented on #218
There is unfortunately no simple conversion to a bitmap font.  This requires a complete redesign.  Sorry...

[2016-07-22 18:14] kaibacorp commented on #219
If it helps, this is in mate-terminal in neovim. Setting terminal font to Deja Vu Sans Mono for Poweline Nerd Font makes the Font Awesome icons appear as above. Setting font to regular Font Awesome makes the icons appear with the right width.

[2016-07-23 22:01] chrissimpkins commented on #219
This sounds as though you need to submit the issue to the Nerd Fonts or Powerline repository.  I don't manage DejaVu Sans Mono with or without Powerline, nor do I manage a Font Awesome patched version of DJVSM.

[2016-07-23 22:01] #219 closed

[2016-07-23 22:02] #218 closed

[2016-07-23 22:03] kaibacorp commented on #219
Ah my apologies, I submitted the issue to the wrong repo. Sorry!

[2016-07-23 22:03] chrissimpkins commented on #216
What is the source code use case here @evaryont?

[2016-07-23 22:06] chrissimpkins commented on #212
Thanks for the suggestion @iandoug.  Do you mind expanding on the use of these symbols for a Pitman glyph novice?  This should not be difficult to include.

[2016-07-23 22:07] chrissimpkins commented on #214
Be happy to look into this @fommil.  How is this glyph used?

[2016-07-23 22:12] chrissimpkins commented on #219
No worries! good luck

[2016-07-23 22:23] iandoug commented on #212
Hi
Dozenal is using base 12 instead of base 10. Over the years there have been various characters used for the 10 and 11, but the Unicode consortium has now decided that turned-2 and turned-3 are the official characters that they will support. The Fira Code  maintainer has added the glyphs (as has Symbola font), it would be nice if you could too :-)
Don't know if you want a motivation for using ba

[2016-07-23 22:54] chrissimpkins commented on #212
Thank you!

[2016-07-23 23:06] fommil commented on #214
Nice :-) it would be an awesome replacement for the `implicit` keyword in Scala when using prettify-symbols in emacs.

[2016-07-23 23:07] fommil commented on #218
Interesting. No way to just render at a given resolution and then convert into the required format?

[2016-07-23 23:10] chrissimpkins commented on #218
@davelab6 are you aware of any bitmap 'converter' style software?

[2016-07-24 05:50] tbrisbane commented on #35
@ignatov Good stuff! :D

Any plans on forking the Hack repo as Chris suggests above? I'm no font designer myself, but I suspect Chris is right in saying that a dedicated ligature fork of Hack will definitely encourage collaboration on this feature.

[2016-07-27 10:40] ignatov commented on #35
@chrissimpkins @tbrisbane Thanks for the reply. So I'm going to create a separate repo for the font with ligatures.

[2016-07-30 12:32] chrissimpkins commented on #35
:+1:  let me know if/how I can help.   I can get you started with our ttfautohint hinting scripts if you need.  Definitely recommend that you use them. They are tuned to the Hack set.

[2016-07-30 17:15] timothyjc opened #220 "Hack not working on latest Android Studio (Canary Channel)"
![screenshot 6](https://cloud.githubusercontent.com/assets/674710/17271944/704282e2-5681-11e6-939f-06bbafb7fba4.png)

Android Studio 2.2 Preview 6, Hack v2_020-ttf

[2016-07-30 17:45] chrissimpkins commented on #220
What platform?

[2016-07-30 18:27] timothyjc commented on #220
Windows 10

[2016-07-30 18:51] chrissimpkins commented on #220
@texhex

[2016-07-30 19:18] timothyjc commented on #220
Same problem with installer...

[2016-07-30 19:44] chrissimpkins commented on #220
Thanks much for trying it.  @texhex any thoughts here?

[2016-07-31 04:36] iamkarlson commented on #196
@salarmehr @chrissimpkins middle dot is great for showing whitespaces in editors like vim, but
![image](https://cloud.githubusercontent.com/assets/4534374/17274601/bf91b1e2-56f9-11e6-990d-249751231ce0.png)

Do you see whats happening when I set it as whitespace character? It's expanded

[2016-07-31 04:54] salarmehr commented on #196
@iamkarlson Sorry, I didn't get the point.

[2016-07-31 04:58] iamkarlson commented on #196
@salarmehr this character is displaying expanded and displaying normal when in selection

[2016-08-01 13:25] iamkarlson commented on #196
My fault, I've double checked it's depending on color scheme

[2016-08-01 18:02] texhex commented on #220
@timothyjc Sorry to hear the installer wasn't able to fix this. Could you please:

1) Install Notepad++, select Hack as the default font and check if it displays in Notepad++ correctly. Or does it look strange there also?

2) Change the font in Android Studio to be something else than Hack, then restart Windows and select Hack again. Does it come back normally or broken again?

3) Could you please

[2016-08-01 19:39] jorgheymans commented on #220
@timothyjc what jdk are you using to start android studio ? Note this is different from the jdk set in the ide to compile your project.

[2016-08-01 19:47] timothyjc commented on #220
@jorgheymans 1.8.0_92

[2016-08-01 20:00] timothyjc commented on #220
@texhex

1) Works fine in Notepad++
2) Still broken:
![screenshot 7](https://cloud.githubusercontent.com/assets/674710/17307003/d7d589d6-582a-11e6-84eb-a543ed6c978d.png)
3)

---BeforeInstallAction START---
Setup version: 1.2.0
Font version.: 2.020
Local time...: 2016-30-07 20:16
Fonts folder.: C:\WINDOWS\Fonts
Dest folder..: C:\Program Files\Hack Windows Installer
---HASH CALCULATION---
Calculatin

[2016-08-01 20:16] timothyjc commented on #220
@jorgheymans

This is the bundled version with Android Studio which it is using:

openjdk version "1.8.0_76-release"
OpenJDK Runtime Environment (build 1.8.0_76-release-b03)
OpenJDK 64-Bit Server VM (build 25.76-b03, mixed mode)

[2016-08-02 05:40] jorgheymans commented on #220
@timothyjc would you mind running a test using https://github.com/source-foundry/java-glyph-tester ? Basically download the zip release and execute below command, pointing to the location of the ttf you unzipped somewhere. Again make sure that "java" below points to the jdk used to start android studio.

`
java -jar java-glyphtester-0.1.zip --fontfile C:\Users\jorgheymans\Downloads\Hack-v2_020-ttf

[2016-08-02 18:12] timothyjc commented on #220
@jorgheymans

[code]

[2016-08-02 18:43] jorgheymans commented on #220
@timothyjc thanks! so this tells me that at least the openjdk is able to render the hack font fine. So the problem must be with the font install or android studio itself. Is there an option to invalidate all caches like IntelliJ Idea has : https://www.jetbrains.com/help/idea/2016.2/cleaning-system-cache.html . Could be worth a try.. (but i'm really just guessing now)

[2016-08-02 18:49] timothyjc commented on #220
@jorgheymans Aren't a few of them not rendering correctly: 0_LCD HRGB antialiasing text mode.jpg and 0_LCD HBGR antialiasing text mode.jpg?

Invalidating the caches and restarting does not fix it...

[2016-08-02 18:56] jorgheymans commented on #220
@timothyjc yes you are absolutely right, my diagonal glance failed me. So it's a problem with the anti-aliasing in openjdk. Are you able to install oracle jdk and rerun the test ? Thanks for helping us troubleshoot this. Unfortunately font rendering in java is not clear-cut at all, big differences across jvm versions and even platforms (looking at you Apple). Supposedly the harfbuzz font engine in

[2016-08-02 19:08] timothyjc commented on #220
@jorgheymans Oracle JDK has similar problems:

[code]

![screenshot 10](https://cloud.githubusercontent.com/assets/674710/17341492/c0c92ca8-58ec-11e6-8b12-e0586d5034bd.png)

[2016-08-02 19:26] chrissimpkins commented on #220
:+1: thanks all for your efforts here.  Sorry to hear that we are running into another JVM issue here.  I will continue to probe in order to see if I can figure out what is causing it on our end.  Unclear.

[2016-08-02 19:27] jorgheymans commented on #220
@timothyjc meh that's not what i expected ... can you try adding -Dsun.java2d.font.scaler=t2k to the startup options of android studio ? For intellij the options are defined in a .vmoptions file in the installation directory https://intellij-support.jetbrains.com/hc/en-us/articles/206544869-Configuring-JVM-options-and-platform-properties , i suspect android studio will be similar.

... if that doe

[2016-08-02 19:53] texhex commented on #220
@timothyjc @jorgheymans Thanks. Based on the data, Hack should be registered correctly in Windows (as Notepad++ is able to use it). What is odd is that "Hack-Regular.ttf" was registered in Windows, while the other styles were not. None of them were found in C:\Windows\Fonts before using the installer.

I don't think this will help you anything with this JDK issue, but just for your information.

[2016-08-02 21:33] timothyjc commented on #220
@jorgheymans
-Dsun.java2d.font.scaler=t2k makes Hack render correctly again... so I have a valid work-around now. I know nothing about font rendering but fwiw, I don't have any issues with the other fonts on Android Studio.

[2016-08-02 22:03] chrissimpkins commented on #220
@timothyjc can you provide the names of one or two typefaces that do work in Android Studio without modifications of the default JVM settings?  will take a look at their OpenType tables vs our own to see if this points to a source of the problem.  Not clear what causes this.

[2016-08-02 22:07] timothyjc commented on #220
@chrissimpkins
Source Code Pro
Consolas
Inconsolata

[2016-08-02 22:45] chrissimpkins commented on #220
@timothyjc thank you! will have a look

[2016-08-03 07:29] bsagal opened #221 "Hebrew Support"
Please can you add hebrew glyphs.

[2016-08-16 06:07] DungeonCaster opened #222 "Windows Installer Documentation"
Your documentation for the executable Windows installer (and the download website page at http://sourcefoundry.org/hack/) should warn people that it requires a system reboot. Providing this information up front is just good manners for any Windows product.

[2016-08-16 10:41] chrissimpkins commented on #222
Excellent point.  @texhex thoughts?

[2016-08-17 19:26] texhex commented on #222
Well, I could add this information to the [Usage block](https://github.com/source-foundry/Hack-windows-installer#usage) in README. Would that be enough?

[2016-08-17 23:31] chrissimpkins commented on #222
Let us know what you think @DungeonCaster

[2016-08-18 00:02] TheOpenSourceNinja commented on #216
I could see glyphs like this being used in places where loading image files might be inconvenient or problematic, such as GUI buttons. E.g. a pop-up dialog asking the user if they wish to shut down.

[2016-08-23 13:07] DungeonCaster commented on #222
Hi @chrissimpkins and @texhex:  I think a simple sentence at the end of the Windows section in the README.md file is great. Something like this:

On the website you could add similar text to the paragraph above the Linux/Windows download buttons:

The reason I **bolded** the sentence is because almost no font installs in Windows require a reboot anymore, In fact I'm not exactly sure why your insta

[2016-08-27 03:45] nazar-pc opened #223 "Curly braces and dot do not align well vertically with others"
* PhpStorm (basically, any JetBrains IDE)
* Hack 2.020
* font size 11
* line spacing 1.2
* Linux

![2016-08-27 06-34-51](https://cloud.githubusercontent.com/assets/928965/18024934/82f9fece-6c20-11e6-800a-967986b167f1.png)

As you can see `()` and `[]` are on the same line, while `{}` are slightly higher.
The same with `.` - it is higher than `,`, `;` and `:` characters.

My primary font for years

[2016-08-27 03:56] nazar-pc commented on #223
Just found #141, might be related (but this one is using different font size)

[2016-08-27 14:25] chrissimpkins commented on #223
Much of this has been tooled to code.  Try posting images with blocks of your common code types and let's discuss in that context.   The goal is not necessarily orientation relative other similar glyphs but rather appearance and clarity in bodies of code text.

[2016-08-27 14:40] nazar-pc commented on #223
It just seems odd when very similar characters have different positioning. If it is intentional - I'm closing this issue.

[2016-08-27 14:40] #223 closed

[2016-08-27 15:12] chrissimpkins commented on #223
Sorry didn't mean to dissuade you.  I am not claiming that they are optimal, just wanted to explore in code with you.  If you are interested feel free to open it back up and post some shots of code with these glyphs.  We can take a look and see if there are things to optimize.

[2016-09-01 14:10] oryband commented on #48
Hi. Any update?

[2016-09-01 14:13] chrissimpkins commented on #48
Nothing in the works at the moment.  Remains on the to do list.

[2016-09-01 19:03] texhex commented on #222
First off, sorry for the long delay.

I have no problem adding a note to the Hack-Windows-Installer, but I would keep that detail out of the default Hack documentation. If someone ops-in for the installer, they will find the note there.

And just to make sure: Our installer itself does not require a reboot, the installer can happily install the font in 99.9% of all cases without any reboot. We are

[2016-09-01 19:25] chrissimpkins commented on #222
Thanks @texhex!

[2016-09-08 16:37] alerque opened #224 ""Heavy" check mark very light"
`U+2714 HEAVY CHECK MARK` (✔) is just an outline and barely visible in the terminal, it should probably be a filled shape to match its name and cousin `U+2718 HEAVY BALLOT X` (✘) which actually shows up as a heavy mark.

[2016-09-12 10:00] Arjoni opened #225 "Opensuse support"
Can you add opensuse support? You could use build.opensuse.org for all distros.

[2016-09-12 11:28] chrissimpkins commented on #225
We don't release any of the existing packages on package managers.  These are released and maintained by users.  I am more than willing to support this.   Are you interested in maintaining it?

[2016-09-12 11:30] Arjoni commented on #225
I have no idea how to do it. I am not a dev.

[2016-09-12 11:31] chrissimpkins commented on #225
Will take a look at their package manager.

[2016-09-15 06:30] eikooc opened #226 "Glyph "hitbox" is not wide enough -> ⋊"
When using Hack the "⋊" glyph doesn't have enough padding to the right
![image](https://cloud.githubusercontent.com/assets/1305015/18540374/8a459726-7b1e-11e6-8afa-0e6283e6bcf0.png)
![image](https://cloud.githubusercontent.com/assets/1305015/18540383/9f315eb8-7b1e-11e6-82b4-b833f43ade06.png)

[2016-09-16 10:18] jwheare commented on #200
Hi, we just switched to Hack on [IRCCloud.com](https://www.irccloud.com) as our monospace font thanks to the extended character set available in the web font (good for consistent ASCII art) and the overall quality of the typeface. Many people love it, but the zero is a bit of a point of contention (as well as the curled lowercase `i`, but staying on topic).

I understand it's part of your identity

[2016-09-16 10:53] jwheare commented on #178
Just a note to confirm that en and em dashes appear identical to me at all sizes, regular/italic, 400/700 weight, using the extended web font hosted on jsdelivr.

Chrome 53.0.2785.113 (64-bit)
macOS 10.11.6 (15G1004) El Capitan
MacBook Pro (Retina, 13-inch, Early 2015) (built in monitor, at default and all resolution scales)
https://cdn.jsdelivr.net/font-hack/2.020/css/hack-extended.min.css

Scree

[2016-09-18 13:36] caizixian commented on #35
+1 for optional ligatures

[2016-09-18 14:39] chrissimpkins commented on #35
@ignatov did you create this fork?

[2016-09-20 23:19] ignatov commented on #35
@chrissimpkins not yet.

[2016-09-20 23:47] chrissimpkins commented on #35
@ignatov no worries.   was just going to give users here the link if so

[2016-09-26 22:12] nazar-pc commented on #223
So what are your thoughts on this? Is this something that should be fixed?

[2016-09-28 13:57] mtelesha commented on #225
https://software.opensuse.org/download.html?project=M17N%3Afonts&package=hack-fonts

It already is there.

Also you can simply copy any font to /usr/share/fonts/

[2016-10-09 04:43] spstarr opened #227 "Building Hack on Fedora tracker"
Is this issue resolved? Fedora still does not have the fonts, I've taken over the packaging but we need a way to build these fonts to satisfy Fedora's policy:

**"Fonts SHOULD be built from source whenever upstream provides them in a source format"**

[2016-10-11 05:40] pdxwolfy opened #228 "Hack with Atom Editor"
I'm not sure if this is a Hack problem or an Atom problem, so I've reported it in both places...

I'm trying to use Hack with the [Atom editor](https://atom.io), but when I change the font to Hack, Atom ends up treating leading spaces oddly. For instance, here is what a bit of ruby code looks like using Input Mono as the font:

<img src="http://www.well.com/user/phanson/image1.jpg" width="690" hei

[2016-10-11 14:00] pdxwolfy commented on #228
Closing this. It turned out to be some sort of installation problem. I think I had an older version of Hack installed when I installed the latest update, and somehow it didn't get replaced.

[2016-10-11 14:00] #228 closed

[2016-10-12 07:24] eisaev opened #229 "Difference of Cyrillic "с"/"С" and Latin "c"/"C""
Please return difference of Cyrillic "с"/"С" and Latin "c"/"C", reverted on 2.019. Without this difference, "Hack" is meaningless as a font for Russian-speaking programmers.

[2016-10-12 07:38] mike-zueff commented on #229
Yes, these glyphs explicitly must differ. "Hack" is a font for software developers, not designers.

[2016-10-12 14:30] Defman21 commented on #229
There were a poll about this change and most of Russian users voted for the version without any differences.

[2016-10-12 14:46] eisaev commented on #229
Where can we see this poll? Who are these Russian users? Web-designers?

[2016-10-12 15:42] Defman21 commented on #229
Not sure why do you hate (?) web designers that much, I do find the lack of difference between these characters useful for me (however, I'm not a web-designer).

The whole discussion is here:
https://github.com/chrissimpkins/Hack/issues/155

[2016-10-12 15:52] chrissimpkins commented on #227
We do not have an automated build chain at the moment.  You can build them from the source with Font Forge.  How are you building other fonts?

[2016-10-12 16:00] chrissimpkins commented on #229
Thanks for responding to this @Defman21.  This is correct information.  There was a great deal of discussion about this prior to the changes, the changes were not well received and then there was a great deal of discussion about how to fix them in a way that led to differences in the appearance of the glyphs and no one had good ideas about this so we dropped all changes and made them appear how th

[2016-10-12 16:01] chrissimpkins commented on #228
You beat me to a solution! Let me know if you have any further problems.

[2016-10-12 17:55] eisaev commented on #229
I have nothing against designers. Just practicality vs appearance. If Hack font is one of a dozen fonts "for code", the different style of these characters is necessary. If Hack is one in a million fonts "for design", appearance has a higher priority. Unfortunately now I can't use the current version of the font from the system repositories, and forced to use an outdated version 2.018.

[2016-10-12 18:03] chrissimpkins commented on #229
Grab a copy of Font Forge and I would be happy to show you how to replace them with the old ones

[2016-10-12 18:29] Brantron commented on #35
Is there a link for the new font?

[2016-10-12 18:36] chrissimpkins commented on #35
see @ignatov post below

I'm going to add more of them, but the issue is that I'm using Glyphs not FontLab.
@chrissimpkins Could you please give me a piece of advice how to contribute to the main repo with FontLab VI.

[2016-10-31 14:52] jnv commented on #64
The same issue happens in Sublime Text 3 on Ubuntu 16.10

![](https://cloud.githubusercontent.com/assets/616767/19858435/b1f40186-9f81-11e6-9ebc-af54957a4467.png)

and Gedit

![selection_011](https://cloud.githubusercontent.com/assets/616767/19858500/0115bd04-9f82-11e6-925b-7df93f826cf4.png)

But only for font size of 12+ px

[2016-11-07 11:10] oryband commented on #48
PING! How about now?

![](http://www.mememaker.net/static/images/memes/3667784.jpg)

[2016-11-08 08:18] nharward commented on #33
On the issue of symbols appearing as too short (Linux): in my case it turned out that my high-density screen on a newer laptop was causing fonts not to display properly, as fontconfig appears to not pick up DPI correctly from the X server. Putting this in `$HOME/.config/fontconfig/conf.d/10-hidpi.conf` resolved the issue and now it looks great:

[code]

Replace the `276` with the correct DPI of yo

[2016-11-13 02:09] eggsyntax opened #230 "Homebrew formula broken?"
[code]

[2016-11-19 22:20] Widdershin commented on #51
Hi! I'm interested in getting support for emoji alongside Hack. I'm not really sure where to start though, could anyone point me in the right direction?

[2016-11-21 13:09] chrissimpkins commented on #51
@Widdershin have a look at https://github.com/ryanoasis/nerd-fonts

I believe that they may have patched Hack with emoji.  Definitely includes Font Awesome glyphs as I recall.

[2016-11-21 13:11] chrissimpkins commented on #230
We don't maintain the Homebrew cask for Hack.  I would check with the Homebrew crew to see if there is a problem with the install script.  Help with a fix would be greatly appreciated!

[2016-11-23 17:28] manulicious opened #231 "Publishing graphic designs featuring the font"
I recently worked on a graphic design using this font for the text in it. It is a private project and I plan to hand out stickers with the design on it on this year's Chaos Communication Congress (that's when I plan to publish the design). I do not want to sell those. Instead, I'd like to publish the design so people can improve it or print their own version.

Since I'm not very confident in under

[2016-11-23 22:04] chrissimpkins commented on #231
Do you intend to distribute the font builds with this in any way so that others can use the fonts to extend this design or is the intent to distribute a rasterized / vector image that includes the glyph shapes when you "publish the design so people can improve it or print their own design"?

Designs that use the glyph shapes within the design are perfectly acceptable and you can license them howev

[2016-11-24 20:36] manulicious commented on #231
Yes, I do want do distribute it in two versions: One pure vector version which doesn't require the font to be installed, and one using the font (either with binary distribution or just linking here) for easier text changes.

So, if I understand correctly, selling the design with the font distributed (not even selling the printed result?) would be the only thing possibly leading to violating the te

[2016-11-24 20:48] chrissimpkins commented on #231
Good luck and enjoy!

[2016-11-24 20:48] #231 closed

[2016-11-24 21:06] Ovelny opened #232 "BSOD with Windows installer (win 10)"
While installing Hack with the latest Windows installer (Hack v.2.020), I encountered a BSOD at reboot, with error message "CRITICAL PROCESS DIED".

Explorer.exe freezes right after session login, and the BSOD happens 1 min or so after that. Everything else remains usable during that moment, but the BSOD happens at every reboot, no matter what.

Here is what I tried, after rebooting in safe mode:

[2016-11-24 21:11] chrissimpkins commented on #232
@texhex thoughts?

[2016-11-26 20:50] texhex commented on #232
Sorry to hear that @Ovelny, but I do not have slightest idea what could have cause this. We only stop two font-related services, install the font and request a reboot. That's it.

There is no service running or installed from either the Hack installer or the setup tool (InnoSetup) itself. There is no active component remaining on your device once setup.exe has finished. I really can't explain how

[2016-12-05 12:31] Ovelny commented on #232
@texhex Thank you for your reply, and sorry for the delay. I can confirm that my AV (Windows Defender) wasn't disabled while doing a clean boot, so it wasn't related.
I used WhoCrashed as mentioned (nice tool by the way!) and it revealed that it was likely a driver error, or a kernel error (!)
Here is what I did afterwards:

- sfc /scannow to check for errors : none found
- Dism /Online /Cleanup-I

[2016-12-05 12:48] chrissimpkins commented on #232
:+1:

[2016-12-07 19:33] texhex commented on #232
@Ovelny Hmm, to be honest: I still have no idea what the issue is here. Since it didn't occurred before installing Hack, this seems to be some sort of "snooker" issue where A causes B which causes C and then the computer ends up in non-responsive bye-bye land.

But I have no idea which driver would load all mono spaced fonts, does something with them and fails when there is a condition that someho

[2016-12-12 20:11] Taiger commented on #232
I experienced a similar issue on my Windows 7 machine. The installer freezes.
However, I was able to kill the process and restart without a problem.

I am definitely installing this font via the traditional route now.

[2016-12-12 21:50] chrissimpkins commented on #232
@Taiger sorry for the troubles.  The impetus for this was that the font cache on Windows is a problem.  Recommend that you use a different tool to clean the font cache before you try a new Hack install over a previous one (if that applies to you).  Let us know if you have any problems.

[2016-12-13 15:15] beng commented on #230
@eggsyntax you're missing `cask` in the second command. the commands below worked for me:

[code]

[2016-12-13 15:19] eggsyntax commented on #230
@chrissimpkins fair enough, thanks!
@beng Doh! You're entirely correct; my bad. Thanks :)

[2016-12-13 15:19] eggsyntax commented on #230
Closed as PEBKAC.

[2016-12-13 15:54] chrissimpkins commented on #230
thanks!

[2016-12-20 21:24] skbolton commented on #35
Any news on ligatures? Super excited to move back to hack when it has them?

[2016-12-21 04:26] Taiger commented on #232
Thanks @chrissimpkins, when I update the font I will look into how to clear the font cache first.

[2016-12-21 16:52] chrissimpkins commented on #232
:+1:

[2016-12-23 09:26] kaleissin opened #233 "Hack not recognized as a fixed-width font by KDE5's Konsole"
Konsole only allows choosing fonts that it recognizes as fixed-width, I have not found out **how** it determines that a font is fixed-width.

[2016-12-23 09:59] chrissimpkins commented on #233
Can you provide me with a couple of font names that it does recognize as fixed width?  I will take a look at the OpenType tables.

[2016-12-23 14:11] kaleissin commented on #233
Complete list as of today (Ubuntu xenial and yaketty):

Andale Mono
Courier 10 Pitch
Courier New
DejaVu Sans Mono
FreeMono
Liberation Mono
Monospace
Nimbus Mono L
Noto Mono
Oxygen Mono
Tlwg Mono
Tlwg Typo
Ubuntu Mono

Note that it doesn't list Misc Fixed or Terminus either...

[2016-12-23 14:22] chrissimpkins commented on #233
Great thank you very much.  I will take a look and see if we can sort out why this is the case.

[2016-12-29 23:15] mavit commented on #227
DejaVu, for example, comes with a [Makefile](https://github.com/dejavu-fonts/dejavu-fonts/blob/master/Makefile) containing the recipe for building the fonts.  I see it calls a number of [scripts](https://github.com/dejavu-fonts/dejavu-fonts/tree/master/scripts) to do the work, including several that call FontForge (e.g., [`generate.pe`](https://github.com/dejavu-fonts/dejavu-fonts/blob/master/scri

[2016-12-29 23:19] davelab6 commented on #227
Its easy to automate fontforge builds with FF script (PE) or Python

[2016-12-29 23:28] spstarr commented on #227
This is Fedora's full build for DejaVu fonts:
http://pkgs.fedoraproject.org/cgit/rpms/dejavu-fonts.git/tree/

[2016-12-29 23:32] spstarr commented on #227
as @mavit said, if we can use the method DejaVu uses, then the Makefile in the DejaVu fonts can be adapted for Hack.

[2016-12-30 09:52] mcepl commented on #227
Then I guess you would have no problems to provide PR with those scripts, right? What I mean is that we shouldn’t just require upstream to fix our problems, but we should help.

[2017-01-02 20:11] manulicious commented on #231
I finally published it now: https://github.com/manulicious/cyberwehr-aufkleber

Please let me know if anything doesn't fit or distribution via git submodule is wrong. Cheers!

[2017-01-03 16:30] c99koder opened #235 ""Combining comma below" (\u0326) doesn't render on iOS"
We are using the OTF version of Hack in our iOS app, however it doesn't seem to display characters using the "Combining comma below" unicode symbol, for example \u0074\u0326 should display "ț" however the OS falls back to the system font for this glyph.  Typing the characters manually using the iOS keyboard (which produces unicode character \u021b instead) renders correctly using the Hack font.

[2017-01-04 05:30] skbolton commented on #35
Any progress on the ligatures?

[2017-01-04 10:42] ignatov commented on #35
I haven't done anything since summer :–)

[2017-01-17 16:28] Pacane opened #238 "Rendering issue for the letter "u" on Arch linux"
The rendering of the letter "u" seems to be broken using specific settings. Specifically, the height of the letter seems to be wrong.

Using:
- xfce4-terminal (tried other terminals too like URxvt)
- Hack regular size 10
- Antialiasing on
- Hinting enabled (slight)
- Sub-pixel geometry: RGB

See the "u" in "runcoms" as an example:
![image](https://cloud.githubusercontent.com/assets/2762440/2202921

[2017-01-19 10:53] Bogbo opened #239 "U+1E9E - consider addition to character sets"
Could you please add U+1E9E (Capital Letter Sharp ß)? Thank you!

[2017-01-25 19:31] fromgod opened #240 "Lowercase i shape"
Hi!=) My name is Max and I'd like the Hack font so much. But I'm a perfectionist and letter "i" like in Ubuntu font don't like me. I would like will ask you to make one more additional version this font  to me with letter "i" like in DejaVu Sans Mono or in Bitstream Vera. And if it's possibly to make font a little bit fatter. It'll be cool the quotes to make fatter too. I would be happy, if you'll

[2017-01-26 13:10] dok42 commented on #200
Hello
Since I found this font, I'm using Hack everywhere, It's even default on Neon (Linux). Great.
However, I'd like the oval fill to be a bit smaller.
I'd like a slashed zero too if you'll provide that in future.
That said, this font is great, I do often look at http://programmingfonts.org for new fonts but, I'm very very happy with Hack.
Thank you

[2017-01-30 11:20] fromgod commented on #240
(

[2017-02-04 05:24] nullne commented on #33
I am wondering why my status line has a red block and yellow line?
<img width="311" alt="screen shot 2017-02-04 at 1 23 18 pm" src="https://cloud.githubusercontent.com/assets/6008447/22615962/31dcebdc-eadd-11e6-9f1b-1bafb3c46467.png">
<img width="253" alt="screen shot 2017-02-04 at 1 23 32 pm" src="https://cloud.githubusercontent.com/assets/6008447/22615961/31dc3958-eadd-11e6-8feb-51fb0932d541.png

[2017-02-06 16:57] fcrozat commented on #225
I suggest to close this bug report, the package is now directly integrated in openSUSE Tumbleweed and openSUSE Leap 42.2.

[2017-02-06 16:58] #225 closed

[2017-02-06 19:51] chrissimpkins commented on #225
:+1:  thanks!

[2017-02-09 23:02] tylerFowler opened #241 "Medium/Semibold Weight"
For terminals especially, I prefer to use a medium or semibold weight just to make the characters a little more distinguishable especially at small sizes with giant walls of text (think server logs and such). Would love to see this offered in one of those weights.

[2017-02-11 06:24] LockGit opened #242 "https://github.com/LockGit/Hacking"
https://github.com/LockGit/Hacking

fun...

[2017-02-11 17:54] #242 closed

[2017-02-17 12:03] xelra commented on #233
Maybe this has something to do with Qt. I'm seeing the error `Warning: Font Hack reports bad fixed pitch metrics` using Neovim-Qt on Windows.

[2017-02-17 12:18] xelra commented on #239
Are you sure you want [Unicode Character 'LATIN CAPITAL LETTER SHARP S' (U+1E9E)](http://www.fileformat.info/info/unicode/char/1e9e/index.htm)? Because the letter you showed above is [Unicode Character 'LATIN SMALL LETTER SHARP S' (U+00DF)](http://www.fileformat.info/info/unicode/char/00df/index.htm) and that is included in Hack. There are also multiple discussions around the web mentioning that t

[2017-02-20 10:24] davelab6 commented on #233
Fontbakery should tell you if it's set up correctly as a monospace

On Feb 17, 2017 5:33 PM, "xelra" <notifications@github.com> wrote:

[2017-02-21 20:15] Bogbo commented on #239
Thank you for your answer! I was actually meaning 1E9E, but couldn't enter this letter here. It's right that 1E9E is not part of the official German orthography but ß is replaced by SS in uppercase. The problem is uppercase spelling of surnames. E.g. Weiß und Weiss are both common surnames in German speaking countries. In uppercase without 1E9E they would both be spelled as WEISS which can lead to

[2017-02-22 10:55] Paviluf commented on #202
I just tried Hack from this [copr](https://copr.fedorainfracloud.org/coprs/heliocastro/hack-fonts/) repo and I needed to use `sudo fc-cache -f -v` to have access to the regular variant in Sublime text.

[2017-02-23 08:30] Paviluf opened #243 "Only bold and bold italics version available on Fedora copr repo"
Hello,

I just tried Hack from this [copr](https://copr.fedorainfracloud.org/coprs/heliocastro/hack-fonts/) repo on Fedora 24 and I needed to use `sudo fc-cache -f -v` to have access to the regular variant in Sublime text.

This issue had already been reported but not fixed https://github.com/chrissimpkins/Hack/issues/202

Thanks !

[2017-03-05 04:27] jeffmcneill opened #244 "TruFont error "Unknown glyph class aalt3""
Trying to add some Thai glyphs, but get an error exporting with TruFont:

unknown glyph class @aalt3

I see this as the collection of numbers 0-9 (in the Groups window). Unclear what to do so TruFont can deal with this.

[2017-03-05 04:35] jeffmcneill commented on #244
If I just take the .otf from the build directory, there is no problem importing, then exporting it. It is only in opening from the source that the error happens.

Also posted an issue over at TruFont https://github.com/trufont/trufont/issues/376

[2017-03-07 07:38] jeffmcneill commented on #244
Hi, it is working for me now, no errors.

[2017-03-07 09:07] jeffmcneill commented on #244
Still same problem

[2017-03-23 07:50] jorgheymans commented on #129
It looks as if this issue is fixed in latest intellij 2017.1 with jdk8_121, hurray !

[2017-03-23 10:43] Anthony25 commented on #33
My pull request has finally been merged into powerline-fonts: https://github.com/powerline/fonts/pull/172

It should fix the weird rendering.

[2017-04-11 06:44] OtterKring opened #246 "'window-width"

[2017-04-14 11:20] vvug opened #247 "Project status?"
Hello. Is this project still alive?
It has been very alive until about one year ago, then almost nothing...

[2017-04-14 11:42] chrissimpkins commented on #247
Project is alive and well. In hibernation for now.  Will get back to development when time allows.

[2017-04-14 11:42] #247 closed

[2017-04-16 05:46] skbolton commented on #35
Still hoping this comes around at some point

[2017-04-17 08:14] mrmckeb commented on #246
I'm seeing this issue too, @chrissimpkins. I raised it as an issue against the Bash project for Windows - screenshot can be found there.
https://github.com/Microsoft/BashOnWindows/issues/1936

[2017-04-18 15:31] bowlofeggs commented on #209
I've started a thread about whether this font can be included in Fedora:

https://lists.fedoraproject.org/archives/list/legal@lists.fedoraproject.org/thread/MJ4Q3D6JLDVX4OHSF3YXY76Z6BYSKKQR/

[2017-04-18 16:01] spotrh commented on #209
To chime in here, I went ahead and allowed fonts under the Hack Open Font License into Fedora, because it is as "free" as the SIL OFL and Bitstream Vera licenses. That said, I strongly encourage you to get off it. :)

[2017-04-18 17:44] davelab6 commented on #209
@bowlofeggs I admire your persistence!! :)

[2017-04-19 21:46] bowlofeggs commented on #209
Haha, thanks @davelab6!

[2017-04-21 18:35] chrissimpkins commented on #209
@bowlofeggs ty! Shawn Starr reached out to me to work on a build chain for the fonts so that they can be released on Fedora.  Let's see what we can do.

[2017-04-21 18:36] chrissimpkins commented on #209
@spotrh :+1: thank you very much for your help!

[2017-04-22 00:18] spstarr commented on #209
From Fedora packaging folks "There is no absolute requirement that fonts be built from source" however this is desirable if we can do it.

Maybe we can do this in phases, for Phase I, ship RPM without building from source, for Phase II, work with Chris on seeing how to build the fonts from source?

[2017-04-22 00:24] spstarr commented on #227
We can build the fonts manually in the .spec I just didn't know since that's not documented. If the DejaVu fonts build is the same for Hack, then Fedora can adapt this in our packaging.

[2017-04-23 03:35] Fandekasp opened #248 "symbols appear too small next to alphanumerical characters"
First off, thank you very much for your hard work, I've been enjoying Hack for more than a year now.

There's something that's been bothering me for a while though, and it's about symbols. While I'd love to write "→" instead of "->" in my files, the → char just appears too small and doesn't look good. Same for ⇒ and any other composed symbol.

I've also just switched my zsh prompt to [Alpharized](

[2017-05-09 17:42] lhutyra opened #249 ""1" glyph rendering on small sizes"
I enjoy using hack font, however I still doesnt like some glyph renderings, especially for number "1"
which look bit strange at small sizes - it is similar to "l" in many fonts.
Is it possible to make it more readable for example like in fira code?
Below comparsion of "1"

![obraz](https://cloud.githubusercontent.com/assets/1809563/25864206/ea3cc836-34ee-11e7-9dfe-264dbf7d295b.png)

![obraz](https

[2017-06-01 17:03] ignatov commented on #35
Hi guys,
I've just forked the Hack repo and created a prototype with several ligatures. Feel free to use it.
https://github.com/ignatov/Haack/
Your feedback is highly appreciated!

[2017-06-03 16:23] chrissimpkins commented on #35
Response to @ignatov by email for request about build technique for Hack font files:

Sergey-

There is not a fully automated process to build Hack.

For ttf files (recommended for use across all platforms), I built with FontLab V as “pre-hinted” ttf build files, then used our ttfautohint based scripted hinting approach that is contained in the following script file:

https://github.com/chrissimpk

[2017-06-05 10:06] ronilaukkarinen commented on #38
Removing all traces of Hack and reinstalling OTF fixed this for me as well. I'm on OS X and Sublime Text 3 ([related tweet](https://twitter.com/rolle/status/868821437892755456)).

OTF version is slightly sharper for some reason. Better, actually.

[2017-06-08 13:09] cvharris commented on #35
I tried out Firacode just to checkout ligatures and, although the ligatures are there and good, they're not great. I have always loved Hack's attention to detail. Can't wait to see the progress @ignatov makes on Haack!

[2017-06-23 18:08] xavier opened #251 "Whitespace rendering issue in Sublime Text 3 (OS X)"
Following up on a [Twitter discussion](https://twitter.com/xavierdefrang/status/877783892605911041).

The apparent problem: whitespaces are not rendered with a fixed width of 1 character.

![hack-whitespace-bug](https://monosnap.com/file/hOR8XMiB5ZYtLXpMdUQ4qi5zAXpsXT.png)

The regression happened a few builds ago, would not be able to pinpoint exactly which one but at time of writing, It's occurr

[2017-06-26 02:14] Yevgnen commented on #200
Hack's cool and awesome except the zeros ...

<img width="448" alt="screen shot 2017-06-26 at 10 14 07 am" src="https://user-images.githubusercontent.com/16749790/27522393-379ce636-5a58-11e7-8d35-7ed5b91fbe75.png">

[2017-06-28 14:15] chrissimpkins commented on #251
Can you confirm that you are using (or seeing this in) a default theme for ST so that we can start without any interference from outside packages?

[2017-06-28 14:20] chrissimpkins commented on #251
Reported in linked thread above re: same issue in Win 10:

It sounds as though the changes included in ST3 dev builds in the last ~ 1.5 months introduced some new white space problems.

Digging through the changelogs to see if we can identify any potential issues.  The fact that it is rendering something other than the middle dot for spaces with Hack and is rendering middle dot for other fonts sug

[2017-06-28 14:26] chrissimpkins commented on #251
Whitespace Changes in ST3 dev builds since 3/2017:

**3132**

- Improved visible whitespace rendering on HiDPI displays

**3133**

- Fixed a visible whitespace regression in 3132

Only changes in that timeframe that I can find.  These builds were in late May/early June and seem to jive with the timeframe that you reported.  Do you know how we might be able to dig into the actual changes that were

[2017-06-28 14:30] xavier commented on #251
I have the same problem if I use the default theme (for the record, I was using `Soda Light 3.sublime-theme` when I took the screenshots).

[2017-06-28 14:32] chrissimpkins commented on #249
Thanks for pointing this out @lhutyra.  Can I ask that you post your platform and the size that you are rendering the font in the images above?  We can explore it at different sizes and see how it is rendered on your platform.

[2017-06-28 14:38] chrissimpkins commented on #248
Unfortunately, I think that this is likely a shortcoming of the fact that this is a fixed width typeface.  There is not a great deal of width to create symbol glyphs in a way that distinguishes them from surrounding glyphs.

For example, if you compare the watch glyph with any of the numerals to the right of it, it is using the same fixed glyph width (I can check but likely to its maximum) in orde

[2017-06-28 14:39] chrissimpkins commented on #251
👍

Unfortunately with a closed source application, I don't know how far we are going to get with this.  I don't know how they are rendering the spacing / glyph selection for spaces.  Dev responsive to questions on the forum?

[2017-06-28 14:40] chrissimpkins commented on #243
Any updates on this?  I do not manage the Fedora releases of Hack.  This is managed by the Fedora community.

[2017-06-28 14:41] chrissimpkins commented on #241
Thanks for the suggestion!  Noted.

[2017-06-28 14:41] chrissimpkins commented on #239
Noted!

[2017-06-28 14:42] chrissimpkins commented on #238
Sorry for the (extended) delay in response.  If you are still using Hack and want to discuss this issue, please let me know.

[2017-06-28 15:02] chrissimpkins commented on #233
Font Bakery analysis includes the following:

_ERROR: OS/2 fsType is a legacy DRM-related field from the 80's and must be zero (disabled) in all fonts. Changes that must be applied to this font: OS/2 fsType from 8 to 0

ERROR: OS/2 usWinAscent & usWinDescent Changes that must be applied to this font: OS/2 usWinAscent from 1901 to 2001 | OS/2 usWinDescent from 483 to 573

ERROR: OS/2 sTypoAscender

[2017-06-28 15:18] xavier commented on #251
I don't know how responsive the developers are on the forum but I [have posted a link to the issue](https://forum.sublimetext.com/t/spacing-in-dev-build-3139/29351) in a thread about this regression which was started less than 24h ago. Lots of Hack users out there! 😄

[2017-06-28 15:41] chrissimpkins commented on #251
Added a comment to that thread.  Will you please update here if any additional information emerges that might highlight the cause of the problem and/or workaround/fixes?

[2017-06-28 15:42] xavier commented on #251
I'll surely do. I can't wait to be able to reuse Hack with ST3.

[2017-06-28 15:43] chrissimpkins commented on #233
@davelab6 side issue, there appears to be a problem with Font Bakery's appspot application and the italic set of our fonts.  All others report results but italic seems to cause problems.  Reported here:

https://github.com/googlefonts/fontbakery/issues/1406

[2017-06-28 15:50] chrissimpkins commented on #251
A couple of initial things that you can test:

- Remove Hack files
- Clear font cache
    - http://osxdaily.com/2015/01/08/clear-font-caches-databases-mac-os-x/
    - http://help.fontshop.com/hc/en-us/articles/202693885-Clearing-your-Font-Cache-in-Mac-OS-X
- Reinstall Hack files

If that doesn't work, can repeat the above process but try the otf builds instead of ttf.

[2017-06-28 15:53] chrissimpkins commented on #227
@spstarr still interest in this?  Any progress?

[2017-06-28 16:01] spstarr commented on #227
Yes interested, just sidetracked in RL, are there any bugs I need to be aware of right now that impact building?

[2017-06-28 16:01] spstarr commented on #227
I will be building today, finally.

[2017-06-28 16:05] chrissimpkins commented on #227
Believe me, this was not a nudge.  I am the last person to do this given my own capacity to attend to the project recently.

No Linux bugs that I am aware of that should cause issues for you

👍  Congrats!

When you have a chance, can I ask you to provide me with how you would like to handle Fedora build associated questions when/if we receive them in this repo?

[2017-06-28 16:08] chrissimpkins commented on #227
@spstarr we should also update the [README](https://github.com/chrissimpkins/Hack#package-managers) with this information when you are ready to go.  For Fedora we currently include the following package manager instructions:

`dnf-plugins-core :: heliocastro/hack-fonts :: hack-fonts`

[2017-06-28 16:11] spstarr commented on #227
Yes, I would like to work with you to ensure we need no custom patches in Fedora, so any new versions you drop, i can build and push in (or see about any automated build/add to rawhide)

[2017-06-28 16:36] chrissimpkins commented on #227
@spstarr you've scripted the build process?  We changed our release directory structure to facilitate releases on a different Linux distro.  Let me know if there is anything that I can do on our end to help you with the Fedora releases.

[2017-06-28 16:43] #229 closed

[2017-06-28 16:47] chrissimpkins commented on #227
Adding this information that was discussed in [another IR](https://github.com/chrissimpkins/Hack/issues/35#issuecomment-305985407) and in [the Haack fork repo](https://github.com/ignatov/Haack/issues/4) re: hinting in the fonts based upon the title of this thread:

For ttf files (recommended for use across all platforms), I built with FontLab V as “pre-hinted” ttf build files, then used our ttfaut

[2017-06-28 17:03] wbond commented on #251
I've had multiple reports that installing the latest version of Hack solves the problem. @xavier have you tried that? I posted more details on our implementation change at https://forum.sublimetext.com/t/spacing-in-dev-build-3139/29351/9.

[2017-06-28 17:24] chrissimpkins commented on #251
Thanks @wbond

It sounds like he is using our latest release version:

[2017-06-28 17:30] chrissimpkins commented on #251
Perhaps a font caching issue either on the OS X platform or in ST3 if you are caching fonts there?

For OS X font caching issues, you can use the clear font cache instructions in the links above ([here](https://github.com/chrissimpkins/Hack/issues/251#issuecomment-311702917)).

@wbond if ST3 caches fonts, is there a way to manually clear the cache after new font installs?

[2017-06-28 17:31] wbond commented on #251
No, we don't cache fonts, but we do cache the glyph in memory for better drawing performance. A restart of Sublime Text would clear that out.

[2017-06-28 17:33] chrissimpkins commented on #251
@wbond that is helpful! Thanks!

@xavier if you are willing to try the OS X font cache clear / reinstall approach above and then reboot your system, we can see if this addresses the problem.

[2017-06-28 17:37] chrissimpkins commented on #251
As a side (but related note since similar issues on Windows were reported in the ST forum thread) font caching problems are notorious on the Win platform.  It is the main reason that we released the Win installer for the fonts because there were numerous issue reports of problems that ended up being the result of conflicts between previous cached versions and newer installs.  The Win installer fon

[2017-06-28 18:00] chrissimpkins commented on #244
Resolved in Trufont repo IR thread https://github.com/trufont/trufont/issues/376.

Will open a new IR in the Hack repo to address the UFO source files based upon this issue.

[2017-06-28 18:00] #244 closed

[2017-06-28 18:03] chrissimpkins opened #252 "Hack UFO source file conversion update"
Issue identified in UFO source by @jeffmcneill and discussed in https://github.com/trufont/trufont/issues/376

_ToDo_:

1. Identify UFO source verification software to determine source validity issues
2. Identify FontLab Studio to UFO conversion script that generates valid UFO source (previously have used vfb2ufo)
3. Is XFO (an extended UFO style text format for font source) going to become a new

[2017-06-28 18:13] chrissimpkins commented on #252
@davelab6 @adrientetar

I see that FontLab Studio VI allows for XFO source in addition to UFO.  Is there a move underway to move towards a new extended UFO format standard?  Is this format currently supported in Trufont, FontForge, or other open source editors?

[2017-06-28 18:16] chrissimpkins commented on #252
_ToDo 1_

From https://github.com/trufont/trufont/issues/376#issuecomment-311742528

[2017-06-28 18:19] chrissimpkins commented on #220
This clearly has not happened yet.  If you are still using Hack, can you provide an update on whether this has changed with releases of Android Studio since the original report?

[2017-06-28 19:12] chrissimpkins commented on #33
PR in https://github.com/chrissimpkins/Hack/pull/234 that is aimed at Linux and Win Powerline glyph users.  Would greatly appreciate your feedback on the test font files there to confirm that there is an improvement in rendering that addresses these issues on those platforms and doesn't create significant new issues on those or OS X.

Thanks!

[2017-06-28 19:28] #222 closed

[2017-06-28 19:29] #232 closed

[2017-06-28 19:35] chrissimpkins commented on #226
U22CA is not included in the Hack sets.  This must be a replacement glyph using a fallback system font that includes it.  The fallback font likely has wider horizontal spacing.  Thanks for pointing it out though!

[2017-06-28 19:35] #226 closed

[2017-06-28 19:39] chrissimpkins commented on #224
Neither of these glyphs are included in the Hack sets.  Feel free to reopen as a request to add them if you have a use source code use case where this would be helpful.

[2017-06-28 19:39] #224 closed

[2017-06-28 19:55] chrissimpkins commented on #223
For the vertical orientation of the braces, likely yes.  Will definitely consider this change for a future release.

For the separated line in the vertical line glyph in the italic set (`|` U007c) this was an intentional design decision suggested by @burodepeper.  The rationale was that when a slant is added to a vertical symbol it can be confused with `/` UOO2f .  While we want the fonts to be ae

[2017-06-28 20:33] burodepeper commented on #223
The vertical alignment of the various brackets is something that needs to be looked into, although it could very well be a hinting issue. I've noticed that the broken pipe (indeed my suggestion) appears a pixel short @13px too.

Your other issues are, as @chrissimpkins mentions, painstakingly debated design decisions, and not implemented purely for visual reasons. But feel free to fork the project

[2017-06-28 20:38] chrissimpkins commented on #223
@burodepeper 👍  good to hear from you David!

I am gearing up for Hack work.  Let me know if you have any free cycles & interest.

[2017-06-28 20:38] burodepeper commented on #223
@chrissimpkins Messaged you on Slack!

[2017-06-28 20:38] nazar-pc commented on #223
I've actually switched to Hack a few months ago eventually, it is good enough to replace DejaVu Sans Mono. Glad to know that vertical alignment is something you'll take a closer look at 👍

[2017-06-28 20:39] burodepeper commented on #223
@nazar-pc Some issues take a while for us to pick up though ; )

[2017-06-28 20:41] nazar-pc commented on #223
I'm also maintaining a few Open Source projects and understand how and why it happens

[2017-06-28 20:41] chrissimpkins commented on #223
@nazar-pc Good to hear that!  Life outside of FLOSS world has taken me away for some time but there is every intent to get back at it soon.

[2017-06-28 23:41] davelab6 commented on #233
@chrissimpkins use the command line at the last release please :)

I don't know what KDE Konsole uses to determine if a font is fixedwidth...

[2017-06-29 00:00] chrissimpkins commented on #233
@davelab6 thanks Dave.  I appreciate your help!

[2017-06-29 00:30] Fandekasp commented on #248
I'm afraid I won't have time to look into see anytime soon, but I'll keep this in my todo-list, thanks for the reply

[2017-06-29 00:39] chrissimpkins commented on #248
No worries.  Feel free to reopen if you want to work on it.

[2017-06-29 00:39] #248 closed

[2017-06-29 05:23] Paviluf commented on #243
I didn't try on Fedora 25 but the repo has not been updated in 8 months. Seem not maintained anymore...

[2017-06-29 05:46] adrientetar commented on #252
XFO is Fontlab only.

[2017-06-29 06:59] xavier commented on #251
@chrissimpkins Removing Hack, clearing the macOS font cache, reinstalling Hack and restarting ST3 did the trick. I can now enjoy my favorite programming typeface again. Thank you so much! 👍

[2017-06-29 06:59] #251 closed

[2017-06-29 11:22] chrissimpkins commented on #251
@xavier fantastic!  enjoy!

[2017-06-29 11:23] chrissimpkins commented on #252
@adrientetar Thank you very much Adrien.  I appreciate it.

[2017-06-29 11:28] chrissimpkins commented on #243
OK thanks for your feedback.  @spstarr is building a new package for Fedora and we will update the README when it is available.

[2017-06-29 11:28] #243 closed

[2017-06-29 14:12] chrissimpkins commented on #246
Following the linked report on Windows bash repo.  Current information from https://github.com/Microsoft/BashOnWindows/issues/1936#issuecomment-295810330 is:

[2017-06-29 14:14] chrissimpkins commented on #200
Fork anyone?  Seems to be a popular request.

[2017-06-29 14:17] chrissimpkins commented on #200
@Yevgnen I would wallpaper my home with that design ;)  I understand, it's not for everyone.

[2017-06-29 14:21] chrissimpkins commented on #200
If there is not interest out there for a new downstream fork, we can consider a branch to support alternates.  Let's see if someone wants to take the initiative to run with it.

[2017-06-29 14:25] chrissimpkins commented on #211
You might check out this fork that supports programming ligatures: https://github.com/ignatov/Haack/

cc: @ignatov

[2017-06-29 14:25] #211 closed

[2017-06-29 14:29] #209 closed

[2017-06-29 14:46] spotrh commented on #209
Is it worth keeping this open until you can do an OFL release?

[2017-06-29 15:01] chrissimpkins commented on #209
@spotrh There will never be a pure OFL release of Hack because the upstream is Bitstream Vera Sans Mono.  The Bitstream license must stay with the fonts.  I have discussed this issue at length with @davelab6 and the SIL team.  From what I can gather we unfortunately reached too deep into the history of font licensing with our upstream and are stuck unless whoever now claims ownership of the Bitstr

[2017-06-29 15:06] spotrh commented on #209
Chris, that makes sense. Thanks for adding clarity.

[2017-06-29 15:07] chrissimpkins commented on #209
@spotrh frustrating.  sorry...

[2017-06-29 18:17] spstarr commented on #227
I started, a little, today more... I'll put up a .spec file on my fedora page hopefully today.

[2017-06-29 18:45] chrissimpkins commented on #227
@spstarr let me know if there is anything you need from us.  Be happy to explain the hinting process if it would be helpful to you.  Thanks Sean.

[2017-06-29 19:13] lhutyra commented on #249
Hi,
Basically I'm experiencing this issue on low font sizes on all my IDEs,
below screen from vscode,sublime,vs studio with sizes: 13(vscode),9(sublime),9(v02k17),10(vs2017)
My system is windows 10, nvidia 560ti. On computer laptop with windows 7 I have same issue.

![obraz](https://user-images.githubusercontent.com/1809563/27705764-32ada2aa-5d0f-11e7-83e6-7b34ff0740d2.png)

[2017-06-29 19:44] chrissimpkins commented on #249
Looks like the top of the glyph is being clipped off for you.  Is that the case compared to the 1 in the image on our README or the font specimen (link at bottom of readme)

[2017-07-01 08:04] Paviluf commented on #243
By the way, if a new package is made for Fedora, I hope it will be integrated in Fedora official repo. There is a  Review Request open :

https://bugzilla.redhat.com/show_bug.cgi?id=1258542

[2017-07-01 11:11] chrissimpkins commented on #243
I believe this is what they are working on. @spstarr is driving this and will be able to fill you in.

[2017-07-01 20:05] iandoug commented on #200
Okay following your request/suggestion I went surfabout.
There's a paper here: [](https://tug.org/TUGboat/tb34-2/tb107bigelow-zero.pdf)
by Charles Bigelow (one of the designers of the Lucida family, and as such knows what he is talking about much more than me.. :-) ) that discusses the issues and makes for interesting reading.

So I started building the Comprehensive Catalogue of Confusing Charact

[2017-07-03 13:06] ralgozino commented on #35
First, let me say that I love the Hack font, Thank you! But lately I've been using Fira Code only for the ligatures. Just came to propose `Hack Code` as the name for the Hack + ligatures font alternative! :wink:

[2017-07-03 13:56] chrissimpkins commented on #35
@ralgozino Thanks for the note Ramiro!  Pinging @ignatov on this.  You can find his fork where he is including programming ligatures here:

https://github.com/ignatov/Haack

[2017-07-03 13:59] chrissimpkins commented on #35
@ignatov Sergey, as a side note we are working on a new build and testing chain for Hack that will be fully scripted to eliminate editor dependencies.  I am hoping that this simplifies contributions here, provides tinkerers with an approach that allows them to mofify fonts for themselves, and that all downstream forks will be able to take advantage of it.  Keep an eye on the repo for updates as we

[2017-07-03 14:04] ignatov commented on #35
That's cool, are you still using FontLab for editing? Is it possible to use an open sourced or at least free editor for contributing?

[2017-07-03 14:40] chrissimpkins commented on #35
@ignatov Yes, I have used FontLab Studio V for most of the editing work in v2.x.  The goal will be to support contributions with any editor that can modify UFO source.  We are creating the build tool chain directly from the UFO source files with libre OS build software.  We are also working on a testing approach with a goal to include a combination of source text file diffs, opentype table error d

[2017-07-03 15:01] chrissimpkins commented on #200
Wow, this is a fantastic analysis @iandoug !  Would you be willing to allow us to add this image to one of our analysis repos in the Source Foundry organization account (or create a new repository) and contributing to the discussion there?  I suspect that @burodepeper would be interested in this as we discuss plans for the v3.x releases of the fonts.  It's interesting to see all of the approaches

[2017-07-03 15:59] iandoug commented on #200
Let me create the new revised version which has a few more (and removed some problematic ones), eventually got all the fonts to display with Calligra (LibreOffice refuses to list some, while AbiWord lists them but the saved file does open with correct fonts in LibreOffice). Exported to PDF from Calligra, will use Gimp to create image from PDF.

[2017-07-03 16:13] iandoug commented on #200
Another off-the-wall idea: the paper I referenced above talks about how a proposal in yesteryear for solving the problem involved a swish through the top of the Cap O.
Which tied in with an idea I've been toying with for the letter Q ... the tail is a problem, since it's basically the only Cap that has a descender (apart from some versions of J). The classic Helvetica-style Q with a short dash avo

[2017-07-03 16:14] chrissimpkins commented on #200
Sounds great.  We began to compile a source code corpora across a variety of programming languages.  Intent was to examine common idioms/code structure in commonly used programming languages.  Perhaps we can use these are source examples with different fonts to examine this issue.

https://github.com/source-foundry/code-corpora

I believe that David (@burodepeper) has at least one repository for a

[2017-07-03 16:17] chrissimpkins commented on #200
RE: https://github.com/chrissimpkins/Hack/issues/200#issuecomment-312685628

Keep the ideas coming!  Let's come up with a structure for discussion and once we have that we will create new issue reports where they can be discussed.

[2017-07-03 18:33] iandoug commented on #200
Revised version of confusing character comparison.  Added a few and removed one or two. Also tweaked the characters compared. Click image for big view (then probably click again for full screen, depending on your browser).
![compare-fonts](https://user-images.githubusercontent.com/12673886/27804341-c3380370-602e-11e7-85cb-e98e549e856a.png)

[2017-07-03 18:34] chrissimpkins commented on #200
👍 👍 👍

[2017-07-03 18:36] chrissimpkins commented on #200
How are you rendering that?  Could use your help in visual rendering testing.

[2017-07-03 18:38] burodepeper commented on #200
I liked how the `8` and `0` were adjacent in the previous version. I had never considered them to be so easily confusable in some typefaces. Anyway, will add some of this info to my analysis docs, if I don't forget.

[2017-07-03 18:49] iandoug commented on #200
Current workflow is create/edit in Calligra, enlarge view to around 1600px across, then do a series of screengrabs which get passed to Gimp and then cut-copy-paste into new image. Bit tedious (11 grabs get combined into 1 long image). Exporting PDF didn't work so well because page size is A4. And somewhere between PDF and Gimp the top few pixels of some rows got cut off. Tried pulling the pages as

[2017-07-03 19:22] chrissimpkins commented on #200
You aware of any approach that might be platform independent for execution but would take into account platform specific rendering?  Would want to be able to see appearance on current / commonly used versions of OS X/Windows/common Linux distro(s)

[2017-07-03 19:57] iandoug commented on #200
Only thing I can think of is a PDF or ODT with embedded fonts but there might be some licence issues with that approach, unfortunately. Which is why I post images rather than PDFs.
Am tweaking the comparison again to do the DO08B Q  letters again. Also adding j to il.
Will only be done tomorrow. Getting late here now :)

[2017-07-03 20:03] chrissimpkins commented on #200
No worries. Thanks!

[2017-07-03 20:45] iandoug commented on #200
I had actually forgotten about the whole different-OS-show-fonts-differently problem ... been on Linux for so long, and they've sorted the font display issues rather well (as opposed to the old days where they had to duplicate MS bugs in TrueType to get things to display properly). But even "Linux" I think is going to have some differences between machines, depending on which software is being use

[2017-07-03 20:55] Ulyssys commented on #200
I imagine that fonts, like most other things, can be displayed for sample/comparison purposes under "fair use" laws. A PDF document comparing each should be just fine.

[2017-07-03 20:56] chrissimpkins commented on #200
The platform / renderer / editor combinations have been a headache.  Nothing is standardized across platforms so you need to do platform specific editing.   Reams of open and closed issue reports for these issues that aren't readily apparent on one's development platform.  We have a workaround for Java renderers which are in some editors (JetBrains uses it and has had some very difficult to troubl

[2017-07-03 22:00] iandoug commented on #200
PDF attached. Some rows have some 'funnies', don't know if this is Calligra's PDF export or issues with fonts (or how the subsets got embedded).
Anyway PDF lets you zoom in nicely.

[compare-fonts.pdf](https://github.com/chrissimpkins/Hack/files/1120620/compare-fonts.pdf)

[2017-07-04 07:32] burodepeper commented on #200
@chrissimpkins Could you do that in a way similar to browserstack.com? Basically visual CI testing. Load up a VM, install typeface, install software, take screenshots.

[2017-07-04 16:13] chrissimpkins commented on #200
@burodepeper don't know of any cross platform rendering tool that would use the native OS font renderer and permit automated capture of the render.   there are Linux / Unix tools like the ones we used on Codeface for the specimens shots.  Probably ones that do something similar on Windows but don't know what they are.

[2017-07-04 16:17] chrissimpkins commented on #200
browsers will use web fonts which are an extension of the build chain so not sure this would be adequate for the desktop fonts...

[2017-07-04 16:18] burodepeper commented on #200
@chrissimpkins But if you have a VM running, couldn't you just take a screenshot of the actual virtual desktop/window? As in, use the OS screenshot feature. That way, you can make a screenshot of anything.

[2017-07-04 18:00] chrissimpkins commented on #200
good question, don't know the answer.  guessing yes that it is possible.  don't have a windows vm

[2017-07-04 19:36] burodepeper commented on #200
@chrissimpkins [These Windows VMs](https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/), intended for testing stuff in horrible browsers, might be worth giving a try.

[2017-07-04 21:11] chrissimpkins commented on #252
Converted with FontLab VI from vfb (v2.020 changes) to new .ufo/.vfb/.vfc files with intent to eliminate all FontLab Studio specific source and transition to UFO as our build source as of v3.0

[2017-07-04 21:11] #252 closed

[2017-07-04 21:56] chrissimpkins opened #253 "v3.0 work in progress/updates thread..."
In preparation for the work on our v3.0 release, we have made the following changes in the `master` branch source directory:

- transitioned the Hack repository to our Source Foundry organization account
- Modified our [source directory](https://github.com/source-foundry/Hack/tree/master/source) filepath structure
- updated the UFO source files with an export from the previous FontLab Studio *.vfb

[2017-07-05 00:06] spstarr commented on #227
@chrissimpkins I'm following all your changes right now I see 3.0 is coming but not yet. I'll have a spec file this week but not against 3.0.

[2017-07-05 00:09] chrissimpkins commented on #227
@spstarr note the change in source structure if you are pulling source for your build.  Once our build chain is in place this may be something you want to convert to.  Part of the goal of this effort so that we offload this from you!

[2017-07-06 13:35] chrissimpkins commented on #253
New ufo diff tool in development:

https://github.com/source-foundry/ufodiff

[2017-07-06 15:02] chrissimpkins commented on #200
@iandoug Ian, I set up the https://github.com/source-foundry/legible repository for this and future discussions about legibility issues in source code text (including Hack specific issues).  Hopefully this will prompt some new ideas for future implementation in Hack and serve as a resource for other design/dev teams out there who are considering similar problems in typeface design for source code.

[2017-07-06 15:16] chrissimpkins commented on #253
New resource:

[legible](https://github.com/source-foundry/legible) - data and discussion about legibility issues in source code text. Goals: (1) general resource for typeface devs who are targeting source code text; (2) prioritization of Hack design changes intended to address legibility issues.

[2017-07-06 15:51] iandoug commented on #200
Okay will upload the PDF there. Have added a few more fonts (basically almost all the ones on your
CodeFace list, plus two more on Wikipedia's list. Was reluctant to add the bitmap ones but did anyway for completeness.

Coincidently read a doc today that said the ideal font size is "about" (their word) 11.5 pt.
So I switched Hack in Kate from 11pt to 11.5pt but can't say I really noticed the diffe

[2017-07-06 15:55] burodepeper commented on #200
@iandoug

That's more about the distance you're from your screen than anything else ;) The smallest size at which a font (on a screen) looks closest as to how it was intended to look is probably either 11 or 13.

[2017-07-06 16:28] chrissimpkins commented on #200
Will plan to split out all open and closed legibility issues from this repo to there for more detailed conversations and to preserve the information in a more easily searchable form.  My thought is that we can use IR's with glyph name (unicode code point ) vs. glyph name (unicode code point) as titles of the IR's.  PR's for anything that we feel warrants addition to the "library" of reference mate

[2017-07-06 16:33] chrissimpkins commented on #200
Also, ideally could develop a systematic approach to font renders as David has brought up in this thread.  While it would not address platform specific issues (and this new repo is intentionally not for that), it might be ideal to develop a systematic way to evaluate font rendering for this type of discussion.

[2017-07-06 16:38] chrissimpkins commented on #200
@Ulyssys Grant, sorry that we hijacked your IR!  Trying to find an approach that helps us to discuss and prioritize suggestions such as yours.  I still like the idea of a fork for the slashed glyph and this could come from us if no one else takes the reins first.  Let us get the machine running with the changes planned for the v3.0 release and then we will discuss again.

[2017-07-06 16:40] chrissimpkins commented on #200
And when I say a slashed zero, I of course mean a very sexy slashed zero glyph.  😄

[2017-07-07 15:29] chrissimpkins commented on #249
Opening this for discussion in https://github.com/source-foundry/legible/issues/1

[2017-07-07 15:33] chrissimpkins commented on #240
Added this suggestion to https://github.com/source-foundry/legible/issues/2 for discussion about legibility issues with the lowercase i shape.   Let's take a look at the issue.

[2017-07-07 15:34] #238 closed

[2017-07-07 15:35] chrissimpkins commented on #235
Apologies for the delay.  Please let me know if you are still using Hack and if this is still a problem for you by reopening the issue report.  Getting back to work on the fonts and attempting an issue report cleanup.

[2017-07-07 15:43] chrissimpkins commented on #233
Closing for lack of response from OP.  Clearly my own fault for lack of response not theirs.  Please feel free to reopen if this is still an issue.

[2017-07-07 15:43] #233 closed

[2017-07-07 15:46] chrissimpkins commented on #223
@nazar-pc Will pick up the conversation with respect to legibility issues involved here:

https://github.com/source-foundry/legible/issues/3

[2017-07-07 15:47] chrissimpkins commented on #221
Noted.  Thanks for the suggestion.

[2017-07-07 15:47] #220 closed

[2017-07-07 15:49] #208 closed

[2017-07-07 15:52] chrissimpkins commented on #200
The zero vs. uppercase legibility discussion thread is now available:

https://github.com/source-foundry/legible/issues/4

[2017-07-07 15:53] #190 closed

[2017-07-07 15:54] #186 closed

[2017-07-07 15:57] c99koder commented on #235
Yes, we're still using Hack and this is still an issue

[2017-07-07 16:02] chrissimpkins commented on #235
Thank you! Are you able to try the ttf builds in your application?  They are the primary font builds and recommended at this stage.  We will likely eliminate the otf builds in future releases because of hinting issues.

[2017-07-07 16:08] #160 closed

[2017-07-07 16:08] rage311 commented on #33
I tested the HackTest4 attachment from PR #234 and it has fixed the issue for me entirely -- both with the agnoster theme in zsh and the powerline (airline, really) in vim.
![anypaste_2017-07-07_10 00 55](https://user-images.githubusercontent.com/4522014/27966340-26c12622-62fc-11e7-9dee-1b5d1c4f6658.png)

My system:
Arch Linux
rxvt-unicode 9.22
freetype 2.8

.Xresources file:
[code]

Please let me

[2017-07-07 16:10] c99koder commented on #235
Yes, I've just rebuilt the app using the TTF files, however the issue is still present.  Attached is a screenshot of the missing ț glyph using the TTF files.
![screen shot 2017-07-07 at 12 09 48 pm](https://user-images.githubusercontent.com/84647/27966441-40d0f4aa-630d-11e7-9a86-e9fba161d210.png)

[2017-07-07 16:12] chrissimpkins commented on #33
👍 👍 👍

@rage311 thank you!  This PR will be merged in the v3.0 release.

cc:  @iamjamestl

Our pleasure!

[2017-07-07 16:16] chrissimpkins commented on #235
First time that I've seen it on iOS.  Thanks for the SS.  Great looking app.

Let me check the character sets.  What language / Unicode character set are you trying to support?

[2017-07-07 16:19] c99koder commented on #235
We use UTF-8 encoding.  The unicode values are in the original report (\u0074\u0326 doesn't render properly, but \u021b which is visually the same character but without using a combining code works fine)

[2017-07-07 16:28] c99koder commented on #235
Just checked my Android device and the issue is there too.  It works fine in Chrome on my Mac, though.

[2017-07-07 16:30] chrissimpkins commented on #235
Understood.  I am trying to understand what languages you are attempting to support with the addition of the glyph to the character sets.  It looks like this is part of Latin extended B https://unicode-table.com/en/blocks/latin-extended-b/

As for the basis of your question, that is digging into platform specific rendering territory that I am not aware of and do not understand for iOS.  This seems

[2017-07-07 16:37] c99koder commented on #235
Ah, the original language was Romanian. It came from a PDF that one of our users had copy/pasted some text from, which led to them reporting the bug to us.

The same issue occurs with ș.  \u0073\u0326 renders using the system font, but \u0219 renders in Hack.

I'm also not familiar with the specifics of iOS and Android font rendering, just passing the bug report along to you :)

[2017-07-07 16:40] chrissimpkins commented on #235
Great, thank you for letting us know!  Yes, I am sure that this is a missing comma below issue and we can consider the addition of these glyphs down the road.  Our top priority has always been optimization/extensions for source code associated issues so this will not fall at the top of the priority list for now but should be a reasonably easy addition.

You will know better than I, but as for work

[2017-07-07 16:42] c99koder commented on #235
Yes, I can replace the characters before rendering text to the screen as a workaround in our app in the meantime

[2017-07-07 16:43] #132 closed

[2017-07-07 16:53] #113 closed

[2017-07-07 16:54] #103 closed

[2017-07-07 17:01] chrissimpkins commented on #235
Sorry, I know it is horrible to need to workaround your font in an application...

[2017-07-10 13:45] c99koder commented on #235
In case anyone else runs into this issue, iOS provides a method to convert decomposed unicode characters to composed characters in a string: https://developer.apple.com/documentation/foundation/nsstring/1412645-precomposedstringwithcanonicalma  The glyphs mentioned above render correctly after being normalized through this method

[2017-07-10 14:26] chrissimpkins commented on #235
:+1: thanks!

[2017-07-12 09:56] paride commented on #253
@chrissimpkins first of all, it's great that you're integrating a command line building workflow. This would permit to ship a downstream "source package" that builds a "binary package", which is the font itself. I'm specifically thinking about how Debian works (as you may remember I'm maintaining the Hack Debian package), but similar concepts surely exist in other distributions or operating system

[2017-07-12 12:23] chrissimpkins commented on #253
@paride Yes, that will definitely be the case.  Hack can and should be used as the name unless the source is modified before the build takes place.  We are trying to standardize the build and QA the fonts built with the approach in a way that can be implemented by all of the Linux distros with FLOSS build tools.  This should result in the same fonts that we intended in the design.  The build proce

[2017-07-17 20:10] chrissimpkins commented on #253
Progress updates on the transition to UFO source and QA process that is in progress:

https://github.com/sf-playground/ufo-curves/issues/4

[2017-07-17 20:15] chrissimpkins opened #254 "Update features.fea with superscript corrections"
For errors in new UFO source files

[2017-07-19 14:44] chrissimpkins opened #255 "Downstream / distribution preparation for repository transition to Source Foundry organization"
We intend to transition the Hack repository to our [Source Foundry organization](https://github.com/source-foundry) in order to facilitate collaboration by the development team.

This is a request for all downstream projects and primary contacts for font distribution to weigh in on the impact that this will have on your current approach / the time that may be required to address this on your end b

[2017-07-19 14:58] paride commented on #255
Thanks @chrissimpkins for the work being done and for letting us know about the ongoing changes. My plan for the Debian package is start over taking into account the fact that now the font can be built from source, so there will be a proper source package, a build process, and a binary package. Sure it will get more complex, but I think it's worth the effort and will consolidate Hack's position as

[2017-07-19 15:02] chrissimpkins commented on #255
Let me look into this and let you know Paride.

We intend to transfer the repository for work prior to the v3.0 release at which time build tools will be available to you.  Will this disrupt your current distribution approach?

[2017-07-19 15:04] chrissimpkins commented on #255
@paride are there are any individuals associated with the Debian project who might be able to provide legal advice?  I've approached the SIL team for assistance with this licensing quagmire and while helpful it was not of top priority for them...

[2017-07-19 15:08] paride commented on #255
@chrissimpkins There won't be any disruption, no problem for the change on my side.

On the licensing issue I'll ask and let you know.

[2017-07-19 15:18] chrissimpkins commented on #255
Thanks!  The intent on our end is absolutely not to disrupt your ability to release the fonts in this way.  If the legal language in the license suggests otherwise I am very open to modifications so that you can build directly from the source using our build approach.  The goal with the Hack reserved name has simply been to preserve our team's QA process on the fonts released with the name "Hack"

[2017-07-19 15:28] chrissimpkins commented on #255
@paride you are listed as a maintainer of the Ubuntu package as well.  Can I assume that the above applies on that distro too?

[2017-07-19 15:42] amadio commented on #255
There should be no problem for Gentoo either.

[2017-07-19 15:44] paride commented on #255
@chrissimpkins Ubuntu inherits the package from Debian, so the short answer is yes.

Anyway in this case the limitation is given by Hack's license. If the license forbids the distribution of rebuilt versions, with no exception, there's nothing we can do. (Of course we will keep distributing the officially built version, but we'll all miss an opportunity I think.)

I think the right compromise coul

[2017-07-19 16:02] spstarr commented on #255
@chrissimpkins No issues with this at all

[2017-07-19 17:26] chrissimpkins commented on #255
@amadio ty!

@spstarr ty! have you and @heliocastro spoken about the new package on Fedora?  He currently maintains `dnf-plugins-core :: heliocastro/hack-fonts :: hack-fonts`.  Should this be deprecated in favor of what you are working on once it is available?

@paride that all sounds great.  If you wouldn't mind putting me in touch with the legal team there, I can make sure that we have the langu

[2017-07-20 19:50] chrissimpkins commented on #255
I reached out to the manager of the Chocolatey package through the Chocolatey page for Hack fonts.  Await reply.

https://chocolatey.org/packages/hackfont

[2017-07-21 12:28] giannitm commented on #255
I don't think this will be an issue for Homebrew-Cask, but pinging @vitorgalvao just to confirm this.

[2017-07-21 12:58] chrissimpkins commented on #255
@giannitm thank you!  Please note that we will be switching to ttf files as our default release and plan to eliminate the otf builds.  This may require a slight modification in the Homebrew scripts.  We will have updated documentation on this as we get closer to the first v3 release.

[2017-07-21 13:48] vitorgalvao commented on #255
Thank you for the heads up and the ping. @giannitm is correct: regarding Homebrew-Cask, the disruption should be minimal. A few tweaks to the new URLs/fonts, and we should be good to go.

[2017-07-21 13:51] chrissimpkins commented on #255
@vitorgalvao :+1: thanks!!

[2017-07-21 21:07] ShadowZero3000 commented on #255
Hey @chrissimpkins! Thanks for the heads-up on your planned changes. At the moment the Chocolatey installer for Hack runs the equivalent of a `curl` against the url: `https://github.com/chrissimpkins/Hack/releases/download/v${version}`. It sounds like this will continue to operate for now, and ideally I can just update the url as soon as you go live with the transition, and it should be transparen

[2017-07-21 21:11] chrissimpkins commented on #255
@ShadowZero3000 will do! thank you very much for letting us know!

[2017-07-24 07:53] cglogic opened #256 ""u" glyph rendering in terminal with size=14 is incorrect"
On rxvt-unicode and xterm terminal emulators. It seems to 'u' glyph with size=14 be smaller than other 14 glyphs.

I have this setting in .Xdefaults:
`URxvt*font: xft:Hack:size=14`
If I replace this string with:
`URxvt*font: xft:Hack:pixelsize=19`
'u' glyph is normal.

Size 12:
![12](https://user-images.githubusercontent.com/14204812/28513165-aed056a0-705d-11e7-8123-b8aa2c750e90.png)
Size 13:
![13

[2017-07-24 13:51] chrissimpkins commented on #256
Thanks for the report!  I believe that we have seen a report on this for our OTF releases in the past.  Can you confirm the version of Hack and the build extension (otf/ttf) that you are using along with your current platform?

[2017-07-24 16:57] cglogic commented on #256
Thank you for quick answer and your work on this font.

You are right, I am using version 2.020 and otf extension.

[2017-07-24 17:14] chrissimpkins commented on #256
Mind attempting a switch to the ttf releases with a clear of your font cache?  This should fix it.  Our hints are not ideal in the otf versions.  We are planning to drop them altogether and release ttf only as of the upcoming v3.0 release.

[2017-07-25 06:27] cglogic commented on #256
Switching to ttf release fixed this. Thanks!

[2017-07-25 10:56] chrissimpkins commented on #256
Great!

[2017-07-25 10:56] #256 closed

[2017-07-28 11:14] habamax commented on #240
pls, do not do it fatter. Or at least do not do 'regular' font fatter. Thx.

[2017-07-28 11:37] chrissimpkins commented on #240
@habamax thanks for the feedback

[2017-07-28 16:59] paride commented on #255
Dear @chrissimpkins, could you let us know something more about the web fonts? What will be eliminated?

[2017-07-28 18:17] chrissimpkins commented on #255
@paride haven't reached that stage of the build yet.   Will let you know when I am there.   We will likely replicate the sets released for the Google Fonts project.

[2017-07-28 21:38] jonassmedegaard commented on #255
@chrissimpkins The best place to ask in Debian is the public mailinglist debian-legal@lists.debian.org - subscribed to that list are not lawyers but experienced with legalese and how it commonly fits Debian Free Software Guidelines (DFSG).

[2017-07-28 21:45] chrissimpkins commented on #255
@jonassmedegaard Perfect! Thank you very much Jonas.  I will.

[2017-08-03 02:09] chrissimpkins commented on #253
[ufolint](https://github.com/source-foundry/ufolint) - UFO source file linter (for CI testing)

[2017-08-04 13:36] pmetzger opened #257 "Confusability of ∨ and v."
∨ (logical or) and v (the roman lower case letter) look very similar. When programming in Agda, Coq and similar languages, this can be a problem. Perhaps logical and (∧) and logical or (∨) could get a higher base height, being operators rather than letters? If they were centered vertically it could help quite a bit.

[2017-08-04 13:54] chrissimpkins commented on #257
Thank you very much for the report.  We are looking into many similar issues for fixes in the fonts.  Can I ask you to post this concern on the legible repository and include the Unicode code points for the glyphs of concern?

https://github.com/source-foundry/legible/issues

[2017-08-04 14:07] pmetzger commented on #257
I do not understand what the "legible" repository is for. Could someone expand the README?

[2017-08-04 14:25] chrissimpkins commented on #257
We won't close this issue report.  It is important that it stays open here so that I can keep track of the issues that are felt to be problematic for the Hack fonts.  Legible is intended to hold a general conversation about these issues in a non-font specific manner with evaluation of approaches used in other typefaces so that we can try to prioritize (for source code) and get to the root of the l

[2017-08-04 14:27] pmetzger commented on #257
I'm happy to leave a note there as well if you tell me what it should consist of.

[2017-08-04 14:33] chrissimpkins commented on #257
Use a separate issue report for separate glyph combinations of concern and use a title formatted as follows (see others currently in repo):

`glyph 1 (unicode code point) vs. glyph 2 (unicode code point)`

In the issue report, expand on the problem as you see it, the font size that you are using to appreciate the problem, the platform and application that you are using (this points to the renderer

[2017-08-10 21:12] chrissimpkins commented on #253
New UFO source has been validated with a scripted build approach by @burodepeper and I.  The new UFO source is available in the master branch source directory.

[2017-08-10 21:20] chrissimpkins opened #258 "v3.0 hinting update requirements - Regular set"
- [x] `#` @ 13 (ID 582)
- [x] `%` @ 10, 14 (ID 761)
- [x] `+` @ 12, 13 (ID 764)
- [x] `0` @ 8, 12, 13, 14 (ID 548)

[2017-08-10 21:21] chrissimpkins opened #259 "Hack-Italic U+0025 hint updates (percent, glyph ID 750)"
- [x] `%` @ 10 (ID 750)
- [x] `%` @ 14
- [x] `%` @ 11

[2017-08-10 21:21] chrissimpkins opened #260 "v3.0 hinting update requirements - Bold set"
- [x] `!` @ 14 (ID 580)
- [x] `%` @ 10, 11, 14 (ID 762)
- [x] `+` @ 10, 11 (ID 765)
- [x] `8` @ 12, 13, 14 (ID 556)

[2017-08-10 21:22] chrissimpkins opened #261 "v3.0 hinting update requirements - BoldItalic set"
- [x] `+` @ 10, 11  (ID 751)

[2017-08-10 21:24] chrissimpkins commented on #253
New v3.0 release specific IR threads are being created now as work takes place on the release

[2017-08-11 01:18] spstarr commented on #253
I am following progress right now.

[2017-08-11 03:35] chrissimpkins commented on #257
added

https://github.com/source-foundry/legible/issues/19

[2017-08-11 03:41] chrissimpkins commented on #255
Transition to the Source Foundry organization account has taken place.  Please check your distributions to confirm that the forwarding URL links work.

Thanks to all for your help with the repo transition!  Dependencies and scripted builds will be coming soon.  More news in this thread when they are available for testing.

[2017-08-11 03:52] chrissimpkins opened #262 "Contributing to the Hack typeface - create documentation"
- [x] design philosophy
- [x] design optimization targets
- [x] documentation for issue reporters
- [x] documentation for code contributors

[2017-08-11 03:53] chrissimpkins commented on #262
initial draft of design philosophy and optimization targets is available in the `contributing-docs` branch:

https://github.com/source-foundry/Hack/blob/contributing-docs/CONTRIBUTING.md

[2017-08-11 04:05] chrissimpkins opened #263 "Add Travis CI testing support for all UFO commits/PR with ufolint"

[2017-08-11 04:18] chrissimpkins commented on #263
complete with new .travis.yml settings file and badge on README in commit https://github.com/source-foundry/Hack/commit/ff01ce509c343ea3aeccd7e8c69bf8f8ce04b6fa

[2017-08-11 04:18] #263 closed

[2017-08-11 04:19] chrissimpkins commented on #263
CI testing results are available here:

https://travis-ci.org/source-foundry/Hack

[2017-08-11 13:41] chrissimpkins commented on #206
Closing as we are moving away from otf releases.  Hack will focus on ttf builds of fonts

[2017-08-11 13:41] #206 closed

[2017-08-11 13:49] chrissimpkins commented on #227
@spstarr OK if I hijack this thread to use for the general build toolchain conversation?  Happy to create a new one if you want this to be Fedora specific.

[2017-08-11 14:16] chrissimpkins commented on #200
v3.0 will include an extremely simple approach to re-design and replace glyphs in the Hack sets with alternates designed by anyone.   One of the primary goals of the new UFO only source and build tooling is to make it much easier to modify Hack as a base font design for forks that serve other needs/have other design priorities with open source tools (only).

This would address the issue of a la ca

[2017-08-11 14:24] chrissimpkins commented on #253
We are working on a clear set of design objectives for the fonts along with detailed documentation for issue reporters and potential project contributors (of source code).

See #262

[2017-08-11 16:00] spstarr commented on #227
No problem this is fine

[2017-08-11 16:20] chrissimpkins commented on #227
@spstarr great thanks.  more updates re build chain coming this weekend

[2017-08-13 02:01] chrissimpkins commented on #227
build dependencies will include Python 2.7 or Python 3.5+

[2017-08-13 02:20] chrissimpkins commented on #227
desktop ttf file build dependencies will include:

- fontmake (Python, available on PyPI `pip install fontmake`)
- ttfautohint v1.6+ (C, https://www.freetype.org/ttfautohint/)

[2017-08-13 02:29] chrissimpkins commented on #255
Discussion about the source build toolchain components and necessary dependencies will take place in the previous issue report:

https://github.com/source-foundry/Hack/issues/227

Outstanding issues in this thread include the license discussion for the Debian project (and other interested parties who have the same concerns) and any issues that developed as a result of the repository move to our or

[2017-08-13 02:37] chrissimpkins commented on #227
New functionality was introduced in ttfautohint 1.6 that we will be using in our manual hints.  v1.6+ will be mandatory for ttfautohint.  fontmake does not necessarily need to be pinned to the current version at this stage.  I will keep an eye on the fontmake project changes and update if they introduce something that we anticipate to break our builds in some fashion.

[2017-08-13 16:46] mavit opened #264 "Specimen link gives 404"
The website https://sourcefoundry.org/hack/ has a link "Specimen" in the top bar which points to https://chrissimpkins.github.io/Hack/font-specimen.html.  However, this page gives a 404 page not found error.  The correct destination appears to be https://source-foundry.github.io/Hack/font-specimen.html.

[2017-08-13 23:35] chrissimpkins commented on #227
@spstarr @paride

Sean and Paride,

I added a new `build.sh` script in the top level of the repository that currently builds unhinted ttf files from the UFO source.  It includes a `--install-dependencies` flag to install the build dependencies in an optional fashion.  Would the two of you be willing to have a look at this script and see if this dependency management is appropriate for your purpose