[2015-10-24 13:00] chrissimpkins commented on #131
@jublo Looks great JM.  I really like the design that you and David landed on.  The only issue that I see is that the size, language, syntax highlighting defaults do not show up on the initial page load and they don't appear to change/display when you make changes in the dropdowns.

Let's see what David has to say.

[2015-10-24 13:03] chrissimpkins commented on #131
Here is what I am seeing with a size and highlighting change:

![playground](https://cloud.githubusercontent.com/assets/4249591/10710567/12071b32-7a2e-11e5-90ef-e5cee7643553.png)

[2015-10-24 13:58] burodepeper commented on #131
Looks better to me now (only done a quick scan). As I've said in Slack, I think the web-app in itself needs some rethinking, but for now, it is better than good enough.

@jublo What do you think of the changes yourself? Do you agree with them?

[2015-10-24 13:59] jublo commented on #131
Yes, I agree with them.  Let’s note that there is room for improvement, but I assume this will best serve many users in its current state (including mobile ones, since I coded it responsively).

[2015-10-24 14:00] burodepeper commented on #131
Ok, let's publish the beast then, unless there are crossbrowser quirks.

[2015-10-24 14:00] jublo commented on #131
Running a cross browser scan now.

[2015-10-25 10:56] jublo commented on #131
@chrissimpkins Good to go, works fine in all browsers, except for IE9 and below.

@burodepeper also provided a better default sample code, see a preview here: http://sf-playground.github.io/sforg/hack/playground.html

[2015-10-25 13:06] chrissimpkins commented on #131
:+1: merging today

[2015-10-25 13:50] jublo commented on #134
@edmz What about http://www.fileformat.info/info/unicode/char/244a/index.htm for `\\`?

[2015-10-25 14:23] jublo commented on #134
@edmz @burodepeper Hack-*Regular* currently supports these characters already:

![](https://cloud.githubusercontent.com/assets/6348321/10716072/4edd5f54-7b2c-11e5-9df7-a7d827aa1594.png)

The other 8 are not included at the moment.

[2015-10-25 14:26] jublo commented on #134
And in case you meant 2264 ≤ instead of 2266 ≦, `lessequal` is already supported, too.

[2015-10-25 14:31] edmz commented on #134
@jublo great suggestion, I failed at finding that

On Sunday, 25 October 2015, Jublo <notifications@github.com> wrote:

--
Eduardo

[2015-10-26 12:21] Grimy opened #139 "The underscore is too low"
Hack’s `_` is way too low. This was already mentioned in #103 and is also linked to #100.

As I understand it, the core of the issue is that “Hack is designed such that underscores appear on the top-most pixels of the next line down.” (quote taken from #100). This supports the historical use of underscores as a way to underline text, but looks visually jarring in `snake_case`, and causes issues in

[2015-10-26 12:43] burodepeper commented on #139
Hi @Grimy,
We are currently looking into the usability of Hack, especially the ascii-charset, so the underscore will get the love it deserves. Could you post some screenshots of the issues you mention? That would help us a lot. Thanks!

[2015-10-26 13:29] Grimy commented on #139
Here is an example of the “thin gray line” behavior, where it looks like only the anti-aliased edge is rendered:

![result](https://cloud.githubusercontent.com/assets/3199732/10729997/76dc9f30-7bed-11e5-9889-c2cea14997cd.png)

This is the text "_p_" with the following xterm config:

    xterm*faceName: Hack
    *faceSize: 15
    *foreground: white
    *background: black
    Xft.antialias:    1

[2015-10-26 13:38] burodepeper commented on #139
That indeed is a thin gray line. It isn't even visible in my Chrome, but Photoshop helps. This is indeed unacceptable, but it seems that the character is simply cut off. The underscore itself is positioned fully inside the glyph-box so it should be visible. I am unfamiliar with xterm, but could you see what happens if you define a line-height of 1.25 or greater?

See the picture attached; this is

[2015-10-26 13:51] Grimy commented on #139
In xterm’s config, line-height is called “scaleHeight”. As I said in my opening post, setting “scaleHeight” to 1.05 or greater makes the underscore fully visible, but it is still unpleasantly low. Here’s how it looks:

![_p_](https://cloud.githubusercontent.com/assets/3199732/10730501/a0867b8c-7bf0-11e5-8073-2b559c024295.png)

I just noticed that I am using an old version of Hack: 552df98 (29 Aug)

[2015-10-26 13:52] burodepeper commented on #139
Yes, please update. : )
I believe all vertical metrics have been corrected in one the latest releases.

[2015-10-26 13:58] Grimy commented on #139
The problem is not present in Hack-v2_015-ttf. Sorry for the false alert!

I’ll close this issue, thanks for your attention (=

[2015-10-26 13:58] #139 closed

[2015-10-26 13:59] burodepeper commented on #139
Not a problem! Have a nice day.

[2015-10-27 01:44] chrissimpkins commented on #116
@llimllib This feature is now available on the Font Playground at https://sourcefoundry.org/hack/playground.html

Click the compare side-by-side button in the top right corner to access the feature.

Kudos to @jublo for the development effort and @burodepeper for input that led to the current design.   Let us know if you have any feedback once you give it a try.

[2015-10-27 03:42] llimllib commented on #116
That's great! You all rock.

I've been using hack for the last two weeks, and couldn't be happier.

[2015-10-27 03:52] chrissimpkins commented on #116
@llimllib We love to hear comments like that Bill.  I'm really glad that it is working for you.  Stay tuned.  We have a number of improvements in the pipeline and will be interested in your feedback.

[2015-10-27 09:43] jublo commented on #131
@chrissimpkins Should be closed.

[2015-10-27 10:28] #131 closed

[2015-10-27 10:29] chrissimpkins commented on #131
@jublo thanks

[2015-10-27 15:42] veeven commented on #116
How about a flip-flopping between two typefaces? For when side-by-side comparison isn't enough. Here is [something quick](http://webcraft.veeven.com/zmisc/flip-flop/) I've put together. This way, finer things can be observed and appreciated.

[2015-10-27 17:33] jublo commented on #116
@veeven I can think of two ways to set this up:

Either flip-flop one of the comparison editors, while leaving the other,
or swapping the fonts selected for both editors.

What do you think?

[2015-10-27 17:53] ciscorucinski commented on #130
@chrissimpkins the look of the + is very similar to what I was seeing earlier when we were on ChrisRM's issue thread. In the picture, the symbols are spaced out, and is harder to see, so I have a magnified version.

And just to restate, using ChrisRM's theme, on font sizes 7 - 11, the top bar of the = sign is missing. I have not tested size 6. But this last thing could be a different issue.
.
![ma

[2015-10-27 18:16] chrissimpkins commented on #116
@veeven Must admit I am a flip-flopping fan.  I like that approach.  @jublo would it be possible to just put a toggle button on the right sided editor so that you can toggle back and forth with the left sided typeface setting?  It's interesting to see the different attributes of the faces that become apparent with each of these comparison approaches (vertical, horizontal, toggled).

Yet another us

[2015-10-27 18:17] jublo commented on #116
@chrissimpkins Yes, it would.

[2015-10-27 18:19] chrissimpkins commented on #130
@ciscorucinski queued up to investigate.  Can you remind me of your platform and the editor where you are seeing these issues?  Is this still a JetBrains editor? If so, which one and which version?  When we discussed this last night you told me that you are using Hack v2.015.  Please let me know if this has changed as well.

Thanks

[2015-10-27 18:29] chrissimpkins commented on #116
@jublo Let's see what @veeven thinks, but my thought is that you don't need to go the extreme of swapping editor windows or changing font settings in both editors.  The same information should be gained with a single toggle switch in one of the comparison editors and I suspect that this would be a simpler approach from a development standpoint.

[2015-10-27 18:41] jublo commented on #116
@chrissimpkins @veeven
Please take a look at http://sf-playground.github.io/sforg/hack/playground.html.

![](https://cloud.githubusercontent.com/assets/6348321/10768693/a941f6c8-7ce2-11e5-8447-a7d0019f2c63.png)

[2015-10-27 18:46] ciscorucinski commented on #130
OK, I noticed that the displayed text is different if the text is a `comment` or `code`

Check this video out here - http://tinypic.com/player.php?v=2zhikbt%3E&s=8#.Vi_D6fkrLIU

I was going to test of all font sizes from 6 - 14, but noticed this strange behavior.

The video shows...

On Windows 10
Using Android Studio 1.5 Preview
Hack v2.015
ChrisRM's JB Material Theme
ChrisRM's color scheme

I am

[2015-10-27 18:51] ciscorucinski commented on #130
Before I had noted that for the = symbol...

This issue with the top bar disappearing was only seen when using JB Material Theme in Java, C/C++, and Groovy with font sizes 11 and below. Places like XML, HTML, JSON, etc. didn't have this issue at all.

However, I have just come to realize that within Java, the comments with font size 11 DO show the = symbol correctly.

[2015-10-28 02:46] chrissimpkins commented on #116
Merged to production site.  @veeven let us know what you think.

[2015-10-28 09:22] veeven commented on #116
@jublo @chrissimpkins
It's good. However, I found change happening two windows is distracting. I prefer single window for flip-flopping.

Thinking more about the design of the page itself, an alternative approach seems better. Basic idea is have a big editor area and a right side panel of options. Something like below:

[code]

The only difference is that typefaces are listed out for direct select

[2015-10-28 09:56] burodepeper commented on #116
First of all, @veeven, thanks for your input.

I think the tool is more than sufficient for the time being. We already have the intention to redesign the tool from the ground up. Besides that, it isn't part of our current primary focus, so 'good enough' really is 'good enough' at the moment. At least, that's my opinion.

As for the future:
There are various scenarios in which a user would use this

[2015-10-28 23:23] chrissimpkins commented on #130
This `+` symbol issue appears to be a hinting problem.  I found the it at the sizes reported here and we will address it in an upcoming release.  Thank you very much for reporting it!

[2015-10-29 00:34] chrissimpkins commented on #130
Would it be possible to check whether you are seeing this in the bold, italic, and bold italic sets as well?

[2015-10-29 10:53] stompychump commented on #130
Yes, I am seeing it in all sets:

![plus_styles](https://cloud.githubusercontent.com/assets/15165230/10816440/99fe9600-7e11-11e5-9bee-5496da724be4.png)

The above is v2.015 TTF, Windows 7, Sublime Text 2, size 8, directwrite.

[2015-10-29 12:20] chrissimpkins commented on #130
Thank you very much.  This is helpful @stompychump .  I am going to try to get this fix in with the next release.  Hope to have it out ~ this weekend.  Will update here.

[2015-10-29 12:21] chrissimpkins commented on #130
@ciscorucinski Christopher, do you mind opening a separate issue report for the `=` glyph issues that you are seeing?  Have you received any feedback from the developer of the highlighter?

[2015-10-29 13:39] ciscorucinski commented on #130
@chrissimpkins Yes, I can do that. I have not recieved feedback from ChrisRM yet. He has been gone for over a week.

[2015-10-29 13:53] chrissimpkins commented on #130
@ciscorucinski thank you.  Let's see what he has to say before we take on that issue.  The behavior suggests that there may be a highlighter specific issue and I will likely need input from him to see if there is something to fix on our end.

[2015-10-29 14:44] ciscorucinski opened #140 "Equals bar ( = ) missing top bar | weight 11 down |"
**Environment:**
    Windows 10
    Android Studio 1.5 Preview

**Customizations:**
    Chris Simpkin's Hack Typeface v2.015
    [ChrisRM's JetBrain Material Theme](https://github.com/ChrisRM/material-theme-jetbrains)
    [ChrisRM's Material Color Scheme](https://github.com/ChrisRM/material-theme-jetbrains)
    [Chris Rucinski's Material Color Scheme ](https://github.com/ciscorucinski/ChroMATERIAL

[2015-10-29 14:54] ciscorucinski commented on #140
CC: @ChrisRM

[2015-10-29 15:05] ciscorucinski commented on #140
@chrissimpkins I just did some testing of bold and italics.

It seems like this is an issue with your `Bold` and `Bold-italics` type set.

**Both ChrisRM's and My operators were rendered to be bold.**

Operator Rendering Tests:

| Bold | Italics | Renders?|
| --- | --- | --- |
| No | No | Good |
| No | Yes | Good |
| **Yes** | No | **No top bar** |
| **Yes** | Yes | **No top bar** |

[2015-10-29 15:57] chrissimpkins commented on #140
We've seen some odd issues with the Java renderer in JetBrains editors.  Sorry for the troubles and thanks for all of your work to address the problem.  I uninstalled Flash so I can't view the video, but my understanding from your description is that when it is rendered as code and there are both regular set and bold/bold-italic elements in the **same line of text** then you see a missing top stro

[2015-10-29 15:58] chrissimpkins commented on #140
And that this is a text size dependent phenomenon that occurs at some but not at all text sizes?

[2015-10-29 16:25] ciscorucinski opened #141 "{} and + shift up/down between regular and italics"
![output_jxcuoz](https://cloud.githubusercontent.com/assets/8707125/10824496/fee273e2-7ea3-11e5-93d3-5ce7bf4f4c80.gif)

Check out line 437 in the picture

I am switching between regular and italic comments. On line 437, you can see `{ }` and `+` shift up and down. That should not happen with italics. I don't see any other issues with shifts up and down.

This also seems to happen with all font siz

[2015-10-29 16:32] ciscorucinski commented on #140
Yes, this is text size dependent.

I have tested sizes 7, 8, 9, 10, 11, 12, 13, and 14. This issue occurs with size size 11 and below.

[2015-10-29 16:36] chrissimpkins commented on #140
Can you also confirm that it only happens with the `=` symbol when you have a combination of regular and another bold weight/slant variant on the same line?

[2015-10-29 16:38] chrissimpkins commented on #141
Will you also try this in a non Jetbrains editor?  In some of their editors, they implement their own obliques from the regular set rather than using the oblique/italic set.  I think that we fixed this issue with the name change and it does not appear to be a factor here because that looks like the proper Hack oblique slant, but let's be sure.

[2015-10-29 16:39] chrissimpkins commented on #141
The jumping `+` is a hinting problem and we are addressing that in #138.

[2015-10-29 16:51] ciscorucinski commented on #140
This occurs when the `=` is on its own line or when `=` is sharing a line with other styles

[2015-10-29 16:59] chrissimpkins commented on #141
The `{` + `}` are aligned in different vertical positions in the design.

<img width="788" alt="braces" src="https://cloud.githubusercontent.com/assets/4249591/10825280/bcfce5ca-7e3a-11e5-954b-a4af0f7c8f76.png">

This isn't something that I've noticed previously.  Thanks for submitting this issue report.  The oblique variants do appear a bit low in the box vs. the adjacent glyphs (see small text i

[2015-10-29 17:23] ciscorucinski commented on #141
what do you mean source type? Languages?

[2015-10-29 17:28] chrissimpkins commented on #141
Yes, sorry - what programming language(s) are you using.  We are looking at several of the most commonly used as our initial optimization targets.  The punctuation glyphs are used in a different fashion across languages (e.g. {} define code blocks in JS, C, used for Python dictionaries) and this is all being taken into consideration.

[2015-10-29 17:30] chrissimpkins commented on #140
@ciscorucinski got it.  Thank you!

[2015-10-29 17:36] ciscorucinski commented on #141
I normally use Java (Android developement), but also use C#.

Usually the brackets are kind of separated from text, but I usually have single-line methods that are short enough.

Personally, with customizations allowed in some IDEs, I feel like the they should share the same baseline. You never know what a person would like, and if these could cause them to look not so great.

[2015-10-29 17:40] ciscorucinski commented on #141
I have my current scope braces use bold style, and all other braces use regular style.

I noticed that the `{ }` seem to have the same baseline, but the bold braces are smaller in height. Same with bold-italics.

I will do more testing to verify this.

[2015-10-29 17:51] ciscorucinski commented on #141
Regular vs. Bold style. I see there are more issues here.
![output_m0bv2l](https://cloud.githubusercontent.com/assets/8707125/10827188/e5bcc77a-7eb0-11e5-84b8-c315050a1b17.gif)

[2015-10-29 17:57] ciscorucinski commented on #141
different sizes do cause extra issues.

For example, in size 12, the tilda (~) does not move like it does in size 10. However, in size 12, the underbar (_) moves down compared to its position in size 10.

There are more issues, just giving examples.

[2015-10-29 17:59] chrissimpkins commented on #141
I am going to put you in touch with @burodepeper as well.  I think that the two of you will find common ground in these conversations and he is leading the usability work that will provide the basis for the changes that I mentioned.  Let's keep this conversation going.

[2015-10-29 18:30] ciscorucinski opened #142 "Non-italic characters within the italic set"
![output_jxcuoz](https://cloud.githubusercontent.com/assets/8707125/10828021/7f96c27a-7eb5-11e5-888c-29f27726ff29.gif)

Look at line 442. These are all the characters that don't have an italic alternative. There are some that I believe shouldn't (or should have a very small change) like the horizontal bar. But it seems like most of them could be italicized. Even something like the `=`; add an extr

[2015-10-29 18:46] ciscorucinski commented on #140
For a visual - https://github.com/chrissimpkins/Hack/issues/141#issuecomment-152264410

[2015-10-29 21:54] chrissimpkins opened #143 "Create a Unicode character range/point testing tool for Hack + other fonts"

[2015-10-29 21:57] chrissimpkins commented on #143
In progress
@jublo is leading this effort

[2015-10-30 09:19] burodepeper commented on #142
Thanks for reporting. We'll take this into consideration.

[2015-10-30 09:22] jublo commented on #142
@burodepeper Look at line 439 how the curly braces jump up and down.

[2015-10-30 09:23] burodepeper commented on #142
@jublo see #141

[2015-10-30 09:24] jublo commented on #142
@burodepeper OK thanks. Hadn't checked back with the issue list.

[2015-10-30 09:48] ciscorucinski commented on #141
@burodepeper if you want me to do other animated gifs with other styles, then let me know

While I didn't do extensive tests on either from `regular` to `bold or italics`, it seems like the italics issues are font-size independent. However, the bold issues are font-size dependent.

A few more tests will have to be done to see if the italic issues are actually font-size dependent

[2015-10-30 09:58] burodepeper commented on #141
@ciscorucinski Hey! First of all, thanks for your effort so far.

I think I have enough information for now to go on. My main focus is currently on `regular`, and any changes there will flow back/forward into italic/bold. Strange enough, I've never noticed the misalignment of the curly braces before, even though I stare at them most of the day.

I'll let you know when we have an update for you to

[2015-10-30 09:59] chrissimpkins commented on #141
@burodepeper @ciscorucinski :+1:

[2015-10-30 10:15] ciscorucinski commented on #141
Glad to help. I will wait for that update.

[2015-10-30 12:47] stefan-kern opened #144 "Ligatures like monoid, hasklig, fira code (=>, !=, ++,..)"
Hasklig: https://github.com/i-tu/Hasklig
Monoid: https://github.com/larsenwork/monoid
FiraCode: https://github.com/tonsky/FiraCode

all of those fonts come with ligatures for the most common programming operators like:
<* <*> <+> <$> *** <|> !! || === ==> <<< >>> <> +++ <- -> => >> << >>= =<< .. ... :: -< >- -<< >>- ++ /= ==

since hack aims to be a code typeface it might be a good idea to include

[2015-10-30 15:38] dkerzig commented on #144
+1

[2015-10-31 08:01] jpluimers opened #145 "Hack hinting for horizontal stems broken when connecting over Remote Desktop connections."
Hinting of Hack seems to be broken over Remote Desktop connections.

I'm using https://github.com/chrissimpkins/Hack/releases/download/v2.015/Hack-v2_015-ttf.zip

This is from a Windows 8.1 doing an RDP connection with 32-bit colour depth to my development machine that runs Windows 7 that runs Delphi 2007 but I have similar results in Visual Studio 2013 ([Hack](https://www.dropbox.com/s/9qekxo0pc0

[2015-10-31 08:06] jpluimers opened #146 "Line spacing could be optimised further"
I'm using https://github.com/chrissimpkins/Hack/releases/download/v2.015/Hack-v2_015-ttf.zip

Line spacing could be optimised further. Lucida Console displays 63 lines which is 15% more than Hack that displays 55 lines.

With Lucida Console, the lines really touch each other: look at the lower and upper stems in this code fragment at lines 49/50:

      fmShareCompat    = $0000 platform; // DOS co

[2015-10-31 08:12] jpluimers opened #147 "Hack does not show up in the font list for Windows command-prompt"
I'm using https://github.com/chrissimpkins/Hack/releases/download/v2.015/Hack-v2_015-ttf.zip

I this Windows playing tricks on my, or a Hack font setting?

Hack is not listed in the Windows command prompt font settings:

[![Windows command prompt font settings](https://www.dropbox.com/s/ojzsi8j7mr00tqy/20151031-Hack-not-in-the-font-options-for-Windows-cmd-prompt.png?raw=1)](https://www.dropbox.com

[2015-10-31 08:14] burodepeper commented on #147
Does it show up if you uncheck the 'Bold fonts' option?

[2015-10-31 08:21] burodepeper commented on #146
Hallo meneer @jpluimers ;)

I'll stick to English for the 'official' part.
I am currently working on the usability aspects of Hack, and the default line-height plays a major role in general readability. Besides a matter of personal taste, it is also a matter of identity of the typeface, and I'm afraid we can't service everybody in that aspect. Please note the significant difference in design in th

[2015-10-31 10:40] chrissimpkins commented on #147
It looks like you only have Windows system fonts showing up in that list.  Do you have any other non-system fonts installed?

[2015-10-31 10:54] chrissimpkins commented on #146
Thank you very much for the suggestion Jeroen.  I agree with David's (@burodepeper) comments above. Our goal is not _necessarily_ to fit the most code in a single view that is humanly possible.  We must balance the legibility of the source with the goal to view more of it.  There are users in other issue reports who have requested that the line spacing be further expanded to provide additional whi

[2015-10-31 11:04] chrissimpkins commented on #145
Can you more detail about what you mean by the "hinting for the horizontal stems"?  I agree that the rendering looks awful with this approach in your SS.

I'll admit I have absolutely no knowledge of the rendering process that happens through Windows RDP but a brief search led to these articles.  Have a look and see if they provide a start to this discussion:

http://answers.microsoft.com/en-us/wi

[2015-10-31 11:07] chrissimpkins commented on #144
Have a look at issue #35 and drop by to join us for the conversation there.  There are pros and cons to this approach for a face that aims to be a "general purpose" typeface for source code.  We would like to discuss this in more detail with you and are working on a solution that should address this down the road.

I'll add your comments to the thread and close this issue.

[2015-10-31 11:08] chrissimpkins commented on #35
from @stefan-kern:

Monoid: https://github.com/larsenwork/monoid
FiraCode: https://github.com/tonsky/FiraCode

[code]

[2015-10-31 11:09] #144 closed

[2015-10-31 12:51] stompychump commented on #147
This interesting explanation from Microsoft dates from 2007, but I believe it's still valid:

"Why are console windows limited to Lucida Console and raster fonts?"
http://blogs.msdn.com/b/oldnewthing/archive/2007/05/16/2659903.aspx

You may be able to add additional typefaces via the registry, but most will not work:

"Necessary criteria for fonts to be available in a command window"
http://suppor

[2015-10-31 12:52] chrissimpkins commented on #147
@stompychump :+1: thanks

[2015-10-31 14:09] jublo commented on #147
@stompychump Thanks for your explanations. The `0`, `00` etc. fix does still work with Windows 10.

![](http://img.schieb.de/wp-content/uploads/2015/10/eingabeaufforderung-schrift-aendern.jpg)

[2015-10-31 19:35] chrissimpkins commented on #35
Atom editor now supports ligatures:

http://blog.atom.io/2015/10/29/atom-1-1-is-out.html

[2015-10-31 20:42] lozandier commented on #35
Atom already did via author style sheet; I've literally used ligatures in
Atom for *years*.

On Saturday, October 31, 2015, Chris Simpkins <notifications@github.com>
wrote:

--
Kevin Lozandier
lozandier@gmail.com <lozandier@gmail.com>

[2015-10-31 21:09] chrissimpkins commented on #35
@lozandier I see.  They seemed to push this as news.  I don't use Atom.

[2015-10-31 21:10] lozandier commented on #35
I don't use it often either; I primarily use Vim or Webstorm

On Saturday, October 31, 2015, Chris Simpkins <notifications@github.com>
wrote:

--
Kevin Lozandier
lozandier@gmail.com <lozandier@gmail.com>

[2015-11-01 10:27] Fale opened #148 "Please release"
2.015 is becoming a little bit old... would be possible to release a more updated version?

[2015-11-01 15:16] chrissimpkins commented on #148
anticipate a new release with full MES -1 character set (among other minor changes) this week.  there is a v2.016 development version that was announced in another issue report that includes many of these changes in ttf builds only.

[2015-11-01 15:16] #148 closed

[2015-11-01 22:46] ioquatix commented on #35
+1

[2015-11-02 01:45] chrissimpkins commented on #52
The missing characters from the MES-1 character set are now included in the source and will be in the v2.017 builds.  Should be out in the next couple of days.

[2015-11-02 01:49] chrissimpkins commented on #92
Last chance to comment on the dollar symbol changes before we push them live as part of the v2.017 release this week.  See the test builds in the message above.

[2015-11-02 09:55] tbrisbane commented on #35
+1

In response to your request for research, Chris, the FiraCode page on GitHub has a fairly extensive list of editors with and without support for ligatures: https://github.com/tonsky/FiraCode#user-content-editor-support

[2015-11-02 11:16] chrissimpkins commented on #35
@tbrisbane thank you

[2015-11-03 03:02] chrissimpkins commented on #140
I can confirm that I am seeing the top bar in the hinted renders at all sizes between 6 - 20.  This does not appear to be a problem with our hinting in the bold or bold italic sets.

[2015-11-03 03:05] chrissimpkins commented on #140
@ChrisRM : any thoughts here?

[2015-11-03 03:06] chrissimpkins commented on #147
@jpluimers please confirm if the fix mentioned by @jublo above works for you.

[2015-11-03 03:09] chrissimpkins commented on #130
I identified the hinting problems and added new manual instructions to this glyph.  This should address these problems.  The changes will be part of the upcoming v2.017 release due out this week.  Will post here when available.

[2015-11-03 04:02] chrissimpkins commented on #130
The hinted v2.017 ttf release files with this fix are now in the development branch.  They are available here if you want to try them hot off the presses:

https://github.com/chrissimpkins/Hack/tree/development/build/ttf

The official release will take place in the next day or so.  Please let me know if you still see problems with the + glyph before we push these.

[2015-11-03 10:03] ciscorucinski commented on #140
@chrissimpkins What software did you use to test the possible bold issue?

I figured out how to change the font and weight in `Atom` and I cannot replicate the issue I described above. It seems to only be with `Android Studio` and `IntelliJ IDEA`....so basically all JetBrain IDEs???

[2015-11-03 10:07] sngsng commented on #140
NAVER - http://www.naver.com/
--------------------------------------------

sngsng@slogup.com 님께 보내신 메일 <Re: [Hack] Equals bar ( = ) missing top bar | weight 11 down | (#140)> 이 다음과 같은 이유로 전송 실패했습니다.

--------------------------------------------

받는 사람이 회원님의 메일을 수신차단 하였습니다.

--------------------------------------------

[2015-11-03 10:49] ChrisRM commented on #140
@chrissimpkins I'm sorry, I don't see how this is related to my plugin. Seems like an issue with the jetbrain platform.

[2015-11-03 11:33] chrissimpkins commented on #140
@ChrisRM Thanks Chris.  That addressed the question.  I did not know if the plugin modified the line spacing in some way that might lead to this problem.  We've had numerous issues with the Java renderer in the JetBrains editors.

@ciscorucinski I recommend reporting on the JetBrains issue tracker.  I used `ftgrid` to test this.  It is one of the FreeType tools available via their website.

[2015-11-03 11:38] ciscorucinski commented on #140
@chrissimpkins just to be clear, you have determined that this is not an issue on your side?

When I report, I want to be able to clearly stated that fact if I can

[2015-11-03 11:52] chrissimpkins commented on #140
I can verify that I am not seeing an issue in the design, the hinting, or the metrics of our glyph.

[2015-11-03 12:35] stompychump commented on #130
Here are v2.015 and v2.017a side-by-side (TTF, Windows 7, Sublime Text 2, directwrite, sizes 6-14):

![plus_sizes_v2 017](https://cloud.githubusercontent.com/assets/15165230/10908079/5802b5ae-8205-11e5-9d12-0e32f55af1b1.png)

The original issue appears to be resolved, although the hinting is tending to make the crossbar indistinct at smaller sizes (perhaps unavoidable?).

[2015-11-03 12:36] sngsng commented on #130
NAVER - http://www.naver.com/
--------------------------------------------

sngsng@slogup.com 님께 보내신 메일 <Re: [Hack] Strange plus (#130)> 이 다음과 같은 이유로 전송 실패했습니다.

--------------------------------------------

받는 사람이 회원님의 메일을 수신차단 하였습니다.

--------------------------------------------

[2015-11-03 14:23] chrissimpkins commented on #130
@snsng please update your automated email response settings.  You are sending automated email responses back to the issue report thread.

[2015-11-03 14:27] chrissimpkins commented on #130
@stompychump thank you very much for the images.  What text sizes do the comments about the crossbar apply for you?  There are ways to address this if it is falling within a commonly used text size range.  I suspect that few are using 6/7px sizes, but perhaps I am wrong.

[2015-11-03 15:37] stompychump commented on #130
To my eyes, sizes 8, 9, and 10 now have a blurrier crossbar in v2.017a in the image above (on the right), and also slighty in sizes 11 and 12. Here's an animated image that might make it clearer:

![plus_sizes_animated](https://cloud.githubusercontent.com/assets/15165230/10911856/28160f0e-821d-11e5-8f7d-263875858cd1.gif)

For sizes 9-12, I prefer the sharper plus in v2.015. I generally use size 8

[2015-11-03 17:33] jublo opened #149 "Drop duplicate U+000D character"
- `nonmarkingreturn` -> U+000D
- `uni000D` without any Unicode point

Seen in Hack Regular 2.017-rc.1+ttf.

[2015-11-03 21:07] ciscorucinski commented on #130
Just as a side note, the horizontal bar on the `+` should match with that on the `-`, right?

If so, then what is being done differently on the `-` that it is displayed correctly but the fixed v2.017 update is getting better, but not sharp. Using the `=` as a base, there are anywhere from 1 - 2 pixels of space in between the top and bottom bar.

The horizontal bar in the `-` is displayed...
 1. al

[2015-11-03 21:11] ciscorucinski commented on #130
@stompychump  What are you doing to get those animated screenshots. My current train-of-thought on doing that with **multiple font sizes** with the Hack typeface is very cumbersome. I can easily do it with one font size; not multiple. Would it be easy to add testing with a JetBrain IDE into the toolchain?

I would like to do this for the whole suite of regular printed characters...easily do multip

[2015-11-03 21:32] ciscorucinski commented on #140
I have submitted the issue. If you want to add extra information, or want to oversee the conversation, then the link is: https://youtrack.jetbrains.com/issue/IDEA-147317

[2015-11-03 21:53] chrissimpkins commented on #130
@ciscorucinski we're not going for pixel perfection (yet).  This was a quick monkeypatch for the upcoming release that will be out tonight.  The horizontal strokes are now aligned at ~ the midline of the vertical stroke in the post-hinted versions.  This led to lines that are straddling pixels at some text sizes.  Most text sizes that were mentioned in this issue report were out of alignment by a

[2015-11-03 21:58] chrissimpkins commented on #140
@ciscorucinski Thank you!  I will keep an eye on it too.

[2015-11-03 22:10] chrissimpkins commented on #130
All: Changed my mind.  I am going to pull these changes out of the upcoming release and we will address them in a bit more detail before we push them.  Let's not create more problems in the attempt to fix the original problem.  When we have a satisfactory solution, we will go live with it.

Do you mind having a look at the bold, italic, and bold-italic sets as well?  I made changes across all sets

[2015-11-03 23:07] chrissimpkins commented on #147
Closing.  Please reopen if this is not fixed with the above solution.  Thanks

[2015-11-03 23:07] #147 closed

[2015-11-03 23:08] chrissimpkins commented on #145
Closing.  Please reopen if/when you are prepared to work on this issue.  Thanks

[2015-11-03 23:08] #145 closed

[2015-11-03 23:09] chrissimpkins commented on #149
Thanks JM.  Will fix this.

[2015-11-03 23:29] chrissimpkins commented on #142
While we by no means blindly follow typography rules here, there are typography gurus who claim that many of these characters should not be italicized/slanted in the context of surrounding italicized text.

See this page on Butterick's site: http://practicaltypography.com/bold-or-italic.html

And Bringhurst's _Elements of Typographic Style_ v.3.2, section 5.3.2:

Food for thought as we consider ty

[2015-11-04 02:34] #126 closed

[2015-11-04 04:28] chrissimpkins commented on #149
These changes were included in the v2.017 release

[2015-11-04 04:28] #149 closed

[2015-11-04 04:28] chrissimpkins commented on #133
These changes were included in the v2.017 release

[2015-11-04 04:28] #133 closed

[2015-11-04 04:29] chrissimpkins commented on #52
These changes were included in the v2.017 release.  Thanks to all for the contributions and testing of these new glyphs.  We now have full MES-1 character set support.

[2015-11-04 04:29] #52 closed

[2015-11-04 04:29] chrissimpkins commented on #102
These changes were included in the v2.017 release

[2015-11-04 04:29] #102 closed

[2015-11-04 04:29] chrissimpkins commented on #36
These changes were included in the v2.017 release

[2015-11-04 04:31] chrissimpkins commented on #36
Leaving open to review the shapes again in the future.

[2015-11-04 04:31] chrissimpkins commented on #29
These changes were included in the v2.017 release

[2015-11-04 04:31] #29 closed

[2015-11-04 04:31] chrissimpkins commented on #105
These changes were included in the v2.017 release

[2015-11-04 04:31] #105 closed

[2015-11-04 04:32] chrissimpkins commented on #114
These changes were included in the v2.017 release

[2015-11-04 04:32] #114 closed

[2015-11-04 04:32] chrissimpkins commented on #22
These changes were included in the v2.017 release

[2015-11-04 04:32] chrissimpkins commented on #37
These changes were included in the v2.017 release

[2015-11-04 04:32] #37 closed

[2015-11-04 04:32] chrissimpkins commented on #21
These changes were included in the v2.017 release

[2015-11-04 04:33] chrissimpkins commented on #125
this version was superseded by ttfautohint v1.4.1 as of Hack v2.017 release

[2015-11-04 04:33] #125 closed

[2015-11-04 04:33] chrissimpkins commented on #92
These changes were included in the v2.017 release

[2015-11-04 04:33] #92 closed

[2015-11-04 14:36] chrissimpkins commented on #35
We’re tossing around the idea of starting a branch of Hack that includes ligatures and will serve as “working fonts” for development in text editors.  This will be developed in parallel with the main Hack branch, be released under a new font name,  and address the mounting interest that you’ve expressed here.

For those who are interested in this, will you please chime in again with:

- a list of

[2015-11-04 14:38] chrissimpkins commented on #144
_**New message in #35 that addresses this issue report**_:

We’re tossing around the idea of starting a branch of Hack that includes ligatures and will serve as “working fonts” for development in text editors.  This will be developed in parallel with the main Hack branch, be released under a new font name,  and address the mounting interest that you’ve expressed here.

For those who are interested

[2015-11-04 15:05] doubleagent opened #150 ""Box drawing" code points need improvement (width, height, alignment)"
The picture below shows an ascii box with letters and spaces (no tabs) in between.  The box is 74 columns wide on each line.

![image](https://cloud.githubusercontent.com/assets/56522/10941614/fb309c7e-82d1-11e5-9ce8-aa86a877a2ac.png)

This is the same text drawn using a font called [Input](http://input.fontbureau.com/).  This is how it should appear - with characters at equal heights and widths,

[2015-11-04 15:05] i-am-the-slime commented on #35
Hi,
So Hæck it is :). I am particularly interested in Scala ligatures and can test drive them. The tool I use is IntelliJ idea which has some beta support for them (https://youtrack.jetbrains.com/issue/IDEA-127539).

The single most important character combination in Scala is `=>` which can even be written as `⇒` but that character looks odd in monospaced fonts. Same goes for `->` and `<-`, which

[2015-11-04 15:10] chrissimpkins commented on #35
+1 haha! I love this

[2015-11-04 15:24] dkerzig commented on #35
For me would be important implementing the ligatures the "monoid-way" because like in the Atom 1.1 release notes states this is the only one where it is possible for atom to set the cursor between the two ligature-symbols: http://blog.atom.io/2015/10/29/atom-1-1-is-out.html

[2015-11-04 15:32] chrissimpkins commented on #150
Some overlap between this and #104.  It’s in the queue to address all of the line and box glyphs, likely in the next release.  There are definitely alignment issues in the vertical direction.  We will take a look at the horizontal spacing that you mentioned as we work on these.  Thanks for reporting this.

Will you please include the unicode code points for each of the characters that you are usin

[2015-11-04 15:37] burodepeper commented on #35
I am still not _pro-ligatures_, but otherwise +1 for the "monoid way", because of not breaking the fixed-width paradigm.

From a purely visual perspective, I'm also not yet convinced. The examples of ligatures I've seen so far break up the vertical rhythm of the columns.

[2015-11-04 15:49] jpluimers commented on #145
I was presenting sessions and workshops of a conference, so a bit busy. I'll research these settings when back home.

[2015-11-04 15:50] jpluimers commented on #147
Will research this when I've returned from the EKON 2015 conference in Germany where I just taught 3 sessions and a workshop.

[2015-11-04 15:51] chrissimpkins commented on #145
no worries at all.  just doing a bit of cleanup

[2015-11-04 15:52] chrissimpkins commented on #147
no worries!  feel free to reopen anytime.  This was just a repository maintenance/cleanup close, happy to provide any additional help.

[2015-11-04 15:54] doubleagent commented on #150
Good question.  They are the "box drawing" code points

╭	box drawings light arc down and right - 0x256D
─	box drawings light horizontal - 0x2500
╮	box drawings light arc down and left - 0x256E
│	box drawings light vertical - 0x2502
╰	box drawings light arc up and right - 0x2570
╯	box drawings light arc up and left - 0x256F

[2015-11-04 15:58] jpluimers commented on #146
It would be soooo cool if in addition to font sizes, line spacing would be configurable in one way or the other by the tools I use. Too bad they don't.

How difficult would it be to build a one-off that have smaller line heights (My knowledge on this is rusty as I've been out of the scalable font industry for like 20 years, but given the work I did for Polyvroom and Mecanorma in the early 90's pro

[2015-11-04 15:58] chrissimpkins commented on #150
:+1:

[2015-11-04 16:03] Kendos-Kenlen commented on #35
I'm looking for classic ligatures first, who are present in a majorité of languages :
`==`, `===`, `!=`, `!==`, `>=`, `<=`, `::`, `->`, `++`, `--`, `&&`, `||`, `..`, `...`, `<<`, `>>`, `+=`, `-=`, `*=`, `/=`, `%=`, `**`, `=~`, `<>`, `<=>`, `//`, `/*`, `*/`, ``, `</`, `/>`,

A big part of this ligatures could be tested with common languages (CPP, Perl and HTML should cover all ligatures in my list)

[2015-11-04 16:06] chrissimpkins commented on #146
simple to create it, the problem is that all vertically aligned glyphs are thrown off.  If you don't have a significant concern about box glyphs and line glyphs at this stage we can try some variants.  we are still working to get those fixed in the main sets...

[2015-11-04 16:08] chrissimpkins commented on #146
do you have access to a font editor Jeroen?

[2015-11-04 16:23] doubleagent commented on #150
Actually, this may not be an issue with the font.  I removed my OTF fonts and installed the latest TTF.  This is what it looks like now.  The alignment is still off in the upper right and upper left corner.  Other than that it's much better.

Maybe just a problem with the way Emacs reads OTF files.

![image](https://cloud.githubusercontent.com/assets/56522/10944254/f4a347d8-82dd-11e5-86df-5c7d9211

[2015-11-04 17:07] chrissimpkins commented on #150
Strange, we will need to look into the difference in spacing for otf vs. ttf...  It looks like there are still minor issues in the corners.  We will dig into these issues.  Will post here once we get this work started.

[2015-11-04 17:10] i-am-the-slime commented on #35
Alright some more for scalaz. *Wenn schon, denn schon* (come on, Kendos-Kenlen just said: "majorité")!
`<*>`, `|@|`, `|+|`, `<=<`, `=<=`, `|->`, `>>>`, (and the other ways around). Are you using fontforge to make this font? I could try and add some ugly ones that could be improved upon to get the idea across.

[2015-11-04 17:56] chrissimpkins commented on #35
goal is to make the development independent of the font editors through UFO source files.  It's not there quite yet but that is next in the queue.  we are using Glyphs for most of the design and FontLab Studio for table definitions and builds at the moment.

[2015-11-04 17:57] chrissimpkins commented on #35
and you are more than welcome to contribute.  we will create a new repo and work off of UFO files for this branch.  Font Forge supports ufo source

[2015-11-04 18:01] schierlm commented on #21
Am I the only one where the ŭ does not render in regular, but in Bold, Italic and in BoldItalic?

![screenshot](https://cloud.githubusercontent.com/assets/1568931/10947090/5b16ab7a-8326-11e5-9fc4-06019b285d77.png)

[2015-11-04 18:04] burodepeper commented on #21
![schermafbeelding 2015-11-04 om 19 03 11](https://cloud.githubusercontent.com/assets/3703530/10947155/cd2f15f8-8326-11e5-806b-05ee6b653d38.png)
My ŭ looks different in shape to the other u's. Is it a fallback?

[2015-11-04 18:25] chrissimpkins commented on #21
Will confirm this evening and push a new version if it is missing.

[2015-11-04 22:50] cdlm commented on #21
Yup, Font Book shows ŭŬ as missing glyphs, and just for Hack Regular

[2015-11-04 22:53] chrissimpkins commented on #21
pushing a new release this evening.  apologies!

[2015-11-05 03:56] chrissimpkins commented on #21
new v2.018 release is now available that includes the U/u breve glyphs in the regular set.

[2015-11-05 03:56] #21 closed

[2015-11-05 09:05] theckman commented on #33
@chrissimpkins I'm still having glyph issues on OS X in iTerm2, but I've come up with a bit of a quick/hacky fix:

![prompt1](https://cloud.githubusercontent.com/assets/787332/10963964/e403bcde-8358-11e5-8bf2-c015c9a6b67f.png)

Here are the font settings in iTerm2:

![font1](https://cloud.githubusercontent.com/assets/787332/10963986/083e055a-8359-11e5-8f43-96671c06e755.png)

But if I change the ve

[2015-11-05 21:16] jpluimers commented on #146
I've been out of the business for a long long time. Back then it was Ikarus on a MicroVax and Sun based software by an Israeli company. Part of the network was over serial connections, the rest Windows 3.1 with COAX ethernet. If you can help me kick-start: I *am* an experienced software developer and Ops person with Windows and Unix backgrounds.

[2015-11-05 23:06] chrissimpkins commented on #146
Wondering because we could try to explore what line spacing works for you.   Maybe FontForge?

[2015-11-06 12:09] rahilwazir opened #152 "Fonts gone crazy after installing v2_018 on Jetbrains [Java renderer]"
Fonts gone crazy after installing the `v2.018` but its working fine with `v2.010`, I did restart Jetbrain IDE. Increasing/Decreasing font have still same effect.

![crazy-fonts](https://cloud.githubusercontent.com/assets/1818941/10996531/c197ef94-84a7-11e5-93fa-1ca094fcb72b.png)

[2015-11-06 12:13] chrissimpkins commented on #152
Thanks for reporting it.  Can you give us your platform, the editor, and indicate whether you are using the ttf or otf builds?

[2015-11-06 12:26] rahilwazir commented on #152
Sure, here you go
- Win7 SP1 64bit
- Webstorm 10.0.4
- Using `.ttf` [provided in readme](https://github.com/chrissimpkins/Hack#recommended-binaries-for-linux-and-windows-users)

[2015-11-06 12:39] rahilwazir commented on #152
Not sure should I open a new issue for this or not but using `v2.010` shows same wierd fonts on multiline comments. when writing `/**` (double asterik)

Example:

![code-comments-crazy-fonts](https://cloud.githubusercontent.com/assets/1818941/10997206/104f3eee-84ad-11e5-8260-2f2121ee4ec7.gif)

[2015-11-06 16:12] chrissimpkins commented on #152
We did address numerous issues in the JetBrains renderer + Hack typeface combination after v2.010 was released.  I don’t think that this requires a separate issue report unless you are still seeing this in the current release.  Thanks for bringing it to our attention though.

[2015-11-06 16:14] chrissimpkins commented on #152
We will take a look into the initial issue that you reported. This was a direct upgrade from the v2.010 to the v2.018 release?

[2015-11-06 17:28] rahilwazir commented on #152
Yes It was

[2015-11-06 18:15] chrissimpkins commented on #152
thanks!

[2015-11-07 06:34] chrissimpkins opened #153 "Create web browser extensions to use Hack for monospaced font style on any web page"
- [X] Chrome
- [X] FF
- [X] Safari

Current status: Testing

[2015-11-07 06:36] chrissimpkins commented on #153
@jublo

[2015-11-09 15:43] alerque opened #154 "Backslash in italics is too close to vertical"
Several times now I've run into situations with the backslash (`\`) the italic variant that that have been visually ambiguous. The slanted version is just _too_ slanted. It needs to be closer to a backslash with a minor variation on the angle than it is to a pipe (`|`). I had to swap out characters in my document a couple times to confirm that I had the right symbol—something I've never run into b

[2015-11-09 15:51] chrissimpkins commented on #154
Thanks Caleb.   Are you using a syntax highlighter that only obliques the puncutation glyphs?  In that image the alphabetic glyphs on the same line look like they are from the regular set

[2015-11-09 15:52] burodepeper commented on #154
I agree with you, the backslash isn't distinguishable enough.

On a side note, what editor and syntax-theme are you using, and in what programming language is that piece of code written? In my design opinion, source code elements where punctuation matters should _never_ be italicized. I'm curious how blasphemous your combination of editor, theme, etc. is on this issue.

[2015-11-09 15:56] chrissimpkins commented on #154
@burodepeper use case analysis?

[2015-11-09 15:56] burodepeper commented on #154
Yup.

[2015-11-09 15:59] chrissimpkins commented on #154
@burodepeper :+1:

[2015-11-09 16:22] alerque commented on #154
The editor is NeoVim. Nothing blasphemous about that! But after that things get sketchy. The language being displayed is the [SILE Typesetter](https://github.com/simoncozens/sile)'s markup language. The vim syntax highlighter for that language is something I've only just started [hacking on](https://github.com/alerque/vim-sile), but I've started from the LaTeX highlighter as a template and that do

[2015-11-09 16:32] burodepeper commented on #154
Thank you for the details.

About the blasphemous part; that's also a bit a sketchy area, and part of it is because I like using the word blasphemous ; ) The sketchy part has to do with certain characters (in source code typefaces) not being italicized at all. The reason for that is most likely because their 'natural' shape has so significant meaning, that you don't want to change that. Think of a

[2015-11-09 16:34] chrissimpkins commented on #154
@caleb I'm in agreement with those comments.  We are in the process of formalizing this type of change proposal and this will involve consideration of associated effects in other languages that we have defined as our targets for development.  This is all very early stage work.  Will step back and let @burodepeper expand as he is overseeing the usability analyses.  Much more news as this matures.

[2015-11-10 17:01] hrach commented on #129
PhpStorm 10. v18, bug is still present.

[2015-11-10 21:45] chrissimpkins commented on #129
Thank you

[2015-11-11 12:11] bofm opened #155 "Cyrillic С looks odd"
**This bug was introduced by *v2.016* or *v2.017*. "С" looks good in *v2.015*.**

Here is how C letter looks in Russian layout in **v2.017** and **v2.018**. That strange thing on the top, it should be removed.
![C](https://raw.githubusercontent.com/bofm/tmp/master/C%20hack.png)
Cyrillic C should look the same as Latin C.

The screenshot is captured in Sublime Text 3 on Windows 10.

[2015-11-11 12:52] chrissimpkins commented on #155
This change was at the request of fellow Cyrillic users in #22

[2015-11-11 12:53] bofm commented on #155
[updated description]

[2015-11-11 12:58] bofm commented on #22
Well, I'm Russian and this kind of c hurts my eyes. I asked around people at my office and they have the same opinion.

[2015-11-11 13:03] bofm commented on #22
I'm Russian and this kind of c hurts my eyes. I asked around people at my office and they have the same opinion.

I understand the point of distinguishing Latin and non-Latin "C" letters. But text looks like a foreing language text with "C" from v2.018. For me Hack is not usable with it.

[2015-11-11 13:05] bofm commented on #155
I'm Russian and this kind of c hurts my eyes. I asked around people at my office and they have the same opinion.

I understand the point of distinguishing Latin and non-Latin "C" letters. But text looks like a foreing language text with "C" from v2.018. For me Hack is not usable with it.

[2015-11-11 14:47] bofm commented on #22
@retgoat @chrissimpkins just why only "C"?

There are still many letters that look exactly the same in English and Russian layouts in v2.018
![en-ru](https://raw.githubusercontent.com/bofm/tmp/master/HackEngRu.png)

Hey Russians! Do you really want all the letters to be redesigned like this? Would you like to invent a new alphabet just to not confuse some letters with other languages?
![en-ru](htt

[2015-11-12 05:30] softkot commented on #22
This c letter is particular, cause it shares the same button on the phisical keyboard. And thus this font is for coders it'a good point to separate it visually.
@bofm if you are not a coder/hacker just do not use this font.

[2015-11-12 09:07] xstee commented on #22
@bofm, I'm Russian and I do believe that changes with C are not useful. Agree with your opinion.
@softkot, I'm software developer since 2002, and I would like to use this font =)

Lets explain the situation for our non-russian collegues. There are beginners in software development area. And when they write a code, they can make a mistake: instead latin c they write cyrillic c (because it shares th

[2015-11-12 13:40] bofm commented on #22
@softkot

EULA?
A am coder. This font looks great in Sublime Text.

@softkot @xstee I have never had that kind of problems.

Maybe that was "a"? We need it with stroke too.

[2015-11-12 15:10] istarkov commented on #22
There is no need in cyrillic symbols for coding,
So it does not matter how `c` looks in editor, it must be different to prevent possibility to set Russian `с` symbol.

So guys who wants a normal `c`  - are you coders?
And if yes, where Russian `с` symbols are presented in your programs?

For me the only way for cyrillic `c` symbol can come into my program is mistake and nothing more.

[2015-11-12 16:05] bofm commented on #22
@istarkov

In docstrings.

[2015-11-12 16:06] bofm commented on #22
I created the version I need with git. How to build this font?

[2015-11-12 18:35] jublo commented on #22
@bofm We will have some build process in place soon, working on this currently. :)

[2015-11-12 21:21] chrissimpkins commented on #22
@bofm you could build this with FontForge but would need to hint the fonts yourself.  I would recommend that you use our builds for now.  As @jublo mentioned we are working on a scripted build approach for those who are interested in building the fonts on their own.  There is a separate open issue report for this if you want to follow along with the progress.

[2015-11-13 04:38] giver opened #156 "[Hack v2.018] Weird fonts with Regular type for both .ttf and .otf files on OSX"
OS: OS X El Capitan Version 10.11.1 (15B42)
Application: Terminal
Font: Hack v2.018

![hack-font-normal](https://cloud.githubusercontent.com/assets/8775102/11138883/ba3ce7d8-89fa-11e5-8123-135768f24b17.gif)

[2015-11-13 10:09] MaxKh commented on #22
I'm totally agree with @bofm and @xstee - I prefer to see normal Cyrrilic symbols.

I can undersand @istarkov 's comments but I do not think that it is a valuable reason for such "vandalsm" action.

PS: I use Russian language in Sublime to prepare my weekly report.

[2015-11-13 10:11] MaxKh commented on #155
https://github.com/chrissimpkins/Hack/issues/22#issuecomment-156384822

[2015-11-14 14:38] jublo commented on #142
Let’s take a look at how other monospace fonts render ASCII punctuation:

- Roboto Mono:

<img width="537" alt="roboto mono" src="https://cloud.githubusercontent.com/assets/6348321/11164048/85f6fd10-8ae5-11e5-9dab-04d325715354.png">
- Ubuntu Mono:

<img width="461" alt="ubuntu mono" src="https://cloud.githubusercontent.com/assets/6348321/11164049/8c6e8244-8ae5-11e5-89a2-0c90b980b3f9.png">
- Cousin

[2015-11-15 16:58] mathieujobin opened #157 "variant of the font with hand written 'a'"
I love your font. its great. but I dont understand why most computer fonts use this strange 'a' I never ever wrote with a pen. my 5 years old things it looks like a 6. I'd love to see variants of fonts with a like we write with a pencil.

see the 972 console font for an example

http://alexandre.deverteuil.net/pages/consolefonts/#972.cp%2816%29

thanks

[2015-11-15 18:14] burodepeper commented on #157
Hi @mathieujobin,

The handwritten `a` could be confused for an `o`, because it's just the little stem at the bottom right corner that distinguishes the two of them. If you translate that to a source code typeface at `11pt`, that distinction becomes a mere single pixel. In an environment where typos are a serious issue, it is better to use safe, distinguishable shapes, especially for characters wi

[2015-11-16 02:57] alekulyn commented on #124
In GVim (Windows 10), I have the following plugins (via Vundle) installed:
[code]
and the following settings:
[code]
I've installed the latest Hack font (v2.018).  However, after applying all these settings, characters in the airline bar are displaying like this:
![vim-airline bar](https://cloud.githubusercontent.com/assets/3824241/11173068/101f3ee6-8c1a-11e5-91f1-887538146a05.png)

I've tried twe

[2015-11-16 09:52] vladimir-novoseltsev commented on #155
Well, this is just ugly. I certainly see little point in creating separate look and feel for cyrillic glyphs.
On top of that additional strokes break clean feel of the font.

[2015-11-16 09:53] vladimir-novoseltsev commented on #22
Well, this is just ugly. I certainly see little point in creating separate look and feel for cyrillic glyphs.
On top of that additional strokes break clean feel of the font.

[2015-11-16 13:01] chrissimpkins commented on #22
Clearly a divisive issue.  Thoughts about a way to achieve a balance in the design that still allows visual distinction?

[2015-11-16 15:22] bofm commented on #22
@chrissimpkins impossible for "c" letter, unless it is borrowed from Times New Roman and font size is >16 pt.

[2015-11-16 15:26] vladimir-novoseltsev commented on #22
Just checked a dozen of different fonts - and I think I've found only one font which had distinct glyphs for cyrillic symbols (beside ones which are really different like 'k' and 'к'). And this one font were not monospace.

[2015-11-17 11:44] achkasov commented on #155
Another compromise could be not a serif but a "drop" as in lowercase "c" of Times New Roman, which is subtle but still different enough.

![image](https://cloud.githubusercontent.com/assets/14052589/11210514/f3ee87e4-8d28-11e5-9534-ceee119daa6a.png)

[2015-11-17 12:23] mathieujobin commented on #157
I understand, thanks for the explanation. hopefully your dream will become true.

I still hope to see more fonts getting closer to what we write on paper

[2015-11-17 12:23] #157 closed

[2015-11-17 13:14] chrissimpkins commented on #22
We have been closely following your conversation here and I think that we will be able to address both ends of this spectrum at some stage.

There is not presently a plan to remove the distinct lowercase `c` shape from our font sets and replace this with the Latin lowercase `c` shape.  We would be happy to attempt to modify the current shape to something more visually appealing and are more than w

[2015-11-17 13:15] chrissimpkins commented on #155
From #22 discussion:

We have been closely following your conversation here and I think that we will be able to address both ends of this spectrum at some stage.

There is not presently a plan to remove the distinct lowercase `c` shape from our font sets and replace this with the Latin lowercase `c` shape.  We would be happy to attempt to modify the current shape to something more visually appeali

[2015-11-17 13:18] chrissimpkins commented on #155
@achkasov Thanks for this suggestion!  This was something that was proposed in #22 as well.  The problem is that our target type size range includes small sizes.  A subtle change like the one you propose will not be apparent at these sizes and will result in the original problem that this change was intended to address.  Other shapes that would work and that will display at small text sizes?  We a

[2015-11-17 14:25] vladimir-novoseltsev commented on #155
Why do this at all? I can think of only around 5 upper-case glyphs and 2 lower-case ones. You usually do not mix latin and cyrillic in the same place, so it it pretty much easy to notice if wrong input method is selected.

[2015-11-17 14:33] chrissimpkins commented on #155
@vladimir-novoseltsev please see the discussion in #22

[2015-11-17 14:46] vladimir-novoseltsev commented on #155
I've seen it and I do not agree with original issue. Yes mixing latin and cyrillic symbols can be easy since they are look alike, but it is given since current cyrillic alphabet have been using latin like form since 18th century. On another note Cyrillic alphabet have some additional symbols like https://en.wikipedia.org/wiki/Sje , and some of proposed glyph visually would clash with this one.

[2015-11-17 19:01] burodepeper commented on #157
@mathieujobin You could always create the appropriate glyph yourself.

[2015-11-17 19:18] mathieujobin commented on #157
if I knew how.
i have no idea what type of skills this requires

[2015-11-17 19:21] burodepeper commented on #157
Take a look at www.glyphsapp.com
That's the primary app we use for the design of glyphs. Just open up the `ttf` files from Hack (or any other typeface), and move some stuff around. It is somewhat similar to Adobe Illustrator. There's something about licenses and stuff, but for personal use, I'm sure everybody will look the other way.

[2015-11-17 19:46] chrissimpkins commented on #157
FontForge is a libre alternative

[2015-11-18 14:40] schorsch3000 commented on #154
Today i ran into the same problem, using hack as the font in intellij a italic backslash looks almost like a normal pipe. the only difference is: the pipe is taller.

[2015-11-18 17:13] chrissimpkins commented on #154
Work is in progress on this issue.  Will post here when we have something to try.

[2015-11-19 14:21] chrissimpkins commented on #156
Are you having problems in any other applications on OS X Tanin?

[2015-11-19 14:27] chrissimpkins commented on #156
I can verify that Hack v2.018 is working for me in Terminal Version 2.5.3 on OS X 10.10.5.  Was this an issue that developed after you upgraded your OS to El Capitan or is this a new install of Hack (i.e. did Hack v2.018 ever work on your system in Terminal)?

[2015-11-22 15:52] giver commented on #156
@chrissimpkins I have first version of Hack installed v2.010 on my system before and it is working fine. until I upgraded to v2.018. But I'm not sure that I done it before or after upgrade to El Capitan.

No. It was perfectly worked on my code editor (PHPStorm)

[2015-11-23 12:52] chrissimpkins commented on #156
It appears that this is something on the Terminal side.  Would you be willing to investigate the Terminal changelog to see if there are any differences in font rendering between the 10.10 and 10.11 versions of OS X?

[2015-11-23 21:46] chrissimpkins commented on #113
We’re making progress with the build toolchain and font build testing tools.  More news coming soon.

[2015-11-24 04:06] giver commented on #156
Hi @chrissimpkins. Now it is working fine. I don't know why and the reason behind that. Maybe I had restart my Macbook Pro and the some weird issue gone. So, I will close this issue now.

Thx for your support.

[2015-11-24 04:06] #156 closed

[2015-11-24 04:08] chrissimpkins commented on #156
Good to hear! Thanks

[2015-11-24 17:50] t3rminus opened #158 "Block character size (U+2588)"
Noticed this when using the newer version of NPM today, which draws a progress bar using (what I assume is) the "Full Block" character (219?). It looks... very odd.

Here is how it displays using Hack:
![screen shot 2015-11-24 at 9 49 34 am](https://cloud.githubusercontent.com/assets/643473/11375544/b74be008-9290-11e5-9489-779e9c72b214.png)

Compared to DejaVu Sans Mono:
![screen shot 2015-11-24 a

[2015-11-24 18:32] jublo commented on #158
Hi @t3rminus,
thanks for your report about this. In fact, I myself have noticed this as well.

The character in question is `U+2588` `FULL BLOCK`. See here:
https://github.com/iarna/gauge/blob/master/progress-bar.js#L57

[2015-11-24 18:35] t3rminus commented on #158
@jublo thanks for confirming!

[2015-11-24 22:55] chrissimpkins commented on #158
@t3rminus the box glyphs are next up in the queue.  we will be taking a look at all of these for the next release.  will make sure that this one is included.  can you tell whether it is using the regular or bold set?

[2015-11-24 23:26] t3rminus commented on #158
@chrissimpkins Regular, unless there's some way that it's using the bold variant that I'm not aware of.

[2015-11-24 23:42] chrissimpkins commented on #158
@t3rminus thanks, we will take a look!

[2015-11-25 17:24] bofm commented on #155
@chrissimpkins

This means this extremely special and unusual feature (#22) is going to be kept in the main version.

[2015-11-25 17:27] chrissimpkins commented on #155
@bofm we are planning a different design.  still to be determined.  we hear your concerns and are trying to balance them with those of the users who requested this change in the first place.

[2015-11-27 16:15] rodrigogolive commented on #48
Hey, +1 for the condensed/compressed set (like PragmataPro or Input Mono Compessed) ;)

[2015-11-27 16:21] chrissimpkins commented on #48
@rodrigogolive thanks for your feedback!  This is something that we will definitely consider down the road.  We are in the process of implementing a significant change in our build tool chain and have a number of planned changes in the current sets.  Once things settle out with these primary areas of focus we will definitely revisit this issue.

[2015-11-27 16:27] c02y commented on #48
PragmataPro and Input Mono Compessed are my only fonts for my Emacs after testing a lot of fonts.

On November 28, 2015 12:15:18 AM GMT+08:00, Rodrigo Oliveira <notifications@github.com> wrote:

[2015-11-27 16:31] chrissimpkins commented on #48
Will the two of you push some screenshots so that we can see what you are seeing (and want)

[2015-11-28 00:03] davidcelis commented on #48
Sure thing, @chrissimpkins. Here's what a normal weight font (Source Code Pro, for example) would look like:

![screen shot 2015-11-27 at 7 02 31 pm](https://cloud.githubusercontent.com/assets/36873/11449155/80fb317e-9539-11e5-8276-0989998d556d.png)

And here's what Source Code Pro looks like when set to Extra Light (which is what I personally use):

![screen shot 2015-11-27 at 7 02 44 pm](https:/

[2015-11-28 00:08] chrissimpkins commented on #48
@davidcelis Thank you David!

[2015-11-28 00:51] davidcelis commented on #48
No problem! There are more examples of weight differences here, from 200 to 900 in increments of 100: https://www.google.com/fonts/specimen/Source+Code+Pro

[2015-11-28 03:09] c02y commented on #48
Thanks for the snapshots, but I'm afraid I'm have to tell your that these are not what I'm talking about at all, these are just normal and light fonts, not compressed/condensed, I have no access to my personal computer right now, I'll post them here tomorrow.

-------- 原始邮件 --------
发件人：David Celis <notifications@github.com>
时间：周六 11月28日 08:03
收件人：chrissimpkins/Hack <Hack@noreply.github.com>
抄送：c0

[2015-11-28 21:01] #116 closed

[2015-11-28 21:45] chrissimpkins opened #159 "Block element glyphs - correct alignment and size issues"
slated for v2.019

[2015-11-28 21:49] chrissimpkins commented on #150
Slated for v2.020.  Work will start in the next few weeks.  We are working on block element glyphs first.

[2015-11-28 21:52] chrissimpkins commented on #104
We are going to include these changes in v2.020.  Currently working on the block element glyphs for v2.019.

[2015-11-28 21:57] chrissimpkins commented on #81
We are modifying the block element glyphs as part of the v2.019 release.  Work in progress.  May need you to take a look at these qrencode displays again once available if you are free to do so.

[2015-11-28 21:58] chrissimpkins commented on #159
Linked issue reports:

#158
#81

[2015-11-28 22:07] chrissimpkins commented on #153
Working on logos and finalizing tests.  These should be out soon.

@jublo

[2015-11-29 08:43] m42e commented on #81
I'll have a look

[2015-11-29 13:13] ngleb commented on #155
I agree that new "cyrillic" С (S) looks horrible. I completely disagree with previous opinions. Cyrillic symbols should look as it meant to be and this is very bad practice to change such behaviour. This symbol what you created is not cyrillic, there's no such symbol at all. People in Russia just won't understand such behaviour, beacuse this is not the symbol we all know.

[2015-11-29 13:16] ngleb commented on #22
Very bad that that such sily case is the reason to find new font. Why not just create a classic version and "improved" version?

[2015-11-29 13:19] jublo commented on #155
@ngleb Let me take a bold step and claim that you won’t need to find a new font. We’re closely thinking about the Cyrillic shapes to find out what is best for most users. What we did by adding a serif to the Es terminal wasn’t right, but we needed some time to find that out.

Stay tuned and subscribed to this issue to get updates on this matter.

/cc @chrissimpkins

[2015-11-29 13:20] jublo commented on #22
@ngleb Gleb, please see my comment in #155.

[2015-11-29 13:22] chrissimpkins commented on #155
@ngleb will you please comment on this in #22?  The change originated there from Cyrillic users who were concerned about confusion between the Latin and Cyrillic lowercase `c` glyphs in their source code.  Let's see if we can reach consensus about the need for such a change.  The consensus does not appear to be there at this stage and some Cyrillic users express a real concern that the inability t

[2015-11-29 13:23] vladimir-novoseltsev commented on #155
@jublo Why not keep such changes in experimental branch? With this changes Hack became unusable for me, so I've rolled back 2.015 which don't have'em or switched back to Pragmata Pro.

[2015-11-29 13:24] chrissimpkins commented on #155
@vladimir-novoseltsev Vladimir, are you using the Cyrillic `c` in source and if so, can you provide screenshots that demonstrate the appearance in your source for us?

[2015-11-29 13:25] vladimir-novoseltsev commented on #155
@chrissimpkins I've been using both Latin in Cyrillic in HTML code and until now I've never been able to confuse them :)

[2015-11-29 13:27] chrissimpkins commented on #155
@vladimir-novoseltsev So this is the content in your HTML file then?

[2015-11-29 13:31] vladimir-novoseltsev commented on #155
@chrissimpkins Yeah, I don't have newer hack installed right now. Let me fetch one, so I have similar fragments with old and new versions.

[2015-11-29 13:33] chrissimpkins commented on #22
All, if you take an interest in the Cyrillic lowercase `c` glyph modifications that were made based upon your recommendations here I ask that you please join us in #155 to discuss this change further.  For those who recommended the initial change, I request that you provide us with additional details about:

(1) where the Cyrillic `c` is being used in your source code
(2) examples of how this is l

[2015-11-29 13:38] vladimir-novoseltsev commented on #155
![hack-015 vs 018](https://cloud.githubusercontent.com/assets/1718526/11457354/849bc0bc-96b7-11e5-93b6-3dde1a908f4e.png)
Well, here it is. 2.015 at the top and 2.018 at the bottom.

[2015-11-29 13:39] chrissimpkins commented on #155
I posted this request to #22:

(2) examples of how this is leading to confusion, improper linting, source code errors

Please have a read through the above and, for those who are of the opinion that this change should revert to the Latin c glyph appearance, I request that you detail how you are using the Cyrillic version of the glyph in your own source code.  Visuals are very, very helpful as are

[2015-11-29 13:42] ngleb commented on #22
Well, I can say add that the origin of this issue might be a keyboard layout. Cyrillic Es and C are on the same button. For more than 15 years of using PC and writing the code I never had issues with Es and C. Only as example, I once had similar issue with 1, l (lowercase L) and I (lowercase i) and never with confusing Cyrillic and Latin symbols (it was Courier font, btw).

I think that two versio

[2015-11-29 13:43] chrissimpkins commented on #155
@vladimir-novoseltsev so for you, the information transmitted to readers is not altered in any way whether this is a Latin or Cyrillic c glyph in the body of the text.  They are interchangeable in the rendered HTML or is this not the case?  Does the Latin c ever lead to some type of error there?  For instance if a user were to copy and paste the text from your HTML page to another document?

Can y

[2015-11-29 13:54] vladimir-novoseltsev commented on #155
@chrissimpkins All you need for entering Cyrillic is input switch in mine case alt+shift. There are some places in code where strings in Russian are present and theoretical could lead to errors, but you normally do not enter single symbol, you enter a whole line, and with low number of look alike glyphs it is hard to miss if wrong input method is selected, as you'd get garbage if you try to write

[2015-11-29 14:20] chrissimpkins commented on #22
@ngleb I apologize Gleb.  We will move the conversation about the Cyrillic c to #155.  I am hoping to have the users here who initially commented about the change join us in that thread.  This thread (#22) is where the original Cyrillic c change originated based upon comments above.

[2015-11-29 14:21] chrissimpkins commented on #155
From @ngleb :

[2015-11-29 16:09] fruel commented on #152
Did a direct update from v2.010 to the v2.018 today too.
Visual Studio, Sublime Text 3 and all other editors are fine but all JetBrains IDEs are messed up (Android Studio 1.5, PHPStorm 10, IntelliJ 15).

System:
Windows 10 Pro x64
Installed TTF version.

Never had any rendering issues prior to v2.018.

[2015-11-29 16:19] chrissimpkins commented on #152
Can you be more specific?  Are you seeing character changes like in the OP image?

[2015-11-29 16:22] fruel commented on #152
Sorry forgot - pretty much the same as OP reported it.

Example: Laravel composer.json file
![image](https://cloud.githubusercontent.com/assets/1745966/11458312/bda3ff68-96bd-11e5-925c-d42c95176606.png)

[2015-11-29 16:26] chrissimpkins opened #160 "Create glyph visual comparison/diff tool for testing"

[2015-11-29 16:43] chrissimpkins commented on #152
Seems to be some strange Windows + JB renderer-specific issue.  Here is where I am in PyCharm 4.5 (old version) and the current PyCharm 5.0.2 release:

**PyCharm 4.5**

<img width="828" alt="pycharm4" src="https://cloud.githubusercontent.com/assets/4249591/11458419/8ecc51fc-968d-11e5-94e5-a63ea498ba7c.png">

**PyCharm 5.0.2**

<img width="688" alt="pycharm5" src="https://cloud.githubusercontent.co

[2015-11-29 16:47] chrissimpkins commented on #152
Will take a look at a diff of our OpenType table data between the 2.010 and 2.018 versions this week as well.  Perhaps this will lead to some useful information.

If you are willing to take the time, would it be possible to check each of the release versions between 2.010 and 2.018 to determine where we introduced the problem?  This might point us in the direction of an answer if it lies in the Op

[2015-11-29 16:59] fruel commented on #152
It seems to be a general issue with the Java font renderer - not specific to JetBrains IDEs.

I wrote a quick test application using the generic Java Swing GUI system. It print the text "Hello World" twice - one the left using Hack and on the right using the default monospaced font.

![image](https://cloud.githubusercontent.com/assets/1745966/11458576/d16875f6-96c2-11e5-8ec8-e6043cc91e78.png)

Sou

[2015-11-29 17:09] fruel commented on #152
Tested the old versions with the test application from the comment above. The issue starts with v2.017.
v2.015 and v2.016 (from here https://github.com/chrissimpkins/Hack/issues/126) are fine.

[2015-11-29 17:20] chrissimpkins commented on #152
@fruel Thank you!  I will take a look at our OpenType table changes between those versions.

Are you aware of other text editors in common use that use this renderer?

[2015-11-29 17:27] chrissimpkins commented on #152
Are the editors here being released with a bundled JDK?  That seems to be the case on OS X.

[2015-11-29 17:39] fruel commented on #152
I tested a few other applications with v2.0.17:

**jEdit**
http://sourceforge.net/projects/jedit/
Is affected by the bug and has definitely no bundled JRE.

**eclipse*
Version: Mars.1
Not affected
Don't think it has a bundeled JRE.

**NetBeans 8.1"
Affected
Not sure if JRE is bundled.

I think NetBeans and jEdit use the same GUI system whereas eclipse uses something different. (NetBeans and jEdit

[2015-11-29 17:44] chrissimpkins commented on #152
@fruel Thank you very much for all of this information.  This is extremely helpful.  I will post some information about the differences in our OpenType tables between the identified versions this week.

[2015-11-29 18:01] fruel commented on #152
New discovery:

I have multiple Java versions installed and only older ones are affected. When installing NetBeans it seems the installer changed the default Java runtime as Hack v2.018 is now working everywhere except in NetBeans.

I tested this manually with the my test application from above:
v2.018 works fine in my test application with JRE 1.8u66 x64 and JDK 1.8u66 x64 but not with JDK 1.8u51

[2015-11-29 18:02] chrissimpkins commented on #152
[code]

[2015-11-29 18:08] fruel commented on #152
OK...this thing is getting really weird....

If I start my test application from the command line using 1.8u51 it does not work but IntelliJ claims to be running with 1.8u51 and it is working now:

![image](https://cloud.githubusercontent.com/assets/1745966/11458975/39aff84c-96cc-11e5-98de-45a06039b806.png)

![image](https://cloud.githubusercontent.com/assets/1745966/11458982/7be673c6-96cc-11e5-99

[2015-11-29 18:26] chrissimpkins commented on #152
PyCharm v5.0.2 on OS X:

<img width="377" alt="jre-version" src="https://cloud.githubusercontent.com/assets/4249591/11459099/c6bb5e64-969c-11e5-9d3b-53be2f837568.png">

Different than the installed version on my PATH.

[2015-11-29 19:17] chrissimpkins commented on #155
@vladimir-novoseltsev can you provide some examples outside of the HTML text content context?

[2015-11-29 19:19] chrissimpkins commented on #155
Anyone have feedback about this point by @ngleb?

Are we attempting to deal with an issue in the fonts that is a hardware/keybinding problem at its root?

[2015-11-30 06:11] MaxKh commented on #155
@vladimir-novoseltsev Vladimir, please use the following regex to find Russian symbols in your code
[code]
Please do not force the font authors to do horrible things with Russian glyphs. I'm sure that 99.9% of Russian users will agree with me.

[2015-11-30 07:46] vladimir-novoseltsev commented on #155
@MaxKh Yep, not mine idea to make it ugly :)

[2015-11-30 11:06] stefan-kern commented on #35
does this new repository exist already (didn't find any)? if so, can you please share a link

[2015-11-30 12:01] rodrigogolive commented on #48
Hey @chrissimpkins, I'm adding some screenshots of my environment, all of them using the same settings for the fonts (the code snippet is from the live preview of Input):

PragmataPro:
![st_pragmatapro](https://cloud.githubusercontent.com/assets/1218078/11470932/c612395e-9748-11e5-8261-dc1bda967a48.png)

Input (on their site there are a configurator that helps to mimic the feel of other fonts):
![

[2015-11-30 12:28] chrissimpkins commented on #48
@rodrigogolive thank you very much!  This is very helpful to see how tight things are in your working fonts.

Are you generally in a small terminal window rather than a full screen editor?  Is the intent more glyphs per width or is it the appearance that you prefer?

[2015-11-30 12:57] rodrigogolive commented on #48
You're welcome @chrissimpkins! i am used to have a full screen terminal (generally 1920x1080), running a terminal multiplexer (tmux), so I can quickly run/edit/navigate on them. Here are two new screenshots at this resolution, with a current project so you can see the differences (just resized a little, as the intent is to show the difference of the font on screen).

Hack (attention on the top pan

[2015-11-30 13:15] chrissimpkins commented on #48
Got it.  Thank you very much!

[2015-11-30 13:16] chrissimpkins commented on #35
@stefan-kern https://github.com/source-foundry/Hack-dev

[2015-11-30 13:59] chrissimpkins commented on #155
@MaxKh The need for a workaround to identify Cyrillic glyphs is the exact point that we are attempting to address.  IMO, such workarounds should not be necessary for developers who use this character set and mean that information is being hidden from you.  The question is whether this information is necessary for source code development.

I understand the visceral response to design as well as the

[2015-11-30 15:20] ngleb commented on #155
@chrissimpkins
I don't understand such problems as mixing characters. Yes, symbols looks the same. But in normal practice it is very bad to mix Cyrillic and Latin symbols and not just Cyrlillic Es and C. The problem is much deeper than just two this charachters which are on the same button, so the solution with regexpabove  is a very good and much more usable than the font characters that looks un

[2015-11-30 17:30] chrissimpkins commented on #155
@ngleb : This is one of the points that I am attempting to drill down on.  Are developers who use Cyrillic glyphs doing so in the body of the source code?  Is there compiler, interpreter support for this in languages that you use and is this something that is commonly done if support is there?  I understand that this ignores content text areas like the HTML example above and text-like areas in sou

[2015-11-30 17:44] ngleb commented on #155
@chrissimpkins
Based on my knowledge, Cyrillic characters is never used in source code, in variable names or so. It is possible in some cases (here's example: http://habrahabr.ru/post/82181/ - it just a joke, btw), but in practice it never happens. Only 1С (accounting software, uses Cyrillic in source code in its own editor, but there's everything in Cyrillic, including variable names and so on).

[2015-11-30 17:47] vladimir-novoseltsev commented on #155
@chrissimpkins It is in general good idea to separate code and strings.
There were one language which allowed Russian keywords, but I haven't seen it since middle-school with non-pc computers (Korvet systems, algorithmic language - yeah that was actual name) . It was specifically tailored for educational purpose, I have seen no production level languages beside 1C platform which would use Russian

[2015-11-30 18:00] c02y commented on #48
@rodrigogolive These are my screenshots in my Emacs, a little difference from yours, I think it is caused by your teminal:

**PragmataPro**

![pragmatapro](https://cloud.githubusercontent.com/assets/2135996/11476770/7f74ecc2-97bf-11e5-8b47-130241f9bb8f.jpeg)

----------------------------
**Input Mono Compressed**

![input mono compressed](https://cloud.githubusercontent.com/assets/2135996/11478513

[2015-11-30 18:13] bofm commented on #155
Python 3 supports unicode identifiers. But it is considered a bad practice.

[2015-11-30 18:51] chrissimpkins commented on #155
Are there any scenarios that you can imagine where this would lead to compiler errors and do you need to compile in a different way with Cyrillic (or any expanded Unicode sets) in strings in languages like C/C++?

This is extremely helpful!

As is this!

So, what I gather is that the glyph is not used in the body of source text, except as part of a string in which case it *should* be surrounded by

[2015-11-30 19:02] chrissimpkins commented on #48
@c02y wow, you really do like it tightly set.  Just to confirm, these are all at the same font size?  The glyphs look larger for Hack.  This may be an x-height difference or just  a visual distortion based upon the narrower glyph widths in the condensed fonts you are showing.

[2015-11-30 19:05] chrissimpkins commented on #48
@c02y and I'll ask the same question, are you trying to achieve more glyphs per width or you simply have a preference for this appearance in your type?

[2015-11-30 19:10] ngleb commented on #155
@chrissimpkins
As you can see, [here's](http://www.tutorialspoint.com/c_standard_library/c_function_printf.htm) the first example when specifiers are used in C to indicate placemnt of a character. I'm not sure will this cause a compiler error or it will just print Cyrillic Es instead.

I didn't find any escape sequiences with `c`.

[2015-11-30 19:17] chrissimpkins commented on #48
And final question for the day... how does Hack look to you if you take the font size down a few pixels?  There will be a point where you will achieve the same text / width threshold.  With the large counters and x-height on these glyphs you can get away with pretty small font sizes in many cases (platform/display/renderer dependent).  The sacrifice will be in the height of the glyphs, but they ma

[2015-11-30 19:29] chrissimpkins commented on #155
@ngleb interesting so your syntax highlighter recognizes the Unicode character set?  Does your compiler indicate that this is a Unicode error or what type of message do you get?

[2015-11-30 19:37] chrissimpkins commented on #155
do your keyboards default to the Cyrillic or the  Latin version? My understanding is that they are both mapped to the same key with a different keybinding pattern.

[2015-11-30 19:43] ngleb commented on #155
@chrissimpkins
I think that this works different. Syntax highlighter knows that this is a C-lang file, so it turn on the appropriate rules. Then, it shows all characters that a specifiers and match "%c" (i.e., double-quotes, %-sign and latin symbol), the same for escape characters. Other symbols that are not escape characters or specifiers will be just string and will be red (in my example). So it

[2015-11-30 19:44] ngleb commented on #155
My default layout is Latin (English US) and this behaviour is the default for most IT guys.

[2015-11-30 19:49] ngleb commented on #155
Well, I see your confusion and maybe for you it all looks like there's a huge problem. But the real situation is that there's no such big problem and in most cases mixing charaters is a bad practice at all and not just with C and Es.

Unnatural symbols is much worse than mixing characters. Better to avoid it at all. Example with C just show when the problem can appear. In normal ways, especially w

[2015-11-30 19:51] ngleb commented on #155
Also, I rechecked the compiler and it compile but shows the warning. The specifiers indicate the variable type that should be used. In this case compiled program will output `%с` (%-sign and Cyrillic Es).

[2015-12-01 01:59] c02y commented on #48
@chrissimpkins

The fonts in my three screenshots are all the same size(14), I was using (If you know how to use Emacs)

    (set-frame-font "PragmataPro-14" t t)
    (set-frame-font "Input Mono Compressed-14" t t)
    (set-frame-font "Hack-14" t t)

to change the font temporarily and then take the screenshots, I didn't change anything but the font name and font size, and yes, the Hack-14 **is lag

[2015-12-01 02:05] chrissimpkins commented on #48
Got it, thanks!

[2015-12-01 02:20] jkcclemens commented on #48
There are still those of us who want thin styles, which are *not* compressed styles. Feels like compressed styles should be in a compressed styles issue, and thin styles should be in the thin styles issue. However, it would be nice to have compressed styles *and* thin styles.

[2015-12-01 02:34] chrissimpkins commented on #155
@ngleb Thank you very much for all of this information Gleb.  This is all extremely helpful.

[2015-12-01 02:34] chrissimpkins commented on #155
@retgoat, @istarkov, @achkasov, @Bfgeshka - can you comment on the above discussion.  There is a push to remove the modification to the Cyrillic es glyph so that it takes the Latin lowercase `c` shape again.

The arguments are currently supported by these facts that have been discussed in the thread:

(1) the glyph is not used (or at the very least it is poor form to use) in source code outside of

[2015-12-01 02:50] chrissimpkins commented on #48
@jkcclemens Thanks Kyle.  The condensed variants will require a full redesign of the glyphs.  This is a big project across the 1500+ glyphs x 4 variants that we release.  The thin styles will be more straightforward but will still require a significant amount of work.  Both of these are likely to be medium to long term projects for us as we still have a great deal of work to improve the current se

[2015-12-01 03:36] c02y commented on #48
@jkcclemens Thanks, already changed the issue title to compressed/condensed.

[2015-12-01 05:03] davidcelis commented on #48
Should we open a separate issue for thin styles?

[2015-12-01 06:17] c02y commented on #48
@davidcelis Unnecessary, I changed the issue title to contains both compressed/condensed and thin since there are already conversations about thin font in here.

[2015-12-02 06:54] yourafool2015 commented on #155
What is all this
Date: Mon, 30 Nov 2015 18:34:26 -0800
From: notifications@github.com
To: Hack@noreply.github.com
Subject: Re: [Hack] Cyrillic С looks odd (#155)

@retgoat, @istarkov, @achkasov, @Bfgeshka - can you comment on the above discussion.  There is a push to remove the modification to the Cyrillic es glyph so that it takes the Latin lowercase c shape again.

The arguments are currently su

[2015-12-02 08:08] retgoat commented on #155
@chrissimpkins I kept an eye on the above discussion. So, my point of view is unchanged. It's nice that cyrillyc `c` differs from latin `c`. But if most of people think other way — maybe you need to hear them. It's up to you mate.

[2015-12-02 12:24] chrissimpkins commented on #155
@retgoat any comments about the above points? Do you feel that they are all accurate?

[2015-12-09 18:56] edmz commented on #134
@jublo just curious if there has been any progress or anything I could help debug or test :)

[2015-12-09 19:00] chrissimpkins commented on #134
Not as of yet but we will let you know if we move forward with work here.  We have been working on the build toolchain to take our font builds out of the font editors and this has proven to be a fairly laborious process because few tools exist to support it.  We are nearly there and will begin to address many of these outstanding issues again in the near future.

[2015-12-09 19:01] edmz commented on #134
Got it. I was just curious. Thanks a lot for your great work!

On Wed, Dec 9, 2015 at 1:00 PM Chris Simpkins <notifications@github.com>
wrote:

[2015-12-09 19:20] chrissimpkins commented on #134
Will let you know!

[2015-12-15 22:06] chrissimpkins commented on #155
There does not appear to be convincing support for this issue after the above discussion.  The Latin `c` shape will replace the modified shape of the Cyrillic es glyph in the next release.

[2015-12-15 22:07] #153 closed

[2015-12-15 22:08] chrissimpkins commented on #152
Please reopen if this remains an issue for you.

[2015-12-15 22:08] #143 closed

[2015-12-15 22:09] #117 closed

[2015-12-15 22:18] chrissimpkins commented on #81
@m42e Matthias, can you provide an example of a typeface that does work here?  I took a look at the spacing in Source Code Pro and the alignment appears to be further off for these glyphs than what is going on in Hack.  I'd be interested in taking a look at the metrics on one that does work for you.  I've made changes to the glyphs involved here and they will be released in the upcoming v2.019, li

[2015-12-15 22:19] #25 closed

[2015-12-15 22:19] #22 closed

[2015-12-15 22:22] chrissimpkins commented on #158
I just finished this update last evening and it should address this problem with U+2588.  Hope to have this out in the v2.019 release later this week.  Will post here when available.

[2015-12-16 06:08] m42e commented on #81
Ubuntu Mono for Powerline works. It has some space but it is recognized by qr scanners.
monofur for powerline works as well. with horizontal and vertical spaces.
PT Mono also looks good, except for slight spaces.

Hope this helps you. I really appreciate your hard work.

[2015-12-16 08:13] rahilwazir commented on #152
I'm not sure why did you close this issue, but this issue still exist with latest Webstorm `v11.0.2`

[2015-12-16 10:50] chrissimpkins commented on #81
Thank you very much Matthias.  I will take a look.

[2015-12-16 13:15] chrissimpkins commented on #152
@rahilwazir More than happy to continue to help here though I am not on Windows and cannot reproduce the issue on OS X versions of JetBrains editors.

@fruel would you be willing to release that code that you used to render fonts with Java?  This would be an extremely helpful tool for us and might help us locate the problematic JRE versions.  Perhaps with this information, one of the two of you co

[2015-12-16 13:26] chrissimpkins commented on #81
If you happen to have some time, could I bother you to give this new build a try?

https://github.com/chrissimpkins/Hack/tree/development/postbuild_processing/posthinted_builds

The regular set in this build includes glyph modifications that should be getting us closer to where we need to be with this issue.

[2015-12-16 14:56] fruel commented on #152
You can find the source code for my demo application linked im my comment from Nov. 29. It's a basic java window.

It still does not work for me in Android Studio but it works in PHPStorm - I'm not sure why or what version of java are affected as it behaved really weird.

[2015-12-16 16:08] chrissimpkins commented on #152
@fruel thanks! sorry, I missed the link.

@fruel & @rahilwazir:  Here is where I am on OS X with Java(TM) SE Runtime Environment (build 1.8.0_05-b13) vs. Source Code Pro:

<img width="485" alt="java1" src="https://cloud.githubusercontent.com/assets/4249591/11845631/c7367f9c-a3e2-11e5-9236-5bc52b225f55.png">

and with Java(TM) SE Runtime Environment (build 1.8.0_66-b17):

<img width="478" alt="java

[2015-12-16 16:09] chrissimpkins commented on #152
@rahilwazir can you link the JRE that your version of WebStorm is using on Windows?

[2015-12-16 16:20] chrissimpkins commented on #152
@fruel possible to modify this script to read in a text specimen file and render on a scrollable display window with Java?  I'd like to turn this into a tool for typeface developers.  Interested?

[2015-12-16 19:00] m42e commented on #81
Looks good to me :) :+1: Thank you very much.

[2015-12-16 19:07] chrissimpkins commented on #81
vertical spacing OK?

[2015-12-16 19:13] m42e commented on #81
Yes, ist a very small line, but this is same for all the other fonts I mentioned above.

[2015-12-16 19:14] m42e commented on #81
<img width="212" alt="bildschirmfoto 2015-12-16 um 20 13 53" src="https://cloud.githubusercontent.com/assets/2410802/11851184/9253ab52-a431-11e5-9d41-985da8226d51.png">

[2015-12-16 19:33] chrissimpkins commented on #81
Have you come across a font that does not have the lines in between?  I am planning to do some work on the hinting to see if I can narrow that further.

[2015-12-16 19:45] Defman21 commented on #81
It looks fine for me btw.
Using Hack Regular 11pt, Ubuntu 15.10 with 1.00 scaling factor.
![doge](http://i.imgur.com/uY3LRnl.png)

[2015-12-16 19:49] chrissimpkins commented on #81
@Defman21 thanks for that screenshot.  I really appreciate it.  There are definitely size dependent spacing issues that are a result of the hinting.  I think that I can get closer to the image appearance that you display across our target font sizes with a bit of manual hinting work.

[2015-12-17 18:34] fruel commented on #152
"I'm guessing that you simply switch to Windows paths for the compiled binary root directory with the -cp switch on Windows" - Yes, same commands - only with Windows paths.

Demo application:
I can't promise anything as I've many other things to do right now but what would you need?
Loading a textfile and a TTF file and a window to display the text in the given font?

[2015-12-17 18:47] chrissimpkins commented on #152
Thank you.  Yes that description fits.  I would need some help with the file I/O and Swing UI.  Not a Java developer and would like to have something simple that will test rendering with Java since these JetBrains editors have caused us a significant number of problems and are so widely used.  This was a great idea that you had and I think it will help with tests out of the editor with other Java

[2015-12-17 18:48] chrissimpkins commented on #152
and my scrollable comment simply meant that we will need to be able to support reasonably large blocks of specimen text so the UI window should support text overflow with a scrollbar.

[2015-12-17 18:54] fruel commented on #152
Ok - I might be able write it on Saturday or Sunday.

About the hinting: Not sure. Have to check the docs.

[2015-12-17 19:06] chrissimpkins commented on #152
Absolutely no rush at all.  I will take a look through the documentation too.

[2015-12-17 19:08] chrissimpkins commented on #152
@rahilwazir Rahil, will you be able to provide the information above about the success with the Java versions on your system?  This should help us to better understand this problem.

[2015-12-17 19:20] chrissimpkins opened #161 "Create a Java font rendering test tool to assess rendering issues in editors that use this renderer type (including JetBrains editors)"
New tool idea from the discussion in #152.

**Goal**: create a tool that can be launched from the command line and display a Java-rendered external text specimen file with any installed Java version.

**Need**:

- [x]  Java developer(s)
- [x] repository for the tool
- [x]  rendering of a simple Swing text window that supports any external large text specimens with scrolling for text overflow
- [x]

[2015-12-17 19:23] chrissimpkins commented on #152
@fruel let’s move the conversation about the tool to #161.  We will continue to discuss @rahilwazir's original issue here.

[2015-12-18 02:29] chrissimpkins commented on #155
The original Latin c shapes for the upper case and lower case Cyrillic es glyphs are now available in the test font builds in this directory:

https://github.com/chrissimpkins/Hack/tree/development/postbuild_processing/posthinted_builds

These changes will be included in the upcoming v2.019 release.

[2015-12-18 02:30] chrissimpkins commented on #159
Hinted changes to the regular set are available in the following directory:

https://github.com/chrissimpkins/Hack/tree/development/postbuild_processing/posthinted_builds

The full set of changes will be available in the upcoming v2.019 release.

[2015-12-18 07:46] rahilwazir commented on #152
@chrissimpkins Sorry for late reply, here you go:

![screenshot from 2015-12-18 12 44 42](https://cloud.githubusercontent.com/assets/1818941/11891923/34970324-a585-11e5-901d-0b6db2b28a92.png)

Compiled with
[code]

[2015-12-18 08:21] rahilwazir commented on #152
Sorry for the change in status, I had posted the result of Linux machine mistakenly

Anyway here is the result (Compiled with `javac 1.8.0_65`):

![hack_java_font](https://cloud.githubusercontent.com/assets/1818941/11892466/266e9b0e-a58a-11e5-9d1c-475308819256.png)

[2015-12-18 12:15] chrissimpkins commented on #152
@rahilwazir it looks like it is time to go to JetBrains for more information.  That is the same version as the reported version in WebStorm and it renders fine.  Mind submitting your issue in their issue tracker and update us with the outcome?  Perhaps they modified the Java font rendering code in some way?

[2015-12-19 14:54] mmlb opened #162 "Alignment of boxes and arrows"
My issue is that box drawing characters and arrows don't line up vertically. To be fair, I have tried a few other fonts both mono and not, and they all had the same problem. I'm not sure if there is a reason for this problem...?

![2015-12-19-094555_102x156_scrot](https://cloud.githubusercontent.com/assets/708570/11913574/698d8c18-a636-11e5-9109-e63104821c50.png)

As you can see I'm trying to "ext

[2015-12-19 15:04] chrissimpkins commented on #162
Thank you for pointing this out Manuel.  We haven't recognized this in the past.  Can you provide the Unicode code points for the glyphs that you are using here?  I will take a look at the set.  We are doing some work on the block element glyphs for the next release and will work a fix into an upcoming release.

[2015-12-19 16:06] mmlb commented on #162
Awesome! So those specific glyphs were ←: U+2190 and ─: U+2500. I would guess the other arrow/box combinations would have similar alignment problems. Thanks for the great work! :+1:

[2015-12-19 16:43] chrissimpkins commented on #162
Thank you very much!  I will take a look at the entire arrow set.

[2015-12-19 16:52] chrissimpkins commented on #162
Would it be possible to take a look at this over the size range 8-14 and let me know what you see?  This is likely to be a size specific issue related to where the horizontal strokes align in the grid.

What platform are you on?

[2015-12-19 18:33] mmlb commented on #162
I've attached 8-14. I'm on Arch Linux.
![2015-12-19-133044_63x95_scrot](https://cloud.githubusercontent.com/assets/708570/11914726/e6240496-a654-11e5-8b33-961c2df003a6.png)
![2015-12-19-133058_71x117_scrot](https://cloud.githubusercontent.com/assets/708570/11914724/e623f758-a654-11e5-8898-0ee335f38a95.png)
![2015-12-19-133109_72x129_scrot](https://cloud.githubusercontent.com/assets/708570/11914725

[2015-12-19 18:58] chrissimpkins commented on #162
Thank you very much. That is helpful. It looks like they are all off and many are rendered at different stroke widths.  Queued!

[2015-12-19 19:01] mmlb commented on #162
np! :tada:

[2015-12-21 11:39] rahilwazir commented on #152
I have posted the issue, just so you know:
https://youtrack.jetbrains.com/issue/IDEA-149554

I'll update here if I get any reply from them

[2015-12-21 11:42] yoyosan commented on #152
Hi @rahilwazir !

I've had this issue too and it was because I've installed a newer version of the Hack font without removing the existing one.

Also, you need to restart your IDE.

[2015-12-21 14:39] fruel commented on #161
I build an initial version of the test tool. You can find it here: https://github.com/fruel/JavaFontRendererTest (binary release included)

[2015-12-21 14:47] chrissimpkins commented on #161
Thanks @fruel!  This looks great based upon the description in the README.  I will give it a try later today.  Is it possible to include instructions on how to build the jar file from source?

[2015-12-21 14:48] fruel commented on #152
While working on the test tool for #161 i discovered that the fonts on my PC are messed up. It looks to me that there were multiple versions of Hack installed as some applications were using C:\Windows\Fonts\Hack_Regular.ttf and some C:\Windows\Fonts\Hack_Regular**_0**.ttf

I removed Hack from the Windows fonts folder (had to do it multiple times as the file reappeared) - but some Java application

[2015-12-21 14:48] chrissimpkins commented on #152
@rahilwazir Thanks Rahil! I will keep an eye on it as well.

[2015-12-21 14:49] chrissimpkins commented on #152
@yoyosan Thanks for this information Marius.  Really appreciate it.

[2015-12-21 14:52] chrissimpkins commented on #152
Interesting.  I wonder why it would lead to a render with incorrect glyphs rather than simply selecting one or the other set of font files?  Perhaps this belongs on a Windows issue tracker?

[2015-12-21 14:53] chrissimpkins commented on #152
@fruel Thanks for creating the Java font testing tool by the way.  It looks great!

[2015-12-22 14:59] 15348805850hanwannian commented on #104
韩万年

[2015-12-22 20:23] rahilwazir commented on #152
@yoyosan Thanks that actually worked, but this is so weird, not most of the users remove fonts when they upgrade.

@chrissimpkins Can you please make a note of this update process on readme for future readers. I'll close this once you do.

[2015-12-22 20:38] chrissimpkins commented on #152
I'd be glad to.  What approach did you use to delete them prior to the install?

[2015-12-23 06:55] rahilwazir commented on #152
Just navigate to `c:\windows\fonts`, search for the `Hack` font and delete, then install the newer version.

[2015-12-23 07:45] yoyosan commented on #152
@chrissimpkins Go to Control Panel\Appearance and Personalization\Fonts(Windows 7), search for Hack, right click and Delete.

[2015-12-23 13:05] chrissimpkins commented on #152
@rahilwazir @yoyosan both of these approaches fix the issue?

[2015-12-23 13:15] chrissimpkins commented on #152
And is there a reboot involved?  I saw that the editor needs to be closed and reopened in the comments below.

[2015-12-23 13:39] rahilwazir commented on #152
I'm not sure about the [yoyosan](https://github.com/chrissimpkins/Hack/issues/152#issuecomment-166828747) solution (as I'm not currently on my Windows machine).
Yes the editor need to be restarted.

[2015-12-23 13:53] chrissimpkins commented on #152
thank you @rahilwazir !

[2015-12-23 13:55] rahilwazir commented on #152
@chrissimpkins Yeah both approaches works, @yoyosan solution is other way around

[2015-12-23 13:58] chrissimpkins commented on #152
I will add this to the README and let you know when it is available. Thanks again. Odd problem.

[2015-12-23 19:50] chrissimpkins commented on #162
Can you think of any other character combinations that use these two glyphs and would require alignments as well?  In what context are you using that arrow?

[2015-12-23 20:39] mmlb commented on #162
Hmm not sure about alignment exactly, but making sure this looks correctly would be nice too:

[code]
The style and weight of the arrows are completely different from the box lines.

The arrows were seen in a document I was reading demonstrating a diagram with back and forth data flow, so looked like
[code]

[2015-12-23 21:26] chrissimpkins commented on #162
The box drawing glyphs are already in the queue for v2.020.  We will begin work on these soon and will add the arrows to that release.

[2015-12-24 16:03] shepelevstas opened #163 "Glyph add request. U+2116."
Hello! I like your hack font very much =) I use it in sublime for js programming. I miss one glyph. Can you add it, please? =) It’s used in Russian when you type “shift+3”. Dejavu has the glyph, but Hack looks beater in sublime =)
I wrote a letter to you. You suggested to add the request as an issue report, so I did=). Will be waiting for a new glyph!=)

[2015-12-24 16:06] chrissimpkins commented on #163
The numero symbol (U+2116) was added in v2.017. [Changelog](https://github.com/chrissimpkins/Hack/blob/master/CHANGELOG.md)

Should be a simple update away for you :)

Enjoy!

[2015-12-24 16:06] #163 closed

[2015-12-24 16:12] shepelevstas commented on #163
Oh! Great! Thank You!=) Where can i get it?=) I Downloaded the latest version from http://sourcefoundry.org/hack/. v2.018. When i open it to install, it says Version 2.010.

[2015-12-24 16:14] chrissimpkins commented on #163
What platform are you on?  May need to delete the old version of the Hack fonts and then install.

[2015-12-24 16:17] chrissimpkins commented on #163
And with Sublime (and many other text editors), close the editor and open it again.  They cache fonts and the new one will not show up until you do this.

[2015-12-24 16:25] shepelevstas commented on #163
Thanks. It worked. But i must get back to the old version. Now Russian "C" looks really wrong...=0

[2015-12-24 16:26] chrissimpkins commented on #163
That was a change that we made based upon requests from Cyrillic users.  It was not well received and it is changing back in the next release.  Here is a pre-release version that you can use:

https://github.com/chrissimpkins/Hack/tree/development/postbuild_processing/posthinted_builds

This release will be out later this week.

[2015-12-24 16:27] chrissimpkins commented on #163
The files above will show up as v2.019

[2015-12-24 16:28] shepelevstas commented on #163
WOW! You just saved my day=)))))

[2015-12-24 16:29] chrissimpkins commented on #163
Haha! Happy Holidays. Enjoy

[2015-12-27 16:28] luckydonald opened #164 "Capital ẞ"
The capital version of ß doesn't seems to be included.
See https://en.wikipedia.org/wiki/Capital_%E1%BA%9E

[2015-12-27 16:54] chrissimpkins commented on #164
U+1E9E

thanks! we will look into it

[2015-12-27 17:48] jublo commented on #164
To give some context: This is not commonly used in German, since ß is generally replaced with SS in uppercase. For official docs though, using ẞ is mandatory.

[2015-12-30 07:33] mmlb commented on #162
:+1: **really** looking forward to 020

[2016-01-07 00:54] van-de-bugger commented on #155
Hi,

It *would* be nice to have different glyphs for Latin C and Cyrillic Es (and Latin A and Cyrillic A, Latin B and Cyrillic Ve, etc). However, current Cyrillic Es glyph looks **`so ugly`** so I use another typeface, not Hack.

It *would* be nice to have different glyphs for Latin and Cyrillic letters, but visual aesthetic should *not* be sacrificed.

In my experience I had some troubles with La

[2016-01-07 01:00] chrissimpkins commented on #155
thanks

[2016-01-11 15:30] antanst opened #166 "Programming ligatures"
Since this typeface is marketed towards programming, perhaps some ligatures would be of interest, like in the Fira Code, Hasklig or PragmataPro fonts. Personally, I find Fira Code's ligature preferences the most correctly designed and pleasing to the eye.

[2016-01-11 15:40] chrissimpkins commented on #166
Thanks for the suggestion Antonis. We have an open issue report and a lot of backstory/opinions about this issue.  It is possible that this will take place but it will likely be in the form of a new set of fonts rather than in the primary font for the issues that I laid out there.

Feel free to join the conversation in #35

[2016-01-11 15:40] #166 closed

[2016-01-11 17:23] chrissimpkins opened #167 "Update box drawing glyph alignment"
Will be part of v2.020 release

Includes issues from reports #104, #150, #162

[2016-01-11 17:28] #161 closed

[2016-01-11 19:28] chrissimpkins commented on #154
Adding this to the v2.020 release

[2016-01-11 19:48] #54 closed

[2016-01-18 02:05] chrissimpkins commented on #155
The Cyrillic es glyphs are reverted back to the Latin C/c shapes as of release v2.019 which is now available in the master branch. Thanks to all for your feedback on this issue here.

[2016-01-18 02:05] #155 closed

[2016-01-18 02:12] chrissimpkins commented on #159
Included in release v2.019 which is now merged into the master branch

[2016-01-18 02:12] #159 closed

[2016-01-18 02:13] chrissimpkins commented on #158
Fixed and now available as part of the v2.019 release.  Thanks for this issue report Kevin.

[2016-01-18 02:13] #158 closed

[2016-01-18 02:15] chrissimpkins commented on #81
These fixes are now available in the v2.019 release. Thanks for this issue report and for all of your help with testing here @m42e + @Defman21

[2016-01-18 02:15] #81 closed

[2016-01-18 02:15] t3rminus commented on #158
Confirmed fixed. Thanks Chris!

[2016-01-18 02:16] chrissimpkins commented on #158
Excellent.  Glad to hear that!

[2016-01-18 10:46] Defman21 commented on #81
You're welcome, thanks for your awesome font!

[2016-01-18 11:48] chrissimpkins commented on #81
@Defman21 :+1:

[2016-01-18 13:38] chrissimpkins commented on #167
Work is beginning on this issue

[2016-01-18 13:39] heliocastro opened #168 "[wishlist - granted ;) ] Create tar.xz tarballs for next release"
At Fedora we do prefer use when available .tar.xz files, due compression rates, and sometimes, in some extreme cases, we even repackage the source code.

So, if is not that complex to you, can you add tar.xz compressed files as well for next release ?

Thanks for your work, Helio

[2016-01-18 13:41] chrissimpkins commented on #168
I will get this up for you today with the current release.  Any preferences about the compression level?

[2016-01-18 13:45] heliocastro commented on #168
Hey
No worries about compression level.
I already released .019 with tar.gz, so will be ok for next release.
Thanks

[2016-01-18 16:03] chrissimpkins commented on #168
Mind confirming that these have the correct archive font (and CSS) file paths for you?  Looks like you will save a bit of bandwidth with this archive format :+1: :

https://github.com/chrissimpkins/Hack/tree/development/build/archives

If this works for you, I will include these `tar.xz` archives in future releases as attachments to the release as we are currently doing with the `.zip` and `.tar.g

[2016-01-18 19:17] chrissimpkins commented on #152
README updated with workaround for this issue.  Users are still having the problem and the issue report remains open on the JetBrains tracker.  Will continue to leave the issue open here for reference.

[2016-01-19 04:52] paultopia opened #169 "Homebrew install fails with bad header line"
The recommended OS X installation method via homebrew fails as follows:

    $ brew cask install caskroom/fonts/font-hack
    ==> Adding new tap 'caskroom/homebrew-fonts'
    ==> Cloning into '/usr/local/Library/Taps/caskroom/homebrew-fonts'...
    ==> Tapping caskroom/fonts
    Tapped 0 formulae (1042 files, 4.4M)
    Cloning into '/usr/local/Library/Taps/caskroom/homebrew-fonts'...
    Error: Ca

[2016-01-19 05:17] chrissimpkins commented on #169
Thanks Paul.  These packages are not maintained by the project.  Let's see if the package maintainers have thoughts.

@chrisdaish @alerque any idea why the Homebrew cask might be throwing a bad header line error?

#### [font-hack.rb](https://github.com/caskroom/homebrew-fonts/blob/master/Casks/font-hack.rb)

[code]

[2016-01-19 05:36] chrissimpkins commented on #169
I can verify that the version number and SHA256 hash changes in the most recent commit both appear to be valid

[2016-01-19 05:38] jawshooah commented on #169
Your `brew-cask` is outdated. Check out the [massive, bolded heading](https://github.com/caskroom/homebrew-cask#important-december-update-homebrew-cask-will-now-be-kept-up-to-date-together-with-homebrew-see-15381-for-details-if-you-havent-yet-run-brew-uninstall---force-brew-cask-brew-update-to-switch-to-the-new-system) on our readme for the fix :wink:

[2016-01-19 05:48] chrissimpkins commented on #169
@jawshooah Thanks Josh.  I am assuming that the install with `brew cask install caskroom/fonts/font-hack` remains the same after he uninstalls `brew-cask`?

@paultopia Paul, let us know if this fixes your issue.  If so, I will update the original Homebrew documentation that @alerque added here so that users know about this change to brew cask.

[2016-01-19 05:49] jawshooah commented on #169
@chrissimpkins Yup, the command remains the same. @paultopia just needs to `brew uninstall --force brew-cask` to clear out the old installation, then `brew update`.

[2016-01-19 05:49] chrissimpkins commented on #169
@jawshooah :+1: perfect, thanks!

[2016-01-19 05:49] jawshooah commented on #169
:beers:

[2016-01-19 08:36] heliocastro commented on #168
Almost there, minor issued:
- The name is different from the original sources: Hack-v2_019-ttf to Hack_v2.019-ttf
- The currnet 2.019 sources doesn't have sub dir:
./Hack-Bold.ttf x ttf/Hack-Bold.ttf

[2016-01-19 08:55] chrissimpkins commented on #168
Using this script:

https://github.com/chrissimpkins/Hack/blob/master/postbuild_processing/archive_prep/make_tarxz.sh

Will modify it to try to make the adjustments above.  Can you clarify the second bullet point?

[2016-01-19 08:56] jorgheymans opened #170 "intellij: highlighted array brackets disappearing partially"
Hi,

Using font-size 12 and up, the bottom part of array brackets disappear when highlighted (this is not the same as selected). Hoping the gif will explain all:

![arraybrackets](https://cloud.githubusercontent.com/assets/193792/12413958/d8687cbe-be92-11e5-8052-9f28f09e0b6f.gif)

This was happening in the .18 release already, still there in the .19.

Changing the line spacing (set to 1.0) does no

[2016-01-19 08:58] heliocastro commented on #168
Directory structure. Current package doesn't have subdirectory ( which i think is better ).

- Current package
[helio@triceratops hack-fonts]$ tar tvfz Hack-v2_019-ttf.tar.gz
drwxr-xr-x ces/staff         0 2016-01-18 01:36 ./
-rw-r--r-- ces/staff    396032 2016-01-16 18:50 ./Hack-Bold.ttf
-rw-r--r-- ces/staff    404656 2016-01-16 18:50 ./Hack-BoldItalic.ttf
-rw-r--r-- ces/staff    399648 2016-01-1

[2016-01-19 09:22] hrach commented on #170
https://github.com/chrissimpkins/Hack/issues/129

[2016-01-19 10:26] jorgheymans commented on #170
interesting, so the problem appeared only in intellij 15 ...

[2016-01-19 10:26] #170 closed

[2016-01-19 13:25] chrissimpkins commented on #168
that script doesn't seem to eliminate the .DS_Store files either.  will work on it

[2016-01-19 13:49] paultopia commented on #169
Awesome, thank you! 

--
Paul Gowder
http://paul-gowder.com

On Mon, Jan 18, 2016 at 9:49 PM -0800, "Josh Hagins" <notifications@github.com> wrote:

—
Reply to this email directly or view it on GitHub.

[2016-01-19 16:40] chrissimpkins commented on #169
The OS X installation documentation was updated with this information.  Thank you very much for submitting this issue report (and to @jawshooah for the fix!).

[2016-01-19 16:40] #169 closed

[2016-01-19 21:34] chrissimpkins opened #171 "Correct glyph number inconsistencies between Hack variants"

[2016-01-19 21:44] chrissimpkins commented on #140
@ciscorucinski did you happen to submit an issue report on the JDK tracker for this?  I had another user who reported the same problem and it seems that JetBrains is pointing the finger at the Java renderer.

[2016-01-20 10:23] ciscorucinski commented on #140
@chrissimpkins I do remember going through the process of submitting the bug report on the JDK. However, I cannot remember if I was actually successful or not. I cannot find the issue at all right now.

I would say, submit again. We now have 4 reports on this type of issue - the other bug report, this bug report, and the 2 reports from JetBrains.

[2016-01-20 12:15] chrissimpkins commented on #140
thank you very much!

[2016-01-20 15:48] chrissimpkins commented on #168
Corrected the archive file paths and the release files are in the top level of the directory.

[code]

I added these files to the current release and they will be included with future releases.  Thanks for all of your help with the redistribution on Fedora Helio.

[2016-01-20 15:49] #168 closed

[2016-01-20 16:36] ciscorucinski commented on #140
I mean, it would be a good idea for someone to submit another bug report to make sure. It has been a while since I looked at this, and I am confused at what categories and subsystems this would fall under based on the JDK submission process right now.

Sorry, I have my hands full at the moment.

[2016-01-20 16:52] chrissimpkins commented on #140
I understood and gave you an abbreviated response from my phone :)

In discussion with @kolletzki about it outside of the issue report thread.  It sounds like he intends to followup on the issue with JetBrains +/- JDK issue trackers.  Will see if he learns anything new to update here.

[2016-01-20 16:56] chrissimpkins commented on #171
@jublo free to assist with this?

[2016-01-20 17:16] chrissimpkins opened #172 "Font redistribution package maintainers: tar.xz archives are now available"
@heliocastro requested tar.xz font archives for future Fedora releases.  These are now available as of the current [v2.019 release](https://github.com/chrissimpkins/Hack/releases/tag/v2.019).  They will be available on all future releases if this is helpful to other package maintainers out there.

cc: @alerque @legovini

[2016-01-20 17:32] #119 closed

[2016-01-20 17:34] kolletzki commented on #140
I did not find any time today, but I will submit a bug report to the JDK issue tracker tomorrow. I'll keep you informed.

[2016-01-20 17:35] #115 closed

[2016-01-20 17:36] chrissimpkins commented on #140
@kolletzki No rush.  As you can see this has been open for some time.  Please let us know if you discover anything.  Happy to work from our end to sort this out.

[2016-01-20 17:36] chrissimpkins commented on #162
@mmlb work underway!

[2016-01-20 17:50] mmlb commented on #162
w00t :tada: ! Thanks @chrissimpkins :+1:

[2016-01-21 07:09] jublo commented on #171
@chrissimpkins What strategy to use? Remove glyphs existing in variants but not in Regular, or add glyphs to Regular? Add glyphs to variants that exist only in Regular?

[2016-01-21 12:12] chrissimpkins commented on #171
Do those lists in that repo show only glyphs that are missing in regular?  I would favor removing glyphs from others if we find that these are not commonly used characters (which they presumably will be since no one has mentioned this yet).

[2016-01-21 12:13] heliocastro commented on #172
Many thanks

[2016-01-21 13:20] chrissimpkins commented on #172
@heliocastro my pleasure Helio.  The improvement in the compression ratio is significant

[2016-01-22 08:16] anicake opened #173 "Updating font cache... Couldn't determine full name for Khand-ExtraBold.ttf"
[code]

[2016-01-22 13:24] chrissimpkins commented on #173
There seems to be an issue with your post-install font cache update.  Here is the [post install work](https://projects.archlinux.org/svntogit/community.git/tree/trunk/ttf-hack.install?h=packages/ttf-hack) that the package is performing:

[code]

While we endorse their use, we do not release or manage these platform specific packages and support questions should be directed to the package maintaine

[2016-01-22 13:30] chrissimpkins commented on #150
@doubleagent I am working on these now Daniel.  You able to test them when we have an updated build?

[2016-01-22 15:23] anicake commented on #173
Hey,

Thanks for pointing me in the right direction.
While trying to get in touch with Lukas Fleischer, I also noticed on

https://www.archlinux.org/packages/community/any/ttf-hack/

that it has been "Flagged out-of-date on 2016-01-18". So I won't be able to raise a bug. Just registered for an account on the bug tracker. :) I'm new to Arch (5 days) coming from 6 years on Ubuntu and Mac before that

[2016-01-22 15:25] doubleagent commented on #150
Sure. Just keep in mind that the otf rendering could be entirely an emacs problem.

FYI, I've been using this font in Spacemacs for all of my development environments. I think Hack has a strong case to be rendered as the default font.

[2016-01-22 15:36] chrissimpkins commented on #173
Let me know what you find.  The packages are fortunately/unfortunately out of my hands.  There are manual install instructions on our README file in the interim.  Sorry for the troubles.

[2016-01-22 15:41] chrissimpkins commented on #150
I am working on the ttf builds at the moment and I'd like to confirm that the vertical alignment problem that you mentioned here https://github.com/chrissimpkins/Hack/issues/150#issuecomment-153781828 is addressed.  We'll see what happens in the otf files.  The hinting is completely different there and, if that is playing a role, the upcoming release will likely not address it.  Possibly something

[2016-01-22 15:42] chrissimpkins commented on #150
:+1: Great to hear that! Glad that it's been useful to you.

[2016-01-22 16:55] anicake commented on #173
Final update:

Lukas wrote back to my email stating in positive that the bug was in the Khand font alone, which is part of the Google fonts pack.

I'm utterly sorry for bothering with this over here. I should have thought a little more about the message on the console without jumping to this conclusion just because I saw it while installing ttf-hack.

Thanks very much for your patience @chrissimpk

[2016-01-22 17:00] chrissimpkins commented on #173
It's no problem at all Aniket.  I'm glad that it is resolved.  Rest assured there will be others who have a similar problem and now we have a solution.  Poke Lukas to update the Hack fonts package too! ;)

[2016-01-22 17:00] #173 closed

[2016-01-23 00:27] van-de-bugger opened #174 "README.md: a typo"
Spellchecker complains on README.md line 34:

    analphabetic -> an alphabetic, an-alphabetic, alphabetical

Looks like a typo... It seems "an" should be dropped.

[2016-01-23 14:03] chrissimpkins commented on #174
Thanks for the suggestion (and for the thorough review of the docs!) @van-de-bugger.  Analphabetic characters are those that fall outside of the alphabet set.  They include glyphs like the punctuation.  I will take a look through to confirm that I used the term in the proper context.

[2016-01-23 14:03] #174 closed

[2016-01-25 16:03] chrissimpkins commented on #162
@mmlb Here is where we are vs a handful of ASCII glyphs:

<img width="226" alt="arrow-specimen" src="https://cloud.githubusercontent.com/assets/4249591/12556267/1581a93a-c353-11e5-9698-8dbac16123a5.png">

I am going to bring the arrow up to the level of the horizontal line.  It seems that is the proper orientation.

[2016-01-25 16:13] chrissimpkins commented on #162
Mind showing me how U+2588= `█ ` renders next to U+2500= ` ─` for you?  I'm interested to see how the horizontal spacing looks between the glyphs.  The arrow has a right sidebearing > 0 set (i.e. should be a space between it and any character to the right side).  The block element glyph has it set to 0.  Please use the most recent v2.019 release if you haven't updated.  We just made changes to the

[2016-01-25 19:41] mmlb commented on #162
@chrissimpkins  here's the requested screenshot using v2.019 ![2016-01-25-144007_362x188_scrot](https://cloud.githubusercontent.com/assets/708570/12562149/8dda46c6-c371-11e5-8bbe-0bc02ac679ff.png)

[2016-01-25 19:43] chrissimpkins commented on #162
Thanks! That looks good.  It looks like we need to slightly increase width of the arrow as well and we should be all set.  Hope to have a set of fonts out this week that you can try.

[2016-01-25 19:50] mmlb commented on #162
Nice!

[2016-01-25 21:55] chrissimpkins commented on #167
Nearly complete.  Test fonts available soon

[2016-01-25 21:58] chrissimpkins commented on #150
Can you have a look at this at a range of font sizes between 8 - 14 and let me know what sizes are causing problems?  I verified that the following three glyphs:

╭ box drawings light arc down and right - 0x256D
─ box drawings light horizontal - 0x2500
╮ box drawings light arc down and left - 0x256E

are aligned in the design and the horizontal stems are the same width.  This must be a hinting iss

[2016-01-26 04:47] chrissimpkins commented on #162
:+1:

<img width="455" alt="arrows" src="https://cloud.githubusercontent.com/assets/4249591/12572726/ea6f9cb4-c3bd-11e5-811a-6e3556f82e2f.png">

[2016-01-26 06:02] chrissimpkins commented on #162
v2.020 DEV012616 development build fonts are available for testing:

[Hack-Regular-DEV.ttf](https://github.com/chrissimpkins/Hack/raw/development/build/test_builds/Hack-Regular-DEV.ttf)

[Hack-Italic-DEV.ttf](https://github.com/chrissimpkins/Hack/raw/development/build/test_builds/Hack-Italic-DEV.ttf)

[Hack-Bold-DEV.ttf](https://github.com/chrissimpkins/Hack/raw/development/build/test_builds/Hack-

[2016-01-26 06:02] chrissimpkins commented on #167
v2.020 DEV012616 build files are available for testing:

[Hack-Regular-DEV.ttf](https://github.com/chrissimpkins/Hack/raw/development/build/test_builds/Hack-Regular-DEV.ttf)

[Hack-Italic-DEV.ttf](https://github.com/chrissimpkins/Hack/raw/development/build/test_builds/Hack-Italic-DEV.ttf)

[Hack-Bold-DEV.ttf](https://github.com/chrissimpkins/Hack/raw/development/build/test_builds/Hack-Bold-DEV.ttf

[2016-01-26 06:03] chrissimpkins commented on #104
v2.020 DEV012616 build files are available for testing:

[Hack-Regular-DEV.ttf](https://github.com/chrissimpkins/Hack/raw/development/build/test_builds/Hack-Regular-DEV.ttf)

[Hack-Italic-DEV.ttf](https://github.com/chrissimpkins/Hack/raw/development/build/test_builds/Hack-Italic-DEV.ttf)

[Hack-Bold-DEV.ttf](https://github.com/chrissimpkins/Hack/raw/development/build/test_builds/Hack-Bold-DEV.ttf

[2016-01-26 16:51] chrissimpkins commented on #167
Here is where we are on OS X with the current box drawing set (as of v2.020 DEV012616):

<img width="233" alt="block-drawing" src="https://cloud.githubusercontent.com/assets/4249591/12587606/1b98faa0-c423-11e5-8cd3-dae661b69f42.png">

[2016-01-26 16:55] chrissimpkins commented on #150
This is what I am seeing in OS X as of the current test release (v2.020 DEV012616):

<img width="233" alt="block-drawing" src="https://cloud.githubusercontent.com/assets/4249591/12587606/1b98faa0-c423-11e5-8cd3-dae661b69f42.png">

I linked these font builds in https://github.com/chrissimpkins/Hack/issues/167#issuecomment-174849181 if you'd like to give them a try.

[2016-01-26 17:15] weslem commented on #104
I still produce strange renderings on my high-DPI monitor. I made a number of renderings with both 2.019 and the DEV012616 version using this script:

[code]

Point size 12 looks good, but does show slight differences around the vertical bar meeting points:
![12_summary](https://cloud.githubusercontent.com/assets/994468/12588340/1c01d82e-c40d-11e5-8d55-e6e6117781ac.png)

Point size 11 is visibly d

[2016-01-26 17:19] chrissimpkins commented on #154
@burodepeper Thoughts?  I am prepared to start work on this.  My inclination is to move away from oblique punctuation altogether but would like to see what you have in mind.

[2016-01-26 17:36] chrissimpkins commented on #104
Thanks Matthew (@weslem).  I really appreciate your feedback.

We have several open issue reports associated with vertical spacing in the box drawing glyph set.  It was work that needed to be done after I adjusted the line spacing.  It looks like we are getting close.  At this point I think that we are entering the domain of hinting issues and I am not prepared to manually modify the hinting acros

[2016-01-26 17:38] chrissimpkins commented on #104
It's a pretty big set of glyphs and here is where we are overall:

<img width="233" alt="block-drawing" src="https://cloud.githubusercontent.com/assets/4249591/12587606/1b98faa0-c423-11e5-8cd3-dae661b69f42.png">

[2016-01-26 17:39] mmlb commented on #162
@chrissimpkins here's what I get with Hack-Regular:

v2.019
![2016-01-26-123535_319x182_scrot](https://cloud.githubusercontent.com/assets/708570/12588980/6e57bd5c-c429-11e5-82e8-a0c8d093ee3a.png)

v2.020
![2016-01-26-123625_290x182_scrot](https://cloud.githubusercontent.com/assets/708570/12588978/6e53bf72-c429-11e5-881e-a6c619d44f79.png)

[2016-01-26 17:41] chrissimpkins commented on #162
@mmlb What text size are you using there?

[2016-01-26 17:43] mmlb commented on #162
14pt

[2016-01-26 17:49] chrissimpkins commented on #162
Thank you.  It looks like it has now turned into a hinting issue.  I am seeing it in correct orientation on OS X at all sizes between 8 - 16px.  Will take a look at the hints to see if I can improve further.

The horizontal spacing issue is better.

[2016-01-26 17:56] mmlb commented on #162
horizontal spacing looked good @ 14pt, but not at 8. For your reference here are screen shots of 8-16pt.
![8pt](https://cloud.githubusercontent.com/assets/708570/12589518/2f598f56-c42c-11e5-957d-1b6c39b88393.png)
![9pt](https://cloud.githubusercontent.com/assets/708570/12589519/2f649b1c-c42c-11e5-926d-fc563ce934cf.png)
![10pt](https://cloud.githubusercontent.com/assets/708570/12589520/2f669048-c42

[2016-01-26 18:13] chrissimpkins commented on #162
What hinting settings are you using?

[2016-01-26 18:14] chrissimpkins commented on #162
And thanks for all of the images by the way!

[2016-01-26 18:22] mmlb commented on #162
Getting into the edges of my font config knowledge here please let me know if something is _obviously_ wrong (tm) ``` xrdb -query | grep Xft
Xft.autohint:	true
Xft.hintstyle:	hintmedium
Xft.rgba:	none
Xft.dpi:	192
Xft.antialias:	1
Xft.hinting:	1
[code]

[2016-01-26 19:31] chrissimpkins commented on #162
Let me look into those settings.  You might be altering the hinting that we provide in the fonts.

[2016-01-26 21:24] mmlb commented on #162
Sure thanks. np for the images btw.

[2016-01-26 21:30] chrissimpkins commented on #162
Not an area that I have much experience with either.  Time to learn :)

[2016-01-26 21:59] mmlb commented on #162
Yay arcane X11 configuration spelunking!

[2016-01-27 10:20] rahilwazir commented on #152
@chrissimpkins The [issue](https://youtrack.jetbrains.com/issue/IDEA-149554) is closed now

[2016-01-27 15:18] chrissimpkins commented on #152
Alright, I will close this issue.  Thanks for raising it @rahilwazir

[2016-01-27 15:18] #152 closed

[2016-01-27 17:11] burodepeper commented on #154
Hello all,

I've been discussing this issue with @chrissimpkins once again, and we've decided to pick it up for the upcoming release. We have been discussing, quite extensively, how the italics relate to the regular set. It is my opinion that the literal issue as posted by @alerque is not the actual issue. Or at least, it is not an issue with Hack, but rather with poor syntax highlighting. For the

[2016-01-28 19:49] lrvick commented on #127
bump. Any ideas on how to add these bold glyphs? I could take a stab at it myself if it is not too crazy.

[2016-01-28 21:10] chrissimpkins commented on #127
@jublo you willing to contribute the watch outlines?  I don't have these.  I believe you only pushed an image from the editor.

[2016-01-28 21:12] chrissimpkins commented on #127
@Irvick you just need bold variants of the current set of Powerline glyphs that we include in the regular set or you need the watch glyph as well?

[2016-01-28 23:19] jublo commented on #127
@chrissimpkins I’ll take a look at where I have them. I thought the watch was already merged… _unsure_

[2016-01-28 23:19] jublo commented on #127
@chrissimpkins @lrvick Please look here: https://github.com/jublonet/Hack/tree/feature/127-watch

[2016-01-28 23:23] lrvick commented on #127
bold lock and clock are both missing for me, and expected by default powerline tmux config.

[2016-01-29 12:36] chrissimpkins commented on #127
@jublo Thank you very much JM

[2016-01-29 12:39] chrissimpkins commented on #127
@Irvick do you have a font editor?

[2016-01-29 12:46] van-de-bugger commented on #174
Ah, I see. Probably "non-alphabetic" would be better choice? It does not confuse spellchecker and non-native English readers.

[2016-01-29 13:19] chriskrycho commented on #35
@chrissimpkins, here chiming in to say I'd love it as well. Just checking in: what's the status on any update—I see the dev repo hasn't been updated in a while? (No rush, just curious. :smile:)

[2016-01-29 13:20] chrissimpkins commented on #174
The docs need a thorough once over for revisions.  I will include a change.  Thanks for the recommendation!

[2016-01-29 13:56] chrissimpkins commented on #35
@chriskrycho Time is short and the list is long!  We were using the dev repository to collaborate on a fully scripted build approach as v3.x but @jublo has been tied up with other projects and  this has stalled for the moment.   That is why you haven't seen commits there.  I am working in the  `development` branch of this repository to develop the main sets and work remains very active.  We just r

[2016-01-29 13:59] chriskrycho commented on #35
@chrissimpkins Thanks for the quick response! I hear you on all fronts, and am delighted to hear that work continues apace. If I knew what I was doing with typeface *design* tools, I'd pitch in myself.

[2016-01-29 18:07] lrvick commented on #127
@chrissimpkins I do not. Any open source ones that run on Linux you can recommend? Google gives me a pretty daunting list. Fontforge looks interesting...

[2016-01-29 18:54] chrissimpkins commented on #127
@lrvick FontForge is free, open source, and excellent.  It is [available on Linux](https://fontforge.github.io/en-US/downloads/gnulinux/).  @davelab6 and crew have written a fantastic [set of docs](http://designwithfontforge.com/en-US/index.html) to support those who are getting started.  Definitely check it out if you're interested.

https://fontforge.github.io/en-US/

Let me know if there is any

[2016-01-31 01:56] doubleagent commented on #150
Sorry for the delay ... I've been super busy.  Using the current stable version on my Mac I cycled through font sizes 8-14 and was unable to recreate the alignment issues originally reported.  Perhaps it only manifests on Windows?  I'll try again on a Windows PC tomorrow.

[2016-01-31 03:54] chrissimpkins commented on #150
@doubleagent great thanks.  let me know when you have a chance

[2016-01-31 10:00] jublo commented on #35
@chriskrycho Thanks for your interest! The scripted build approach that Chris mentioned hasn’t died—it’s just on ice for now. I may be able to resume contributions on this over the next time and will make sure to keep you updated! :)

[2016-01-31 23:21] doubleagent commented on #146
The Lucida Console line spacing is much too small for my tastes.

[2016-01-31 23:25] doubleagent commented on #150
Used current stable on Windows.  Size 13 has no issue, but all other font sizes between 8 & 14 do.

14 has alignment issues with these code points: ╭ (0x256D), ╮ (0x256E)

12, 9, & 8 have alignment issues with these code points: ╰ (0x2570), ╯ (0x256F)

Size 10 has an alignment issue with all 4.

[2016-01-31 23:26] chrissimpkins commented on #150
Is the misalignment up or down?

[2016-01-31 23:29] doubleagent commented on #150
Figured you would ask.

Picture from sz 10:
![image](https://cloud.githubusercontent.com/assets/56522/12705952/ff083682-c83f-11e5-92f1-fec565e82945.png)

This is representative of the misalignment in all font sizes.

[2016-01-31 23:32] doubleagent commented on #150
Trying the dev fonts.  One sec

[2016-01-31 23:32] chrissimpkins commented on #150
Excellent, that is helpful.  Let me take a look at the hinting.  Will see how close we can get to perfect alignment. It is perfectly aligned in the design.  I think that we are seeing a pixel bump due to hinting issues here.

[2016-01-31 23:33] chrissimpkins commented on #150
If the above image is from 2.019, definitely try the current development fonts.  The changes to these glyphs were not included in 2.019

[2016-01-31 23:36] doubleagent commented on #150
The dev builds don't show the misalignments for font sizes 8 & 9.  The rest remain identical to 2.019.

[2016-01-31 23:37] chrissimpkins commented on #150
Excellent, that is helpful.  I will take a look at the hints at those font sizes.  Will let you know when there are new sets available for testing.  Thanks much for taking a look.

[2016-02-02 05:00] tjahjono opened #175 "Hack Regular displaying incorrectly [OS X]"
I attempted to upgrade to Hack 2.019 on a Mac and this is what happens with Hack Regular.

![screen shot](https://cloud.githubusercontent.com/assets/756116/12740286/5f3ac8ba-c937-11e5-97ec-0c863e240314.png)

Bold, Italic, and BoldItalic displays correctly. Hack 2.010 was previously installed, and I removed it before installing the current version.

[2016-02-02 05:46] chrissimpkins commented on #175
Strange.  Sorry you are having troubles Randy.  Let's see if this is a corrupted font cache issue.  Do you mind uninstalling Hack by right clicking on the Hack name in Font Book and selecting `Remove "Hack" family`, then execute these commands to clear your font caches:

[code]

When you perform the shutdown, you should receive the message `ATSServer shutdown` and when you perform the ping you sho

[2016-02-03 03:05] tjahjono commented on #175
That fixed it. Thanks!

[2016-02-03 03:06] #175 closed

[2016-02-03 03:37] chrissimpkins commented on #175
Excellent! Glad to hear that.  Let me know if you come across any other problems.

[2016-02-05 08:40] f911 commented on #72
I have met the same question

[2016-02-07 18:31] texhex commented on #152
@fruel I know this issue is closed, but just for the sake of documentation: The issue that you suddenly had a C:\Windows\Fonts\Hack_Regular.ttf and some C:\Windows\Fonts\Hack_Regular**_0**.ttf file is caused by the ***Fonts*** applet.

As soon as you open C:\Windows\Fonts (or use ***Fonts*** from Control Panel) and then drag&drop a TTF file that is already there and/or locked, Windows will decide

[2016-02-07 23:15] chrissimpkins commented on #152
@texhex Thank you for this information Michael.  Appreciate the feedback.  Odd that the duplicates that include different file paths lead to such problems...

[2016-02-08 07:49] rahilwazir commented on #152
@texhex Nice to know, thanks for the inside

[2016-02-10 03:58] Fuzzypeg opened #176 "Numerals 5 and 6 render poorly at 7- or 8-pixel size"
The lower bowl is too large while the ascender is squashed hard against the rest of the figure. As seen in the [specimen](http://chrissimpkins.github.io/Hack/font-specimen.html).

[2016-02-10 11:17] chrissimpkins commented on #176
Will take a look at it. Thanks for reporting it!

[2016-02-10 17:15] chrissimpkins commented on #176
I am not seeing this in the web font specimen on OS X in Firefox 46.0a2.  Mind submitting a screenshot that shows what you are seeing along with information about your platform and browser (if SS from web specimen) or text editor (if you show me a desktop editor shot). It sounds like a hinting issue, but let me see what you are seeing.

Thanks much.

[2016-02-10 18:31] texhex opened #177 "Include a link to OSFontPack in readme.md (section Windows)"
Disclaimer: I’m the creator of OSFontPack.

I would like to propose to include a link to [OSFontPack](https://github.com/texhex/OSFontPack) in readme.md, section *Windows*.

OSFontPack is a setup for (currently) four open source fonts. I think “normal” Windows users will prefer a setup over the manual installation which might result in more users to use Hack.

The setup itself:
* Is also open sour

[2016-02-10 19:06] chrissimpkins commented on #177
Thanks for this Michael!  Let me give it a try on a Windows box and then let's see if we can work it into the documentation as a resource for Windows users.  Do you intend to keep this project current with Hack releases?

I really appreciate the inclusion of the typeface in your project.

[2016-02-10 19:38] texhex commented on #177
You're welcome. Yes, I intend to keep the project current if I notice a newer release. The creation is rather simple:
* Download new Hack TTF fonts and add it to a new folder
* Update the setup source to look into this folder and increment the version number
* Compile.
* Push
* Add release.
* Done.

On the user side, I'm using SHA1 hashes of the file so the new setup will detect that the files are

[2016-02-10 20:21] Fuzzypeg commented on #176
I'm viewing this in Windows10, using Chrome (version 48.0.2564.97 m).
![hack font hinting issue](https://cloud.githubusercontent.com/assets/6521122/12960541/9ff1ebb6-d0a0-11e5-882c-a0de2e744bdf.png)

[2016-02-10 23:05] chrissimpkins commented on #177
@texhex Thanks Michael :+1:

[2016-02-10 23:08] chrissimpkins commented on #176
Thank you very much for the screenshot.  I see what you mean.  I will have a look at these glyphs x these sizes.  Are you using the fonts on Windows in this size range?

[2016-02-11 00:41] Fuzzypeg commented on #176
I'm not using the fonts yet, just considering them. But I do sometimes set
my development fonts very small.

On 11 February 2016 at 12:09, Chris Simpkins <notifications@github.com>
wrote:

[2016-02-11 00:58] chrissimpkins commented on #176
Ok, thanks.  I will take a look at them.  Thanks for pointing this issue out.

[2016-02-11 08:01] phantom-code commented on #146
Personally, I found Hack's line spacing is close to ideal (I would even prefer to increase it). When line spacing is small, the source code becomes unreadable. I think that suggested optimization will be harmful. If you like line spacing of Lucida Console, then just use it.

[2016-02-11 14:03] chrissimpkins commented on #146
@phantom-code @doubleagent Thanks for your feedback.  Any changes to the line spacing at this stage would likely be in the form of new variant sets.  I have been tossing around the idea of a script that will modify the OpenType settings for you so that you can create these on your own and at the spacing that you prefer.  The script is not difficult.  The problem is that all vertically aligned glyp

[2016-02-12 18:28] texhex commented on #177
In case you didn't test it already, I just released 1.1.2. As I have learned today, there is font "management" software out there that removes a font by deleting its registration, but keeps the font in \windows\fonts.

The old setup would not have installed this font because the file was already present. The new release also checks if the font registration is valid and if not, installs the font.

[2016-02-12 18:29] chrissimpkins commented on #177
@texhex thank you! hope to get to it this weekend

[2016-02-13 15:40] jpluimers commented on #146
Sorry for having been out of touch that long. I've been on a cramped project, but reserved some time in March to devote on open source projects. Please let me know how I can help by then, and I'll try to schedule some time for it.

The machinery I will have at hand then:
- Mac OS X machine with homebrew, Xcode and any development tools I need
- OpenSuSE Tumbleweed VM on which I can install anythin

[2016-02-13 16:04] chrissimpkins commented on #146
@jpluimers :)  love it

Will let you know when we have a script that you can try.  You will be able to execute it with Python directly on the font files.  Should not require anything special.

[2016-02-15 19:17] jpotier opened #178 "Dash of different sizes render badly"
I often have trouble properly visualizing the different types of dash (En dash, Em dash, Figure dash ; also known as short, half and long dash) in my terminal when editing Tex source in UTF8 or in a IRC conversation. In my mothertongue, these are used commonly, but are often overlooked since it is hard to type them using a conventional keyboard layout (qwerty, azerty, …) In [bépo](http://bepo.fr/w

[2016-02-15 20:15] chrissimpkins commented on #178
Thank you very much for the suggestion.  I really appreciate your feedback.  So that I understand your problem, would it be possible to push images of the dashes in TeX along with information on the font size that you are using and whether the size of the font appears to make a difference in the  appearance of these glyphs?  I will also need information on your platform if you don't mind.  This wi

[2016-02-15 22:58] jpotier commented on #178
Here are two previews, one small, one big:
![dash-small](https://cloud.githubusercontent.com/assets/752510/13062204/1348191a-d43d-11e5-8f9a-5409065990e9.png)
![dash-big](https://cloud.githubusercontent.com/assets/752510/13062213/1fd7ad4e-d43d-11e5-958f-72cb03dc1a35.png)

Both are rendered on Archlinux, font is 12pt in the first, obviously a lot bigger in the second, rendered by:

- freetype2-infin

[2016-02-16 04:55] chrissimpkins commented on #178
Thanks Jean.  We can look at the width and height of the strokes.  They should render with the same stroke height.

Can you clarify what you mean by "marked"?

[2016-02-16 16:34] stefan-kern commented on #33
@chrissimpkins is this still a work in progress? im using the agnoster theme for fisherman on the fish shell inside terminator on ubuntu, and the right arrow () is too small vertically. if i can help, let me know.

[2016-02-16 16:39] chrissimpkins commented on #33
@stefan-kern What text size are you using?  Happy to address this again but we found that we were all over the place with alignments on the various platforms X editors so it was difficult to find a single alignment that works for all. May need separate builds to really get this right.

[2016-02-16 16:45] stefan-kern commented on #33
@chrissimpkins it seems to be font size independent, i tried 11-16 and also 11.1 - 11.9 in .1 increments.
sad that its kind of random, it worked fine for me when i used it with oh-my-fish agnoster on an archlinux setup. having an offset like this makes my eyes twitch from time to time.

[2016-02-16 16:48] theckman commented on #33
My comment above still applies for me (https://github.com/chrissimpkins/Hack/issues/33#issuecomment-153996530).

[2016-02-16 18:30] jpotier commented on #178
As the difference between en dash and em dash is not clear, I would propose to draw en dash differently, maybe giving it a serif aspect so that it refers to a segment instead of a straight line, thus implicitly showing that it is shorter than em dash.

With an image, en dash would be in the spirit of:
![exemple](https://cloud.githubusercontent.com/assets/752510/13086474/ac95afdc-d4e3-11e5-975d-1bb

[2016-02-17 03:02] kaicataldo commented on #86
Seeing the same thing as @jszakmeister. Love the font, @chrissimpkins - thanks for all your work on it!

[2016-02-17 14:07] chrissimpkins commented on #86
@kaicataldo Thanks for your feedback Kai.  I'll make sure that we address the Powerline glyphs in an upcoming release.  Apologize for the delay.  We've been tackling a number of other issues.

[2016-02-17 14:09] chrissimpkins commented on #177
Quick update.  Haven't forgotten.  Still on the list.

[2016-02-17 15:53] kaicataldo commented on #86
No need to apologize! Love the font - it's my go-to font on all my machines now :+1:

[2016-02-17 16:03] chrissimpkins commented on #86
Great to hear that!

[2016-02-17 18:48] texhex commented on #177
Thank Chris, no rush.

After all, we are talking about a project that didn't exists some weeks ago, from a guy you don't know, for an operating system you don't use.

[2016-02-17 18:54] chrissimpkins commented on #177
Haha! Still important and greatly appreciated though.

[2016-02-18 04:27] chrissimpkins commented on #86
Here is a set of new test builds that include the current regular set Powerline glyphs in the bold set.  These should allow you to view the proper glyphs (though not the proper weight) until I can create actual bold versions of the glyphs to address this issue.  These will show up as Version 2.020;DEV-02172016.

https://github.com/chrissimpkins/Hack/tree/development/build/test_builds/DEV02172016

[2016-02-18 04:32] #172 closed

[2016-02-18 04:53] kaicataldo commented on #86
Awesome :+1: I honestly don't know if a heavier weight version of the symbols is necessary. I think it makes more sense to leave them as is, but just to include them.

[2016-02-18 04:55] chrissimpkins commented on #86
Do they show up for you now?

Anyone else in this thread have strong opinions about the weight?

[2016-02-18 15:02] PatTheMav commented on #86
I'll check out the new version when I get home, but for starters I think that the normal weights being available in the bold version is good enough for now.

I remember only the branch symbol being a great candidate for a higher don't weight.

[2016-02-18 15:07] chrissimpkins commented on #86
more than happy to work on bolds if this is felt to be important.  I don't use these in bold and will defer to the judgment of those who do.  thanks in advance for having a look.

[2016-02-18 21:38] PatTheMav commented on #86
Tried out the DEV versions, worked fine here and to be honest I'm actually quite happy with the weight of the glyphs the way they are. But this simplifies my prompt's color commands as I don't need to reset the bold font weight around the glyphs anymore.. 😉

[2016-02-18 22:22] chrissimpkins commented on #86
@PatTheMav :+1:  great!

[2016-02-18 22:23] kaicataldo commented on #86
I probably won't be able to try this out until tomorrow, but looking forward to it. Thanks for being so responsive!

[2016-02-18 22:26] chrissimpkins commented on #86
@kaicataldo no worries at all.  there is no rush.  hope it works for you.

[2016-02-22 16:06] jakubzitny opened #179 "Add Hack to npmjs.com?"
Hey, I am not sure you might be interested in this, but if Hack was available from `npmjs.com` people would be able to include it in their `package.json` as a dependency and have it automatically in their Javascript apps.

For example we have an Electron app and now we need to include these fonts in our repository. If available we'd just `install --save` it and it's done.

I can send a Pull reques

[2016-02-22 16:57] chrissimpkins commented on #179
I would be glad to merge such a PR. Fire away.  Thanks!

[2016-02-22 17:53] jakubzitny commented on #179
I've linked a PR.

I have pushed it to https://www.npmjs.com/package/hack-font. If you create a account there I will set you as main collaborator so you can `npm publish` everytime you guys have a new release :)

[2016-02-25 19:27] colinsullivan opened #181 "powerline glyphs missing for bold"
Using Powerline, iTerm2 is set to display bold text using the bold font.

You can see here, the non-bold LN glyph in the "inactive" vim split is displayed, but the bold one is not.

![screen shot 2016-02-25 at 11 26 52 am](https://cloud.githubusercontent.com/assets/94535/13331523/b67b2ec0-dbb2-11e5-9b8e-1a173593da74.png)

Related to #33.

[2016-02-25 19:40] colinsullivan commented on #181
Changed issue, spans more than just this one glyph.  Putting vim into paste mode:

![screen shot 2016-02-25 at 11 40 17 am](https://cloud.githubusercontent.com/assets/94535/13331941/91e575c8-dbb4-11e5-9511-0914e15c19de.png)

This is using a pretty standard setup of [vim-airline](https://github.com/vim-airline/vim-airline)

[2016-02-25 19:59] gramian commented on #69
Hi,
maybe this gist will help others in using the Hack font in pdflatex: https://gist.github.com/gramian/028870c77620598384eb

[2016-02-25 20:50] kylekthompson opened #182 "Missing glyph for vim-airline"
I'm running into an issue with a missing Line Number glyph in vim-airline. Here is a screenshot:

![screen shot 2016-02-25 at 3 48 58 pm](https://cloud.githubusercontent.com/assets/6563105/13333920/51f229f2-dbd7-11e5-8168-cc8380007cad.png)

I have noticed that if I open another buffer in vim, the inactive buffer correctly displays the line number glyph; however, the active buffer does not.

Let me

[2016-02-25 20:51] kylekthompson commented on #182
Actually, It looks like this is covered in #181. Sorry about that!

[2016-02-25 21:50] chrissimpkins commented on #182
did the fonts linked there fix this issue?

[2016-02-25 21:53] chrissimpkins commented on #69
@gramian Thank you!  Let me think about how to work a link to this into the  documentation in some way.  Really appreciate it.  Reopened the issue so that other users can find the link.

[2016-02-25 21:57] kylekthompson commented on #182
@chrissimpkins when I switch over to Fira Mono or Inconsolata (both patched for Powerline) the glyph is there

[2016-02-25 22:00] kylekthompson commented on #182
Also another note, patching your .otf fonts with [this](https://github.com/powerline/fontpatcher) fixes the glyph but messes up the sizing a little. See below:

![screen shot 2016-02-25 at 4 59 14 pm](https://cloud.githubusercontent.com/assets/6563105/13335865/3268ece2-dbe1-11e5-8e29-37bd6e6dc518.png)

![screen shot 2016-02-25 at 4 59 44 pm](https://cloud.githubusercontent.com/assets/6563105/13335

[2016-02-25 22:32] chrissimpkins commented on #182
will reopen so that I can take a look at this.  reading on my phone and thought this was the issue with the Powerline glyphs in the bold set.  Thanks for poking me on this.   Let me have a look through both threads.

[2016-02-25 22:32] kylekthompson commented on #182
Sounds good. Thanks for checking it out! I love the font!

[2016-02-25 22:53] chrissimpkins commented on #182
Great to hear that! Thank you!

[2016-02-26 07:42] gramian commented on #69
Let me add three points:
1. This will only work Linux,
2. could be done more nicely as a TeX extension.
3. and is only tested by myself.

[2016-02-26 13:16] chrissimpkins commented on #69
@gramian I'm sure that someone will find it to be useful. Can it not be used on OS X as well?   I am finding lcdf-typetools as a package in Homebrew.

[2016-02-26 13:20] gramian commented on #69
@chrissimpkins I would be carefully optimistic, yet I have never used OSX. If you have a bash compatible terminal emulator I should work.

[2016-02-26 13:37] chrissimpkins commented on #69
This might be a good chance for us to test this on a complete TeX novice (me).  Let me see if I can muddle through a TeX install, then hack4tex font install to replicate what you are seeing here.  This should format the entire document in the Hack typeface correct?

[2016-02-26 13:57] gramian commented on #69
@chrissimpkins if you use my example with the \renewcommand it changes the default teletype font used by \texttt{Hello World} to the Hack font.

[2016-02-26 14:10] chrissimpkins commented on #182
@kylekthompson Have you tried that patch script with the ttf fonts instead of the otf builds?

[2016-02-26 14:42] kylekthompson commented on #182
Patched ttf fonts with both regular and non-ascii font size at 12pt (still a slight size issue):

![screen shot 2016-02-26 at 9 39 14 am](https://cloud.githubusercontent.com/assets/6563105/13355181/0d635d38-dc6d-11e5-8cba-1086626abca5.png)

Patched ttf fonts with regular font size at 12pt and non-ascii font size at 11pt (I can't notice a size issue on my non-retina display):

![screen shot 2016-02

[2016-02-26 14:45] kylekthompson commented on #182
I also went ahead and bumped the non-ascii font size of the patched otf fonts down to 11 and the size difference can't be noticed with them either:

![screen shot 2016-02-26 at 9 45 37 am](https://cloud.githubusercontent.com/assets/6563105/13355315/b4600a32-dc6d-11e5-99f8-4d0fc2066b96.png)

[2016-02-26 16:18] rubdos commented on #69
(Just wanted to say: Hack made me move to XeLaTeX...)

[2016-02-26 18:13] chrissimpkins commented on #69
@rubdos is there a way to modify things on our end to allow you to use it where you want.  I am very open to any/all suggestions.  I just have little experience in the area and don't know how to help.  Thanks for the comment by the way.  Glad to hear that it is adorning your TeX files.

[2016-02-26 21:04] chrissimpkins commented on #182
Let's take first issue as reported.  It looks to me like the active buffer is rendering the zero next to the line number Powerline glyph in bold.  Do you mind trying the development set of fonts in this directory to see if they fix this issue?  I patched the Powerline glyphs into the bold set and if this is the problem, it should be corrected (and these changes will be included with the next relea

[2016-02-26 21:13] kylekthompson commented on #182
The issue is not present in the dev dev builds :+1:

[2016-02-26 21:14] chrissimpkins commented on #182
Thanks for checking.  Does the alignment problem that you noticed change at all?

[2016-02-26 21:15] kylekthompson commented on #182
That still seems to be there.

![screen shot 2016-02-26 at 4 15 20 pm](https://cloud.githubusercontent.com/assets/6563105/13365634/26aed88a-dca4-11e5-8e1e-6e5b70742f40.png)

[2016-02-26 21:20] chrissimpkins commented on #181
Mind trying these development build fonts?  I patched the Powerline glyphs into the bold set:

https://github.com/chrissimpkins/Hack/tree/development/build/test_builds/DEV02172016

These will show as build v2.020 DEV02172016.

[2016-02-26 21:25] chrissimpkins commented on #182
OK, there were no changes that should have led to a change with the vertical alignments.  We've gone round and round with this issue in other issue reports.  The problem is that the alignment differs by platform/renderer/editor combinations and, unfortunately across platforms, in completely opposite alignment directions (some align too high, some too low).  If you are seeing this at some sizes and

[2016-02-26 21:47] kylekthompson commented on #182
I'm not sure if it is an alignment difference, but the glyphs themselves appear to be slightly different. I made a [gif of two screenshots](http://cdn.makeagif.com/media/2-26-2016/HjEmxb.gif) to emphasize the difference.

What looks to be the smaller glyphs are the ones from your dev build:
![screen shot 2016-02-26 at 4 40 16 pm](https://cloud.githubusercontent.com/assets/6563105/13366346/9faae18a

[2016-02-26 21:58] kylekthompson commented on #182
I am going to be away from my computer until about 10:00PM EST. When I get back I can troubleshoot more if you'd like. If not, I am definitely not opposed to just using a slightly different size for my non-ascii font. I'm glad the glyph is fixed for the bold set!

[2016-02-26 23:11] chrissimpkins commented on #182
^5!

No rush on this at all.  We can work on it next week again.  Does it appear to you that the arrow head position is about the same (slightly screen top relative to rest of the line alignment) in both the script patched and dev build versions?  Seems to be the case based upon your screenshots (from what I can tell).

[2016-02-27 03:48] kylekthompson commented on #182
@chrissimpkins Sorry for the delay. The position itself seems very similar. I believe that the bottom and top of the arrow seem to be anchored at the same place (just slightly too tall). The tip of the arrow looks like it stretches out in the version patched with the script.

In my description the arrow locations would be the following:
![screen shot 2016-02-26 at 10 47 27 pm](https://cloud.github

[2016-02-27 09:28] rubdos commented on #69
@chrissimpkins I have absolutely no idea. Your output is a perfectly fine `ttf`, it's just a pity that pdflatex doesn't like that format. XeLaTeX does though, and I made at least two documents using the `Hack*.ttf` files and XeLaTeX.

Especially useful: I can combine it with minted for really beautiful typesetting of code:

![screenshot from 2016-02-27 10-28-06](https://cloud.githubusercontent.com

[2016-02-27 09:49] chrissimpkins commented on #69
@rubdos looks great!  thanks for your feedback.

[2016-02-29 19:43] colinsullivan commented on #181
Beautiful!  Looks great.

Thank you.

[2016-02-29 21:07] chrissimpkins commented on #181
Great!  The set you are using is a completely functional but not finished set of changes in the v2.020 release.  We are working on the box drawing glyphs and will include these changes in all sets (the development set only includes changes in the regular set).

Should be out reasonably soon'ish :)

[2016-03-01 12:57] chrissimpkins commented on #182
@kylekthompson thank you!

[2016-03-03 01:07] #179 closed

[2016-03-04 16:36] zephster opened #183 "Uneven word alignment"
Hi! Love the font, but this issue has been bugging me for a long time.

The alignment of bolded words seems to differ than non-bold words, and this only seems to happen on font sizes <= 10. Here's an example, in SublimeText 3:

Font size <=10: ![fontsize10](http://i.imgur.com/2LxVqY4.png)
Font size >=11: ![fontsize11](http://i.imgur.com/wE1PWLa.png)
(thead vs theads, just as an example)

Could thi

[2016-03-04 16:48] chrissimpkins commented on #183
Thanks for the report Brandon.  This is not something that I’ve come across before.  What platform are you on and are you using the current release of the Hack fonts?

[2016-03-04 16:52] zephster commented on #183
Windows 7 (Win10 at home, issue exists there as well), and I'm using the current release.

[2016-03-04 16:54] chrissimpkins commented on #183
Thank you.  What sizes below 10 have you tried?

[2016-03-04 17:02] zephster commented on #183
<=4: ![4](http://i.imgur.com/20FtdP0.png) - appears even, but too small to use
5-10: ![5](http://i.imgur.com/PBEXhnO.png) - appears uneven
\>=11: ![11](http://i.imgur.com/nTD1jtG.png) - appears even, but too large to use (in my opinion)

[2016-03-04 19:48] chrissimpkins commented on #183
Thank you very much.  I am going to be doing some work with the hinting this weekend and will have a look.  We shouldn't be causing a shift off of the baseline with the hinting but let me check it to confirm.  What version of Sublime Text 3 are you using?  I believe that there was a new release in the last month or two.   I will check their release notes as well.  I don't think the problem lies wi

[2016-03-04 21:30] zephster commented on #183
I'm using version 3107, but the issue's been present in every previous version I've used.

I installed Atom and tried it there, and the text does not appear to ever be un-aligned, at any font size.

However, I think that's just because Atom is not bolding the tag like ST3 does.
![](http://i.imgur.com/xGv3Qtv.png)

[2016-03-04 21:34] chrissimpkins commented on #183
That is helpful.  Thank you!

[2016-03-05 16:31] jceb opened #184 "Thin vertical line of different color at the edge of filled triangles"
Hi, thank you for the great font!

I found a small rendering issue with the characters  (U+E0B2) and  (U+E0B0) that I use for my vim status line.  There is a thin vertical line at the left/right edge of the character that is rendered in a different color.  I found the line to be there with every font size between 10 and 32.  I did my tests on Linux with the terminals Konsole and st, the latest s

[2016-03-06 16:34] chrissimpkins commented on #184
Thanks much for the detailed report Jan.  The information is tremendously helpful.   This looks like an antialiasing issue.

You can see the problem is similar for the left facing arrowheads in white and blue:

<img width="475" alt="anti1" src="https://cloud.githubusercontent.com/assets/4249591/13555447/aa1b14d6-e38e-11e5-9b4f-8c35ce2c5bc1.png">

<img width="302" alt="anti2" src="https://cloud.git

[2016-03-07 00:51] chrissimpkins commented on #183
I can verify that the hinted bold glyphs are properly aligned on the baseline (the bottom horizontal black line) across 8 - 14 ppem (and tested below that to 6 ppem however not shown in this animated gif):

![baseline-bold](https://cloud.githubusercontent.com/assets/4249591/13558470/4ad358ea-e3d3-11e5-8f06-c1b387556cce.gif)

and this animation shows alternate bold glyph displays with and without h

[2016-03-07 01:00] chrissimpkins commented on #178
Can you provide a bit more detail on the use of these dashes in your TeX files?  Are you using these in the body of the text or are they TeX specific tokens?

[2016-03-07 02:27] chrissimpkins commented on #154
@alerque
@schorsch3000
@burodepeper

New test builds include a break in the italic set pipe glyph to address this issue.  Please let me know what you think and whether you feel that this adequately addresses this concern.

The builds will show as v2.020; DEV-03062016 and are available here:

https://github.com/chrissimpkins/Hack/tree/development/build/test_builds/DEV03062016

I haven't included th

[2016-03-07 03:01] jceb commented on #184
For st, I recompiled the terminal and started it again but it had no effect.  I tried it with the xfce4-terminal and adjusted antialiasing in the window manager's settings and it worked better.  Here is the screenshot with antialiasing enabled, the vertical line can be spotted easily:
![with_antialiasing](https://cloud.githubusercontent.com/assets/101593/13559844/9d3a49fa-e418-11e5-8888-8bb6efc579

[2016-03-07 03:15] chrissimpkins commented on #154
The hints will need a bit of attention so give this a shot at multiple sizes to view the divided pipe rendering.  At some sizes, the space between the strokes is lost.  I will correct this if we are happy with this change.

![pipe](https://cloud.githubusercontent.com/assets/4249591/13560035/ccfddb50-e3e8-11e5-8f90-e726289bcfef.gif)

[2016-03-07 06:58] alerque opened #185 "Move test builds to consistent location"
I just went to create an Arch Linux package for installing test versions of Hack and discovered that the locations for these builds is so arbitrary that fetching them can't be codified. Here are some things I would recommend changing to make it easier for downstream people to test:
1. Version test builds with a string that sorts in the correct order. Instead of 03062016 it should be 20160306.
2. P

[2016-03-07 10:50] burodepeper commented on #154
@chrissimpkins Did you make the italic pipe intentionally not slanted? I believe that both the regular and italic pipes should be broken, with the italic pipe also being slanted. The size of the gap at 13px is great btw.

[2016-03-07 11:22] chrissimpkins commented on #154
it has never been slanted in the set.  any slanting is coming from the renderer not the design.  This is probably why it looks so similar to the backslash.

[2016-03-07 11:24] chrissimpkins commented on #154
@burodepeper why in the regular set? this is not a problem there.

[2016-03-07 11:31] burodepeper commented on #154
For consistency.

And for the sake of consistency, didn't we already come to an unconfirmed agreement that all characters in the italics set should be slanted, as that is what defines them as italic? Remember our discussion on Slack about this. It is not the actual shape that would be slanted (so no distorted periods), but rather the conceptual shape of the character that is drawn on a particular

[2016-03-07 11:59] chrissimpkins commented on #185
I didn't have an intent to widely distribute these.     They are intended to investigate specific changes that occur in the fonts and are incomplete versions that are not intended for broad use.  I would be happy to prepare a 'release candidate' prior to releases and allow for evaluation and comment.  I have done this in the past and received no comments.  Do you think that this is worth the effor

[2016-03-07 12:11] alerque commented on #185
I guess it depends on your workflow some too, but the barrier for me is that it isn't easy to switch between versions. I'd be happy to test things out if I could do switch between versions with a single command to my package manager rather than having to go manually download multiple files, find the target locations, remove production versions, insert files, rebuild font caches, etc. In spite of m

[2016-03-07 12:25] chrissimpkins commented on #185
I see.  Makes sense.  I have been sloppy about the organization of these builds to date because I also remove them with each release.  We can definitely create a formal versioning approach.  Will be back in touch this week to discuss it in more detail.  If manual installs are really that much of a disincentive, perhaps what we need is an installer so that this is available to all.

[2016-03-07 17:53] mike-zueff commented on #124
Hello chrissimpkins! I located that glyph. According to the vim-airline sources, it's a line number character ("LN") with an accent equals to "bold". I think that "Hack" font already has "LN" (0xe0a1) but has no its bold equivalent. Could you please fix it?

[2016-03-08 17:01] zephster commented on #183
In Atom, I tried out a few different color schemes and manually edited them to have some bold tags. The issue didn't seem to happen, at any font size, for any color scheme.

In Sublime, the issue's present for every color scheme, at the previously discussed font sizes.

I'm going to install a few more editors/IDEs and see what happens.

Is there any other info I can provide for you?
Thanks for the

[2016-03-09 11:33] jarmani commented on #124
Hi,

I have the same problem, the symbol is http://graphemica.com/%E2%9C%B9

Any update ?

[2016-03-09 15:57] chrissimpkins commented on #183
Interesting.  I don’t know why it is happening in ST and not in Atom.  I reviewed the changelog for the most recent ST 3 update and it appears that they made changes to their syntax highlighter approach; however, you say that this occurred in previous versions.  Might be worth a note on the ST forums to see if anyone on that side of the issue has any thoughts.  Post in here when you have a chance

[2016-03-09 16:27] chrissimpkins commented on #124
@jarmani Thank you very much Jonathan.  Do you know if vim-airline is mapping this to the proper Unicode code point (U+2739) or is it mapped to the private use area like the Powerline glyphs?

[2016-03-09 17:04] chrissimpkins commented on #184
I agree that you want the antialiasing.  The pixellated artifacts on angled lines and curves is very apparent in the UI without it.  I’m not aware of an approach that permits you to selectively antialias glyphs (or portions of glyphs).  Leave this open and see if anyone else has suggestions?

[2016-03-09 17:14] chrissimpkins opened #186 "Revise punctuation glyphs in the italic and bold italic sets"
We intend to review and develop a plan for the following in the slanted (italic and bold italic) ASCII set punctuation glyphs:
- consistency of oblique slants across different glyphs
- consistency of oblique slant within glyph shapes (e.g. the orientation of the two points in a colon)
- deformation of intended glyph shapes (e.g. points in colon, semicolon, etc)
- uniformity of slant use across all

[2016-03-09 17:41] chrissimpkins commented on #154
@burodepeper let’s address the more broad issue across the entire italic and bold italic sets in this new issue report: #186 . The punctuation glyphs in these sets definitely deserve a bit of attention and I agree with many of the changes that you mentioned above/that we’ve discussed in the past.

As for the break in the pipe glyph, this is largely an issue that will exist outside of source code t

[2016-03-09 19:53] zephster commented on #183
I made a post on the ST forums [here](https://forum.sublimetext.com/t/uneven-font-alignment/18415).

I did some more testing:
Win10 VM, Eclipse, seemingly no alignment issues.
Win10 VM, standalone ST 2.0.2, no packages installed: no alignment issues.
Win10 VM, standalone ST3 build 3107 (the latest), no packages installed: no alignment issues.
Win7, standalone ST3 build 3107, no packages installed:

[2016-03-09 20:13] jpotier commented on #178
They are used in the body of the text, since my tex files are utf-8 encoded and luatex is able to take them directly as input.

[2016-03-09 21:56] jarmani commented on #124
@chrissimpkins You're welcome. It uses the Unicode code point :

`
'whitespace': get(g:, 'airline_powerline_fonts', 0) ? "\u2739" : '!',
`

https://github.com/vim-airline/vim-airline/blob/master/autoload/airline/init.vim#L62

[2016-03-10 02:32] samadivk opened #187 "vim-devicons nerd fonts support"
I would like to suggest adding the [nerd-fonts](https://github.com/ryanoasis/nerd-fonts) icons to Hack.
As a daily user of [vim-devicons](https://github.com/ryanoasis/vim-devicons), Hack and my custom ZSH theme that makes use of the nerd-fonts icons, I can highly recommend them, and think this would make a great addition to the already brilliant Hack.

I am willing to provide patched versions of t

[2016-03-10 03:27] samadivk commented on #187
Ooops.... I just had a closer look at the nerd-fonts github repo, and they have a pre-patched version of Hack there already. It may still be something to look into integrating directly into Hack, as it reduces the time it takes to get to the end user, however it's not particularly necessary.

Sorry for not doing proper research first.
Samadi

[2016-03-10 04:12] chrissimpkins commented on #187
no worries! enjoy

[2016-03-10 04:12] #187 closed

[2016-03-11 11:09] MarkusKull commented on #56
Experiencing a similar issue under linux (debian testing) with fonts-hack-otf 2.019-1, but with too small (height) 'u' for certain text sizes. fonts-hack-ttf fixes it, but has different line-height (smaller). My workaround is fonts-hack-otf with text size 10.1 instead of 10.

[2016-03-11 11:23] alerque opened #188 "Line height vastly different in OTF vs. TTF"
I discovered one of the major reasons I like the way OTF runs on my system in that the leading actually works out to be quite a bit bigger for the same text size. I assume this is an issue with the build process and as development has focused on the TTF versions to date that those are "correct" and the OTF is out of whack.

But here's the thing: I think the resulting line height in the OTF is pref

[2016-03-11 11:25] alerque commented on #56
Hey @MarkusKull you are not the first to notice the line height and prefer the OTF. I ran into this a while back and never got around to reporting it, but I just opened an issue for it at #188. Some feedback there about the line-height issue would be appreciated.

[2016-03-11 11:41] MarkusKull commented on #188
The larger line-height of OTF always seemed intended to me: "The **large x-height** + wide aperture + low contrast design combined with PostScript hinting/hint replacement programs and a TrueType instruction set make it highly legible at commonly used source code text".
I prefer the larger OTF over TTF. Unfortunately no Windows available for a side-by-side comparison with Linux.

[2016-03-11 16:17] chrissimpkins commented on #188
Recommendations about line spacing (i.e. space between two rows of glyphs) have been all over the place.  We originally began with a wider line spacing and it narrowed over the first few iterations of the v2.x font releases.  There are some who would like to see it tighter still and others who have requested more default spacing between lines.

It's a very subjective issue and there will not be a

[2016-03-11 16:22] chrissimpkins commented on #56
Yes, this original report remains on the to do list.  I think that this is going to be a hinting issue that we will need to look into.  We are currently using the autohinter in FontLab Studio and I am not certain why it is leading to this problem.  If anyone is motivated to explore this themselves, you might try the Adobe autohinter that is part of their Adobe font development kit.  If you can com

[2016-03-11 16:27] chrissimpkins commented on #124
@jakubzitny Thank you very much!  Adding this to the v2.021 release plans.

[2016-03-11 16:37] chrissimpkins commented on #178
I see, so this is part of the document text that you are generating.  I'm hesitant to use serifs on the dashes in a (largely) sans serif typeface; however, I think that we can work to make these fit the proper definitions of the respective glyphs.  For these issues, I generally refer to the Bringhurst text and here is what he has to say:

- en dash - one half of an em in width
- em dash - one em i

[2016-03-11 16:43] chrissimpkins commented on #183
So it sounds like we can currently determine that this is an editor dependent issue (in Sublime Text) and that it occurs in native Win 7 and Win 10 OS's with the Sublime Text 3 editor.  Interestingly, it does not occur in VM's with either ST 2 or 3.

One of the responders in your ST forum thread suggested that there have been other reports of a similar problem with other fonts.  Perhaps explore th

[2016-03-11 16:48] chrissimpkins commented on #124
cc: @burodepeper

[2016-03-12 13:13] jpotier commented on #178
I'm at your disposal whenever you need testing then. Thanks!

[2016-03-12 13:43] chrissimpkins commented on #178
Thank you!

[2016-03-13 17:17] phantom-code commented on #188
Could you please provide some info how to correctly increase the line spacing? I've changed the following OS/2 metrics with FontForge and got a good result, but for some strange reason, bold glyphs became much bolder:
Win Ascent 1901 -> 2101
Win Descent 483 -> 683
Typo Line Gap 410 -> 736
HHead Ascent 1901 -> 2101
HHead Descent -483 -> -683

TBH, these values are very incomprehensible for me and A

[2016-03-13 22:18] jarmani commented on #124
@chrissimpkins thanks !

[2016-03-15 13:56] burodepeper commented on #154
Okay @chrissimpkins, for practical reasons, let's go with your two cents for now.

I have one additional remark though (as illustrated by the following screenshot): why is the backslash slanted in italics, but the forward slash not?

![schermafbeelding 2016-03-15 om 14 55 28](https://cloud.githubusercontent.com/assets/3703530/13780045/0d4ed55c-eabe-11e5-8ec2-733f9d65a09c.png)

[2016-03-15 14:18] burodepeper commented on #124
I've created a quick mock-up of the glyph, vertically aligned to the `bullet` glyph. I'm not familiar with Powerline myself. What would be an easy way for me to test this within a context without actually using Powerline?

![schermafbeelding 2016-03-15 om 15 11 48](https://cloud.githubusercontent.com/assets/3703530/13780595/6ffbcf78-eac0-11e5-9856-348ff52d0e83.png)

On a side note, is the 12-point

[2016-03-15 16:44] chrissimpkins commented on #154
@burodepeper

I would need to look back through the changelog to confirm, but I don’t believe that I modified any slants in these ASCII punctuation glyphs from the original slants that were included in the Bitstream Vera Sans Mono set.  This is definitely something that we can and should discuss.  Let’s use #186 or a new issue report to address it.

[2016-03-15 16:46] chrissimpkins commented on #154
Are there any other comments here about the design choice for the broken pipe glyph in the italic set or are we good to go with this change?  If we are set on this modification, I will include this in the bold italic set and start work on the hints so that it renders properly at all target text sizes.

[2016-03-15 17:03] chrissimpkins commented on #124
@burodepeper I'm definitely on board for a new glyph design.  It would be fun to do this with the entire Powerline glyph set.  From the screenshots posted here, it seems to be a decorative icon in the airline UI.  I couldn’t gather from the initialization script ( linked in https://github.com/chrissimpkins/Hack/issues/124#issuecomment-194527472 ) what is happening.  There is some suggestion of a w

[2016-03-15 17:04] chrissimpkins commented on #188
@phantom-code What platform are you on?

[2016-03-15 17:07] phantom-code commented on #188
@chrissimpkins Linux, freetype infinality

[2016-03-15 17:18] burodepeper commented on #154
@chrissimpkins I think what is most confusing about the slanted backslash in comparison to the forward slash is that it has become shorter in length. Slashes in general stand out from other characters because they are larger. I don't think we should create a new issue for this. In my opinion, the backslash in the italics set should be replaced by the regular backslash. That seems consistent, and w

[2016-03-15 17:22] burodepeper commented on #124
I've done a quick Google for an overview of Powerline and couldn't find a proper summary of _everything_. If someone can find me some reference material, I'll see if I can come up with more Hack-specific glyphs.

[2016-03-15 18:24] bling commented on #124
@chrissimpkins currently it's the default symbol that's used for the whitespace extension when it flags a violation.  at the time i picked a symbol that i felt had a "warning"-ish meaning to it, so i went with the star.

[2016-03-15 18:26] chrissimpkins commented on #124
@bling very helpful! thank you very much!

[2016-03-15 18:26] chrissimpkins commented on #124
@burodepeper looking for details on other Powerline glyphs?

[2016-03-15 18:28] chrissimpkins commented on #154
@burodepeper are you seeing this shortening across a range of sizes?

[2016-03-15 18:34] burodepeper commented on #154
@chrissimpkins If two lines (of the same height) are slanted at a different angle, then by definition they are different in length. That's just simple math. If you want proof, perhaps I should cc @pythagoras ;) It is not a hinting issue, if you were wondering that.

[2016-03-15 18:38] burodepeper commented on #124
@bling Thanks, and that's good to know. That means a 10-pointed star is an option, as long as it feels warningy. Can you point me to a reference of what other glyphs Powerline uses, and what they intend to communicate? (@chrissimpkins that's a "yes" on your question, I know absolutely nothing about powerline)

[2016-03-15 19:37] chrissimpkins commented on #154
@burodepeper The image that you posted appeared to show a pixel clipped from the top and bottom of the glyph, but you are correct they appear to be the same height.

<img width="491" alt="slashes" src="https://cloud.githubusercontent.com/assets/4249591/13791407/57309156-eac3-11e5-9f02-f50f9ef5b897.png”>

Agree with the changes that you proposed and will implement these are part of v2.020.  I will

[2016-03-15 19:39] chrissimpkins commented on #154
<img width="491" alt="slashes" src="https://cloud.githubusercontent.com/assets/4249591/13791407/57309156-eac3-11e5-9f02-f50f9ef5b897.png”>

Agree with the changes that you proposed and will implement these are part of v2.020.  I will try to work on these this week.

[2016-03-15 19:40] chrissimpkins commented on #154
@burodepeper The image that you posted appeared to show a pixel clipped from the top and bottom of the glyph, but you are correct they appear to be the same height.

<img width="491" alt="slashes" src="https://cloud.githubusercontent.com/assets/4249591/13791580/354af544-eac4-11e5-8533-70c4f8ca1126.png">

Agree with your proposed changes and will include these in the v2.020 release.  I will try to

[2016-03-15 19:51] chrissimpkins commented on #124
@burodepeper

Main docs: https://powerline.readthedocs.org/en/latest/index.html

OTF build of the Powerline glyphs (`PowerlineSymbols.otf`): https://github.com/powerline/powerline/tree/develop/font

In that file you will find the following glyphs:

<img width="590" alt="powerline" src="https://cloud.githubusercontent.com/assets/4249591/13791863/7522e63a-eac5-11e5-8f19-c99ddc7efd0b.png">

These are

[2016-03-15 19:53] chrissimpkins commented on #124
The branch glyph is used for Git branch titles, LN for line numbers, not sure about lock.  All of the arrowheads are used to create the angled styling of the Powerline UI bar.

[2016-03-15 19:55] chrissimpkins commented on #124
Interestingly, I didn't appreciate until now that they included the block glyph in their set.  I wonder if this is being used to create the bar itself.  If so, this may be the solution to our alignment woes with the arrowheads...

[2016-03-17 01:23] chrissimpkins commented on #185
Will modify our test build versioning approach/paths following the v2.020 release.  Hope to have this out in the next couple of weeks and then we can work out an approach.

[2016-03-17 01:59] chrissimpkins commented on #154
All fixes discussed here to date for the italic and bold italic sets are now available as Version 2.020;DEV-03162016 in this directory:

https://github.com/chrissimpkins/Hack/tree/development/build/test_builds/DEV03162016

I updated the hints for both sets across 6 - 14 ppem so that the bar glyphs maintain the space within the stroke at all of these sizes.

Let me know what you think.

[2016-03-17 02:23] chrissimpkins commented on #154
Here is where we are with the glyphs in the italic set:

![pipe-italic](https://cloud.githubusercontent.com/assets/4249591/13834188/4f84ce3a-ebc3-11e5-886a-e62fc2e3352b.png)

![fslash-italic](https://cloud.githubusercontent.com/assets/4249591/13834465/b2610a80-ebc5-11e5-9221-022e20475bdd.png)

![bslash-italic](https://cloud.githubusercontent.com/assets/4249591/13834193/57bc123e-ebc3-11e5-98a0-b3c5

[2016-03-17 02:29] chrissimpkins commented on #138
@lemzwerg:

We have a reasonably complex fill on the zero glyph here and I am trying to adjust the hints on the fill at a number of ppem.  Here is an example of what I am seeing with the attempt to manually adjust the fill in the regular set with the following line in our Control Instructions File at 14ppem:

[code]

### Pre-Adjustment to the Hinting

<img width="795" alt="zero-pre-adjust" src="ht

[2016-03-17 07:32] lemzwerg commented on #138
The `touch` instruction implements pre-IUP deltas; in other words, after applying the deltas there comes the final `IUP[y]` instruction, interpolating the 'weak' points of the outlines that are not positioned on edges.  If you call ttfautohint with the `--debug` option, you get a table of points for every glyph that shows whether a point is 'weak', and whether it lies on an edge.

In general, it i

[2016-03-17 07:36] lemzwerg commented on #138
A minor follow-up.  It seems that you are using `ftview` for showing glyph outlines.  Here's a snapshot of the git version, which you probably enjoy :-)
![ftview-current](https://cloud.githubusercontent.com/assets/1630245/13839429/4436ff46-ec1b-11e5-9e0b-3c577caf0c2a.png)

[2016-03-17 08:23] burodepeper commented on #154
@chrissimpkins On the road today, I'll check them out as soon as I get home.

[2016-03-17 10:59] chrissimpkins commented on #154
@burodepeper no rush. thanks David.

[2016-03-17 11:11] chrissimpkins commented on #138
@lemzwerg Thank you very much Werner!  That is incredibly helpful.  I’ll give it a try later today.

The repository version of  `ftview` looks great!  Is it stable enough for use at this point?  I am assuming that image is with the antialiasing view switched ‘on’?

[2016-03-17 12:57] lemzwerg commented on #138
`ftview` is stable, yes; the image shows subpixel rendering, but normal grayscale anti-aliasing can also be displayed.

[2016-03-17 13:20] chrissimpkins commented on #138
:+1: thanks!

[2016-03-17 17:31] chrissimpkins commented on #138
@lemzwerg:

So here is what I get with the `--debug` flag for the zero glyph.  It only indicates that 39 is a strong point (I assume that the absence of a ‘weak’ indicator in the list means that this is strong point?):

[code]

[2016-03-17 17:36] chrissimpkins commented on #138
@lemzwerg :

and here is where we are when 39 is the only point that is used at 14ppem:

[code]

<img width="797" alt="zero-with-39" src="https://cloud.githubusercontent.com/assets/4249591/13855091/1f168784-ec45-11e5-8220-bbb94c7dd582.png">

Getting closer...

[2016-03-17 17:52] chrissimpkins commented on #138
And after a bit of experimentation this might be as close as we are going to get.

Using the following:

[code]

### 7ppem

<img width="796" alt="7ppem" src="https://cloud.githubusercontent.com/assets/4249591/13855515/3a229598-ec47-11e5-8e85-62b150e148a4.png”>

### 8ppem

<img width="797" alt="8ppem" src="https://cloud.githubusercontent.com/assets/4249591/13855520/3fa66df0-ec47-11e5-99f4-39c8a7b3c

[2016-03-17 17:54] chrissimpkins commented on #138
### 7ppem

<img width="796" alt="7ppem" src="https://cloud.githubusercontent.com/assets/4249591/13855636/c8ffbae8-ec47-11e5-89f3-35dd94dfe9e4.png">

### 8ppem

<img width="797" alt="8ppem" src="https://cloud.githubusercontent.com/assets/4249591/13855643/cf350eea-ec47-11e5-91d2-6a62c230cf4c.png">

[2016-03-17 17:58] chrissimpkins commented on #138
@Grimy Victor, here are the 9 and 11ppem renders.  I did not modify the hints because they  appear as designed.

### 9ppem

<img width="793" alt="9ppem" src="https://cloud.githubusercontent.com/assets/4249591/13855782/5e071fa0-ec48-11e5-9fad-627f19249c18.png">

### 11ppem

<img width="795" alt="11ppem" src="https://cloud.githubusercontent.com/assets/4249591/13855790/63c33d0c-ec48-11e5-951d-71b8ffa

[2016-03-17 18:07] lemzwerg commented on #138
This looks fishy...  I'll test by myself later this evening.

[2016-03-17 18:07] chrissimpkins commented on #138
@Grimy Test builds of the ttf fonts (v2.020; DEV03172016) are available in this directory if you would be willing to test them:

https://github.com/chrissimpkins/Hack/tree/development/build/test_builds/DEV03172016

[2016-03-17 18:08] chrissimpkins commented on #138
Thanks for your help @lemzwerg.  Let me know if you have any other thoughts.

[2016-03-17 22:44] lemzwerg commented on #138
I've now investigated the issue.  Point 40 shouldn't be a 'strong' point; it should rather form a segment together with points 39 and 71.  This is a bug in ttfautohint v1.5 which I'm going to fix in the next version – thanks for the report :-)

The proper solution to the problem is to change the direction of point 40 to 'left' (ttfautohint must have assigned a different direction, otherwise the po

[2016-03-18 00:10] chrissimpkins commented on #138
Thank you very much @lemzwerg.  I really appreciate it.  I will give this a try over the weekend. Is this something that we will need to change once the issue is addressed in ttfautohint?

[2016-03-18 05:42] lemzwerg commented on #138
Fortunately no :-)  Even if ttfautohint has improved segment recognition so that it can find out by itself that point 40 must have a 'left' direction, the `left` command doesn't do any harm.

[2016-03-18 11:54] chrissimpkins commented on #138
@lemzwerg great! I tried this last night and it worked.  Just a small tweak on the <10ppem sizes and we are in good shape.

[2016-03-18 14:54] rahilwazir opened #189 "Ubuntu package not found"
When trying to install through package manager:

[code]

**OS**: Ubuntu 15.10, 64bit

**Solved:**

Add following to `/etc/apt/sources.list`:

[code]

Then

[code]

Could you please add it to the readme?

[2016-03-18 17:41] chrissimpkins commented on #189
Happy to.  Thank you very much for reporting it.  Do you happen to know what Ubuntu releases this applies to?

cc : @alerque

[2016-03-18 21:09] rahilwazir commented on #189
Well at least it worked on `15.10`, sorry not sure about the other releases, but it should work

[2016-03-18 22:57] chrissimpkins commented on #189
Let's poke the maintainer on Ubuntu to get more comprehensive information.  Can you point to where you found this?

[2016-03-19 06:08] chrissimpkins commented on #138
There are updated pre-release builds of the fonts (v2.020;DEV-03192016) that include the new hints on the zero glyph here:

https://github.com/chrissimpkins/Hack/tree/development/build/test_builds/DEV03192016

These will be included in the upcoming v2.020 release.

[2016-03-19 07:03] rahilwazir commented on #189
I followed the steps from here [xenial/all/fonts-hack-ttf](http://packages.ubuntu.com/xenial/all/fonts-hack-ttf/download) and see the sidebar section for maintainer [here](http://packages.ubuntu.com/xenial/fonts-hack-ttf)

[2016-03-19 14:16] chrissimpkins commented on #189
Will have a look.  Thanks @rahilwazir

[2016-03-19 23:25] rcorre commented on #150
Related: the `tree` command doesn't look right if the font size is 12:

![size_12](https://cloud.githubusercontent.com/assets/2496231/13901838/732b1966-ee07-11e5-891f-432793980090.png)

Size 11 (shown) and 13 look fine:

![size_11](https://cloud.githubusercontent.com/assets/2496231/13901840/823f6c68-ee07-11e5-9a86-558be0c6cd26.png)

I believe the glyphs are (using :ascii in vim):

└ : 0x2514
─ : 0

[2016-03-20 14:08] chrissimpkins commented on #150
@rcorre assuming this is in Linux?  Mind giving these builds a try?  We have a large number of spacing changes to these glyphs that will be part of the v2.020 release.

https://github.com/chrissimpkins/Hack/blob/development/build/test_builds/DEV03192016

These will show as v2.020 DEV03192016.

[2016-03-20 21:15] rcorre commented on #150
@chrissimpkins I'm still seeing it, though I may not be testing it correctly.

I'm starting my terminal (st) with `st -f Hack-Regular:pixelsize=12`.

After removing my installed hack fonts and adding the DEV release, `fc-match Hack-Regular:pixelsize=13` prints `Hack-Regular-DEV.ttf: "Hack" "Regular"` so I _think_ it is picking up the new font.

[2016-03-21 07:56] ragingnerd commented on #152
Does anyone have this this issue after upgrading to webstorm 2016?

[2016-03-21 08:23] rahilwazir commented on #152
@ragingnerd Well you are correct, I forgot to comment here.

@chrissimpkins Can you look into this? PHPStorm 2016 causes this behavior again, even deleting old fonts before installing the new one.

OS: Windows 10 x64, IDE: PHPStorm 2016.1

[2016-03-21 09:41] Grimy commented on #138
Thanks for the update! Using DEV-03192016, the `0` glyph now looks nice with the following settings:

    xterm*faceName:    Hack
    xterm*faceSize:    11
    Xft.antialias:     1
    Xft.autohint:      0
    Xft.hinting:       1
    Xft.hintstyle:     hintfull

Oddly enough, when setting `hintstyle` to `hintslight`, the asymmetrical fill problem persists. I’m not even sure what this setting is s

[2016-03-21 10:48] burodepeper commented on #124
Okay, these are 8 glyphs, but then where does the 12-pointed star come from? Is that a custom extension? Are there additional glyphs being used?

[2016-03-21 10:52] burodepeper commented on #154
@chrissimpkins Did a quick test, and everything looks fine to me at 13px. Since it's a copy-paste between sets, I think it is safe to assume that it looks fine across all sizes?

[2016-03-21 12:30] chrissimpkins commented on #154
@burodepeper : The new break in the pipe glyph looks good in `ftview` at 8 - 14ppem after the new hints were applied (italic / bold italic sets).  Assuming that there is no additional feedback here, we will release these changes in v2.020.

[2016-03-21 12:32] chrissimpkins commented on #124
@burodepeper it is part of the vim-airline extension to the Powerline set.  I was not aware of it either.  Apparently there are derivatives/variants that include additional glyphs.

[2016-03-21 12:34] chrissimpkins commented on #138
@Grimy We will release these changes in the upcoming v2.020 release Victor.  Thank you very much for reporting this issue.  The zero is a prominent character that helps to establish the identity of the typeface. This was an important issue for us to address.  Glad to hear that it works for you.

Thanks again @lemzwerg!  Greatly appreciate your help with this.

[2016-03-21 12:36] chrissimpkins commented on #152
@ragingnerd @rahilwazir

Can you both confirm that you do not have duplicate fonts as a result of the Fonts applet that @texhex reported in https://github.com/chrissimpkins/Hack/issues/152#issuecomment-181074350?

[2016-03-21 12:59] ragingnerd commented on #152
@chrissimpkins

I think that might be the root cause. Font properties for the individual types show up as:

- Hack-BoldItalic_0.ttf
- Hack-Italic_1.ttf
- Hack-Bold_2.ttf
- Hack-Regular_3.ttf

but all my system fonts have a suffix of _3 (Eg. arial_3.ttf)

I've tried uninstalling the font, doing a clean reboot and reinstalling the fonts by clicking on them individually, then invalidating cache and r

[2016-03-21 13:07] chrissimpkins commented on #152
@ragingnerd any idea how those numbers are being applied?  Is that install order or is Windows supplementing the file path with variant meta info through the number?   This numbering system in the file paths (on clean installs) seems to be a new Windows issue.  I wonder if we are dealing with a change in Windows rather than the JetBrains editors.

[2016-03-21 13:20] chrissimpkins commented on #178
We are adding a thorough hint evaluation to the v2.021 release and will look into this as part of the changes that we make then.  Will post more info here when we have something available for testing.

[2016-03-21 13:23] chrissimpkins opened #190 "Review and improve alignment in ASCII glyphs across all variants"

[2016-03-21 13:58] lemzwerg commented on #138
@Grimy 'Hintslight' is FreeType's auto-hinter.  Contrary to manual hinting corrections (which you get with 'hintfull'), the auto-hinter cannot correctly handle the interior of the 'zero' glyph due to technical restrictions.

[2016-03-21 14:25] ragingnerd commented on #152
@chrissimpkins no idea at this stage. I've tried reinstalling 2.019 and 2.018 .TTF fonts, the number of times / order I install the fonts in have no bearing on the numbers. I've also tried installing the Hack OTF fonts - no suffixes.

[2016-03-21 14:25] chrissimpkins commented on #138
@lemzwerg thanks!

[2016-03-21 14:29] chrissimpkins commented on #138
@lemzwerg is it appropriate to recommend that Linux users apply full hinting when they use our fonts?  Wondering if we need this in our documentation.  I wasn't aware that FreeType ignored all manual hints in hint slight mode.