[2015-09-08 21:21] davemerrill commented on #60
Hmmm, good question, but one that I can't answer directly, since I dn't know how to definitively know which of the fonts on my system are "system" ones.

But I can tell you that there's a mix of haves and have-nots, including among ones I'm pretty much certain are system. Comic Sans MS, Consolas, don't show a version number in that view, for instance, and they're both specifically credited to Micr

[2015-09-08 21:33] chrissimpkins commented on #60
No worries at all and thanks for all of that info.  Trying to understand it in case the issue comes up again.

[2015-09-08 21:36] chrissimpkins commented on #60
@txptr possibly a font caching issue.  Let me know if you have any other issues.

[2015-09-09 00:13] chrissimpkins commented on #76
Any more details on the issue that you are having?

—
Chris

On Tue, Sep 8, 2015 at 1:17 PM, sheppe <notifications@github.com> wrote:

[2015-09-09 02:18] sheppe commented on #76
As I mentioned in the edit of my post, the release candidate download found in https://github.com/chrissimpkins/Hack/issues/60 fixes the issue.

[2015-09-09 02:33] txtsd commented on #88
Might as well. SVG is outdated and isn't Opentype forward-compatible.

[2015-09-09 04:53] chrissimpkins commented on #76
apologies.  read it by email where edit was not available.

[2015-09-09 06:56] burodepeper commented on #95
Not sure if this is what you wanted, but I've snapshotted several things with v013. The top and bottom greens should be the same, and all three variations with bold characters produce the error.

![schermafbeelding 2015-09-09 om 08 50 33](https://cloud.githubusercontent.com/assets/3703530/9755181/5069e00c-56d0-11e5-98a1-738e48af26b2.png)

![schermafbeelding 2015-09-09 om 08 52 43](https://cloud.gi

[2015-09-09 08:22] heymjo commented on #45
Changing the line spacing does not make a difference. Indeed, previous versions have exactly the same behaviour only at size 12.

[2015-09-09 09:39] sjrmanning commented on #48
I believe @c02y is actually after a condensed version, whereas @davidcelis is after a set with, like he said thinner strokes. I would like to +1 for thinner strokes — especially on retina displays I find light variants are much nicer to read.

[2015-09-09 10:06] txptr commented on #60
@chrissimpkins so far everything looks good. Yesterday I had some problems with underscores but they are gone now. Thanks again.

[2015-09-09 11:19] chrissimpkins commented on #60
@txptr great, thank you very much

[2015-09-09 11:19] #60 closed

[2015-09-09 11:20] chrissimpkins commented on #48
@sjrmanning noted.  thank you very much

[2015-09-09 11:20] chrissimpkins commented on #45
@heymjo thank you

[2015-09-09 11:20] chrissimpkins commented on #88
@txtsd thanks for the feedback

[2015-09-09 18:26] chrissimpkins commented on #33
I will look through the new images tonight.  Thanks for posting all of these.

[2015-09-09 21:44] chrissimpkins commented on #84
Before I pull him back into the conversation let's try one new build that includes a different hinting approach.  This separately hints composite glyphs.  I'd like to see if this addresses the issue.

**Links**:

[Hack-Regular-DebHC.ttf](https://github.com/chrissimpkins/Hack/blob/development/build/test_builds/debian/Hack-Regular-DebHC.ttf?raw=true)  [SHA1: 1130080f26a773d29926bdf00330bdf7b51fed5e]

[2015-09-09 22:00] legovini commented on #84
I just gave them a quick try, I find no noticeable improvement...

[2015-09-09 22:48] chrissimpkins commented on #84
the point OK the 'i' still seems to join the main stem?

[2015-09-09 22:54] legovini commented on #84
@chrissimpkins unfortunately yes:

![stillbad](https://cloud.githubusercontent.com/assets/7614669/9776227/804c8316-5756-11e5-9ce4-f92264940596.png)

[2015-09-10 00:12] chrissimpkins commented on #84
@legovini Thanks for giving this a try.

[2015-09-10 00:34] chrissimpkins commented on #84
@lemzwerg Copied from my email today for @legovini and @aleho:

[2015-09-10 01:06] chrissimpkins commented on #85
The ttf and otf builds are performed with a GUI application (FontLab Studio, OS X version).   PostScript hinting is added to the otf files at the time of the build.   A post-build TrueType instruction set is added to the ttf files with ttfautohint.  The UFO source files are current with the release version in the master branch.  This is a broadly supported typeface source format that can be used t

[2015-09-10 03:12] chrissimpkins commented on #33
@alerque

No reason, we can change this.

These are not part of the standard Powerline glyph set that are mapped to the Unicode private use area.  Do you know what unicode characters these are?

[2015-09-10 03:22] chrissimpkins commented on #33
### Summary of Powerline Issues that are Current for v2.013 as 9/9/15

OS X - solid arrow heads continue to render with less height than other platforms.  Terminal.app displays too high, iTerm2 displays too low...

Arch Linux with Terminator - OK

Arch Linux with roxterm - left facing solid arrowhead displays gap with the rectangular colored text box

Debian with gVim - reasonable, slight gap at t

[2015-09-10 05:10] lemzwerg commented on #84
Unfortunately, the issue with the 'i' and 'j' dots touching the glyph body can't be resolved automatically; this is essentially a feature of FreeType's auto-hinter that ttfautohint has inherited: At small ppem sizes (say, lower than 14ppem), the glyph shapes for 'strong' hinting (this is, vertically snapping the outlines to the pixel grid) must be extremely distorted or shifted sometimes to get de

[2015-09-10 08:56] alimsky opened #97 "Underscore spacing"
It is probably to wide space on the right
and it doesn't feel bold enough. (WebStorm, font-size: 12px)
![image](https://cloud.githubusercontent.com/assets/626871/9784279/8fcde11e-57aa-11e5-8f59-162df0704728.png)

[2015-09-10 09:17] zmnpl commented on #74
Hi, I experienced the same on Arch using the OTF build from AUR (https://aur.archlinux.org/packages/otf-hack/). I'll try the TTF build after work and let you know.

But, it's not only lower case u, but affects more or less all characters.
[Imgur](http://i.imgur.com/kj7yFf0.png)
[Imgur](http://i.imgur.com/Ezi0bSA.png)

At first I could have sworn I had that with different fonts, but cannot replicat

[2015-09-10 10:08] Irubataru commented on #33
Another chime in

OS: Arch Linux
Terminal: urxvt
Font: Hack v2.013 OTF 14pt with aa and hinting

![powerline-left](https://cloud.githubusercontent.com/assets/5611071/9785702/8b9f6b12-57b4-11e5-8f70-f93cb899c4d9.png)
![powerline-right](https://cloud.githubusercontent.com/assets/5611071/9785705/9049f3da-57b4-11e5-9950-f22614bad2e9.png)

[2015-09-10 10:12] jszakmeister commented on #86
FWIW, I'd like to see bold variants available too--though more to just have the symbol than a heavier weight.  I have the current line number bolded in Vim/MacVim with the old Powerline.  With Hack, I get the following in MacVim:

<img width="200" alt="screen shot 2015-09-10 at 5 41 20 am" src="https://cloud.githubusercontent.com/assets/448087/9785213/964006c0-577e-11e5-8050-df778fb53e5a.png">

Wi

[2015-09-10 13:25] chrissimpkins commented on #84
### Original Issue
@lemzwerg Thank you very much for all of this information Werner.  I apologize that I didn't include the original hinting set.  I will convert the post-build ttfautohint settings into a script and add it to the repository.  To date, I have been using your ttfautohint GUI tool.  For the Hack-Bold.ttf build, the post-build ttfautohint settings are as follows:

<img width="752" alt

[2015-09-10 13:51] chrissimpkins commented on #74
There definitely appears to be a problem with the lowercase u in the otf build.  I suspect that it is coming from the PostScript instructions but haven't had a chance to troubleshoot it further to date.  We are working to optimize the instruction sets in the TrueType (ttf) files across several issues in the repository and I would use these at the moment.  For now, I continue to release the otf fil

[2015-09-10 13:53] chrissimpkins commented on #74
@zmnpl incidentally, I was not involved in the packaging of Hack for the AUR.  If you happen to know who this was, feel free to point this issue out to them or point them in my direction and we can clarify this issue for Arch users.

[2015-09-10 14:15] chrissimpkins commented on #97
Noted.  I will take a look at this and get back to you.

[2015-09-10 14:40] lemzwerg commented on #84
I suggest that you compile FreeType and the demo programs statically in developer mode – this is what I do.  It should also help you to really use the current git version of FreeType since it might be easy to link with a wrong version of FreeType otherwise.

Starting from a clean git repository (`git clean -fdx`), you should say `make devel; make` to build the library.  Then follow the instruction

[2015-09-10 18:15] zmnpl commented on #74
I left a comment on the AUR package page. As well I tested the ttf version, and that one is working well.

[2015-09-10 18:35] StanislavNikolov commented on #74
Version 2.013 seems to have this problem too.

[2015-09-10 21:40] chrissimpkins commented on #74
@zmnpl Thanks!

@StanislavNikolov No changes to the otf hints in the latest release so I wouldn't expect it to differ at this stage.  Thanks for letting me know.

[2015-09-10 21:55] chrissimpkins commented on #84
@lemzwerg thank you very much Werner.  I will try this tonight.

[2015-09-10 23:37] Olsonist commented on #69
For packaging hack up for submission into CTAN, it needs a font family code.  I contacted Ken Berry, the Tex font administrator.  He added "hk" for Hack to typeface.map. So you've got that going for you, which is nice.

[2015-09-11 00:22] chrissimpkins commented on #69
This is great @Olsonist.  Thanks so much for putting in all of the effort to do this.  Do you think that it would be helpful to have brief usage documentation for other TeX users once this is available?   I can host this somewhere or point a link to it if CTAN has a site where package usage is hosted.

[2015-09-11 00:33] Olsonist commented on #69
That'd be a file at CTAN. That's what they're there for. It'll end up looking like this:

https://www.ctan.org/pkg/inconsolata?lang=en

This will take awhile while I figure things out.

[2015-09-11 00:45] chrissimpkins commented on #69
That's great.  Once it is available I will link to it so that users know that it is available.  Let me know if I can do anything to help.

[2015-09-11 00:50] chrissimpkins commented on #69
@Olsonist At some point along the way, please send me your name.   I'd like to acknowledge the work that you and Geoffrey put into this on the contributors list.

[2015-09-11 02:18] chrissimpkins commented on #45
This is a priority and I intend to address it this weekend.  I know this is interfering with your use.  I have a few thoughts and will make some test builds that we can try.  

—
Chris

On Wed, Sep 9, 2015 at 4:22 AM, Jorg Heymans <notifications@github.com>
wrote:

[2015-09-11 02:19] chrissimpkins commented on #95
Intend to start work on this over the  weekend.  Sorry for the delay. 

—
Chris

On Wed, Sep 9, 2015 at 2:56 AM, David van Gemeren
<notifications@github.com> wrote:

[2015-09-11 02:59] Olsonist commented on #69
Sure. It's Chris Sears.

[2015-09-11 03:54] chrissimpkins commented on #84
@lemzwerg The `make devel` command worked without issues from the clean git repository.  With `make`, I receive the following error:

[code]

[2015-09-11 04:33] lemzwerg commented on #84
This means that the harfbuzz library can't be found.  Install it with homebrew and check that

    pkg-config --cflags harfbuzz

produces correct output.  [Obviously, this means that you have to install 'pkg-config' also in case it wasn't yet, and that you have set up a valid path to homebrew's pkg-config binary.]

The same is true for libpng, BTW.

[2015-09-11 05:04] heymjo commented on #45
Great , thanks as lot !

[2015-09-11 06:07] burodepeper commented on #95
No problem at all.
Let me know if I can help in any way.

[2015-09-11 14:46] rmbreak commented on #33
Took some more samples on ttf-hack 2.013.

OS: Arch Linux
DE: GNOME 3
Font lib: Freetype2 2.6-1

terminator. 12pt. aa.
![12pt-aa-terminator](https://cloud.githubusercontent.com/assets/587223/9817540/9f019578-5871-11e5-9716-65edb224fab1.png)

terminator. 12pt. noaa.
![12pt-noaa-terminator](https://cloud.githubusercontent.com/assets/587223/9817559/b956a08a-5871-11e5-83f7-aa170fce03fd.png)

roxterm.

[2015-09-12 03:54] lluixhi commented on #37
I have the same problem on Linux in NeoVim. I'm using the OTF font.

![tilde](https://cloud.githubusercontent.com/assets/3643824/9829731/d2d9aaac-58c6-11e5-80f1-8ff8e4ea26d5.png)

[2015-09-12 04:02] lluixhi opened #98 "Underscore too thin, too low, and blurry."
I'm using Linux with the OTF version 2.0.13. My editor is NeoVim.
When lines containing the underscore are right above a cursor, or another character that fills a box (cell?), they're almost indistinguishable from spaces.

![underscore](https://cloud.githubusercontent.com/assets/3643824/9829762/1072a00c-58c8-11e5-9a50-351becae6d21.png)

And as said in #97, it looks like the right hand spacing is t

[2015-09-12 04:58] chrissimpkins commented on #37
@lluixhi thank you.  I hope to have a round of these glyph fixes included in the next release.

[2015-09-12 05:00] chrissimpkins commented on #98
How does the ttf build render for you?  In general I would recommend it for screen use over the otf files on Linux.

[2015-09-12 05:11] lluixhi commented on #98
They're even worse in TTF (though this might partially be the effect of flux)
![2015-09-11_22-09-24](https://cloud.githubusercontent.com/assets/3643824/9829972/112e1b7a-58d2-11e5-88a0-16a3df524fa8.png)

[2015-09-12 05:15] chrissimpkins commented on #98
interesting OK.  I will take a look at it.  thanks for reporting this.

[2015-09-12 05:25] lluixhi commented on #98
They simply disappeared with the TTF and slight hinting:

![hintslight](https://cloud.githubusercontent.com/assets/3643824/9830019/0260f200-58d4-11e5-9a9a-d69796e823dc.png)

[2015-09-12 05:36] lluixhi commented on #98
This is the OTF font with slight hinting:

![2015-09-11_22-34-45](https://cloud.githubusercontent.com/assets/3643824/9830078/8140c7ca-58d5-11e5-9776-a7ccac3c61d2.png)

And with full hinting:

![2015-09-11_22-33-14](https://cloud.githubusercontent.com/assets/3643824/9830067/3da653e0-58d5-11e5-9b48-1ba60791685b.png)

[2015-09-13 10:26] i-am-the-slime commented on #35
How about having two versions of the font? *Hack* and *Hæck*. So people can choose themselves whether they want Ligatures or not.

[2015-09-13 14:21] lozandier commented on #35
That doesn't seem to be efficient al all, if the ligatures tables can be in
the font file as any normal font file & then they're disabled (which they
often are ). Why have to files for something that can be represented in one
file?

Even editors that support ligatures wisely make you opt-in of having them
enabled; it's also a usability issue when they both are installed in
systems that have a wide

[2015-09-13 15:49] legovini opened #99 "[wishlist] Unicode "lock" symbol"
The "open lock" symbol U+1F512 is used by vim-airline to show that a file is encrypted. This is the symbol:

http://graphemica.com/%F0%9F%94%92

it would be nice to have it in Hack, together with the open lock U+1F513.

Paride

[2015-09-13 19:11] chrissimpkins commented on #99
Can you point me to the vim airline documentation that shows the entire symbol set?  The Powerline glyph set includes a lock glyph that is mapped to the Unicode private use area, but it sounds like these are characters are different. There is no open lock in the Powerline set.

[2015-09-13 19:17] chrissimpkins commented on #98
@lluixhi thank you very much for all of these screenshots Aric.  These are very helpful.  I have other issue reports on the tilde glyph.  We will definitely address all of these.

I will need to look into the box glyphs to see how they align with the underscores.  It looks like this is in part a vertical metrics issue (box glyph too close to the underscore) and a horizontal alignment issue (orient

[2015-09-13 19:18] chrissimpkins commented on #97
Any thoughts on the vertical alignment relative to the alphabetic glyphs (and any other glyphs that they are displayed near for that matter)?

[2015-09-13 19:23] chrissimpkins commented on #84
Still having troubles with this @lemzwerg.  I think it will be easiest to just carry the entire build over to Linux (hopefully).  Working on this today and will let you know if there are any other issues.

@legovini & @aleho : I am trying to get a new build out for you to try later today.  This will include the new instruction sets that @lemzwerg recommended.

[2015-09-13 19:48] lluixhi commented on #98
Yes, that's correct.

I'm on Gentoo using Freetype 2.6. I'm using ST, the suckless terminal: http://st.suckless.org/

I think the main reason people on Fedora, Debian, etc. see different results in the font rendering is different distro defaults. I'm pretty sure Fedora turns off the LCD filter (sub pixel rendering) by default due to potential patent issues. Ubuntu and maybe Debian turn it on by de

[2015-09-13 20:06] chrissimpkins commented on #98
@lluixhi headache source #1 at the moment!  But a problem that we need to deal with.  We will try to make it as usable as possible for everyone.  It is likely to take a combination of changes in glyph shapes / alignment and hinting across the TrueType and PostScript builds.  Fortunately there are developers across a broad range of renderer, editor, platform combinations who have been willing to te

[2015-09-13 20:16] legovini commented on #99
Sure, check line 182 of this document:

https://github.com/bling/vim-airline/blob/master/doc/airline.txt

It seems that only the closed lock is used.
Thanks for looking into this!

Paride

[2015-09-13 20:27] chrissimpkins commented on #35
Thanks to all for the feedback here.  I really like the idea of ligatures with the caveats that I expressed in the thread above.  I wanted to provide an update on this issue.  I reached out to [Tal Lemming](https://typesupply.com/) (@typesupply) and [Ellen Lupton](https://www.mica.edu/About_MICA/People/Faculty/Faculty_List_by_Last_Name/Ellen_Lupton.html) to see if they would be willing to lend the

[2015-09-13 20:31] chrissimpkins commented on #99
Marking this for future reference:

https://github.com/bling/vim-airline/blob/master/doc/airline.txt#L177

It looks like there are a number of glyphs that differ from the Powerline set.  I will need to confirm what is and is not currently included in this project.

[2015-09-13 20:36] chrissimpkins commented on #22
Quick update.  Seeking some feedback from the type design community about the lowercase c issue.  I'd like to get some creative input to see how we can address this at small screen text sizes where many features in fonts tend to fade with hinting/instruction sets that force the glyph shapes into the pixel grids.  Wanted to confirm that this is not forgotten.  I just want to come up with a good app

[2015-09-13 20:42] alimsky commented on #97
Yeah, it's a bit too low. I think it should be higher by own height.
![screen-shot-2015-09-13-at-10 28 01-pm](https://cloud.githubusercontent.com/assets/626871/9838872/b71f4d82-5a68-11e5-9fa2-dd1852297280.jpg)

[2015-09-14 01:35] chrissimpkins commented on #84
@legovini so here is what Werner is referring to above.  At different text sizes, the point above the i is being aligned at different areas of the pixel grid.  At some sizes, this is properly aligned so that you notice the point properly above the vertical stem of the i.  At other sizes, they are adjacent to each other and this gives the appearance that the point is part of the stem:

### 16 pt
<i

[2015-09-14 01:49] tbrisbane opened #100 "Underscores disappearing in IDEA IDEs (Hack-v2_013-ttf)"
I've noticed that within IDEA IDEs (I've noticed this on both IntelliJ and PyCharm so far), underscores seem to be disappearing in what appears to be an issue related to how IDEA handles redraw regions for the caret's current line.

Note in the following screenshot how the caret's current line is highlighted, and the underscores are visible:
![capture](https://cloud.githubusercontent.com/assets/12

[2015-09-14 02:18] chrissimpkins commented on #84
Here is a test file that addresses the i and j point issue.  It carries the current release version number 2.013.  I included the SHA1 hash below.

[Hack-Bold-DebTA.ttf](https://github.com/chrissimpkins/Hack/blob/development/build/test_builds/debian/Hack-Bold-DebTA.ttf?raw=true)

SHA1: 6b2c60bac8cd443ff27efc9f5d7b079a7566ec3e

@lemzwerg when I viewed this in `ftgrid` I came up with 6, 7, 15, 16, 2

[2015-09-14 02:21] Huddo121 commented on #100
I suspect you're correct. Below is a zoomed in view of the images posted, with the top layer set to 'difference'. As you can see the bottom of the 'p' characters are also being removed.

![image](https://cloud.githubusercontent.com/assets/1518405/9840792/faa4dfaa-5ada-11e5-84c8-7b593a1c2b6e.png)

[2015-09-14 02:32] chrissimpkins commented on #100
This appears to be related to the issue in #45 (and I think that there is at least one other issue report of a similar problem).  Can you also verify whether this is a text size dependent phenomenon?  With the lowercase g strokes in #45, it only occurs at certain text sizes.

[2015-09-14 04:41] tbrisbane commented on #100
Increasing the text size seems to yield no improvements, however, surprisingly, decreasing the text size to 10pt saw underscores rendered on the correct line, thus solving the issue.

Perhaps an issue may need to be filed with the JetBrains team?

[2015-09-14 05:35] lemzwerg commented on #84
Yes, the different ppem values are due to different settings.  The 'i' and 'j' glyphs in the resulting TTF file look OK to me.

BTW, I still suggest that you use ttfautohint's `-t` option (which is equivalent to the 'Add TTFA info table' checkbox in ttfautohintGUI)...

[2015-09-14 07:21] aleho commented on #84
Hack, OTF at 11 (for comparison):
![hack-otf-11](https://cloud.githubusercontent.com/assets/138721/9844226/cb764494-5ac1-11e5-8d0b-fd4c37b689bd.png)

Hack, OTF at 11, your TTF version from above:
![hack-otf-ttf_bold-11](https://cloud.githubusercontent.com/assets/138721/9844242/e547fee4-5ac1-11e5-8ace-a0bff416868c.png)

[2015-09-14 10:21] chrissimpkins commented on #84
Sorry, I thought that was the flag for the strong stem width / positioning.  I will definitely add it.  This will make it easier to discuss these issues.

[2015-09-14 10:24] chrissimpkins commented on #84
@aleho now it looks like we have the issue with the bold vs. regular baseline alignment that has been reported in other issue reports.  The bottom of the bold glyphs look like they are displaying a pixel above the level of the regular set.  I'm not sure what is leading to this.  Let me look into it.

[2015-09-14 10:27] chrissimpkins commented on #100
@tbrisbane strange.  OK, looking into it.

[2015-09-14 11:55] aleho commented on #84
For some reason I don't see bold baselines being offset in Eclipse the way they are in (GTK) terminals.

OTF:
![eclipse](https://cloud.githubusercontent.com/assets/138721/9849119/1f2186f0-5ae8-11e5-9d98-20e442e29ba0.png)

[2015-09-14 12:08] bremenpl opened #101 ""<" and ">" looks edgy"
Hello there,
First of all I would like to thank the authors for a great font. Since I found it I am using it everywhere, thank you.

This is probably not a big thing, but just something to consider. I have noticed that "<" and ">" signs look a lot more edgy than the rest of the signs. I can see this in Notepad++ and Eclipse (A lot more visible in the second one).

![signs](https://cloud.githubuser

[2015-09-14 13:26] chrissimpkins commented on #84
Alexander can you confirm that this is happening in the ttf builds as well?  My read of the comparison post above is that the bottom image is the ttf build that we just created with the Control Instructions File.  Is that correct?  

Would it be possible to try the ttf files in Eclipse and include strings in bold that have a stroke that extends below the baseline like the lowercase g, q, or j, or

[2015-09-14 13:54] rafaeln opened #102 "Missing glyphs <ẽ> 7869, U+1EBD <ỹ> U+7929 LATIN SMALL LETTER E & Y WITH TILDE"
Kĩsêdjê (Indigenous to Brazil) is a language with 17 vowels. Needs lots of diacritics. When I render LaTeX code using the Hack font, words like *Khẽrẽ* (devour) look horrible.

Thanks for this font. It is looking great.

[2015-09-14 14:12] aleho commented on #84
Yes, the bottom image was OTF-files with only the bold being replaced with the build from above.

Eclipse samples are quite strange. I double checked, to make sure I didn't mix them up. The second sample is OTF with bold variant replaced with the TTF version from above.

Eclipse, OTF:
![eclipse_otf](https://cloud.githubusercontent.com/assets/138721/9851823/1f59bf62-5afb-11e5-9e9f-b52396061ad4.png)

[2015-09-14 15:47] chrissimpkins commented on #102
this is the only missing character for you?

[2015-09-14 15:48] chrissimpkins commented on #84
Do you mind trying all ttf files to see if those align?  I wonder if some of these alignment issues are coming from a mix of otf and ttf builds on systems.

[2015-09-14 15:57] rafaeln commented on #102
Sorry. I didn't do a thorough check. I'm also missing `<ỹ> 7929, U+1EF9 LATIN SMALL LETTER Y WITH TILDE`. What I need are tildes on a e i o u y. It looks like only ẽ and ỹ aren't there yet. I suppose the uppercase versions aren't included either. The code points for all the tilde'd letters are:

    <ã> 227, \343, U+00E3 LATIN SMALL LETTER A WITH TILDE
    <ẽ> 7869, U+1EBD LATIN SMALL LETTER E WIT

[2015-09-14 17:40] RasPat1 commented on #101
+1
Using Hack on intellij idea and angle brackets are a bit pixelated. Looks pretty good on a retina screen (15.4-inch (2880 x 1800)) but not great on a 27-inch (2560 x 1440) thunderbolt display.  Using version 1.3 I believe.
This screenshot is probably useless but here it is anyways:
![image](https://cloud.githubusercontent.com/assets/2310588/9856996/085368d2-5ae6-11e5-82eb-64ab00f6b38b.png)

[2015-09-14 17:54] chrissimpkins commented on #101
@bremenpl are you using the otf or ttf files? Which version?

[2015-09-14 17:56] chrissimpkins commented on #101
@RasPat1 we've had some problems with the renderer in the JetBrains editors.  Does this happen in your terminal or other editors on OS X?

[2015-09-14 17:57] chrissimpkins commented on #102
Thanks for including the Unicode points.  I am working on another bug fix release and hope to get started on character expansions in the next release or so.  Will let you know.

[2015-09-14 18:01] bremenpl commented on #101
Hack-v2_010-ttf. Thank you for feedback.

[2015-09-14 18:19] chrissimpkins commented on #101
@bremenpl mind trying the new v2.013 build?  It is the current release linked on the README.

[2015-09-14 18:47] bremenpl commented on #101
Sure, ill give it a spin first thing in the morning.

[2015-09-14 18:55] bremenpl commented on #101
Btw, do I need to reinstall the old font 1st or will windows just let me
update it in a clean way?

[2015-09-14 18:58] chrissimpkins commented on #101
I am not certain of the correct answer to that but when I test on windows I always delete the old files before installing the new ones.

[2015-09-14 19:01] bremenpl commented on #101
Alright, thank you.

[2015-09-14 19:31] RasPat1 commented on #101
@chrissimpkins
Yeah looks a bit janky in Sublime as well. (only other place i'm using it)

[2015-09-14 19:36] chris0e3 opened #103 "Usability/Rendering Issues"
Hack v2.010, TTF on OSX 10.8.
The following graphics (IMHO) shows some usability/rendering issues.

This is Source Code Pro 10.5pt.  (My current font.)
![sourcecodepro10 5](https://cloud.githubusercontent.com/assets/14280843/9859441/96dba5a0-5b1e-11e5-89db-b7c8f8f482a6.png)

This is Hack 10.5pt.  (I really like the greater x height, but the `()` looks like there’s a space between, similarly the `[

[2015-09-14 22:52] chrissimpkins commented on #103
`()` do have additional sidebearing space.  This is intentional.  Have a look at it in source code rather than test text to see what you think.  It is intended to improve the legibility of parenthetic expressions in source.

Can you clarify what you mean by deeper on `[ ]`?

The underscores don't render as low for me on OS X 10.10.5 in Sublime Text:

![underscores](https://cloud.githubusercontent.

[2015-09-15 03:17] chris0e3 commented on #103
The screenshots were taken from Xcode.  I think they would look better if they curved more and, perhaps, were slightly taller.

I meant that the horizontals could be longer, making them less vertical-line like.

OK.  But they do in Xcode, TextWrangler, TextEdit & Terminal for me.

Fine for Regular but less clear for Bold (unless the characters are adjacent).
Try again after 12 hours of pouring ove

[2015-09-15 06:49] bremenpl commented on #101
@chrissimpkins I have installed the neverst version, but the brackets look the same.

[2015-09-15 07:39] aleho commented on #84
For me the alignment problems are with OTF only (no mixing).

Next round of samples. OTF versions are with version 013, TTF versions with 013 and the bold font replaced by the test build above.

OTF:
![otf_013_eclipse](https://cloud.githubusercontent.com/assets/138721/9870576/87561ee8-5b8d-11e5-87b2-dd1042b1ad54.png)
![otf_013_terminal](https://cloud.githubusercontent.com/assets/138721/9870577/890

[2015-09-15 09:33] alerque opened #104 "ASCII box drawing character(s) not full height"
Using the OTF font on Linux I don't have a problem, but on OS-X using the OTF fonts screws up my vim and tmux splits. These are drawn using the `U+2502` vertical line (│) character. This character should be the full height of the line, but using the default line height settings in both Terminal and iTerm it comes up short. It's not unless I compress the line height to ~80% of default that the line

[2015-09-15 10:42] chrissimpkins commented on #104
Thanks Caleb. These box glyphs definitely need some attention (along with others like line glyphs that require alignment in the vertical dimension with each other).  I am working on some other issues with the vertical metrics which may lead to minor vertical spacing changes and want to sort that issue out before I work on these issues but will definitely address this.  Interesting that it isn't a

[2015-09-15 10:44] chrissimpkins commented on #103
Thanks for your feedback.  Noted.

[2015-09-15 10:44] alerque commented on #104
I'm running a very up to date ArchLinux box, and that is Termite (a VTE3-ng based terminal).

[2015-09-15 10:53] chrissimpkins commented on #101
What text sizes are you using in your editors and does this occur when you change up and down by a text size or two?  The glyphs are drawn with straight lines.  This is going to be an issue with the way that they are rendered to fit the pixel box on different platforms (and in some cases this may even differ between editors).  This may be an antialiasing issue on your systems.  On the Windows side

[2015-09-15 10:58] bremenpl commented on #101
I have tried changing the rendering engine in windows generaly, to be
more like OS X or Linux with 3rd party tools but that didnt work out
well. I have no build in way of changing antialiasing in the editors. In
Microsoft Word for example, it looks a bit better as it uses hes own
rendering engine. Changing the font size doesnt help, I have tested this
in several code editors (also in visual studio

[2015-09-15 11:00] chrissimpkins commented on #84
Looks to me like we are good on the TTF side of things. Do you see any issues there?

For the OTF files there is still a bold vs. regular vertical alignment problem that I will need to look into. Is there a reason that you prefer the OTF files at this stage? Do they render better on the Debian platform?  I don't appreciate a difference from the images that you posted.

@legovini I think that we ar

[2015-09-15 11:03] chrissimpkins commented on #84
@lemzwerg thanks again for all of your help with this issue.  I really appreciate it.  The Control Instructions File looks like it will be very useful to address other issues that come up down the road.  I am going to take a look through all of the diacritics to see if they are problematic at any text sizes.

[2015-09-15 11:07] chrissimpkins commented on #104
got it thanks.  The reason for the comment above is that any change to the overall vertical metrics of the fonts will scrap changes to the alignment of specific glyphs that we make here.  I will definitely address this.  Hope to have these vertical metrics issues sorted out over the course of this week.

[2015-09-15 11:09] chrissimpkins commented on #101
And ClearType is turned on?

[2015-09-15 11:10] bremenpl commented on #101
Yes.

[2015-09-15 11:30] chrissimpkins commented on #104
arch is running FreeType?  any modifications (eg. Infinality)?

[2015-09-15 11:35] aleho commented on #84
OFT don't render particularly better. For some reason OFT is smaller than TTF in terminals, as you can see above, but in Eclipse the glyphs appear larger for whatever reason at the same font size (so exactly the other way round). In terminals and gedit I use size 11, in Eclipse 10.

Well, maybe Eclipse specific.

[2015-09-15 11:42] alerque commented on #104
Yes, freetype 2.6, harfbuzz 1.0.3, and graphite 1.3.2. No no infinality or other mods that I know of.

[2015-09-15 12:00] chrissimpkins commented on #101
I will take a look in Windows and see if there are any other optimizations that I can come up with.  Is this a problem in other fonts or only something you noticed here?

[2015-09-15 12:03] bremenpl commented on #101
I have used consolas before and I would say it was less sharp:
![brackets](https://cloud.githubusercontent.com/assets/1183500/9875931/8499ce5a-5bb2-11e5-8d70-978bad8e367d.png)

[2015-09-15 12:07] chrissimpkins commented on #101
Look like wider shapes in the vertical dimension.  Let me check this across Linux platforms as well.  It is possible that we may need to slightly adjust the shapes so that they render better.

[2015-09-15 12:55] manuel-uberti commented on #101
I don't think this would be of any help, but ```<``` and ```>``` looks fine on my Emacs running on Debian unstable.

[2015-09-15 13:19] chrissimpkins commented on #101
@manuel-uberti thanks for that input.  this is definitely a platform/editor dependent issue.  they look ok for me as well.  I have had some requests to increase vertical size of these characters.  Any opinion about the design itself as we address these issues?

[2015-09-15 13:26] bremenpl commented on #101
In my opinion the design in overal is great.

[2015-09-15 13:35] chrissimpkins commented on #101
@bremenpl thank you very much Łukasz.  I really appreciate that.  Do you happen to have any thoughts about the `<` and `>` glyphs in the body of source where you use these?

[2015-09-15 13:38] bremenpl commented on #101
Maybe like you said yourselve- if the brackets were a bit tighter, the
angle would be smaller and they would look less pixely like in consolas?

[2015-09-15 13:41] chrissimpkins commented on #101
Sounds good.  I take it you don’t have a strong opinion about the shape and just want them to appear better as is.  Will experiment a bit on Windows and see if I can find any optimizations.  Will let you know if I come across anything.  

Any other Windows or OS X users out there who have a different experience and any thoughts, please feel free to chime in.

—
Chris

On Tue, Sep 15, 2015 at 9:38

[2015-09-15 14:06] manuel-uberti commented on #101
About the design: I just can say Hack is the ONLY font able to drive me away from Source Code Pro. So thanks a lot for your efforts.

[2015-09-15 14:07] bremenpl commented on #101
I have also switched to hack from source code pro.

[2015-09-15 14:25] legovini commented on #84
@chrissimpkins sorry for the late reply, busy days. The TTF versions renders perfectly to me now, I think the font is ready for distribution. Thank you very much for dealing with the issue! Do you plan to release a version that includes this fix any soon? In this case I'll wait before working on an upgraded Debian package.

[2015-09-15 16:54] chrissimpkins commented on #84
@legovini absolutely no rush.  I just wanted you to be aware that this (I hope) addresses your concerns.  I am happy to push a new release with these changes this week.  There may be a few other issues that we can address in this release so I will plan for this to happen towards the end of the week.

Have you sorted out how you would like to release this in the Debian package?  I think that there

[2015-09-15 17:40] chrissimpkins commented on #101
@manuel-uberti I really appreciate that feedback.  This is definitely a group effort and we make progress because of input and contributions from those who find all of its ugly, and sometime subtle, blemishes.  It is impossible to create a testing mechanism that covers the font renderers on all platforms across all text editors on each platform (which I have come to learn can differ within the sam

[2015-09-15 18:05] manuel-uberti commented on #101
@chrissimpkins I mainly use the font in Emacs (which is where I spend most of my time anyway), but if you need me to test the font in other applications, feel free to ask.

[2015-09-15 18:35] chrissimpkins commented on #33
I think that I am going to take Caleb's (@alerque) recommendation and use the Powerline patch script to see if we can find the "recommended" metrics that are used when patched fonts are created with this tool.  This will be working under the assumption that this three year old script still generates valid metrics which we will need to confirm.  I don't see anything more current and assume that the

[2015-09-15 18:43] chrissimpkins commented on #101
@manuel-uberti Thanks Manuel.  We are actually actively working on rendering in the bold set based on a problem that was raised on the Debian platform.  There appears to be a hinting problem with the points on the lowercase i and j that showed up on that platform.  It seems to be fixed and we will have a new build out later this week.  Incidentally, the thread was generated to create a new Debian

[2015-09-16 02:08] #38 closed

[2015-09-16 02:16] #89 closed

[2015-09-16 02:18] chrissimpkins commented on #69
@Olsonist thanks Chris.  Will be adding it this week.

[2015-09-16 03:34] chrissimpkins commented on #101
The Eclipse and IntelliJ editors are both based on a Java text renderer. I think that this is where the problem lies.

For Eclipse, I can't find much information about how to change the antialiasing settings but there is a set of images in a [bug report](https://bugs.eclipse.org/bugs/show_bug.cgi?id=276682) that replicate what you are seeing with the angled lines here.

[Antialiasing Not Working I

[2015-09-16 03:35] chrissimpkins commented on #96
Noted, will take a look at the hinting on this glyph.

[2015-09-16 03:45] chrissimpkins commented on #95
Are you seeing this at any text sizes other than 14px?

[2015-09-16 04:20] doubleagent opened #105 "Request for 0x1A4 [CAPITAL P WITH HOOK] to be added"
"Capital P with a hook"

This character is used by Emacs 'clojure-mode' to "fancify" code.  See [here](https://github.com/syl20bnr/spacemacs/tree/master/contrib/!lang/clojure#pretty-symbols) for details.

[2015-09-16 04:21] chrissimpkins commented on #105
Noted.  Thanks for the suggestion.  I will work it in.

[2015-09-16 04:25] bremenpl commented on #101
I think notepad++ is written in c++ and it also has this issue. I
will.however try to get more info about antialias in eclipse.

[2015-09-16 04:27] chrissimpkins commented on #101
This help with Notepad++?  Not sure if this is still relevant in Win 10.

http://superuser.com/questions/183215/how-to-turn-on-off-fonts-anti-aliasing-in-notepad

[2015-09-16 04:33] chrissimpkins commented on #101
Here is some more info on Notepad++ if you are not using the current release version:

https://github.com/notepad-plus-plus/notepad-plus-plus/pull/116#issuecomment-113627796

[2015-09-16 06:15] burodepeper commented on #95
8px: **yes**
9px: **yes**
10px: no
11px: **yes**
12px: no
13px: no
14px: **yes**
15px: no
16px: no
17px: no
18px: no

[2015-09-16 06:48] manuel-uberti commented on #84
This is the latest TTF font on Emacs and Debian unstable. I am talking about the latest release, not the test files available here.

![2015-09-16-084600_580x122_scrot](https://cloud.githubusercontent.com/assets/8199224/9898067/8738e626-5c4f-11e5-99fe-99d99d7f5276.png)

This is how Hack is setup in my configuration:
[code]
Bold renders fine, I think.

[2015-09-16 08:38] bremenpl commented on #101
Well, the point is that the brackets look the same in all windows
editors i would say (apart from those which have own rendering engine
like microsoft word). I have tested this in:

- Eclipse
- Notepad++
- Visual Studio
- Netbeans
- Qt Creator
- MPLAB X IDE
- Atmel Studio

Maybe tighting the brackets is the way out?

[2015-09-16 10:51] chrissimpkins commented on #95
that's helpful.  looking at the hinting today

[2015-09-16 12:43] chrissimpkins commented on #101
Mind looking at some of the other angled strokes in the set?  For example the %.

I suspect that this is a broader issue for you.

[2015-09-16 12:54] bremenpl commented on #101
Yes, "%" is also edgy. "\" and "/" is still fine...

[2015-09-16 13:10] chrissimpkins commented on #95
I can confirm that the bold set is aligned to the baseline.  The baseline is shaded in the images below and I confirmed that the characters are positioned at 0 units (i.e. right on the baseline) where there are no bowls that overhang.  The latter is an intentional design issue to make these curved lower areas of the glyphs appear to align on the baseline.  If you don't provide this overhang, they

[2015-09-16 13:12] chrissimpkins commented on #32
I can confirm that the bold set is aligned to the baseline.  The baseline is shaded in the images below and I confirmed that the characters are positioned at 0 units (i.e. right on the baseline) where there are no bowls that overhang.  The latter is an intentional design issue to make these curved lower areas of the glyphs appear to align on the baseline.  If you don't provide this overhang, they

[2015-09-16 13:31] ceving commented on #61
I tried the TTF font on Linux in the XFCE4 terminal and got the same effect.
![xfce4-term-with-hack](https://cloud.githubusercontent.com/assets/795748/9905924/017bb372-5c88-11e5-8a57-0eb065d6c63e.png)

[2015-09-16 13:47] chrissimpkins commented on #61
Looks like this is my fault.  These are just a hair lower in the source and I suspect that they are snapping down by a pixel in some editors/some renderers.  I will adjust this and try to add it in the next release which I hope to have out later this week.

<img width="1016" alt="umlauts" src="https://cloud.githubusercontent.com/assets/4249591/9906335/b4358e2e-5c57-11e5-9415-7b308c0f3bb3.png">

Ca

[2015-09-16 14:25] ceving commented on #61
@chrissimpkins On Windows I think I have used size 10 and on Debian I used 72 dpi and size 14 with anti-alias and full hinting.

[2015-09-16 14:31] chrissimpkins commented on #61
@ceving thanks. I will try to make a test build that we can try before we push it in the release.

[2015-09-16 15:52] chrissimpkins commented on #100
The position of the underscore is too low in the source and it is off center.  I will correct these and plan for this change to be in the next release.

As an aside, others have had issues with the width with some renderers.  Does it appear too thin on your system?

[2015-09-16 15:53] chrissimpkins commented on #98
The position of the underscore is too low in the source and it is off center. I will correct these and plan for this change to be in the next release.

Let me get some additional feedback about the vertical width of the underscore stroke on other platforms before we introduce this change.

[2015-09-16 15:54] chrissimpkins commented on #97
The position of the underscore is too low in the source and it is off center. I will correct these and plan for this change to be in the next release.

Any thoughts on the vertical width of the stroke?  Does it seem too narrow to you?

[2015-09-16 15:56] chrissimpkins commented on #103
I am working on a few problematic characters for the next release.  I hope to address the underscore & tilde in this release or the next.

[2015-09-16 17:18] ptomato commented on #32
@chrissimpkins Here's a screenshot of what that looks like (OSX 10.10, Sublime Text 3, OTF fonts at 14pt size); the baseline is still different between the bold and regular characters.
![screen shot 2015-09-16 at 10 13 52 am](https://cloud.githubusercontent.com/assets/459371/9912405/4e6fc942-5c5c-11e5-85c5-2a4e84fccc35.png)

[2015-09-16 17:25] chrissimpkins commented on #32
OK that's great.  Just a thought.  Let me look at the hinting at those larger point sizes.  To confirm this goes away below 14px too?

[2015-09-16 17:34] ptomato commented on #32
@chrissimpkins That's right, below 14px everything is normal. For comparison here's the same text at 32pt:
![screen shot 2015-09-16 at 10 31 53 am](https://cloud.githubusercontent.com/assets/459371/9912800/40044aa2-5c5e-11e5-9a45-9b9c813bc0f2.png)

[2015-09-16 17:40] chrissimpkins commented on #32
Thanks for the new image.  Will update when I have more information.

[2015-09-16 19:38] weslem commented on #95
Hi, I've experienced this same issue. I've captured this on an up-to-date x86_64 ArchLinux box using the TTF fonts.

* fontconfig settings: DPI=161, lcdfilter=lcddefault, rgba=rgb.
* terminal: st, using a font setting of Hack:size=10

![bold_capture](https://cloud.githubusercontent.com/assets/994468/9916048/5a2c4a36-5c6f-11e5-9501-d4bcc91858cb.png)

Notice the cursor character renders correctly fo

[2015-09-16 20:02] chrissimpkins commented on #95
@weslem thank you very much.  I am assuming this is with FreeType?  Are you using any modifications to FreeType?

[2015-09-16 20:49] weslem commented on #95
Correct, the captures above are from an unmodified (to my knowledge) freetype2. The st terminal is a tiny program (one C file), and the font code doesn't appear that complicated to me: http://git.suckless.org/st/tree/st.c
I'm not familiar enough with font rendering quickly to identify any problems, however.

I can reproduce similar output with other freetype2 terminals rather easily. Here are some

[2015-09-16 21:38] alphapapa commented on #101
Just my two cents:

- I use Emacs on Debian and Ubuntu, and I just ran through several fonts (list below), and I would say that Hack's `<>` glyphs render just as clearly as those fonts' do for me.
[code]
-  I am happy with the height of the `<>`.  I don't think they need to be made taller.

[2015-09-16 21:52] alphapapa commented on #35
My two cents, if I may: Hasklig-style ligatures are pretty, but they are by no means intuitive in this context.  If a user types two characters on the keyboard, and they suddenly turn into a single character that may or may not actually resemble the two characters put together, it appears as a bug in the font or editor.

If a user is learning a new language, and he's reading the docs, and he sees

[2015-09-16 21:57] chrissimpkins commented on #95
So I checked the hints with the freetype grid viewer and this does not appear to be the source of the problem.  Here are the hinted freetype2 renders on the grid at 8pt and 18pt.  I looked at all text sizes from 6 - 32pt in both the regular and bold set.  The bold glyphs never get nudged off of the baseline.

#### Regular
<img width="316" alt="lower-a-8" src="https://cloud.githubusercontent.com/as

[2015-09-16 21:59] chrissimpkins commented on #32
So I checked the hints with the freetype grid viewer and this does not appear to be the source of the problem.  Here are the hinted freetype2 renders on the grid at 8pt and 18pt.  I looked at all text sizes from 6 - 32pt in both the regular and bold set.  The bold glyphs never get nudged off of the baseline.

#### Regular
<img width="316" alt="lower-a-8" src="https://cloud.githubusercontent.com/as

[2015-09-16 23:26] chrissimpkins commented on #101
@alphapapa thank you very much for this feedback.  Any special antialiasing or hinting settings on Debian?

[2015-09-17 04:34] bremenpl commented on #101
On a linux system I am using (linux mint) the brackets look as good as you
are describing. I havent said it doesnt.

[2015-09-17 05:00] alphapapa commented on #101
@chrissimpkins And thank you for Hack!  :dancer:

I'm sorry, it just hit me, I haven't installed Hack on my Debian system yet (too bad it's not packaged in unstable yet), so I've actually been using DejaVu Sans Mono on it.

If it helps, on my Ubuntu system, I'm using KDE4 with "slight" hinting and "RGB" antialiasing.  Looks good here.  :)

[2015-09-17 06:08] wasamasa opened #106 "Why not contribute to the DejaVu project?"
![](http://i.imgur.com/8SqL6mT.gif)

This GIF shows both DejaVu Sans Mono and Hack, the frame with the red square denotes Hack.  Given the few differences (i and 0 are different, spacing of underscores and parentheses is off, hinting is slightly different) I can't help but wonder why I should go for this font instead of DejaVu Sans Mono.

Did you consider contributing the extensions to the origina

[2015-09-17 07:42] bremenpl commented on #101
@chrissimpkins here is a screen from Linux Mint. Antialiasing is a lot better there. Only on windows it doesnt look as good:
![zrzut_ekranu-c-c - ovencore-src-ovencore cpp - eclipse](https://cloud.githubusercontent.com/assets/1183500/9927405/a3776216-5d1e-11e5-8153-69ebe4be77db.png)

Here is Windows 8.1 (So its not a windows 7 issue only):
![nowy obraz mapy bitowej](https://cloud.githubusercontent

[2015-09-17 12:34] chrissimpkins commented on #101
@bremenpl I completely understand and recognize your issue.  I am not dismissing it.  I just don't know that there is a way to design around it.  Those glyphs must have angled lines and angled lines do not appear to render well on your system.  This is a complex, multifactorial issue that involves your hardware (display - higher pixel density displays will likely render smoother lines for you on y

[2015-09-17 12:42] bremenpl commented on #101
@chrissimpkins I understand.I gues that this font is just optimised for Linux and OS X. If thats the majority of users then I gues thats alright to adress them. About the fonts, here is some comparison on Windows 7:

![fonts](https://cloud.githubusercontent.com/assets/1183500/9933253/2030826c-5d4a-11e5-84df-9f729df2d8c1.png)

Consolas looks best (I was using before Hack, as SourceCode Pro wasnt ab

[2015-09-17 13:49] alimsky commented on #97
It might be rendering in this particular font size. So, in case you increase to visually match in my case it might be too bold in other font sizes / different platforms. So, it's your call here. I vote for increase though.

[2015-09-17 14:04] chrissimpkins commented on #97
Will try to have something that we can try soon.

[2015-09-17 14:32] alerque commented on #106
I don't know what the author's reasons were, but this doesn't make any sense to me. The DejaVu project is a whole family of fonts designed for a broad range of contexts. As such it has to weigh a lot of considerations in the balance where a specialty font can shift to meet the needs of one specific context. Hack is designed for source code. This is a rather different thing than a general purpose m

[2015-09-17 14:54] alerque opened #107 "“Look ma’, it’s animated!” — or why do my dashes move under the cursor?"
So here's one for you (OTF, Font version 2.013, Linux, FT 2.6, Termite VTE3-ng based terminal):

![selection_058](https://cloud.githubusercontent.com/assets/173595/9936054/b83a69c0-5d62-11e5-883f-aa92893ee487.png)

Note the two dashes as part of the GNU flavored long option syntax are at different heights. Both are the same font, size etc. But when the (block) cursor passes over it it reverses the

[2015-09-17 15:54] manuel-uberti commented on #100
They disappear in Emacs mode line too.

![2015-09-17-175316_610x63_scrot](https://cloud.githubusercontent.com/assets/8199224/9938333/1897deea-5d65-11e5-932e-76264b25dff3.png)

[2015-09-17 16:40] chrissimpkins commented on #101
There is definitely no intent to exclude Windows users and my understanding is that there are Windows users out there who are using it.  We are addressing a number of issues that have come up on the Windows platform in other issue reports.  I don't routinely develop on Windows but I do test font installs and review changes to the face in Sublime Text 3 on Windows 10.  With the `directwrite` settin

[2015-09-17 16:42] bremenpl commented on #101
I understand. Well anyways, I will use the font no matter this as its
still great work. Thank you.

[2015-09-17 17:47] Earnestly commented on #106
For one, a "monospace" typeface has no actual programmatic property inside the outline, it's merely a design choice to keep the advance of each glyph constant.  In fact this is [how](http://cgit.freedesktop.org/fontconfig/tree/src/fcfreetype.c#n2197) the fontconfig library classifies what a monospace font is.

This [misunderstanding](http://denisbider.blogspot.co.uk/2015/09/when-monospace-fonts-ar

[2015-09-17 18:03] manuel-uberti commented on #106
@Earnestly thanks for the links and the clarifications.

I know little to nothing about fonts and just judge them about how pleasant they look to my eyes, however these insights are really interesting.

[2015-09-17 18:08] Earnestly commented on #106
Typefaces are surprisingly complex beasts but if you wish to learn more about them then see what is considered the "Bible of Outline Hinting": http://www.rastertragedy.com/

Also [this document](https://docs.google.com/document/d/1wpzgGMqXgit6FBVaO76epnnFC_rQPdVKswrDQWyqO1M/edit?pli=1) by Behdad.

[2015-09-17 18:08] alerque commented on #106
@Earnestly Honestly what you just wrote is another big reason I see for this being a separate font face. You just listed a whole pile of objections to exactly the changes that were made that make Hack distinctive, and in my view better. Its only natural that you and a lot of other folks will prefer to keep DejaVu the way it is in most regards. There is nothing wrong with that. But it is those very

[2015-09-17 18:23] Earnestly commented on #106
I would not call a small paragraph half way down a page as "prominent".  What is written is only included because the license requires it.

You provide lots of hand-waving and even further unsubstantiated claims about others preferences (I don't even use DejaVu).  This is nothing but a cynical fork under the umbrella of an equally useless/pretentious website: http://sourcefoundry.org/ where the on

[2015-09-17 19:39] duud commented on #106
Any confusion about the roots of this work should be eliminated. Statements which hinder new ideas or hinder the modification of old ideas should be ignored.

[2015-09-17 20:46] alphapapa commented on #106
@Earnestly said:

Sir, who are you, and why are you here?

[2015-09-18 04:29] chrissimpkins commented on #106
Here is the long form of the Hack story from concept to the present.  It is intended to dispel some untruths, address the concerns that were raised in this thread, and provide a factual basis to continue your conversation/vent your concerns as you so choose.

I have absolutely no background in type design, or design at all for that matter.  I do develop in text editors using monospaced typefaces a

[2015-09-18 06:28] manuel-uberti commented on #106
@chrissimpkins thanks for this explanation, and I mean it. I'm sorry if I promptly jumped on the bandwagon of the "opposition".

As I already said once: Hack is the reason I left Source Code Pro behind. I haven't used DejaVu Sans Mono before so the differences didn't strike me at first. I also know Hack is a work-in-progress, and I've never looked at a project like this as a matter of plagiarism.

[2015-09-18 09:01] Earnestly commented on #106
I see now where your "60" contributors claim comes from then (with only 2 listed here).

Wall of text that says almost nothing as well.  Yes, I have toyed with typefaces in the scope of hinting on low resolution displays.  Hinting is not something you'd do on displays with a high pixel density, so I really don't see why you put so much weight on throwing ttfautohint at an outline.

Having actually

[2015-09-18 10:17] duud commented on #106
@chrissimpkins Please remove all licensing issues.
Don't waste your time listening to people who are trying to preserve the DNA of something, this is not how progress works.

[2015-09-18 10:54] chrissimpkins commented on #106
DejaVu does not include this license in their own releases of Sans Mono, simply stating that their contributions are in the public domain.

![dejavu2](https://cloud.githubusercontent.com/assets/4249591/9957861/ce9005f8-5dd1-11e5-8354-e088c164c761.png)

 The documentation on the [Bitstream derivative page](http://dejavu-fonts.org/wiki/Bitstream_Vera_derivatives#Arev_Fonts) indicates that the merges

[2015-09-18 11:03] wasamasa commented on #106
@chrissimpkins Thanks for the lengthy explanation.  I'll take a look at your project later again, but have to admit that with my requirements none of the listed improvements appeal to me.  Variants of a few special glyphs can be easily added to any existing font.  The extra spacing looks rather weird to me (a pair of parentheses almost looks like there's a space between them).  I don't edit code w

[2015-09-18 11:12] burodepeper commented on #95
I had to do a clean re-install of Atom this morning. I switched back to the default theme (without bold letters in this example) and removed any personal styling, and this was the result:

![menlo-vs-hack](https://cloud.githubusercontent.com/assets/3703530/9958062/13edc69c-5e06-11e5-9cfe-2a740eb2382e.jpg)
Left: `Menlo 14px`
Right: `Hack 14px`

The line-height is set at 1.5 (so should be 21px), but

[2015-09-18 11:56] chrissimpkins commented on #101
Will close this issue.  Please feel free to reopen if you have further suggestions about how to address this.

[2015-09-18 11:56] #101 closed

[2015-09-18 12:01] chrissimpkins commented on #107
Interesting. There are a few other issue reports about one pixel offsets between sets.  To date, these have been between the regular and bold sets.  Let me look at the actual position of the glyphs in the regular and italic sets to see if it is positioned at a different vertical level.

[2015-09-18 12:01] chrissimpkins commented on #107
You win the issue report title of the year award by the way...

[2015-09-18 12:04] chrissimpkins commented on #95
Sorry for the delay.  I will try to have new builds with adjustments to the vertical metrics out this weekend.  I think that this is coming from those settings but it is not clear to me which at the moment.  We will need to play with some adjustments to see if we can figure this out.

[2015-09-18 12:07] burodepeper commented on #95
No problem at all. I'm actually excited because (to me at least) it's such a weird issue.

[2015-09-18 12:35] duud commented on #106
@wasamasa Sorry, but I don't understand the intention behind this question. The DejaVu project provides licences for their fonts. The licence states what they think about projects like this, so that there is no need for every individual project to ask them separately. So what's the motivation behind this question?

[2015-09-18 12:43] wasamasa commented on #106
@duud It's the same as in the original post:

[2015-09-18 13:09] duud commented on #106
@wasamasa Thx, this makes more sense now.

I think github is more appropriate tool for collaboration/development of this font. I don't see why using github contradicts the idea of contributing back to the DejaVu project.

[2015-09-18 14:13] alphapapa commented on #106
@Earnestly I see that you ignored my question.  I conclude that you are not acting in good faith.  You should leave; and if you do not, your "contributions" should be removed.

Whatever it is that you are actually angry about, taking out your frustration on the people here will not accomplish anything except to make yourself more bitter.  For your own good, you should take a hike--figuratively and

[2015-09-18 14:31] chrissimpkins commented on #106
The Arev license is a valid issue and I am clarifying this with the DejaVu team.  Caleb prepared a PR to include it if it does apply to the Mono Sans typeface that was used here.  DejaVu includes serif, sans (non mono), and condensed sets in their repository as well and the Arev license is not included in the Mono Sans ttf builds that were used here.  Feel free to follow in the PR thread if intere

[2015-09-18 22:31] alphapapa commented on #107
Definitely LWN-worthy.  :D

[2015-09-19 06:47] lots0logs commented on #97
I know its a personal preference, but I don't like the way there is extra space between two underscore characters. I prefer it to appear as though they are connected (best way I can explain it, sorry).

Liberation Mono:
![2015-09-19_01-43-52-am](https://cloud.githubusercontent.com/assets/4675662/9975003/376ebba2-5e70-11e5-8d8c-3d2cca89ee39.png)

Hack:
![2015-09-19_01-44-27-am](https://cloud.github

[2015-09-19 11:33] tbrisbane commented on #100
@chrissimpkins The width looks fine to me. :)

With regards to your planned fix for underscores - note that lower-case 'p' characters also lose their bottom-most pixels as mentioned by @Huddo121. I suspect the same will be true of any character with a low tail (lower-case 'y' would also be a good example), so if this isn't in fact a problem with IDEA's font handling, you may be looking at a 1px up

[2015-09-19 13:06] chrissimpkins commented on #100
I have been tinkering with the vertical metrics and am looking at metrics in other fonts.  I suspect that this will lead to a fix but it is likely going to require iterations through these various editors and the patterns that you are using to make sure that we have it right.

@manuel-uberti I definitely agree.  That is a problem.

Hope to have the first new build out this weekend so that we can s

[2015-09-19 13:27] chrissimpkins commented on #97
@lots0logs It's definitely a style issue Dustin.  When we correct the centering, we can try to go a bit wider on the glyph itself but I suspect that there will be others out there who like to see the characters for what they are and not as a single glyph (almost a ligature in the Liberation Mono example that you show, it's difficult for me to make those out as separate glyphs).  As we test these c

[2015-09-20 23:52] tbrisbane commented on #100
Excellent. Happy to work with you to resolve this! :)

[2015-09-21 00:20] chrissimpkins opened #111 "New v2.014 Test Build (ttf) Available [Vertical Metrics Changes, Character Updates, Alignment Changes]"
A new ttf file build is available for testing.  This build addresses a number of issue reports and includes the following changes:

- Updated vertical metrics
    - attempt to address bold vs. regular set vertical offset issues, numerous issue reports about slight, incorrect vertical offsets across various editors
    - tighter line spacing c/w Bitstream Vera Sans Mono, DejaVu Sans Mono, and Menlo

[2015-09-21 00:22] chrissimpkins commented on #107
I am hoping that the new vertical metrics changes in the v2.014 test build will address this issue.  I have not built otf files yet, but if you are interested in trying the ttf files they are available in #111

[2015-09-21 00:23] chrissimpkins commented on #106
Arev license issue addressed in #110.

[2015-09-21 00:23] #106 closed

[2015-09-21 00:24] chrissimpkins commented on #104
Please give the ttf builds with brand new vertical metrics a shot.  Available in #111

[2015-09-21 00:24] chrissimpkins commented on #103
The v2.014 test build addresses the underscore and tilde issues reported here.  Please give them a try and let me know what you think.  You can find the files in #111

[2015-09-21 00:26] chrissimpkins commented on #100
New test build v2.014 (ttf only) is now available and I hope that it addresses the issues that you reported here.  The underscore centering, size, and vertical alignment were updated.  The vertical metrics of the fonts were updated.

The files are available in #111.  Please let me know how they work and what your thoughts are on the new, tighter vertical metrics as well as the new underscore chara

[2015-09-21 00:28] chrissimpkins commented on #98
New test build v2.014 is available that addresses this issue.  Vertical metrics were updated, the underscores were made slightly larger in the vertical dimension and they were properly centered.

Files are available in #111.  Please let me know what you think.

[2015-09-21 00:30] chrissimpkins commented on #97
New test build v2.014 is now available that addresses these issues.  I centered the glyphs, made them slightly larger in the vertical dimension, oriented them closer to the baseline, and adjusted the overall vertical metrics of the fonts.  @lots0logs - I increased the width of the glyphs based upon your suggestion.  The space is slightly apparent still (intentionally) but hopefully brings this clo

[2015-09-21 00:31] chrissimpkins commented on #95
New test build v2.014 available with new vertical metrics. I hope that this takes care of this issue.  Please let me know how it works.

Files are available in #111

[2015-09-21 00:31] chrissimpkins commented on #88
Leaving in the set for now.

[2015-09-21 00:31] #88 closed

[2015-09-21 00:35] chrissimpkins commented on #84
New test build v2.014 is now available.  It includes the hinting changes that we worked on here as well as vertical metrics changes to address numerous other issue reports.  This tightens the line spacing and I would be interested in your feedback before we push this as the release version.  Please let me know if you are seeing any problems on Debian.

The files are available in #111

I am going t

[2015-09-21 00:37] chrissimpkins commented on #81
Mind testing this again with the new test build (v2.014).  I updated the vertical metrics to be consistent with that in DejaVu Sans Mono/Bitstream Vera Sans Mono/Menlo.  This will likely (begin to) address this issue.

Test files available in #111

[2015-09-21 00:37] #76 closed

[2015-09-21 00:39] chrissimpkins commented on #65
Mind giving this another try with the test build in #111 ?

[2015-09-21 00:41] chrissimpkins commented on #61
I addressed this as of the current test build (v2.014).  This will be pushed in the next release version.  If you'd like to give the new files a try to confirm that the alignment is correct, they are available in #111

[2015-09-21 00:42] chrissimpkins commented on #58
Haven't set up a mailing list, but I created a new Twitter account (@sourcefoundry) where announcements will be pushed.

[2015-09-21 00:42] #58 closed

[2015-09-21 00:46] chrissimpkins commented on #56
Are you still using otf files here?  Would you be willing to give the new v2.014 test build of the ttf files a try and let me know how the changes affect the rendering issues that were reported (as side notes) in this thread?

Available in #111

[2015-09-21 00:46] #51 closed

[2015-09-21 00:49] chrissimpkins commented on #55
@bioothod This issue hasn't seen activity in a couple of weeks. Can you please provide an update on where things stand and whether this needs to remain open?  Thanks

[2015-09-21 00:50] chrissimpkins commented on #54
Nothing that I did *should* have changed these behaviors, but there is a new test build available (v2.014) if you'd like to give this a try to see if we happen to change something that made this go away.

Available in #111

[2015-09-21 00:51] chrissimpkins commented on #49
Mind giving the new test build a try and let me know if you see any changes? Available in #111 .  If you've moved on, please let me know if it is ok to close this issue report.  Thanks.

[2015-09-21 00:52] chrissimpkins commented on #48
Have been looking into this in more detail over the last week.  I *think* that this may be possible.  Will update here.

[2015-09-21 00:53] chrissimpkins commented on #45
I'm hoping that the new test build (v2.014) addresses this issue.  Vertical metrics have been updated. Please let me know how these files work.

They are available in #111

[2015-09-21 00:54] chrissimpkins commented on #41
Vertical metrics were updated across the entire font with significantly tighter vertical spacing. Mind giving these fonts a try and let me know how close we are on these glyphs?  Thanks.

Available in #111

[2015-09-21 00:56] chrissimpkins commented on #39
You are going to like the new test build.  Went tighter with the line spacing and I am looking for feedback on this.  Let me know what you think.

Available in #111

[2015-09-21 00:57] chrissimpkins commented on #37
Addressed this in the new test build (v2.014).  Brand new glyph with increased height, wider curves. This should be much more legible at smaller text sizes.  Please let me know how it renders on your systems.

Files available in #111

[2015-09-21 00:58] chrissimpkins commented on #34
Addressed this (partially) in test build v2.014.  The asterisk is now closer (but not at) center.  Hope that this is a good compromise.  Let me know what you think.

Available in #111

[2015-09-21 01:01] chrissimpkins commented on #33
I introduced tighter vertical metrics (and hopefully more consistent across platforms) in the v2.014 test build.  Be interested in where we are with the Powerline glyphs in this build.  This may have eliminated the progress that we've made to date, but I hope that it addresses some of the differences in height and vertical alignments that we are seeing here.  Please let me know what you are seeing

[2015-09-21 01:03] chrissimpkins commented on #32
New test build with updated vertical metrics is now available in #111.  Please give these builds a try and let me know what you are seeing on your platforms.  I think (hope) that this should take care of this problem.

Thanks

[2015-09-21 01:06] chrissimpkins commented on #28
The version 2.014 test build has tighter line spacing, in line with the line spacing in DejaVu Sans Mono and Menlo.  I get the same number of lines as are displayed with these two fonts now.  We've had a number of issue reports about very slight vertical alignment issues between sets that prompted this vertical metrics update.  For those who like it tight, you will likely find this build to your l

[2015-09-21 01:30] c02y commented on #48
I'm looking forward to it.

[2015-09-21 01:59] tbrisbane commented on #111
I've just tested this build in both IntelliJ and PyCharm (both set to 12pt, with a line spacing of 1.0), with the following results:

- Underscores are no longer disappearing, as they appear within the correct line in both IDEs (however IntelliJ has them positioned 1px higher than PyCharm)
- PyCharm still has issues with some characters' tails disappearing ('p', 'y', 'g', 'j', etc), however, stran

[2015-09-21 02:01] cabellicar123 commented on #33
Arch with the most recent build:

![screenshot from 2015-09-20 21-53-33](https://cloud.githubusercontent.com/assets/3083317/9984284/afc46764-5fe2-11e5-932b-1bb6983cc375.png)

![screenshot from 2015-09-20 21-53-47](https://cloud.githubusercontent.com/assets/3083317/9984286/b5492c1a-5fe2-11e5-8ba0-efebf313ca73.png)

Seems to be sitting a tad bit too high now. Let's see if the script fixes that.

[2015-09-21 04:56] theckman commented on #111
The glyphs seem a bit off with this one, also the line height appears to be much tighter. Not sure if the latter is intentional.

![High Arrows 2.0.14](https://cloud.githubusercontent.com/assets/787332/9985524/5097869a-5fe2-11e5-9ffb-05aa6f75ac21.png)

[2015-09-21 05:00] theckman commented on #33
I've added a comment to #111 that shows my experience with the changes in `v2.0.14`. The glyphs look strange:

* https://github.com/chrissimpkins/Hack/issues/111#issuecomment-141877991

[2015-09-21 05:11] ptomato commented on #32
Yes, that build seems to fix things for me; I tried on OS X / Sublime Text 3 and Fedora Linux / Sublime Text 3 and Terminal (Gnome desktop).

[2015-09-21 06:20] amfl commented on #33
v2.014 test build on Windows 8 in PuTTY, with ClearType antialiasing

Size 10
![Image](http://puu.sh/kiNyH/583591f984.png)

Size 11
![Image](http://puu.sh/kiNGy/3ca9e323ad.png)

Size 12
![Image](http://puu.sh/kiNC0/8647380e1e.png)

Size 20
![Image](http://puu.sh/kiND4/d9be6cfe7d.png)

Size 48
![Image](http://puu.sh/kiNEN/42e94868a3.png)

[2015-09-21 06:31] burodepeper commented on #95
Initial visual quick glance looks **great**. Will do some proper in depth testing later today.

[2015-09-21 06:35] ScuzzyEye commented on #37
The shape looks good now.
![hack tilde 2_014](https://cloud.githubusercontent.com/assets/14045149/9986293/d20b8746-6008-11e5-8393-a391d7bd94af.png)

It looks like it sits a little low. I'd prefer it to be even with the midline, but now I'm just picking nits. The shape is completely usable.

[2015-09-21 06:36] lluixhi commented on #111
The problems I had were fixed. The tilde looks much better, as do the underscores.
I don't have the issues @theckman is experiencing, though I agree that the line height is much tighter (which isn't really a problem, IMO. Some people might think it feels cramped though. -- I guess that depends on #28.)

Due to the change in the tilde, the font looks *even closer* to Menlo/Meslo -- I don't know whe

[2015-09-21 07:11] manuel-uberti commented on #100
@chrissimpkins thanks, I'll try it asap.

[2015-09-21 07:20] Atlantic777 commented on #49
I tried #111 and it's still the same. I'm still following, but if you want to merge issues that's fine for me. I see others have similar issues.

[2015-09-21 07:25] ghost23 commented on #32
Tested on Windows 10, Sublime 3, works. Nice!

[2015-09-21 08:14] heymjo commented on #45
Fantastic, the issue has been resolved for me in this version :+1: . I am now going to use it as default font, many thanks and keep up the great work !

[2015-09-21 08:38] aleho commented on #84
Looks pretty nice here.
Would need an OTF build to be sure, but I guess OTF and TTF will still be rendered differently, right?

[2015-09-21 08:52] Xenopathic commented on #111
I'm not convinced I like the new tilde, but I agree the old one was too line-like. Perhaps there's a reasonable middle ground, where it doesn't quite stick out so much yet is still easily recognisable?

Here are some screenshots from Arch Linux XFCE4 Terminal:

![screenshot_2015-09-21_09-45-51](https://cloud.githubusercontent.com/assets/2016878/9988195/5b27ab6c-6046-11e5-8dfa-958e31768a66.png)
![s

[2015-09-21 10:20] legovini commented on #84
@chrissimpkins I just tried 2.014, I confirm that the problem with the ij letters is fixed and I welcome all the other changes as positive. This is definitely a better version of Hack, but what I appreciate most is that you listen to the user's feedback and implement improvements. Thanks!

About the Debian packaging: my idea is to start by packaging just the pre-built version of the font. This is

[2015-09-21 10:23] chrissimpkins commented on #84
@aleho That remains to be seen.  I suspect that there will be some platform specific differences, but I am hoping that this will address many of the issues that came up with alignment differences between the two builds.  There are likely to still be some PostScript hinting issues on the otf side that have not been addressed yet.

[2015-09-21 10:25] chrissimpkins commented on #84
@legovini That sounds great.  You will have to forgive me for my ignorance with the packaging process on Linux.  Do you wait for approval at this stage?

[2015-09-21 10:26] chrissimpkins commented on #45
Great to hear this!  Any thoughts on the tighter spacing?

[2015-09-21 10:28] chrissimpkins commented on #32
@ptomato @ghost23 Excellent, good to hear.  How do the line height changes render on Linux and Win 10?  Any thoughts about the tighter spacing?  I'd be interested in hearing whether you feel that this is an improvement.

[2015-09-21 10:30] chrissimpkins commented on #49
OK, thanks.  Will be back to this issue.

[2015-09-21 10:33] chrissimpkins commented on #37
@ScuzzyEye No, I agree with you.  It was centered (approximately) on lowercase glyphs and as I've worked with it a bit, I think that it will look better a bit higher in the box as well.  This is helpful.  Will push it a bit higher in the next build.

[2015-09-21 10:34] chrissimpkins commented on #95
Excellent!  Let me know.

[2015-09-21 10:36] legovini commented on #84
@chrissimpkins more or less... I need to find a Debian member that has upload privileges for the official package repository and that is willing to "sponsor" my package (that also means checking that everything is fine with it). The whole process is a bit convoluted, as you can guess from the New Maintainers' Guide:

https://www.debian.org/doc/manuals/maint-guide/

but it assures that the quality

[2015-09-21 10:38] heymjo commented on #45
For me it still looks good, but then again i was not so picky about it in the first place :-)

[2015-09-21 10:43] chrissimpkins commented on #111
@theckman yes, the line height changes are intentional and were an attempt to address a number of vertical alignment issues between sets.  We can address these Powerline issues in the original issue report.

@lluixhi You are correct.  The vertical metrics are now the same as DejaVu Sans Mono, Bitstream Vera Sans Mono, Menlo, and (I believe) Meslo.  This is tighter than the last version of Hack.  M

[2015-09-21 10:44] Xenopathic commented on #111
@chrissimpkins Oh, that's size 12 font.

[2015-09-21 10:44] chrissimpkins commented on #45
@heymjo That's great.  Good to hear this.  Waiting for a bit more input and will likely make this the default.  We are planning some additional builds with looser spacing and can consider going even tighter if anyone wants this.

[2015-09-21 10:46] chrissimpkins commented on #84
@legovini That's no problem at all.  We are working on a package for Fedora as well and they requested that I release a tar.gz of the builds on my Github releases.  Will this work for you?  Currently they are released in compressed zip archives.

[2015-09-21 10:50] chrissimpkins commented on #111
@Xenopathic If it's not too much trouble, do you mind taking it down to 8 or 9 and let me know how the tilde looks in those ranges?  I've worked with the new builds on OS X so far and haven't had a chance to play with it on Linux or Windows yet.  It is definitely going to appear more 'curvy' than the old style and I think that this will allow for some additional pixels to differentiate it from a d

[2015-09-21 10:52] legovini commented on #84
@chrissimpkins It would help a little, as at the moment I use the source .tar.gz and take the ttf/otf/svg/woff files from there, but it's really not a big difference. I also noticed that some of the font files (svg and woff, IIRC) have the execution bit set. I have fix this in the package, but it would be nicer it they came without it. But again, it's no big deal...

[2015-09-21 11:03] Xenopathic commented on #111
The tilde is still definitely recognisable, which is awesome. Perhaps I just need to get used to it :smile:

Unfortunately, at the smaller font sizes the Powerline symbol misalignment becomes more visible:

![screenshot_2015-09-21_12-01-35](https://cloud.githubusercontent.com/assets/2016878/9990388/bec531a0-6058-11e5-806d-25f63f60ab4b.png)

[2015-09-21 11:25] fernandaparisi commented on #32
@chrissimpkins I still got the baseline difference on OS X, using Sublime Text 2, at 14px, ttf version.

![screen shot 2015-09-21 at 08 08 03](https://cloud.githubusercontent.com/assets/1117355/9990636/3bd8c988-6039-11e5-912e-22bdc7581359.png)

![z4l5uv](https://cloud.githubusercontent.com/assets/1117355/9990626/21a2096c-6039-11e5-98f2-0d1369577a81.gif)

But on Text Edit, using rich text mode, it

[2015-09-21 11:37] chrissimpkins commented on #84
@legovini do you intend to distribute the wen fonts?

[2015-09-21 11:40] chrissimpkins commented on #111
@Xenopathic we will tackle that issue next.  I wanted to eliminate the vertical metrics issues that were mounting.   There are a several alignment issues that we can address with a stable set of vertical metrics.  I will work with the Powerline patch script this week as noted in that thread.

[2015-09-21 11:42] chrissimpkins commented on #32
@fernandaparisi did Sublime Text happen to stay open between font installs?  it seems to cache font files for me (in version 3 series).  If so, will you close and reopen it to see if that works?

[2015-09-21 11:43] fernandaparisi commented on #32
@chrissimpkins It was closed. I'll need to restart my computer soon, and I'll run the test again.

[2015-09-21 11:49] legovini commented on #84
@chrissimpkins Yes, the idea is to actually build three sub-packages:

fonts-hack-ttf
fonts-hack-otf
fonts-hack-web

where the -web one includes the svg and woff files. If you have any different recommendation let me know.

[2015-09-21 11:55] fernandaparisi commented on #32
@chrissimpkins ha, a good old restart was all it needed :)

![screen shot 2015-09-21 at 08 54 48](https://cloud.githubusercontent.com/assets/1117355/9991217/7fe64c7c-603e-11e5-9dd5-7c4741c6ac07.png)

[2015-09-21 12:47] chrissimpkins commented on #32
@fernandaparisi Excellent!  Thank you very much for testing it Fernanda.  Glad to hear that this addressed it.

Thanks to all of you for your help with this.  I believe that this was the first report of this problem and it was causing a number of subtle associated issues.  I will leave this thread open until we push it with the next release build.

[2015-09-21 12:51] chrissimpkins commented on #32
@fernandaparisi Is that a cloud in your PS1 by the way?  Icon font?

[2015-09-21 13:07] chrissimpkins commented on #111
@tbrisbane let's discuss this back in the original thread.  Sorry to hear that.  I thought that this would take care of the problem.

[2015-09-21 13:12] chrissimpkins commented on #100
From the #111, comment by @tbrisbane re: changes in the v2.014 ttf file build

I scanned the above posts and don't see that we addressed your platform and the version of the PyCharm and IntelliJ editors.  Mind posting this information and letting me know if they are current builds vs. development/prelease builds?  Any chance that this is a font caching issue and a reboot takes care of it in PyChar

[2015-09-21 13:12] fernandaparisi commented on #32
@chrissimpkins it's from an oh-my-zshell theme called Cloud - https://github.com/robbyrussell/oh-my-zsh/wiki/themes#cloud

I don't know how they pulled off the cloud icon, tho :)

[2015-09-21 13:14] chrissimpkins commented on #111
@theckman Thoughts on the current line height?  I believe that you were interested in tighter spacing in the line height variants thread.

[2015-09-21 13:14] manuel-uberti commented on #100
Looks good on Emacs now:
![2015-09-21-151434_595x63_scrot](https://cloud.githubusercontent.com/assets/8199224/9992621/839933d6-6073-11e5-93e6-695f2631eac5.png)

[2015-09-21 13:22] chrissimpkins commented on #32
It looks like [they are using a Unicode symbol character](https://github.com/robbyrussell/oh-my-zsh/blob/master/themes/cloud.zsh-theme#L2) (U+2601, `☁`).

It must be from a fallback font.  Thanks!

[2015-09-21 13:23] chrissimpkins commented on #100
@manuel-uberti :+1: great!

[2015-09-21 13:25] chrissimpkins commented on #100
@manuel-uberti looks like the dash and colon aren't aligned for you.  Someone reported this issue in the context of this combo `:=`.  I might raise the colon slightly in the upcoming release as well to address this.  Any thoughts on this and anywhere that you see this causing other problems?

[2015-09-21 13:27] chrissimpkins commented on #100
@manuel-uberti This is in #66.  Probably more appropriate to comment over there as it is a separate issue.

[2015-09-21 13:41] manuel-uberti commented on #66
In reference to this https://github.com/chrissimpkins/Hack/issues/100#issuecomment-141976230

I too see the issue with ```:=```. I think raising ```:``` should be enough.

[2015-09-21 13:44] chrissimpkins commented on #84
@legovini that sounds great. I will make sure that we have tar.gz archives of each with new releases.

[2015-09-21 13:52] rdlugosz commented on #28
Thx! Playing with it now. Looking good so far.

On Sun, Sep 20, 2015 at 9:07 PM, Chris Simpkins <notifications@github.com>
wrote:

[2015-09-21 14:11] chrissimpkins commented on #28
@rdlugosz :+1:  Let me know if you see any problems

[2015-09-21 14:18] Palid commented on #28
@chrissimpkins It looks great! Same vertical spaces as Menlo and looks so much better!

[2015-09-21 14:34] gavineadie commented on #41
Looks good
<img width="698" alt="screenshot 2015-09-21 10 31 14" src="https://cloud.githubusercontent.com/assets/343117/9994604/0951376c-604c-11e5-83eb-855497e193d0.png">

Note, I'm not using the 'junction' glyph (mentioned by @msharov), just the 'straights' and 'corners' .. Thanks for your work on this.

[2015-09-21 14:37] chrissimpkins commented on #28
@Palid Glad to hear that you like the changes Dariusz.  The new test build changes will be the default for Hack so I am interested in a bit more feedback to make sure that I didn't go too far to the tight end of the line height spectrum.  It seems that there was much more interest in this than looser spacing, but we do have requests for this.

My thought would be to create new fonts for the line h

[2015-09-21 14:41] chrissimpkins commented on #28
Is anyone seeing problems with diacritic marks on any platforms / at any text sizes?

[2015-09-21 14:44] chrissimpkins commented on #41
Fantastic.  My original vertical metrics changes led to these problems.  We have requests for looser spacing variants so we will need to address this down the line again.  Thank you very much for looking into this issue again.

[2015-09-21 14:45] chrissimpkins commented on #41
I will close this issue when we release these changes unless you have any other associated alignment concerns.

[2015-09-21 14:46] Palid commented on #28
Nothing yet, I'll give more feedback in a few days. Ending my today's coding session. ;)

[2015-09-21 15:21] weslem commented on #95
I ran through the same tests I documented above. All the terminals look good to me now.

[2015-09-21 15:23] chrissimpkins commented on #33
Thanks for all of these new tests.  I generated a patched version of the v2.014 regular set build using the Powerline patching script and the current font metrics in the regular set.  Do you mind having a look at this to see whether this fixes your issues on each platform?  It looks like Powerline uses some monkeypatching of the font to make these display properly.  I suspect that this is why we a

[2015-09-21 15:26] chrissimpkins commented on #95
@weslem Excellent, thank you very much Matthew.  That is helpful.  I'm interested in both of your thoughts about the line spacing at this stage as well.  I am planning to make the new vertical metrics our default on the release builds and this is significantly tighter than the previous release.  We have another open issue report where we are discussing looser variants (and possibly tighter, but I

[2015-09-21 15:36] kejadlen commented on #33
It looks a bit too low here:

<img width="286" alt="screen shot 2015-09-21 at 8 30 26 am" src="https://cloud.githubusercontent.com/assets/8639/9996272/18a19b78-603b-11e5-80d9-6221ab4e22e3.png">

Here's Source Code Pro for Powerline:

<img width="284" alt="screen shot 2015-09-21 at 8 35 34 am" src="https://cloud.githubusercontent.com/assets/8639/9996449/cce4cd8a-603b-11e5-9775-58eb68d74748.png">

[2015-09-21 15:36] jmccance commented on #33
Thanks for working on this! Here's how it's looking for me right now on OS X 10.11 (15A282a) in iTerm 2.1.1.

![image](https://cloud.githubusercontent.com/assets/764591/9996223/a48e4ea0-604b-11e5-930d-4edb1cfd5c25.png)

Font settings:

![image](https://cloud.githubusercontent.com/assets/764591/9996251/c5d7cf00-604b-11e5-8766-07d1bd767700.png)

And for an extra headache, here's what it looks like i

[2015-09-21 15:38] chrissimpkins commented on #33
@kejadlen That is unpatched v2.014 or the Powerline script patched version?

[2015-09-21 15:41] burodepeper commented on #95
I only just noticed in my terminal that line-spacing had indeed changed. I am okay with this tightness. I have always been under the impression that I am to define the line-spacing in-app (ie, it hasn't changed anything for me in Atom for instance, since I have it set to 1.5 there), but you are talking about a default line-spacing when no other is defined?

About the other changes.
- Love the new

[2015-09-21 15:41] chrissimpkins commented on #33
@jmccance Joel, are any other patched fonts displaying properly for you?

[2015-09-21 15:44] jmccance commented on #33
Hm, good point. The answer is no, not really. I normally use DejaVu Sans Mono for Powerline with the font settings shown below.

![image](https://cloud.githubusercontent.com/assets/764591/9996618/6cf408a2-604d-11e5-82bd-425b03984382.png)

Note that I have the Non-ASCII Font settings at a smaller size. If I set both to 13pt, DejaVu Sans Mono for Powerline looks like this in iTerm 2:

![image](https

[2015-09-21 16:11] chrissimpkins commented on #95
Thanks for all of these comments.

Correct, this will make the line spacing tighter than the previous version by default across all platforms and editors. Users will need to manually adjust line spacing to return to the appearance of the last version.

I am considering some alternate builds (Input style) and we could consider this change in one of these builds.  The lowercase `i` and the zero seem

[2015-09-21 16:20] burodepeper commented on #95
Cool, I'm coming over to #97.
Could you recommend software to look at the glyphs and stuff myself? I'm rather curious what it all looks like under the hoofd.

[2015-09-21 16:23] burodepeper commented on #97
My two €-cents:
- I'd like the underscore to be the same width/height as the dash (ie, I'd like to be able to count them)
- I'd like it to rest about its own height underneath the baseline. Or perhaps, directly under the baseline.

[2015-09-21 16:26] chrissimpkins commented on #95
[FontForge](https://fontforge.github.io/en-US/) is excellent and libre/free.  It uses the X Window system on OS X and looks terrible on Retina displays which is why I don't use it.  It makes it really tough on the design side of things.  It's great for scripting and low resolution viewing there and may look fine on Windows / Linux.  I haven't tried it on these platforms.

I currently use [Glyphs](

[2015-09-21 16:29] chrissimpkins commented on #97
@burodepeper Mind posting a screenshot with the new v2.014 test build and the text size that you are using?

[2015-09-21 16:31] jhuckaby commented on #54
Alas, same issue with OS X 10.8.5 and OS X 10.9.5 using Hack 2.014.  Screenies:
![screenshot 2015-09-21 09 27 15](https://cloud.githubusercontent.com/assets/700765/9997907/8456af2c-6043-11e5-8214-f42f58ad622a.png)
![screenshot 2015-09-21 09 29 28](https://cloud.githubusercontent.com/assets/700765/9997910/8c77961c-6043-11e5-9950-5e4e5827cade.png)

[2015-09-21 16:33] chrissimpkins commented on #54
@jhuckaby Ok, thanks.  There wasn't a change that *should* have led to a solution here but I wanted to confirm that there was not a problem in the metrics that led to display issues there.  It did install and display ok on your OS X version despite the FontBook issues?

[2015-09-21 16:34] burodepeper commented on #97
![schermafbeelding 2015-09-21 om 18 33 59](https://cloud.githubusercontent.com/assets/3703530/9997972/59a213ce-608f-11e5-9f36-633f8ffe1124.png)
at `14px`

[2015-09-21 16:35] weslem commented on #95
Overall, I like all the improvements I've seen. I've got the test build as my primary font today at work, and the new line spacing feels quite comfortable. I especially like the new tilde.

The changes don't quite address #104, however. The vertical line character really should not have any separation at all, and tmux splits still look wrong.

[2015-09-21 16:36] jhuckaby commented on #54
No problem, happy to help!  Yup, the font installs just fine, and looks great after installing.  Apparently this bug only affects the FontBook preview window before installing.

Screenshot after install:
![screenshot 2015-09-21 09 36 44](https://cloud.githubusercontent.com/assets/700765/9998044/44ab0278-6044-11e5-8df8-286776bb9e48.png)

[2015-09-21 16:41] chrissimpkins commented on #54
OK, thanks.  That is good to hear.  If anyone has issues with use of the font after they encounter these Font Book install issues, please let me know.

[2015-09-21 16:44] chrissimpkins commented on #95
@weslem Thanks. I will take a look at this and see if we can address it in this release.  There are a number of vertical character-to-character alignment issues outstanding that required a constant set of vertical metrics to address (box glyphs, line glyphs, etc).

[2015-09-21 17:58] qbunt commented on #54
@chrissimpkins just tested again on 10.9.5. The Quick Look previews and installs just fine as @jhuckaby mentions, it's just the pre-install screen in Font Book the face appears in odd characters. On later OS X versions (Yosemite for instance) it renders OK in the pre-install screen.

My guess (wild-ass guess) is that this could have nothing to do with your font, and everything to do with an edge c

[2015-09-21 18:39] chrissimpkins commented on #54
@qbunt Yeah, I am developing this on 10.10.5 and have never noticed this over numerous install / uninstall cycles.  I looked for some information on changes in Font Book with these new releases, but there aren't many details in the Apple documentation.  I suspect that it has something to do with the Unicode range support settings in the font builds, but I don't know how to modify it so that you se

[2015-09-21 18:44] jhuckaby commented on #54
I run 10.10.5 on my main machine.  I keep 10.8.5 and 10.9.5 around for testing purposes :)

[2015-09-21 18:46] cwotta commented on #54
10.9.5 is my main (only, at this point...) machine.  Don't go crazy trying to fix this for my sake; I'm sure I'll be off of 10.9.5 at some point!  Thanks for your work so far!

[2015-09-21 18:51] chrissimpkins commented on #54
No worries!  Just trying to understand the scope of this issue.  I can't find data on what proportion of users are still on older versions of OS X.

[2015-09-21 18:51] Xenopathic commented on #33
I see pretty much the same as with the other test build:

![screenshot_2015-09-21_19-45-59](https://cloud.githubusercontent.com/assets/2016878/10001525/0e79e8a8-609a-11e5-9847-f9f8cc492513.png)

Here is the Powerline version, compared to Droid Sans Mono for Powerline at size 12:

![screenshot_2015-09-21_19-46-13](https://cloud.githubusercontent.com/assets/2016878/10001541/1ec7c84c-609a-11e5-92db-b

[2015-09-21 18:55] cwotta commented on #54
Not sure how accurate this is, but it might be close enough to say "Yeah, not going to waste my time on 10.9"  ;)

https://www.netmarketshare.com/operating-system-market-share.aspx?qprid=10&qpcustomd=0

[2015-09-21 18:57] jhuckaby commented on #54
I work for a digital ad company (I know, sorry), and we analyze all incoming browser user agents which contain the OS X version.  Here is some data pulled our view logs yesterday (Sept 20, 2015):

OS Version | Number of Hits | Percentage
------------ | ------------- | ----------------
Mac OS X 10.10	| 595,721	| 6.53%
Mac OS X 10.9	| 210,660	| 2.31%
Mac OS X 10.6	| 102,143	| 1.12%
Mac OS X 10.7	| 7

[2015-09-21 19:11] chrissimpkins commented on #54
@cwotta & @jhuckaby These data actually surprise me.  I would not have expected > 50% of OS X users to still be running an older version of the OS nearly one year after release given that the system requirements have not changed since 10.8.x (and it is free!).  Interesting.

[2015-09-21 19:16] jhuckaby commented on #54
Yeah, that is a bit surprising.  I think it's primarily because Mavericks is so stable now, and that Yosemite didn't really add anything Earth-shattering.  All my friends at work are still running Mavericks, and when asked why they didn't upgrade, the most common answer was "*Why?  What I have works just fine.*".  Also, no one could list a single feature added in Yosemite either (besides the new f

[2015-09-21 19:35] chrissimpkins commented on #54
Seems like reason enough to me.

[2015-09-21 20:27] qbunt commented on #54
Yeah I've gotta admit, I'm running 10.9.5 on my work machine not by choice, but by dependency. Minor iOS development annoyances aside, there's not a lot of motivation to upgrade, even for free. Thanks for looking into this @chrissimpkins, digging your work.

[2015-09-21 20:39] jhuckaby commented on #54
I second that -- I'm really digging Hack.  Thanks a bunch @chrissimpkins :)

[2015-09-21 20:43] chrissimpkins commented on #54
It's been a lot of fun and the developer response has been great.  All of these new changes are the result of issue reports.  Will be interesting to see where it leads.  I have a large number of things to address yet and lots of new ideas.   Keep an eye on the changelog if you continue to use it.

[2015-09-21 23:53] tbrisbane commented on #100
@chrissimpkins Good point.
- OS: My OS is Windows 10 Professional x64
- IntelliJ: 14.1.4 Ultimate
- PyCharm: 4.5.4 Professional

No chance of font caching issues, since the updated build resolves the issues with underscores in PyCharm (just not the tails of characters). To be safe, I both rebooted and cleared the Windows Font cache, to no avail.

Some additional info though - In PyCharm, changing

[2015-09-22 00:14] chrissimpkins commented on #100
@tbrisbane I was under the impression these JetBrains editors were using the same Java font renderer.  Do you happen to have different line spacing settings in the two editors or different syntax highlighters that might be doing something different with the text display between the two editors?

[2015-09-22 00:19] tbrisbane commented on #100
@chrissimpkins I too was under this impression. Same font size, same line-spacing. I know they syntax-highlight in slightly different ways (due to the different languages), but that doesn't affect the size in any way I can see.

I'll take another look through the settings in case I just happened to miss something, but this is very strange.

[2015-09-22 00:27] chrissimpkins commented on #100
can you show me a screenshot of what you are seeing in PyCharm?  I will try it in PyCharm on OS X and compare.

[2015-09-22 00:45] tbrisbane commented on #100
Sure:
![capture](https://cloud.githubusercontent.com/assets/12590804/10008699/1e450580-6115-11e5-831f-61eac1194a6d.PNG)

And here's a resized sized version for clarity (naturally, you'll need to open the full-size version):
![capture2](https://cloud.githubusercontent.com/assets/12590804/10008752/1db9e36e-6116-11e5-9409-a0a9f2a716c1.png)

Note how on the highlighted line underscores are correctly p

[2015-09-22 01:08] chrissimpkins commented on #100
Here is what I am seeing on OS X 10.10.5 in PyCharm Professional 4.5.4:

![2015-09-21 at 9 03 pm](https://cloud.githubusercontent.com/assets/4249591/10009010/6e60700c-60a4-11e5-9e14-7dedb6774b19.png)

Bottom is a highlighted line.  Top is not.  I am not seeing any overlap between the line highlighting and the tails of characters in the line above.  The highlighted area seems to extend too high on

[2015-09-22 01:27] tbrisbane commented on #100
Very strange.

I've tried both Sublime Text 3 and even Notepad - neither exhibit this problem. I'm currently researching this issue to see if it's part of a wider-known problem.

[2015-09-22 08:51] theckman commented on #33
I'm still seeing the issue I mentioned here: https://github.com/chrissimpkins/Hack/issues/33#issuecomment-141878136 -- the top of the arrow is above the rest of the line.

[2015-09-22 10:35] chrissimpkins commented on #33
Thanks all. Started work on the patch script to clarify dimensions.

[2015-09-22 13:51] kejadlen commented on #33
@chrissimpkins That was with the Powerline script patched version.

[2015-09-22 16:39] Draiken commented on #65
Looks much better!
Left one is Hack, right one is DejaVu Sans Mono
![selection_055](https://cloud.githubusercontent.com/assets/287889/10024827/63ca2238-612f-11e5-88cf-a42fc327700d.png)

[2015-09-22 16:50] chrissimpkins commented on #33
@kejadlen thanks.  Will update when I have some metrics from the script.

[2015-09-22 16:52] rdlugosz commented on #28
@chrissimpkins sorry, I don't have a license. I'm not actively using that font, btw... something about the feel that just isn't right for me. I just happened across it around the same time that I posted in this thread.

[2015-09-22 16:53] chrissimpkins commented on #65
Great to hear that!  The tilde renders better for you too.  Looks good.

[2015-09-22 16:54] chrissimpkins commented on #28
@rdlugosz no worries.  Thanks for letting me know.  Did you have thoughts on the line spacing in the new version?  I think you were one of the people requesting tighter spacing.

[2015-09-22 16:54] Draiken commented on #65
I guess I'll close this... Now using hack by default, so I'll report any issues I may encounter.

[2015-09-22 16:54] #65 closed

[2015-09-22 18:18] chrissimpkins commented on #65
please let me know. thanks!

[2015-09-22 23:08] skewty commented on #100
https://youtrack.jetbrains.com/issue/IDEA-144785

[2015-09-22 23:13] chrissimpkins commented on #100
@skewty thanks!  will keep an eye on it

[2015-09-23 00:21] tbrisbane commented on #100
@skewty Thanks also. :) I added a bit of info to it in case they miss it here.

@chrissimpkins I've been unable to find a known cause for this, myself. Given that the font works perfectly in Sublime and IntelliJ, I'm definitely of the opinion it's a PyCharm specific issue. Hopefully we'll see some input from JetBrains on it, but either way, thanks for your efforts thus far! :)

[2015-09-23 00:46] chrissimpkins commented on #100
@tbrisbane it's my pleasure.  Will be interesting to see what JetBrains has to say.  We've encountered a number of issues in their editors that don't seem to happen in other editors. I would like to hear more about the Java based renderer that they are using.

[2015-09-23 12:12] jublo opened #112 "Space char width incorrect"
The width of the space character seems to be incorrect.
Seen this in OTF, tested with [code.visualstudio.com](http://code.visualstudio.com).

I selected 4 space characters:
![image](https://cloud.githubusercontent.com/assets/6348321/10044684/2a266752-61fd-11e5-8f72-bc30c32932bb.png)

[2015-09-23 14:15] chrissimpkins commented on #112
Platform and Hack build version?

I can confirm that the dimensions of the width of the space match the em size for the glyphs in the rest of the regular set for the OTF build as of the current release (v2.013).   Is this the version that you are using?

Is it possible to turn on space highlighting in that editor so that we can see the tab/space positions?

[2015-09-23 14:16] jublo commented on #112
OS X, running Version 2.010. What's the latest OTF build?

[2015-09-23 14:20] jublo commented on #112
It *is* turned on. After upgrading to 2.013, things look beautiful, like this:

<img width="335" alt="bildschirmfoto 2015-09-23 um 16 19 25" src="https://cloud.githubusercontent.com/assets/6348321/10047532/f368f678-620e-11e5-87ff-f2c14bdf4534.png">

[2015-09-23 14:21] jublo commented on #112
Wouldn’t have thought that the font is under *so* heavy development… :grinning:

[2015-09-23 14:23] chrissimpkins commented on #112
mind trying the new 2.014 test build?   vertical metrics changing.  should not affect space chars but worth a check in your editor / platform combo.  currently ttf only.  If you prefer the otf files we can check when available.

[2015-09-23 14:27] jublo commented on #112
Sure—it’s not a thing installing the TTF. Will keep you posted.

[2015-09-23 14:28] jublo commented on #112
See here:

<img width="418" alt="bildschirmfoto 2015-09-23 um 16 28 02" src="https://cloud.githubusercontent.com/assets/6348321/10047792/1a8a4512-6210-11e5-9f3f-a13b2e30e54a.png">

[2015-09-23 14:46] chrissimpkins commented on #112
Seems ok to me.  You?

Much more to come so that it is truly tailored to source code needs... Feel free to pitch in anywhere that you see issues.  It's great to get feedback in different platform/editor/bodies of code combinations.  This has led to a string of changes in recent weeks.  Currently working on hinting optimizations, better Powerline glyph alignments, and a new build chain.

Enjoy!

[2015-09-23 14:46] #112 closed

[2015-09-23 16:06] chrissimpkins opened #113 "UFO source to release build tool chain"
Work is underway to convert the build process to a scripted tool chain from UFO source to the final release ttf, otf, svg, eot, web-ttf, woff, & woff2 files.  This is in part to ease the build/hinting+instructions/subsetting process and in part to satisfy requests by Linux distro packagers (and other software font redistribution packagers) for redistribution of the fonts as source rather than as r

[2015-09-23 23:26] lrvick commented on #111
This fixed all my urxvt issues. All glyphs line up like I expect now.

[2015-09-23 23:35] chrissimpkins commented on #111
@lrvick great! was this in an open issue report?

[2015-09-24 09:41] xstee opened #114 "Missing number sign [U+2116]"
It will be very nice to add sign №

[2015-09-24 11:15] chrissimpkins commented on #114
Yes this is definitely possible.  For my own information, how are you using this in source code?

[2015-09-24 11:25] alexirger opened #115 "middle dot (interpunct) in ecplise dissapears under some conditions"
Hi,
Thanks for the great font!

I use eclipse and I noticed some troubles with an interpunct (middle dot) sign eclipse uses to visualize whitespace:

Eclipse have a "transparency level" configuration option for whitespace characters. If this option is set to max (255), interpuct renders properly:
![capture](https://cloud.githubusercontent.com/assets/14805015/10072098/98ac6864-62c7-11e5-9826-8f7ea5

[2015-09-24 11:37] chrissimpkins commented on #115
this is with the current release version of Hack (v2.013)?

[2015-09-24 11:40] chrissimpkins commented on #115
and can you show me screenshots of other fonts where this feature is working?   I wonder how they are rendering transparency in the text?

[2015-09-24 11:47] alexirger commented on #115
Yes, this is current release. As I already mentioned, Hack Bold is fine, and this is for example, Consolas Regular:
with transparecy:
![capture3](https://cloud.githubusercontent.com/assets/14805015/10072500/ef86ae30-62ca-11e5-9f3e-e28cf293cf57.PNG)
and without:
![capture4](https://cloud.githubusercontent.com/assets/14805015/10072511/081504c4-62cb-11e5-9ba5-c7a768a148ca.PNG)

Thanks for the quick r

[2015-09-24 13:06] chrissimpkins commented on #115
That's odd.  It looks like all that it is doing is changing the color of the pixels to more closely match the background (as it should do with transparency...).  I do not know why that would prevent display of the glyph.  If you highlight those areas, do you see the middle dot points (are they preserved in Consolas and do they show up in Hack)?

[2015-09-24 13:57] alexirger commented on #115
No even with biggest font size possible (72) nothing is visible on Hack Regular. Just set  transparency to  254 - and glyph completely dissapears.
![capture5](https://cloud.githubusercontent.com/assets/14805015/10075230/51e8e20c-62dd-11e5-8ac5-67b04b4c89f0.PNG)
![capture6](https://cloud.githubusercontent.com/assets/14805015/10075236/53950856-62dd-11e5-9d85-d7d28cfb22a7.PNG)

[2015-09-24 14:00] alexirger commented on #115
Consolas:
![capture7](https://cloud.githubusercontent.com/assets/14805015/10075314/c74e677e-62dd-11e5-972c-4c110cb79e91.PNG)

[2015-09-24 14:02] alexirger commented on #115
Hack Bold:
![capture8](https://cloud.githubusercontent.com/assets/14805015/10075364/feb94404-62dd-11e5-9c67-2e56a6655a11.PNG)

[2015-09-24 15:54] chrissimpkins commented on #115
Anyone out there seeing this in other editors?

We have a number people who have reported space highlighting issues with earlier versions across a number of editors.  These were corrected with the most recent release build.  If we don't hear about this in other editors, would you be willing to submit an issue report with Eclipse so that we can get more information about their font renderer and how

[2015-09-25 01:46] chrissimpkins commented on #66
This issue will be fixed in the next release.

<img width="682" alt="colon" src="https://cloud.githubusercontent.com/assets/4249591/10091150/5b47216a-6305-11e5-97ca-8d50ad05eb19.png">

It looks slightly off c/w the equal sign, but (1) it is difficult to make out at small sizes; (2) I can't go higher or it does not look properly aligned next to lowercase alphabetic characters.

Hope to have the rel

[2015-09-25 05:47] MaxKh commented on #66
I'm sure that it will be OK.
Thanks for your work, Chris

[2015-09-25 11:51] chrissimpkins commented on #66
@MaxKh thanks for the report.  I never noticed this.

[2015-09-25 11:55] chrissimpkins commented on #107
Identified the problem.  Will try to work a fix in to the upcoming release.

[2015-09-25 12:00] chrissimpkins commented on #104
This is what I am seeing for U+2502.  It is well outside of the bounding box so we may have the vertical spacing just above the level where these connect in the current v2.014 test build (as @weslem confirmed).

<img width="476" alt="vertical-bar" src="https://cloud.githubusercontent.com/assets/4249591/10099826/563fb046-635b-11e5-8079-dccdb9be2c1e.png">

Will work on the glyph to see if we can add

[2015-09-25 15:50] weslem commented on #104
If it helps, here's the current rendering of the test build captured from my system in `st` with `Hack:size=10:antialias=true`:

![columns](https://cloud.githubusercontent.com/assets/994468/10105238/711fdd62-6362-11e5-9e4f-76b72f3ca2c4.png)

[2015-09-25 16:11] chrissimpkins commented on #104
@weslem do you happen to have DejaVu Sans Mono installed to check where it is with their metrics as well?   I didn't (intentionally) change this glyph and the vertical metrics should be close to their set as of the v2.014 changes.

[2015-09-25 16:11] chrissimpkins commented on #104
@weslem and thanks!

[2015-09-25 18:00] jublo commented on #114
U+2116

[2015-09-25 18:24] chrissimpkins commented on #114
Trying to get at whether you are using this in the context of source code and how so that I can look at size and alignment of the glyph relative to other characters.

[2015-09-25 19:00] jublo commented on #114
Suggesting this one.

![image](https://cloud.githubusercontent.com/assets/6348321/10109643/6e45bea2-63c8-11e5-8088-22aa0839c2d6.png)

[2015-09-25 19:08] chrissimpkins commented on #114
sorry I am likely not being clear.  what are you positioning that character near?  using it to show version numbers or different use?  I understand the glyph that is being requested.  I'm interested in how it is being used with the font.  may be outside of source code which is fine as well.  wanted to optimize within context of the request if this is source code specific.

[2015-09-25 21:58] chrissimpkins commented on #107
Fixed this today.  Will be included in the next release.

[2015-09-25 22:00] chrissimpkins commented on #105
For my reference: U+01A4

[2015-09-25 22:09] chrissimpkins commented on #100
The issue remains under discussion on the JetBrains issue tracker.  Still unresolved at this point.  See @skewty comment above for link.

[2015-09-26 15:37] JesusMtnez commented on #95
Is it fixed?

[2015-09-26 15:42] chrissimpkins commented on #95
@JesusMtnez should be.  Mind giving the test build a try?  It's available in #111 .  Pushing this as a release over the weekend.

[2015-09-26 15:48] JesusMtnez commented on #95
@chrissimpkins As you said, in 2_014 test build the issued is fixed. I'll be waiting for the stable release. Thank you!!

[2015-09-26 15:51] chrissimpkins commented on #95
@JesusMtnez Great!  Hope to have it out in the next day or so.  Have a few small changes to add.

[2015-09-26 15:51] chrissimpkins commented on #95
@JesusMtnez Any thoughts on the new line spacing?

[2015-09-26 15:56] JesusMtnez commented on #95
@chrissimpkins I love it. I prefer it this way. Great job! :+1:

[2015-09-26 15:59] chrissimpkins commented on #95
@JesusMtnez excellent, good to hear that.  That seems to be the consensus though there are some who wanted it even looser.  Once I have all of the vertically aligned glyphs in proper position, we will likely build some wider variants.

[2015-09-26 18:23] chrissimpkins commented on #85
OK to close this issue?

[2015-09-26 18:24] chrissimpkins commented on #81
Closing as no longer interested.  Please feel free to reopen if/when you have time to test this.

[2015-09-26 18:25] chrissimpkins commented on #69
Any update on where we stand with the CTAN package?  Do I leave this issue open for you?

[2015-09-26 18:26] #55 closed

[2015-09-26 18:27] #39 closed

[2015-09-26 18:29] chrissimpkins commented on #34
No further feedback here so going with the current asterisk design change that took place as the result of this issue report.

[2015-09-26 18:29] #34 closed

[2015-09-26 22:18] motdef commented on #33
I seem to get a single pixel fringe between the characters which I assume is something to do with horizontal alignment. Hack size 11 in Termite on Arch with Infinality:

![1443305084](https://cloud.githubusercontent.com/assets/12588098/10120108/a9f461d4-64a3-11e5-9a36-a6030f27f9b7.png)

At a larger size (36) it looks better but you can see vertical misalignment in the right arrow. The patched and

[2015-09-27 05:31] chrissimpkins commented on #33
@motdef pushing a new release this weekend and will get back on these glyphs.  The script to look at the Powerline glyph alignment (from powerline patch script) is nearly complete so we will have some data to work with.

[2015-09-27 17:29] bioothod commented on #55
I will try to recompile the latest freetype as soon as time permits and reopen this issue if problem persists

[2015-09-27 18:06] chrissimpkins commented on #55
No rush.  Feel free to reopen if it is still an issue in the version that you use when you get to it.

[2015-09-28 07:16] xstee commented on #114
Chris,

I'm from Russia and here we use '№' instead of '#'. Where? Everywhere. For
example, now I'm working on document automation system. Each order must
have a number. Like here:
http://noo-ws.net/talk/wp-content/uploads/2014/03/art_law_samohina_doc_1.gif

I use number sign in source code only as string literal. Like this:
printf('Order №%d', orderNumber);

On 26 September 2015 at 01:08, Chris S

[2015-09-28 10:26] chrissimpkins commented on #114
Perfect.  That is very helpful.  Tying to work it into a release in the next couple of weeks.   Thanks for your feedback.

[2015-09-28 16:50] chrissimpkins commented on #105
@jublo started work on these glyphs.  Any special spacing issues with this glyph (and its position relative to other glyphs) in emacs?

Will see if we can incorporate this into a development build that you can try soon.  Will update here when available.

[2015-09-28 17:00] chrissimpkins opened #116 "Source code typeface web application to compare Hack with other commonly used faces"
Work on this is in progress.  If you'd like to contribute, please let me know.  For those who would like to use it, we will post with additional details in this issue report thread when available.

[2015-09-28 17:11] chrissimpkins opened #117 "Automate jsDelivr webfont CDN updates"
https://github.com/jsdelivr/libgrabber#add-updatejson-schema

[2015-09-28 17:15] chrissimpkins commented on #114
@jublo began work on this glyph.  Hope to have a test build out soon that you can try to provide feedback before we release it.  It is a wide glyph and there is not much that we can do with spacing.  Currently working on the position of the `O` component of the glyph to determine what looks best.

Will update here.

[2015-09-28 20:35] legovini commented on #85
Agreed

[2015-09-28 20:35] #85 closed

[2015-09-28 20:43] chrissimpkins commented on #85
@legovini where are we with this package?  New build release coming today.  Would you like to discuss further?  You still planning to move forward with this?

[2015-09-28 22:10] chrissimpkins commented on #111
The changes included in development build v2.014 were included in the latest release build v2.015.  Now available.  Closing this issue report.

[2015-09-28 22:10] #111 closed

[2015-09-28 22:12] chrissimpkins commented on #107
Fixed in v2.015 release.  Available now.  Will close this issue.  Feel free to reopen if you have any problems with it.

[2015-09-28 22:12] #107 closed

[2015-09-28 23:32] doubleagent commented on #105
Awesome. I'm not aware of any special issues in Emacs, but I'm also no expert.

[2015-09-29 04:17] chrissimpkins commented on #28
Tighter vertical spacing is now available in the v2.015 release that was pushed today.  Leaving this issue open to address looser spacing variants in the future.

[2015-09-29 04:21] chrissimpkins commented on #28
@hrj does this address your alignment issues?  If not, let's split this off into a different issue report.

[2015-09-29 04:27] chrissimpkins commented on #32
These changes are now included in the v2.015 release.  Thanks to all for your contributions with this issue report and all of the testing that you performed on this issue.  This led to a change that affected a large number of users.  I greatly appreciate all of your help.

[2015-09-29 04:27] #32 closed

[2015-09-29 04:32] chrissimpkins commented on #41
These vertical spacing changes are now included in v2.015.  Thank you very much for the issue report and the testing that you performed on this issue.

[2015-09-29 04:32] #41 closed

[2015-09-29 04:35] chrissimpkins commented on #95
These changes are now included in release v2.015.  Thanks for the issue report David and thanks to all who helped with the testing of this issue here.

[2015-09-29 04:35] #95 closed

[2015-09-29 04:36] chrissimpkins commented on #103
These changes are now available in the general release v2.015.  Leaving the issue report open to address other issues contained here in the future.

[2015-09-29 04:37] chrissimpkins commented on #66
Fixed as of v2.015.  Thanks for the report!

[2015-09-29 04:37] #66 closed

[2015-09-29 04:43] chrissimpkins commented on #84
These changes are now available in the version 2.015 release.  Thank you very much for the issue report @legovini .  Thanks to all for the testing here and to @lemzwerg for your input on the new Control Instructions File.  All of this is greatly appreciated.  The releases are now available in compressed zip and tar.gz archives.

https://github.com/chrissimpkins/Hack/releases/tag/v2.015

I am closi

[2015-09-29 04:43] #84 closed

[2015-09-29 04:50] chrissimpkins commented on #97
@burodepeper I increased the spacing between the underscore glyphs for the v2.015 release.  Not quite as wide as they were before that build, but the space is more apparent than in the v2.014 test build.  This is definitely a glyph where we can consider some alternates as we develop a patch script.

Thanks for this issue report.

[2015-09-29 04:50] #97 closed

[2015-09-29 04:52] chrissimpkins commented on #98
Closing as solved. Please feel free to reopen if the current build does not address your issue.  Thanks for the report.

[2015-09-29 04:52] #98 closed

[2015-09-29 04:55] chrissimpkins commented on #61
These changes are now available in the v2.015 release.  Thank you very much for the issue report.  Please feel free to reopen if this did not address the problem for you.

[2015-09-29 04:55] #61 closed

[2015-09-29 05:00] chrissimpkins commented on #37
otf files with the new tilde glyph are now available as of v2.015 (a general release build) for those who would like to give them a try.

Leaving this open to reposition the tilde slightly higher in the box.  Didn't get it into this one

[2015-09-29 05:00] hrj commented on #28
@chrissimpkins Yes, it works perfectly. Thanks!

[2015-09-29 05:06] chrissimpkins commented on #28
@hrj great! thank you for the feedback.

[2015-09-29 07:43] legovini commented on #85
@chrissimpkins The package is almost ready, now I'll upgrade it with Hack 2.015 and with the new licensing details. After this I'll submit it to the official Debian developers and wait for feedback. I'll let you know how it ends.

[2015-09-29 11:03] chrissimpkins commented on #85
The release files are available in compressed tar.gz archives now.  Interested in discussing this package further in Slack?  I am interested I learning about the issues involved (build, licensing) in Linux packaging.

[2015-09-29 12:58] rdlugosz commented on #28
Thanks for all the hard work on this font, @chrissimpkins ! Using it as my daily driver right now and really enjoying it.

[2015-09-29 13:05] chrissimpkins commented on #28
@rdlugosz Great to hear that.  There's been a tremendous amount of work by a large number of people here.  It's good to hear that it shows.

[2015-09-29 23:48] chrissimpkins commented on #69
Any updates on the CTAN package?  Anything that I can do to help move this forward?  There are several people who have expressed an interest in this.

On Thu, Sep 10, 2015 at 10:59 PM, Olsonist <notifications@github.com>
wrote:

[2015-09-30 01:07] chrissimpkins commented on #114
@jublo I took a look at the glyphs in all four sets.  We are constrained by the fixed width of the fonts, but I wonder if we can take a bit of the counter out of the O portion and add more width to the N portion of the glyph.  When I take it down to small text sizes, the N component of the glyph starts to get very crowded and it is difficult to make out the strokes of the N.  We may even be able t

[2015-09-30 01:34] chrissimpkins commented on #105
Example of the glyph in DejaVu Sans:

![p-hook](https://cloud.githubusercontent.com/assets/4249591/10182406/ca7c371a-66f1-11e5-8280-8f8375b5bf39.png)

[2015-09-30 01:59] chrissimpkins commented on #114
@jublo better yet, maybe we use the left side of the box for the N component instead.  Something along these lines? (see rendering of the glyph at smaller sizes at screen bottom in each screenshot):
### Left sidebearing decreased, N widened, O component slightly right aligned
![no-open](https://cloud.githubusercontent.com/assets/4249591/10182660/9b8d0cec-66f4-11e5-9520-522af4c32749.png)

![no-clos

[2015-09-30 11:28] jublo commented on #114
In the Russian sample, the sign was followed by a space, like `№ 1`. I fully support your edit of the original design.

[2015-09-30 11:54] chrissimpkins commented on #114
Let's move ahead with these changes.

[2015-10-01 16:49] weslem commented on #104
Sorry, I somehow missed your request. Here's some captures:

[code]
![hack](https://cloud.githubusercontent.com/assets/994468/10227323/8663401a-6821-11e5-820b-89a591ecb0ce.png)

[code]
![dejavu](https://cloud.githubusercontent.com/assets/994468/10227310/70202340-6821-11e5-8b9b-41cd76b6f44f.png)

[2015-10-01 17:01] chrissimpkins commented on #104
Interesting, not sure why they differ. I will take a look at the DejaVu glyph.  Thanks for posting this.

[2015-10-01 23:07] legovini commented on #85
@chrissimpkins Good news: the package got accepted in Debian! It's actually these three packages:

https://packages.debian.org/sid/fonts-hack-ttf
https://packages.debian.org/sid/fonts-hack-otf
https://packages.debian.org/sid/fonts-hack-web

I never used Slack, but I can give it a try. Keep in mind that there is no "Linux packaging", as different Linux distributions have different packaging systems

[2015-10-01 23:15] chrissimpkins commented on #85
@legovini that is fantastic.  Thank you so much for all of your efforts to prepare these and see this through.  If you send me your email address I can invite you to the Slack account to discuss some of the package specific issues further.  You can reach me at chris@sourcefoundry.org

[2015-10-02 04:44] jimvanm commented on #38
I have the exact same issue, in Windows, using UltraEdit (currently 21.30.0.1010, but earlier versions too). Only the 'regular' Hack font has the issue. The rest line up OK. The problem manifests itself as the cursor ending up in the wrong place. It's as if the cursor knows it's a fixed-width font, but the render of the font adds a few points to the spaces, so the cursor does not line up visually

[2015-10-02 04:52] chrissimpkins commented on #38
is this with the most recent version of Hack? v2.015

[2015-10-02 06:43] heymjo commented on #45
Reopening, unfortunately this behaviour has regressed from the .14 to the .15 release. Annoying because i did not keep the .14 release archive from #111  and it seems to have been removed :-|

[2015-10-02 11:26] chrissimpkins commented on #45
I did a bit of repository cleanup.  The test build is still there.  Here is the link if you want it:

https://github.com/chrissimpkins/Hack/blob/development/build/test_builds/2_014/2_014.tar.gz?raw=true

Question is why this changed between the builds.  To confirm, this is in IntelliJ IDEA on Windows?

[2015-10-02 11:29] chrissimpkins commented on #45
Do you mind checking issue #100 as well?  This seems to be an associated issue and there is an active issue report on the JetBrains issue tracker about it:

https://youtrack.jetbrains.com/issue/IDEA-144785

[2015-10-02 11:31] chrissimpkins commented on #116
This is now available at:

http://sourcefoundry.org/hack/playground.html

Please let me know if you have any problems with it.

[2015-10-02 13:11] jimvanm commented on #38
I did install the 2.015 version, but it didn't take. I uninstalled Hack completely, rebooted, and tried again. It appears to be working correctly now. Thanks for the reply.

[2015-10-02 13:13] chrissimpkins commented on #38
excellent, possibly just a font caching issue then.  let me know if you see any other issues.

[2015-10-02 19:36] chrissimpkins commented on #62
Would it be possible to list all of the glyphs that you need to complete the Vietnamese working character set that you use?  We are beginning work on character set expansion in the fonts now.  Thanks much.

[2015-10-03 10:39] nhymxu commented on #62
Vietnamese is latin-base character, add some character

Main vietnamese alphabet character list:

And combine with 5 special char on top of character **/ \ ? ~ .**

all is full list Vietnamse character. Thanks you!

[2015-10-03 11:27] chrissimpkins commented on #62
Thank you very much for this list.  Let me see what we can do.   I hope to include all of these.

[2015-10-03 16:30] chrissimpkins commented on #102
Queued up to work on this for the next release.

[2015-10-03 16:34] chrissimpkins commented on #29
Queued for next release

[2015-10-03 16:34] chrissimpkins commented on #36
Queued for next release.

[2015-10-03 16:35] chrissimpkins commented on #21
Queued for next release

[2015-10-03 16:42] chrissimpkins commented on #116
Work underway to expand monospaced typeface support in the application.

[2015-10-03 18:43] jublo commented on #105
Suggestion:

<img width="389" alt="bildschirmfoto 2015-10-03 um 20 43 03" src="https://cloud.githubusercontent.com/assets/6348321/10264547/5c6ecea6-6a0f-11e5-9afe-25c156b716bd.png">

[2015-10-03 18:53] jublo commented on #105
Oblique suggestion:

<img width="447" alt="bildschirmfoto 2015-10-03 um 20 53 04" src="https://cloud.githubusercontent.com/assets/6348321/10264594/d6401086-6a10-11e5-8330-4893e704eb7a.png">

[2015-10-03 19:06] jublo commented on #105
Bold variants:

<img width="377" alt="bildschirmfoto 2015-10-03 um 21 02 30" src="https://cloud.githubusercontent.com/assets/6348321/10264651/abb39c78-6a12-11e5-8fdf-ec0772ed9ffd.png">
<img width="444" alt="bildschirmfoto 2015-10-03 um 21 04 07" src="https://cloud.githubusercontent.com/assets/6348321/10264652/abd63c9c-6a12-11e5-9046-a16bf297f691.png">

[2015-10-03 19:07] jublo commented on #105
See https://github.com/jublonet/Hack/commit/dfb17e99d3b40a2b8cf8eda1bb9186c3d2634fdf.

[2015-10-03 20:42] chrissimpkins commented on #105
These look great @jublo .  Nice work on them.  @doubleagent Daniel, can you link to the current page that shows how these glyphs are used?  The original link in your post no longer links to an active site.  We will test these characters in the context that they are used before we build them for you to try.

[2015-10-04 03:04] doubleagent commented on #105
They restructured the repository a bit.  Page can now be found [here](https://github.com/syl20bnr/spacemacs/tree/master/layers/%2Blang/clojure#pretty-symbols).

[2015-10-04 10:59] jublo commented on #29
Suggestion for `cyrillic capital letter es`:

![capital](https://cloud.githubusercontent.com/assets/6348321/10267510/9762031a-6a97-11e5-860d-8145cdb6eacf.png)

[2015-10-04 11:07] jublo commented on #29
Suggestion for `cyrillic small letter es U+0441`:

![small](https://cloud.githubusercontent.com/assets/6348321/10267550/d9e23ba0-6a98-11e5-8c0c-e2795dca19f2.png)

[2015-10-04 11:08] jublo commented on #29
Note how the shorter top arm is visible even with small font size, and how the end angle takes up the appearance of the `t` angle.

[2015-10-04 11:18] jublo commented on #92
How about this?

![dollar-bar](https://cloud.githubusercontent.com/assets/6348321/10267592/69383d30-6a9a-11e5-9863-ddb01e082182.png)

[2015-10-04 11:23] jublo commented on #37
This one has been moved up somewhat, what do you think?

![asciitilde](https://cloud.githubusercontent.com/assets/6348321/10267610/169abec6-6a9b-11e5-8766-74757fcf4956.png)

[2015-10-04 13:41] m42e commented on #81
Sorry, didn't get a notification. I've tried it, works, with italic, bold and italic bold, but not with regular.

[2015-10-04 14:19] jublo commented on #81
@m42e Consider clicking the “Subscribe” button in this issue’s sidebar.

[2015-10-04 14:45] jublo commented on #52
Suggestion for `U+0132` `Ĳ`, as used in Dutch (see small sample below large letters):

![](https://cloud.githubusercontent.com/assets/6348321/10268335/75deecd0-6ab5-11e5-8d5f-d98c240d7447.png)

[2015-10-04 14:51] jublo commented on #52
Suggestion for `U+0133` `ĳ`:

![](https://cloud.githubusercontent.com/assets/6348321/10268414/24969afa-6ab8-11e5-810a-192262425474.png)

[2015-10-04 15:09] chrissimpkins commented on #52
These turned out great @jublo.  Mind submitting these in a PR?  We will run them through some centering testing with a number of triplet glyph combinations and incorporate them in the set.

[2015-10-04 15:10] jublo commented on #52
Suggesting to copy `U+03BA` kappa to `U+0138` kra.

[2015-10-04 15:11] chrissimpkins commented on #81
@m42e Can you let us know what you are seeing in the regular set?  Will need to know how the spacing is off to address the alignment.  Images would be very helpful if possible.

[2015-10-04 15:21] chrissimpkins commented on #21
@cdlm Damien, do you mind having a look at the images in PR #118 to see if the positions of the diacritic marks look appropriate on all of these glyphs?  We will create a test build that you can try before we release this if you are available/willing to help us test them.  It would be helpful to have feedback from someone who uses the characters.

[2015-10-04 15:22] jublo commented on #52
@schierlm What about `ŉ`?  Wikipedia says:

But it’s part of MES-1…

[2015-10-04 16:31] schierlm commented on #52
I for myself have not seen anybody's name contain ŉ (but on the other hand, not ♪ either), so I probably won't miss that glyph (ĳ and the Esperanto ones are surely more important).

Probably those standardizing those character sets did not spend too much time discussing about every single glyph... (or those characters were supported in some legacy charset that was used before and nobody took the t

[2015-10-04 16:32] chrissimpkins commented on #52
How does the character set coverage influence this statement that you made?

[2015-10-04 16:33] jublo commented on #52
Suggesting these:

![](https://cloud.githubusercontent.com/assets/6348321/10268878/4f393b42-6ac6-11e5-901b-28e6d64d281a.png)

![](https://cloud.githubusercontent.com/assets/6348321/10268881/59a8c944-6ac6-11e5-998c-99e4c50efc0d.png)

[2015-10-04 16:38] m42e commented on #81
@jublo I'm subscribed, but somehow missed it.

Regular:
<img width="304" alt="bildschirmfoto 2015-09-03 um 20 16 06" src="https://cloud.githubusercontent.com/assets/2410802/10268915/2145baa2-6ac7-11e5-8a99-453084ff73d8.png">
Bold:
<img width="307" alt="bildschirmfoto 2015-09-03 um 20 44 03" src="https://cloud.githubusercontent.com/assets/2410802/10268916/2168e1ee-6ac7-11e5-8115-afccc01a0d9e.png">

[2015-10-04 16:41] ScuzzyEye commented on #37
I just had to see where there hyphen hits against the : and =. Yeah, that should be good.

[2015-10-04 18:44] chrissimpkins commented on #81
No worries.  No rush.

It seems that the rectangular box glyph width is completely different in the regular set than it is for the square boxes that are positioned on the baseline.

[2015-10-04 18:49] m42e commented on #81
You can also see the issue, when opening http://www.cl.cam.ac.uk/~mgk25/ucs/examples/UTF-8-demo.txt with Hack. At the bottom, there should be increasing bars, but the last element is much smaller than the others.

[2015-10-04 19:00] chrissimpkins commented on #81
Any license on that specimen file? That would be incredibly useful for testing.

[2015-10-04 19:03] m42e commented on #81
I don't know, it is provided by http://www.cl.cam.ac.uk/%7Emgk25/ but there is no license provided.

[2015-10-04 19:03] chrissimpkins commented on #81
All of these need some work...

![box glyphs](https://cloud.githubusercontent.com/assets/4249591/10269542/1cfc3660-6aa9-11e5-8fcd-6e69171f1a00.png)

[2015-10-04 19:04] chrissimpkins commented on #81
That last box on the lower right corner must be your problem

[2015-10-04 19:05] m42e commented on #81
Exactly. If I look close you're right, there might be some more issues.

[2015-10-04 19:05] chrissimpkins commented on #81
Thank you.  We will create something similar to take a look at these glyphs

[2015-10-04 20:56] schierlm commented on #52
@chrissimpkins  sorry I don't understand what exactly you are asking here...

bureaucracy says software used needs to cover all of MES-1. So, depending on how well you can bend the rules (e.g. if you can plausibly tell you are only using it for code, but not for scenarios that may show people's names, like email headers...), you may not be able to use the font in those environments if it does not

[2015-10-04 22:53] chrissimpkins commented on #21
From @cdlm :

First of all, uppercase and lowercase are used as you'd expect in english. However, the accented letters are distinct and sorted just after their non-accented variant in the alphabet. There is no q, w, x, or y. Letters are always pronounced the same (the accented ones are different letters, so they have a different sound, even though it's related to the non-accented one. I can't say

[2015-10-04 22:54] chrissimpkins commented on #21
From @schierlm:

FTR: There are Esperanto words with two adjacent diacritics. In most cases either the first one is ŭ part of an aŭ or eŭ diphtong (for example antaŭĝoji [to eagerly anticipate] or kaŭĉuko [rubber] or it is a compound word like the (old-fashioned) vojaĝĉeko [traveller's cheque].

And of course, for testing, the (in)famous Eĥoŝanĝo ĉiuĵaŭde [echo change every Thursday] should not be

[2015-10-04 23:11] chrissimpkins commented on #52
@schierlm Michael, can you point me to information about these restrictions/rules and any information that you have about where (countries) they apply?  I am wondering whether this has the potential to limit embedding of the fonts (e.g. in software, TeX/pdf documents, presentations, etc) in locations where such rules are in place.   Your mention is the first that made me aware of this situation an

[2015-10-04 23:19] chrissimpkins commented on #22
Work is underway on the Cyrillic `c` glyph and the numero glyph.  Please see issue report #29 for the Cyrillic `c` and issue report #114 for the numero glyph.

The next release is going to include a number of expansions to the current character set.  If there is anything else that you need in the Cyrillic character set, please submit this as a new issue report.  I will close this issue report give

[2015-10-04 23:21] chrissimpkins commented on #100
@skewty & @tbrisbane  any progress on this issue over on the JetBrains side?

[2015-10-05 00:07] chrissimpkins commented on #29
I like the nuances but I think that they are going to be washed out at smaller text sizes.   When these are fit to the pixel grid, I suspect that they are going to look pretty similar.  I'm stuck on this one as well.   I don't know how to modify a c and continue to have it appear like a c.  A short stroke directly through the middle of the glyph?  Short serif at an angle across the upper terminal?

[2015-10-05 00:46] tbrisbane commented on #100
@chrissimpkins None as of yet, however at this stage they don't require any additional information from us.

[2015-10-05 01:09] chrissimpkins commented on #100
@tbrisbane thanks much.  Haven't seen any information in that thread that points to the cause.

[2015-10-05 03:32] tpoisot commented on #36
:+1: !

[2015-10-05 08:12] heymjo commented on #45
Hi,

Strange things happening. It seems that when i first uninstall the font (going to the fonts directory and doing shift-delete), and only then install the new version it works fine.

What i did previously was just installing the new font on top of the old one and then the problems started to appear again. So i confirm that the latest version is working fine still :+1:

[2015-10-05 08:12] #45 closed

[2015-10-05 11:18] rfmae opened #119 "Format for linux console (tty)?"
I am using Hack in Slackware. I like it alot and would also like to use Hack as my console (not X) font. Do you plan to release Hack in a format that is compatible with linux consoles?

[2015-10-05 11:20] chrissimpkins commented on #45
excellent! the cache is our enemy.  :)

[2015-10-05 13:20] jimvanm commented on #38
It's looking good.

Thanks so much for creating and releasing this font. It is such a pleasure
to view code with it!

Regards,

Jim

On Fri, Oct 2, 2015 at 9:14 AM, Chris Simpkins <notifications@github.com>
wrote:

[2015-10-05 13:43] chrissimpkins commented on #119
Thanks for the feedback about Hack.  I greatly appreciate it.

We do not currently provide an 'official' release of PSF fonts but they should be relatively straightforward to generate.

The build chain for the Linux console PSF file format is as follows:

OTF to BDF to PSF

and you can use `otf2bdf` + `bdf2psf` with our Hack-*.otf file releases to get there.  I have no experience with how these to

[2015-10-05 13:47] chrissimpkins commented on #38
It's great to hear that!  Thank you very much for the feedback.  I really appreciate it.  Please let me know if you run into any other issues.

[2015-10-05 15:18] VeevenV opened #120 "Curlier and rounder brackets"
Expanding on [this tweet](https://twitter.com/VeevenV/status/651039092424052736).

When I started using Hack, braces, brackets and parentheses stared looking straighter and less distinguishable for me. I think they can be a bit more curly/rounded than they are.

For comparison, I started looking at monospace fonts that I used earlier.

![hack-font-bracket-pairs](https://cloud.githubusercontent.com

[2015-10-05 20:47] schierlm commented on #52
Sorry if I have to disappoint you, but I'm not myself working in the public sector here and know most of it from another person who in 2009 filed a feature request against *my* open source project (which was a Windows utility to show metadata about truetype fonts, and he wanted it to analyze MES-1/2/3 coverage; I got the request by e-mail so I won't quote it here).

So I cannot really say which co

[2015-10-05 20:51] chrissimpkins commented on #52
@schierlm Thank you! This is helpful. We will be able to support the MES-1 set.  We will handle further expansion for this concern as the need arises.  I really appreciate that you pointed this issue out.

[2015-10-06 10:48] giorgio-v opened #121 "Line height set solid with v2.015"
It seems that, starting with v2.015 line height is set solid. I get that you should be able to control this in your editor, but sometimes it is not possible. For example, in Mail.app on Mac OS X, you can choose Hack as a message font, but you cannot set the line height, AFAICS.

[2015-10-06 11:18] chrissimpkins commented on #121
What do you mean by this, that you cannot alter the line spacing whereas you could in previous versions?  This should not be the case.  It will rely on an application that supports this.

[2015-10-06 11:19] chrissimpkins commented on #120
Noted @VeevenV.  Let's leave this open for some additional feedback to see what other users think.

[2015-10-06 11:24] chrissimpkins commented on #92
@jublo Looks good.  Let's move forward with the change and we will test it at smaller sizes.  The concern has been over the width of the vertical stem when taken to small text sizes (becomes hairline).  This will be a good one to view in an editor on a development build after we hint.

[2015-10-06 11:25] chrissimpkins commented on #37
@jublo looks great.  Is this change included in one of your builds in your fork?

[2015-10-06 11:28] giorgio-v commented on #121
Yeah, but it seems that the previous version was different in this regard.

Maybe I misremember?

--
Giorgio Valoti

[2015-10-06 11:33] chrissimpkins commented on #121
You are absolutely correct. The line spacing did decrease in the most recent version.  This change addressed a number of issues (both requests for decrease in spacing as well as misalignment issues with vertically aligned glyphs like the box glyphs).  There is an open issue report for different (including wider) line spacing builds if you are interested in following.

[2015-10-06 11:33] chrissimpkins commented on #121
#28

[2015-10-06 12:07] giorgio-v commented on #121
Thank you! :) I’ll close this.

[2015-10-06 12:07] #121 closed

[2015-10-06 12:17] chrissimpkins commented on #121
come join us over in that report and let us know what type of spacing you are after.  if you have an example font that is helpful.

[2015-10-06 16:22] VeevenV commented on #120
I've just seen it. Similar feedback in issue #103.

[2015-10-06 20:04] mhinton opened #122 "Spacing is way to small"
I was using version 2.010 of Hack and I updated to 2.015 and the character spacing is now way to small. The line height seems like it's just a little to small but the characters seem jammed together horizontally. I have reverted back to version 2.010. I see a lot issues where people are requesting a teeny tiny unreadable font but I think that for reading code the spacing around letters is importan

[2015-10-06 20:20] chrissimpkins commented on #122
Can you upload a screenshot?  There should be no change in the horizontal dimensions of the glyphs.  The vertical spacing between lines did change (closer) with the most recent release.  This was in part by request and in part by necessity to address problems with the vertical alignments of glyphs that need to be aligned on separate lines (eg box glyphs).

[2015-10-06 21:44] mhinton commented on #122
Maybe the horizontal spacing is fine but I still prefer the older version.

Here is 2.0.15:
![buyer_controller_js____dev_2wav_suzanne_app_client_controllers__-_vim1](https://cloud.githubusercontent.com/assets/23145/10323480/05338e56-6c49-11e5-8adb-157e0c926bd1.png)

Here is 2.010:
![buyer_controller_js____dev_2wav_suzanne_app_client_controllers__-_vim](https://cloud.githubusercontent.com/assets/23

[2015-10-06 22:31] chrissimpkins commented on #122
Come join us in #28. There is interest in this issue and a previous issue report exists addressing line spacing.  Our current plan is to produce multiple line spacing variants to address it but it will require a big overhaul of the font to allow for proper alignments of the glyphs that I mentioned above.  A short term alternative that we could consider is the creation of a smaller set that does no

[2015-10-07 02:07] chrissimpkins commented on #21
@cdlm @schierlm @jublo

Some very minor horizontal positioning changes to the diacritic marks on the glyphs that @jublo made in the regular set.  Here is a specimen sheet based upon suggestions in the above comments:

### Large Text Size
<img width="703" alt="esperanto-rev-1_large" src="https://cloud.githubusercontent.com/assets/4249591/10327414/ff754686-6c74-11e5-8620-6b6e6cd2531f.png">

### Smal

[2015-10-07 02:46] chrissimpkins commented on #37
These changes are now included in the vfb source of the development branch and will be included in the next build.

[2015-10-07 03:09] chrissimpkins commented on #22
Any thoughts on this design for the Cyrillic C?  We could do the same thing for the lower case letter.  It is similar to the Euro symbol.

<img width="259" alt="cyrillic-c" src="https://cloud.githubusercontent.com/assets/4249591/10328171/12494a1e-6c7f-11e5-94cd-7d535b53be2c.png">

[2015-10-07 03:27] #122 closed

[2015-10-07 03:34] chrissimpkins commented on #115
Are you willing to submit this as an issue report on the Eclipse issue tracker to see what they have to say about it?

[2015-10-07 03:41] chrissimpkins commented on #52
@jublo do you have a set of source with the changes that you posted above?  We will plan to include all of the MES-1 glyphs in the set.  It looks like many of these are covered with the Esperanto set changes that we are working on in #10

[2015-10-07 08:48] jublo commented on #52
In #21, you meant.

[2015-10-07 09:20] jublo commented on #114
Preparing PR with this diff for `Regular`:

<img width="368" alt="bildschirmfoto 2015-10-07 um 11 19 11" src="https://cloud.githubusercontent.com/assets/6348321/10333602/4d5d3b68-6ce5-11e5-85fa-cd1863b351af.png">

[2015-10-07 09:22] achkasov commented on #22
@chrissimpkins as a Russian i find it looking very weird. It is also easily confused with Cyrillic letter Єє.

[2015-10-07 10:01] Fale opened #124 "Missing character for vim-powerline"
Hi,
I've just updated to 2.015 and I've to say it is a good improvement :). You've done a very good job!.

Working on vim with the powerline, I've noticed that there is character missing, but I don't know which character it is so I attached a screenshot so other people may be able to figure out it :).

I hope this helps

![2015-10-07-115847_469x56_scrot](https://cloud.githubusercontent.com/assets/

[2015-10-07 10:37] chrissimpkins commented on #22
OK back to the drawing board....

[2015-10-07 10:41] chrissimpkins commented on #52
correct, I updated it. thanks

[2015-10-07 12:49] cdlm commented on #21
:+1:

[2015-10-07 16:25] chrissimpkins commented on #124
@Fale thank you! glad to hear that you like the recent changes.  It has been a community effort.  We have been fortunate to have a great deal of feedback that led to nearly all of the changes in the last release.

For your issue, can you also post a screenshot of a font that works so that we can see what glyphs you are referring to?

[2015-10-07 16:30] chrissimpkins commented on #21
@cdlm ty!

Will see if @schierlm has any thoughts today and then push ahead with these.

[2015-10-07 16:40] chrissimpkins commented on #114
merged.  thanks @jublo.  is there a bold version in that merge as well?

[2015-10-07 17:42] schierlm commented on #21
Looks fine to me too :)

[2015-10-07 17:43] jublo commented on #114
Yup, there was—both in TTF and UFO.  Have you found it?

![](https://cloud.githubusercontent.com/assets/6348321/10335609/43b901a2-6cf2-11e5-95a8-8f85483063fd.png)

[2015-10-07 17:44] chrissimpkins commented on #21
@schierlm great!  We will include these in the next release.  Hope to have it out in the next several days.  Will update here when there is a build available to try.

[2015-10-07 20:17] chrissimpkins opened #125 "Update ttfautohint to v1.4 release for TrueType builds"

[2015-10-09 01:51] chrissimpkins commented on #92
I am going to give this a try in the next development build to see how it works.  I took a look through a number of different `$` designs and came across a typeface that included wider strokes above and below the main `S` portion of the glyph with a narrower stroke through the S component of the glyph.  It doesn't look 'right' at large sizes like that displayed below, but at smaller text sizes thi

[2015-10-09 03:34] chrissimpkins commented on #22
How about the shape of the Greek sigma final as the `c` in the Cyrillic set?

<img width="336" alt="sigma-final" src="https://cloud.githubusercontent.com/assets/4249591/10385309/f0ec84c0-6e14-11e5-860a-0442085fee0a.png">

[2015-10-09 03:45] retgoat commented on #22
@chrissimpkins, I don't want to dissapoint you, but it looks very weird too. Only people involved into this discussion will recognize that glyph as cyrillic "C", others will think that font ligatures are broken.

[2015-10-09 03:54] chrissimpkins commented on #22
Ok, no worries.  Just trying different things.  I'm open to suggestions.  Not really sure what to do with a `c` that does not make it look like something other than a `c`.  It will need to be dramatic enough that it will be apparent at small text sizes when fit to the pixel grid.

There was a suggestion of a serif on the top of the letter above.

Thoughts?

[2015-10-09 03:55] chrissimpkins commented on #22
By the way, I have looked through dozens of typefaces that include Cyrillic glyphs and they all just maintain the Latin c shape...

[2015-10-09 03:58] retgoat commented on #22
I think adding serif clear enough, because many russians had used Courier :)
Yes, many fonts just copy existing shape, and that's a real pain for all of us.
If somebody of us working on localized software — mix those glyphs is piece a cake. But find it out and fix takes a lot of time.

[2015-10-09 04:11] chrissimpkins commented on #22
Here are a couple more in line with the Courier New style:

<img width="254" alt="cyrillic-c-overunder-serif" src="https://cloud.githubusercontent.com/assets/4249591/10385671/2d9a9ff6-6e1a-11e5-9574-cd8ab06464dc.png">
<img width="269" alt="cyrillic-c-upper-serif" src="https://cloud.githubusercontent.com/assets/4249591/10385673/2f16c8d2-6e1a-11e5-9412-e471fc333767.png">

[2015-10-09 04:27] retgoat commented on #22
Both of them are pretty clear, I think.
The last one looks more nicely IMHO. Let's wait what other participants will say.
Many thanks for your work! :+1:

[2015-10-09 04:36] chrissimpkins commented on #22
Sounds good. Thanks for your input.  It has been helpful.

[2015-10-09 06:16] achkasov commented on #22
Both look nice. Another option you can consider is adding a "drop" instead of a serif, like in Baskerville, but I have not idea if it fits the Hack font style.

![image](https://cloud.githubusercontent.com/assets/14052589/10387034/047aa302-6e5e-11e5-9268-26d984000745.png)

[2015-10-09 07:17] softkot commented on #22
@chrissimpkins  bottom c looks better.

[2015-10-09 08:54] Skardian commented on #124
Hi,

I'm using the latest hack font and the vim-airline plugin, and as you can see the character appears as expected.

This is the picture on the official repo, showing the expected character.
![Official picture](https://camo.githubusercontent.com/44226495b9d056f3a315f732acfafe160b32d8bf/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f3330363530322f3936323430312f326137353338356

[2015-10-09 10:51] gramian commented on #69
Using: https://tex.stackexchange.com/a/52902 I got the Hack font working locally. I placed the .fd and the .map (location of the .map is given in the .log) into the working directory of my .tex document and added the following lines:
\usepackage{etoolbox}
\pdfmapfile{ChrisSimpkins.map}
\renewcommand\ttdefault{Hack}
\appto\ttfamily{\fontsize{8pt}{12pt}\selectfont}

The last line was added, because

[2015-10-09 11:13] Fale commented on #124
I was trying with xterm and that was the result. Trying with urxvt256-ml, this is the result. The glyph is present, but it seems to be not perfect (as it is in @Skardian screenshot)
![2015-10-09-131046_452x48_scrot](https://cloud.githubusercontent.com/assets/77888/10392445/799d430a-6e87-11e5-9cbb-9755371033a7.png)

[2015-10-09 11:29] chrissimpkins commented on #69
@gramian thank you for this approach Christian.  I will leave this open for further discussion.  This has been widely requested and I am not a TeX user, have no experience with CTAN.  If anyone is motivated to prepare a package for other TeX users I am happy to support and participate in this process however I can.  Let me know if there is anything that I can do.

[2015-10-09 17:22] chrissimpkins commented on #124
@Skardian I will need to try to locate that glyph.  I don't believe that it is included in our sets.  That may be a fallback font that vim-airline is using.

Here is the link to the list of symbols that they appear to be using in vim-airline:

https://github.com/bling/vim-airline/blob/master/doc/airline.txt#L177

There is another issue report (#99) that addresses a lock symbol that they use as wel

[2015-10-09 20:25] chrissimpkins commented on #22
@achkasov That tends to be a serifed font design.  Looks nice though.

@softkot Thanks Alexei.

[2015-10-09 21:15] chrissimpkins commented on #22
Gave the stroke some very slight curves and here is where we are, Latin vs. Cyrillic:

<img width="350" alt="latin-c" src="https://cloud.githubusercontent.com/assets/4249591/10405730/ee80edb8-6ea8-11e5-9ba4-c4514a5f31bd.png">

<img width="364" alt="cyrillic-c" src="https://cloud.githubusercontent.com/assets/4249591/10405731/f15a632a-6ea8-11e5-8257-045948f56067.png">

Will build these in the upcomi

[2015-10-10 00:40] tbrisbane commented on #100
@chrissimpkins This appears to be fixed in the v2.015 build, and JetBrains have closed the issue on their end for that reason. I think we can resolve this! :D

[2015-10-10 00:42] chrissimpkins commented on #100
@tbrisbane thank you!

[2015-10-10 00:42] #100 closed

[2015-10-10 01:53] chrissimpkins commented on #29
Changes that will be included in the v2.016 release are displayed in #22

[2015-10-10 03:51] chrissimpkins commented on #102
These will be included in the next build:

<img width="800" alt="new-tilde-glyphs" src="https://cloud.githubusercontent.com/assets/4249591/10409141/ace4d92c-6ee0-11e5-811c-454ad564e855.png">

[2015-10-10 04:15] chrissimpkins commented on #36
Just finished these tonight.  I went with a much rounder upper case theta that I hope will address this issue.  I should have a build out this weekend that you can run through your editors in order to confirm that we accomplished this.

[2015-10-10 14:24] chrissimpkins commented on #43
Queued up to get started on this.  Will post some design examples in this thread if you are willing to participate as we improve on the shape.

[2015-10-10 20:30] Olsonist commented on #69
gramarian, I'm just swamped hammering out a paper. Can you post ChrisSimpkins.map?
Correct me if I'm wrong, but can't I add that to my project (working directory) along with
the Hack ttf fonts, add the above sugar to my TeX doc and be done?

I'll test your approach on my end to verify that we have a simple (maybe not simplest) solution.
I started reading through the blitheringly detailed stackexch

[2015-10-10 22:44] gramian commented on #69
No, that will not work. Also, just the .map is not of any use to you; you have to apply the *otftotfm* (part of lcdf-typetools under Ubuntu) to get the .tfm converted hack font and make an .fd file.
At the end of the stackexchange post (see Conclusion) is a minimal list of steps to be performed.
I think these steps are only required for latex, pdftex and pdflatex; as far as I know, in xetex and lu

[2015-10-11 06:22] LeoNeeson commented on #43
Okay, I'll be here to give my opinion.

[2015-10-12 03:44] chrissimpkins commented on #114
A new test build (v2.016) is now available with this new glyph.  Please give it a try and let us know what you think.

[Hack-Regular.ttf](https://github.com/chrissimpkins/Hack/blob/development/build/test_builds/2_016/Hack-Regular.ttf?raw=true)
[Hack-Bold.ttf](https://github.com/chrissimpkins/Hack/blob/development/build/test_builds/2_016/Hack-Bold.ttf?raw=true)
[Hack-Italic.ttf](https://github.com/

[2015-10-12 03:45] chrissimpkins commented on #37
A new test build is available that includes a change in the position of the tilde glyph.  Please let us know what you think.

[Hack-Regular.ttf](https://github.com/chrissimpkins/Hack/blob/development/build/test_builds/2_016/Hack-Regular.ttf?raw=true)
[Hack-Bold.ttf](https://github.com/chrissimpkins/Hack/blob/development/build/test_builds/2_016/Hack-Bold.ttf?raw=true)
[Hack-Italic.ttf](https://gith

[2015-10-12 03:46] chrissimpkins commented on #21
A new test build is available that includes the outstanding Esperanto glyphs that were recommended here.  Please let us know what you think.

[Hack-Regular.ttf](https://github.com/chrissimpkins/Hack/blob/development/build/test_builds/2_016/Hack-Regular.ttf?raw=true)
[Hack-Bold.ttf](https://github.com/chrissimpkins/Hack/blob/development/build/test_builds/2_016/Hack-Bold.ttf?raw=true)
[Hack-Italic.t

[2015-10-12 03:47] chrissimpkins commented on #125
version 1.4 was used for the Hack v2.016 build.  New test build files are available here:

[Hack-Regular.ttf](https://github.com/chrissimpkins/Hack/blob/development/build/test_builds/2_016/Hack-Regular.ttf?raw=true)
[Hack-Bold.ttf](https://github.com/chrissimpkins/Hack/blob/development/build/test_builds/2_016/Hack-Bold.ttf?raw=true)
[Hack-Italic.ttf](https://github.com/chrissimpkins/Hack/blob/deve

[2015-10-12 03:47] Olsonist commented on #69
I'll see about using luatex. I'll get some spare cycles on Wednesday.

I have no stomach for building latex which is pretty much what I'd have to do to get *otftotfm* working on OSX. luatex is a build option for OverLeaf. luatex has a minor restriction for microtype.

[2015-10-12 03:47] chrissimpkins commented on #92
The new dollar glyph is available for testing in the v2.016 test build of the ttf files.  You can try download them here:

[Hack-Regular.ttf](https://github.com/chrissimpkins/Hack/blob/development/build/test_builds/2_016/Hack-Regular.ttf?raw=true)
[Hack-Bold.ttf](https://github.com/chrissimpkins/Hack/blob/development/build/test_builds/2_016/Hack-Bold.ttf?raw=true)
[Hack-Italic.ttf](https://github.

[2015-10-12 03:48] chrissimpkins commented on #105
This glyph is available for testing in the new v2.016 build.  You can download the files here:

[Hack-Regular.ttf](https://github.com/chrissimpkins/Hack/blob/development/build/test_builds/2_016/Hack-Regular.ttf?raw=true)
[Hack-Bold.ttf](https://github.com/chrissimpkins/Hack/blob/development/build/test_builds/2_016/Hack-Bold.ttf?raw=true)
[Hack-Italic.ttf](https://github.com/chrissimpkins/Hack/blob

[2015-10-12 03:49] chrissimpkins commented on #22
The new Cyrillic C/c glyphs and the numero symbol were added to the v2.016 test build.  You can give them a try with these files:

[Hack-Regular.ttf](https://github.com/chrissimpkins/Hack/blob/development/build/test_builds/2_016/Hack-Regular.ttf?raw=true)
[Hack-Bold.ttf](https://github.com/chrissimpkins/Hack/blob/development/build/test_builds/2_016/Hack-Bold.ttf?raw=true)
[Hack-Italic.ttf](https:/

[2015-10-12 03:49] chrissimpkins commented on #29
Available in v2.016 test builds:

[Hack-Regular.ttf](https://github.com/chrissimpkins/Hack/blob/development/build/test_builds/2_016/Hack-Regular.ttf?raw=true)
[Hack-Bold.ttf](https://github.com/chrissimpkins/Hack/blob/development/build/test_builds/2_016/Hack-Bold.ttf?raw=true)
[Hack-Italic.ttf](https://github.com/chrissimpkins/Hack/blob/development/build/test_builds/2_016/Hack-Italic.ttf?raw=true)

[2015-10-12 03:49] doubleagent commented on #105
Awesome! I'll give it a shot first thing tomorrow.

[2015-10-12 03:50] chrissimpkins commented on #36
The new Greek upper case theta symbol is available in the v2.016 test build of the Hack fonts.  You can download them here and give them a try in your editors.  Let me know what how they look for you.

[Hack-Regular.ttf](https://github.com/chrissimpkins/Hack/blob/development/build/test_builds/2_016/Hack-Regular.ttf?raw=true)
[Hack-Bold.ttf](https://github.com/chrissimpkins/Hack/blob/development/bu

[2015-10-12 03:51] chrissimpkins commented on #102
The requested glyphs are now available in the v2.016 test build.  You can download the files to try them here:

[Hack-Regular.ttf](https://github.com/chrissimpkins/Hack/blob/development/build/test_builds/2_016/Hack-Regular.ttf?raw=true)
[Hack-Bold.ttf](https://github.com/chrissimpkins/Hack/blob/development/build/test_builds/2_016/Hack-Bold.ttf?raw=true)
[Hack-Italic.ttf](https://github.com/chrissi

[2015-10-12 05:41] ScuzzyEye commented on #37
Looks good now. Matches up with the equals nicely. Here's my usual screen shot.
![mid-line tilde](https://cloud.githubusercontent.com/assets/14045149/10422019/3c4fd6fa-7082-11e5-805c-330e8acb7078.png)

[2015-10-12 05:42] retgoat commented on #22
Hey @chrissimpkins,
it seems  all is fine: cyrillyc symbols are differs from the latin ones, and numero sign looks good.
Have a look:
![2015-10-12 11-40-08 lorem ipsum dolor sit amet consectetur adipisicin forvetbet-br3](https://cloud.githubusercontent.com/assets/1287915/10422029/d775975a-70cd-11e5-8a36-287c049f4661.png)

Great job! :+1:

[2015-10-12 08:42] achkasov commented on #22
@chrissimpkins it looks differently to Latin Cc while not being too disturbing, good compromise, great job! Thanks.

[2015-10-12 10:19] rafaeln commented on #102
Thanks for updating the font with these extra glyphs. They look good. I'll let you know if I find any other missing glyphs or any problems with these.

[2015-10-12 14:32] chrissimpkins commented on #105
@doubleagent great! let us know if you see any problems.  We intend to include this in the next release

[2015-10-12 14:35] doubleagent commented on #105
Looks good so far.  Haven't seen any problems yet.

[2015-10-12 14:36] chrissimpkins commented on #22
@retgoat @achkasov thank you both for your feedback.  I'm glad to hear that things seem ok on first glance.  Please let me know if you notice problems as you use them.

[2015-10-12 14:38] chrissimpkins commented on #22
For all in this thread:

For future testing purposes, are you aware of any good text string that adequately represents commonly used Cyrillic characters and any associated problems that commonly occur in text that uses these glyphs?  If not,  would you be willing to help pull one together that we could use for testing our Cyrillic set in this project.   This might help us to identify other areas f

[2015-10-12 14:39] chrissimpkins commented on #37
@ScuzzyEye: great!  thank you very much for checking.  We will include this in the next release.  I appreciate the issue report.

[2015-10-12 14:42] chrissimpkins commented on #102
Thanks @rafaeln.  We will plan to include these new glyphs in the next release.

As a side note, we have a group working on LaTeX issues with the fonts.  How are you rendering them in TeX?

[2015-10-12 14:44] chrissimpkins commented on #102
Reopened this to complete our own testing and we will close it once we push to a general release.

[2015-10-12 14:46] chrissimpkins commented on #105
That's great to hear.  If you have a chance (purely out of my own curiosity) will you post a screenshot that shows how it is being used?  I haven't come across this glyph in the past.

[2015-10-12 14:54] Bfgeshka commented on #22
Pretty common pangram: ```Съешь же ещё этих мягких французских булок да выпей чаю.```

[2015-10-12 14:55] chrissimpkins opened #126 "v2.016 Testing Build is Now Available - Includes Character Set Expansions"
Testing builds of the Hack ttf fonts are now available.  This build includes a number of new glyphs in order to expand the supported character sets.  There are also improvements in the Cyrillic set (addresses character confusion issue with Latin glyphs), a fix for an alignment issue with the tilde glyph.

The changelog is available [here](https://github.com/chrissimpkins/Hack/blob/development/CHAN

[2015-10-12 15:07] doubleagent commented on #105
Here's a snippet from a work project which has a dense grouping of some of these characters.

![image](https://cloud.githubusercontent.com/assets/56522/10431134/f7256aa8-70c8-11e5-9370-4fdd18dababb.png)

[2015-10-12 15:16] chrissimpkins commented on #22
@Bjgeshka excellent!  Includes upper and lowercase?

Are there any problems that you face with diacritics adjacent to each other or capital letters adjacent to other caps, adjacent to lowercase?  There are some very wide glyphs in the Cyrillic set.  Do you see crowding of characters in monospaced fonts?

[2015-10-12 16:10] chrissimpkins commented on #105
OK I see.  The wide side bearings on the parentheses seem to be helping there as well.  Thanks for pushing that.

[2015-10-12 16:28] rafaeln commented on #102
I use Hack in Urxvt (`URxvt.font: xft:Hack:pixelsize=22` in my `.Xresources`), and edit TeX in Vim under Tmux. I use the [LaTeX-Box](https://github.com/LaTeX-Box-Team/LaTeX-Box) plugin, which under vim makes text in `\textbf{}` bold and text in `\textit{}` italics.

[2015-10-12 16:30] chrissimpkins commented on #102
and this is an automated render with ttf files or do you need to convert them?

[2015-10-12 16:33] rafaeln commented on #102
I might have gotten my words wrong when I said "I render LaTeX code using the Hack font". I use Hack only to see the source code. As for the output, it's rendered with CMU Serif. Are you looking into using Hack for output? In my case, I use XeLaTeX, which I do precisely because it doesn't require any conversion.

[2015-10-12 16:37] chrissimpkins commented on #102
Discussion over here if you are interested

https://github.com/chrissimpkins/Hack/issues/69

[2015-10-12 16:38] chrissimpkins commented on #102
trying to pull together a CTAN repo as well

[2015-10-12 16:42] Smolations commented on #54
Just for reference, The font previews, installs, and works/renders just fine (for me) in OS X 10.11 El Capitan and Sublime Text 3 (build 3083). :+1:

[2015-10-12 17:12] chrissimpkins commented on #54
@Smolations thank you!!

[2015-10-12 17:25] chrissimpkins commented on #22
Have any of you viewed these on Windows or Linux?

[2015-10-12 17:47] pmetzger commented on #36
It seem better but the distinctions still seem a bit subtle. Perhaps there is still room for improvement? Even if serifing the - in the upper case theta is also subtle it might add a little more to the overall difference?

[2015-10-12 18:10] chrissimpkins commented on #36
what platform are you on?  if possible screenshots would help

[2015-10-12 19:58] hut8 commented on #80
I tried Hack about two months ago on Windows 7 and it was totally distorted like above, but only in certain applications (I mostly used it in PuTTY). I uninstalled the fonts today and reinstalled using the above and it works great now.

[2015-10-12 20:44] chrissimpkins commented on #80
@hut8 It's great to hear that Liam.  I really appreciate that you took the time to provide this feedback.  We've been working very hard to make this face better through a tremendous amount of feedback from the developer community.  There is much more to come.  We are currently developing a usability group to formalize the optimization process for source code.  We will be developing tools so that w

[2015-10-12 22:42] hut8 opened #127 "Watch Symbol - ⌚ (0x231A)"
Hey!
Hack supports Powerline, right? Powerline uses ⌚, at least for the tmux plugin, right before the time. I can't get it to work on any font in PuTTY and Hack is my new favorite font, so I'm hoping I'm missing something. I'm using the latest version.

[2015-10-13 06:35] Bfgeshka commented on #22
Just checked it on linux, new "с" seems fine for me.

[2015-10-13 08:22] xstee commented on #114
Chris, it's awesome! Thanks a lot.

Everything is well but one thing. Is this a bug?
Take a look at screenshot, please:
![2015-10-13 13-19-21 latin c and c beautychel ld - sublime text unregistered](https://cloud.githubusercontent.com/assets/8166186/10449486/b950359e-71b5-11e5-9721-0a0f76082def.png)

[2015-10-13 08:36] jublo commented on #114
@xstee That’s not a bug, but intended—in classic monospace fonts, lots of developers have problems distinguishing between Latin `C` and Cyrillic `Es` letters, so we decided to make a clear difference.

We’re eager to get to know your opinion!  …But please post it in its corresponding issue #22, will you?

[2015-10-13 09:09] xstee commented on #22
I agree that latin C and cyrillic C must have some difference, but now I see ... don't know a good word in English. Small stroke in cyrillic C scratch my eyes =)
![2015-10-13 14-01-04 small example beautychel ld - sublime text unregistered](https://cloud.githubusercontent.com/assets/8166186/10450307/46f84ba2-71bb-11e5-90dc-8ba4b2adfd31.png)
It's just my opinion.
May be the solution is to add some

[2015-10-13 09:10] xstee commented on #114
Consider this issue as 'done'. May I close it?

[2015-10-13 11:14] chrissimpkins commented on #127
This is not part of the standard Powerline set

[2015-10-13 11:16] chrissimpkins commented on #114
We are doing some testing this week and will close it when completed.  Thanks!

[2015-10-13 12:42] jublo commented on #52
Investigating which `MES-1` characters are missing as of 2.016, will follow-up soon.

[2015-10-13 14:30] jublo commented on #127
Suggestion:

<img width="721" alt="bildschirmfoto 2015-10-13 um 16 29 21" src="https://cloud.githubusercontent.com/assets/6348321/10457700/b04a9946-71c7-11e5-879e-a04b554a3e58.png">

[2015-10-13 16:21] alanmcginnis commented on #54
Also works fine for me, same setup as @Smolations. **Thanks for this font!**

[2015-10-13 16:25] chrissimpkins commented on #54
@alanmcginnis great!

[2015-10-13 17:14] llimllib commented on #116
It would be awesome to be able to see two fonts side-by-side. Without that feature, it's pretty difficult to compare.

Sorry for just lobbing a feature request over the wall! I think this project is super neat, and feel free to ignore me.

[2015-10-13 18:18] chrissimpkins commented on #116
We wouldn't ignore you!  This input is good.  @jublo designed the font comparison site.  Let's see what he thinks.  I guess my only concern with this is that we want to have sufficient room on the screen for users to visualize enough code to be informative.  Maybe we could have a way to go full screen with two code viewers for those who want to see side by side comparisons.

[2015-10-13 18:40] chrissimpkins commented on #22
Sorry... :)

I know it looks unusual.  We went through a number of iterations with the c.  It's a difficult character to modify and achieve something that looks like a c.  The changes that you propose will not be visible in text at the size that is used in text editors for source code.  Once that gets aligned to the pixel grid, this nuance will be gone and it will look like the Latin c.  My unders

[2015-10-13 18:49] chrissimpkins commented on #127
@hut8 Liam, can you point us to some documentation about the Powerline branch that you are using?

@jublo That looks great.  Nice work

[2015-10-13 20:14] hut8 commented on #127
@chrissimpkins thanks for the prompt reply. I'm using the latest release of powerline.
Here's the file where the character is defined:
https://github.com/powerline/powerline/blob/develop/powerline/config_files/themes/powerline.json

Thanks.

[2015-10-13 21:17] chrissimpkins commented on #127
Did you set a Powerline theme?  This page indicates that there are themes available and they are configured with the JSON that you linked:

https://powerline.readthedocs.org/en/latest/configuration.html

I wasn't aware that there are themes available.  The main Powerline status line glyph set includes those in these screenshots.

https://powerline.readthedocs.org/en/latest/overview.html#vim-status

[2015-10-13 21:20] hut8 commented on #127
That's actually how it comes out of the box (with the Powerline theme). The screenshot that you referenced is for using Powerline **in Vim** -- I'm using it in `tmux`.

I spent *way* too many hours yesterday going through every font that's patched for Powerline, and none of them seem to have this! So this would give Hack a big edge :)

[2015-10-13 21:30] chrissimpkins commented on #127
can you post a screenshot with the glyph in context (along with any others that we would need to support for tmux)?

[2015-10-13 21:40] hut8 commented on #127
![tmux with powerline](http://i.imgur.com/MHe1IhZ.png)

[2015-10-13 22:32] chrissimpkins commented on #127
Thank you very much.  I appreciate it.  Sorry for my ignorance about this.  I am not a Powerline user and haven't come across the UI with this glyph in the past.  The default patch set that they release does not include this glyph.

It looks like @jublo already has a design ready for you (see above).  Give us some feedback about it and we will see about getting it into an upcoming release.   We cu

[2015-10-13 23:37] lrvick commented on #127
Same issue for me, tmux latest powerline, default theme (pip install --user powerline-status) only the lock glyph does not render properly for me either. (though the lock glyph in zsh for some reason does?)

![foo](https://cloud.githubusercontent.com/assets/69200/10471182/560e244c-71c8-11e5-9356-08f79e91db70.png)

[2015-10-13 23:39] lrvick commented on #127
also +1 on @jublo 's lock design

[2015-10-13 23:44] chrissimpkins commented on #127
I agree it looks great

[2015-10-13 23:47] chrissimpkins commented on #127
@lrvick These are the current Powerline glyphs included in Hack:

![powerline-glyphs](https://cloud.githubusercontent.com/assets/4249591/10471341/f37c108a-71e2-11e5-9637-cd19afc54211.png)

We do include the lock glyph.  These are mapped to the Unicode private use area as recommended by the Powerline documentation.  They are only included in the **regular** Hack set.   Is it possible that tmux is a

[2015-10-14 00:40] lrvick commented on #127
@chrissimpkins Yep, it is bold. Shows up as glyph e0a2 for me.

[2015-10-14 17:22] weslem commented on #104
I took a look at this on some of my other machines. All of them have connected box-line characters, as well as a shared "dotfile" configuration repo between them, making the differences easier to find.

The only configuration difference I found is that the quirky machine has a 101 DPI monitor. X had trouble identifying the DPI, and kept setting it to 96 regardless of any change I made to Xorg.conf

[2015-10-14 17:48] chrissimpkins commented on #104
Oh that's interesting.  Are they showing as aligned in the Hack set on the other machines?

[2015-10-14 18:11] weslem commented on #104
I'm not sure what you mean when you ask, "showing as aligned." The vertical line box chars definitely connect, but I haven't done any deeper investigation.

I *have* manually set the DPI to 96 in `fonts.conf`, with no visible improvement in vertical alignment. Removing my manual DPI setting completely produces a minuscule text size (surprising me, given that xdpyinfo says X has the 96 DPI setting)

[2015-10-14 18:22] weslem commented on #104
On the "good" ubuntu machine, xterm seems to render things perfectly:

[code]
![xterm](https://cloud.githubusercontent.com/assets/994468/10493403/c93dcd62-7265-11e5-99f4-377961a3e5f7.png)

But the `st` shell from which I normally operate, with an alpha-blended background, shows slight gaps filled in with antialiasing even for the same `Hack:size=12` font string:
![st](https://cloud.githubuserconte

[2015-10-15 09:25] hrach opened #129 "Brackets [] wrongly displayed in Intellij when focused (bold)"
When I put cursor to brackets, they get bold and the bottom line is not visible at all.
![font-intellij](https://cloud.githubusercontent.com/assets/284263/10509757/36e0eccc-732f-11e5-9e91-f6e3f352126e.PNG)

Windows, Hack-v2_015-ttf, size 12, changing line-spacing does not help.

[2015-10-15 09:42] heymjo commented on #129
FWIW i do not see this issue, lntellij 14.1.5 - hack v15

![image](https://cloud.githubusercontent.com/assets/193792/10510184/bd5922e0-7331-11e5-8fb7-76c66258c0cd.png)

[2015-10-15 10:33] hrach commented on #129
Any idea how to debug it? PhpStorm, PS 141.x

[2015-10-15 10:43] heymjo commented on #129
check #45 maybe, i had some caching issues when i upgraded the font from the previous version that had this behaviour.

[2015-10-15 14:55] quicknir opened #130 "Strange plus"
Hey, I like Hack a lot and am considering switching to it. I have to say though that I find the plus sign very strange, I could swear it looks shorter on the bottom than on the top. Am I seeing things? If not, why such an unusual plus?

[2015-10-15 14:57] jublo commented on #116
@llimllib Thank you very much for your constructive input!  I agree with you and Chris that comparing fonts could be a handy feature, and I think going full-screen in a side-by-side view might be a good solution to this.  (Either horizontal, or vertical, or ideally with a switcher.)

Do you think this could work?

[2015-10-15 15:08] llimllib commented on #116
I think that would be awesome; any way you can see the two fonts side-by-side would help.

[2015-10-15 15:37] chrissimpkins commented on #130
Mind posting your platform and the editor that you are using?  Screenshots tend to be very helpful for us to understand what you are seeing.  Please include so that we can see the length of those strokes if possible.  I haven't noticed this, but we can take a look into it in more detail.

[2015-10-15 20:16] quicknir commented on #130
I'm on fedora core 20. Screenshot attached. I zoomed in and it really does look like the vertical part below is shorter than above (on the plus). This was in size 12, in terminator. Eclipse it looks the same.

![screenshot-3](https://cloud.githubusercontent.com/assets/10457096/10526279/d928c69e-7357-11e5-94a4-9b4aa322a9b4.png)

[2015-10-15 20:18] chrissimpkins commented on #130
are you using the otf files by any chance?

[2015-10-15 20:19] quicknir commented on #130
All the Hack files I used to install have the .ttf extension.

[2015-10-15 20:23] chrissimpkins commented on #130
I agree that does not look right and it isn't designed that way.  Are you using the current release (v2.015)?  I will check the glyph.

[2015-10-15 20:57] quicknir commented on #130
Yes, 2.015.

[2015-10-16 01:25] chrissimpkins commented on #129
Try issue report #100 where a similar problem was identified.  They reported an issue on the JetBrains issue tracker.  It sounds like this was fixed as of the v2.015 release.

[2015-10-16 01:28] chrissimpkins commented on #130
Here is the design:

![plus](https://cloud.githubusercontent.com/assets/4249591/10531749/93882ad6-7383-11e5-9a94-2bd2183f2a1e.png)

I verified that the stems are the exact same size in the design.  What pixel size are you using?

[2015-10-16 01:42] chrissimpkins commented on #43
I am going to push this issue back a bit.  @burodepeper is analyzing a number of usability issues in the fonts and we are going to spend a bit more time on the evaluation of this glyph (and others) before we begin a new design.   Our hope is to apply a more rigorous, objective approach to these usability issues and we have a number of tools in various stages of planning and development to assist w

[2015-10-16 03:34] chrissimpkins opened #131 "Side by side comparisons of fonts (website)"
update the Font Playground to include a full page side by side  comparison of Hack vs other typefaces

[2015-10-16 07:45] hrach commented on #129
- I have fresh new laptop, so, from the beginning I am using hack v15.
- though, I tried to uninstall the font, invalidated caches in PS, nothing helped
- I tried to upgrade to PS 9.5 EAP, didn't help.

Important note: previously mentioned bugs seem to be caused by current line highlighting, which overlay-ed the bottom parts of letters on the previous line. My issue seems to be buggy in every case

[2015-10-16 07:46] hrach commented on #129
But as mentioned in the other bugs, changing font-size to bigger don't help, however, 11 works ok.

[2015-10-16 18:00] wxl commented on #113
Contributions to go with it might be nice, too ;)

[2015-10-16 19:22] chrissimpkins commented on #113
interested?

[2015-10-16 19:24] wxl commented on #113
shoot, sorry, i meant a contribution *guide*. i gather that you guys mostly use fontlab, so perhaps i could add in notes for linux folks. i got a mac laying around, too. i think both run fontforge, so i could base it on that.

[2015-10-16 19:26] chrissimpkins commented on #113
using a combination of Glyphs and FontLab Studio.  Interested in discussing further?

[2015-10-16 19:30] wxl commented on #113
i am not a windows user, but i'd be happy to help translate to linux XD

[2015-10-16 19:33] chrissimpkins commented on #113
shoot me an email at address on repo profile and we can talk about it.

[2015-10-16 23:44] stompychump commented on #130
I am seeing this also:
* v2.015
* Windows 7
* Sublime Text 2 with "directwrite" font option and size 8
* also in Notepad2 at size 8

Looks fine at all other tested sizes, though.

[2015-10-17 00:42] chrissimpkins commented on #130
@stompychump thanks for letting me know.  Can you let me know what other sizes you tested?

[2015-10-17 03:24] stompychump commented on #130
Here it is in Sublime Text at sizes 6-14 (same specs as above):

![plus](https://cloud.githubusercontent.com/assets/15165230/10556779/f3a8d00a-7464-11e5-9949-24f30e215cc7.png)

[2015-10-17 12:08] chrissimpkins commented on #130
@stompychump thank you very much

[2015-10-18 16:37] jkcclemens commented on #48
I was also looking to move from Source Code Pro, which is what I use everywhere. Using Hack is nice in my IDE, but I prefer a lighter font weight for terminals and IRC. I would love to see this, since then I could use Hack everywhere!

[2015-10-18 17:22] chrissimpkins commented on #48
@jkcclemens Thanks Kyle.  We are working on improvements to the current sets over the next several releases and then will revisit this, if even to begin a smaller character set release and build simultaneously from there.  Will post here when we have something for you.

[2015-10-19 23:51] bkromhout commented on #103
I'm on OS X as well, a 15" retina MBP, and while I have no trouble with the ```i``` and ```l``` on the laptop's screen, when I'm using my external 1080p monitor, they can be a bit hard to distinguish in IntelliJ, and I'm even using them at 12pt. However, I think (for me) the issue isn't so much the top of the glyphs, but rather the fact that the bottoms of them are extremely similar. Just adding m

[2015-10-20 00:59] chrissimpkins commented on #103
@bkromhout Brenden, come join us in #43 where the `i` vs. `l` issue is being addressed.  We are in the process of defining an approach to usability issues and tooling up to both analyze and make decisions about them.  This aspect of the project is being overseen by @burodepeper and we will have much more news soon (as well as a fix based upon these efforts!).  We are heading in a direction to make

[2015-10-20 01:10] bkromhout commented on #43
Came here from #103 and will be watching for updates to this. The original issue I had was actually with ```i``` vs ```l```, though I also agree with the ```1``` vs ```l``` discussion going on here.

I'll refrain from further comment until the new approach is revealed that is mentioned in the above comment, but for continuity will add that I feel that the ```i``` looks too similar to ```l``` due t

[2015-10-20 07:47] burodepeper commented on #43
Hi everybody,

As @chrissimpkins mentioned, I'm working on analyzing these issues and improvements. In the mean time, it would be **incredibly helpful** if you could supply us with screenshots of situations where any of the issues mentioned above actually hindered you.

Let me put it in a different context. I am not only analyzing the abstract visual difference between two characters; I am also an

[2015-10-20 07:49] burodepeper commented on #103
Hi @chris0e3, as @chrissimpkins mentioned, I'm overseeing these issues. If you would come over to #43 and read my latest comment on how you can help me, that would be great.

[2015-10-20 17:24] chrissimpkins opened #132 "Create source code corpora across common programming language types to identify design optimization targets"
This is in progress and the analysis of these bodies of source (also in progress) will guide our source code optimization efforts in the near term.  I am currently compiling the source code files into the following repository:

https://github.com/sf-playground/code-corpora

User contributions are welcomed and encouraged.  It will be helpful to hear about the projects that _should_ fall within this

[2015-10-21 17:51] chrissimpkins commented on #120
Sending this issue to @burodepeper so that we can include it as part of our usability analysis.  We will address this.  More info in this thread when available.

[2015-10-21 17:58] chrissimpkins commented on #132
### Task List
- [x] JS
- [x] Python
- [x] PHP
- [ ] Ruby
- [ ] C
- [ ] C++
- [ ] Java
- [ ] HTML
- [ ] CSS

[2015-10-22 01:17] chrissimpkins opened #133 "Update ttfautohint to v1.4.1"
New ttfautohint release

[2015-10-22 04:01] alphapapa commented on #120
I would prefer if they were left as-is.  I have no trouble distinguishing them.  Been using DejaVu Sans Mono for years.  And while Input Mono is kind of a neat font, I think its braces are quite ugly.

[2015-10-22 12:23] chrissimpkins commented on #120
@alphapapa Thanks for your feedback.  This is, in part, a style issue however we want to determine whether there are source code usability concerns that should be addressed with these glyphs.  We are developing an approach to systematically and more objectively examine issue reports like this one.  These tools are all in development and we are not prepared to generate proposals or make decisions q

[2015-10-22 12:26] burodepeper commented on #120
A question to @VeevenV and @alphapapa, at what type-size and are you using Hack? And as an addition for @VeevenV, could you post a screenshot where you feel the brackets aren't distinguishable enough?

[2015-10-22 12:28] chrissimpkins commented on #120
@alphapapa Incidentally, the usability process itself, and the tools used to conduct it, will be open to public review, scrutiny, and contributions in other Github repositories.  We are at a very early stage of development and are still having discussions about the approach and tooling before we produce an initial public “release”.   Once this takes place, I invite you to weigh in on the approach,

[2015-10-22 15:07] jublo commented on #131
http://sf-playground.github.io/sforg/hack/playground.html

![](https://cloud.githubusercontent.com/assets/6348321/10669044/3f73dce0-78df-11e5-931e-6f9ebaeb44ab.png)

[2015-10-22 15:21] burodepeper commented on #131
Nice!

A few comments:
- vertically separate them by default (the switch function wasn't clear to me btw)
- align the selector for typeface with the code-frame
- Hack at 12 (what unit?) in the browser renders _a lot_ bigger than 12px in my text editor (zoom is at 100%)
- The default line-height (of 1?) is different than the line-height of 1 in my editor.

[2015-10-22 15:30] jublo commented on #131
@burodepeper Please explain.

[2015-10-22 15:44] jublo commented on #131
Please make a suggestion how to make it clearer. Use a different icon? Show an unobtrusive popover on first open?

[2015-10-22 15:45] jublo commented on #131
Should be fixed. Please confirm and/or comment.

[2015-10-22 17:07] burodepeper commented on #131
![schermafbeelding 2015-10-22 om 19 01 51](https://cloud.githubusercontent.com/assets/3703530/10672305/636ddb4a-78ef-11e5-9d10-ceffde8e1a3c.png)

This is just a quick sketch, perhaps you have a better idea.

- I've moved the dropdown-buttons around.
- I've changed the default labels to indicate what they are, rather than their value. Also, I've made them grey, to make them slightly less important.

[2015-10-22 17:08] burodepeper commented on #131
Type-size and line-height are good now!

[2015-10-22 18:28] edmz opened #134 "Request/Idea: add other characters for operator/symbol prettifying"
Emacs, and probably other editors, allows one to substitute operators with unicode glyphs.

This can help, arguably, with the readability and expresiveness of the code. At least is fun and, I think, a path worth experimenting, such as what the powerline fonts do for the shell.

Here is an before/after example of enabling such a feature.

Before:

<img width="486" alt="without-psm" src="https://clo

[2015-10-23 01:08] chrissimpkins commented on #134
These appear to be common ligatures if I understand your report correctly.  Have a look at this issue report for the conversation about ligatures in a general purpose source code typeface like Hack:

[2015-10-23 01:56] edmz commented on #134
Mhmh what emacs does is a simple replace of one or more characters into
another. In this case, a unicode glyph.

Ligatures, if i understood correctly, are a font setting or feature. That
could be undiserable or unexpected to people.

What I am asking is changing some unused or rare unicode glyphs (like with
powerline) so that my editor can use those glyphs insted of, lets say,
elixir's pipe operat

[2015-10-23 01:58] edmz commented on #134
This is how you configure emacs:

http://emacsredux.com/blog/2014/08/25/a-peek-at-emacs-24-dot-4-prettify-symbols-mode/

My problem is that the characters/glyphs that I like to choose as
replacements are not fixed width, have a different height or dont like a
lot like the others.

On Thursday, 22 October 2015, Eduardo Dominguez <eduardodmz@gmail.com>
wrote:

--
Eduardo

[2015-10-23 02:14] chrissimpkins commented on #134
I see, interesting.  I wasn't aware that anything like this was currently available.  And you can map multiple glyphs to a single unicode code point?

[2015-10-23 03:42] edmz commented on #134
In emacs you can map any characters to a single character/glyph.

In the next screenshot you can see that I tried substituting the fake operator "???" to the string "caca" and it didnt work. But the |> operator was happily changed to an emojii.

![screen shot 2015-10-22 at 10 39 13 pm](https://cloud.githubusercontent.com/assets/18996/10684029/16c98af4-790e-11e5-8406-b84a671cac4a.png)

[2015-10-23 05:51] mmcco opened #135 "No donation support"
I'd like to thank you for your work and I'm probably not the only one. Have you considered putting a donation link on the website and in the README?

[2015-10-23 05:52] mmcco opened #136 "Dead link to FAQ.md in README"

[2015-10-23 07:15] VeevenV commented on #120
@burodepeper I use Hack at 11pt size. Here are a couple of screenshots:

![hack-font-codesample2](https://cloud.githubusercontent.com/assets/6792988/10686651/ca190f10-7983-11e5-82d2-8f70af989ebe.png)
![hack-font-codesample1](https://cloud.githubusercontent.com/assets/6792988/10686652/ca1fb7de-7983-11e5-82aa-81640f00bbd1.png)

[2015-10-23 08:41] burodepeper commented on #120
@VeevenV Thanks! I think I see what you mean. Have you tried switching to a syntax highlighter with a higher contrast? I am not saying you should have to, because I feel that as a typeface there's a certain promise of proper distinction between characters, but in your situation, it seems to me the colors are not really helping.

[2015-10-23 08:46] burodepeper commented on #134
Interesting, and technically, as long as you substitute something for an existing glyph in Hack, this shouldn't cause issues.

@edmz, I can't promise anything, but would you mind helping us by creating an overview of what operators you would like this to apply to, and a proposal for their unicode substitutes?

[2015-10-23 10:28] VeevenV commented on #120
@burodepeper I am actually using a [higher contrast variant](https://github.com/edran/hc-zenburn-emacs/) of [zenburn](https://github.com/jnurmine/Zenburn) color scheme. But, zenburn is known for low contrast. ;-)

Another thing in my set up is that braces and parens are colored based on their level. That's actually helping me I guess. If I disable that [rainbow-delimeters](https://github.com/Fanae

[2015-10-23 10:33] jublo commented on #136
`FAQ.md` was removed in 649ea66. @chrissimpkins, I'd like to work on removing the stale link.

[2015-10-23 10:37] burodepeper commented on #120
@VeevenV Thanks for your input. We are certainly going to focus on these (low-contrast) issues, because the typeface should be optimized in first without color-coding. You could try to use a high-contrast syntax-theme, and lower the brightness of your monitor. I've designed [minimal-syntax](https://atom.io/packages/minimal-syntax) for this (and my own) purpose.

On a side-note, those three charact

[2015-10-23 10:55] #136 closed

[2015-10-23 10:56] chrissimpkins commented on #136
@mmcco Thanks for this Michael and thanks to @jublo for the fix

[2015-10-23 11:03] chrissimpkins commented on #135
Thanks Michael.  It’s not necessary at all.  If you’d like to “compensate" all of those who have contributed their time and efforts here, I’d ask that you donate a bit of your own time to make the project better (as you’ve already done in your other issue report).  It’s how we move forward.

Thanks much for the gesture.

[2015-10-23 11:03] #135 closed

[2015-10-23 11:06] VeevenV commented on #120
@burodepeper Thanks for caring. I'll try lower-the-brightness technique.

My name is in Telugu script, my native language. No, the third letter isn't a snake. :-) Here is a more snake-y character: శీ. Telugu isn't logographic.

[2015-10-23 11:11] chrissimpkins commented on #120
Interesting.  Haven’t heard of this technique before.

@VeevenV what typeface do you most commonly use for source code/in text editors?

[2015-10-23 11:16] burodepeper commented on #120
I believe it's proven that black on white is easier to read, and the contrast of colors vs black text is more pleasant in my opinion. Also, lower brightness is better for your eyes, and significantly reduces power consumption and warmth the screen generates. Give it a try, it's becoming a trend! And, it's _good for the environment!_

[2015-10-23 11:41] VeevenV commented on #120
@chrissimpkins Yes, mostly Luxi and Input. Consolas gets in my way often.

[2015-10-23 11:48] chrissimpkins commented on #120
One of the things that we are proposing is to objectively examine not only this typeface but others as well. There is a wide body of other shapes / styles out there and I think that we have a lot to learn from the years of development that have gone into other typefaces whether they were designed specifically for source or not.

[2015-10-23 22:23] edmz commented on #134
Here is the table of proposed characters and a unicode number for a possible substitution. The 'a == 1' thing at the beginning of each line is just an example for context:

    # currently in hasklig, but with ligatures
    a == 1  # U+2A75 ⩵
    a === 1 # U+2A76 ⩶
    a => 1  # U+21D2 ⇒
    a -> 1  # U+27F6 ⟶
    a <- 1  # U+27F5 ⟵
    a <> 1  # U+20df ⃟
    a ++ 1  # U+29FA ⧺
    a || b  # U+222

[2015-10-24 03:25] alphapapa commented on #120
![hack](https://cloud.githubusercontent.com/assets/601365/10708634/fa611bc6-79d4-11e5-999c-61eae2178909.png)

[2015-10-24 06:30] burodepeper commented on #120
@alphapapa thanks!

[2015-10-24 06:33] burodepeper commented on #134
@edmz thanks! As I mentioned earlier, I can't promise anything, but this seems reasonable to look into.

@jublo I think this is something for you. Could you check if we already support these unicode characters, and which need to be added?

[2015-10-24 08:07] Grimy opened #138 "Examine shape + hinting of the zero oval fill across range of text sizes"
Here’s a screenshot of how the digit 0 looks in my xterm:

![0](https://cloud.githubusercontent.com/assets/3199732/10709632/94537ccc-7a36-11e5-9975-e5f74375009d.png)

As you can see, the bold ones render correctly, but the regular ones have a middle dot that is way too big and extends more to the top than to the bottom.

I have the following config:

    *faceName:     Hack
    *faceSize:     11

[2015-10-24 08:13] Grimy commented on #138
Here’s the result when turning hinting off:

![02](https://cloud.githubusercontent.com/assets/3199732/10709660/d0d9ddc0-7a37-11e5-8a52-87506d6c5f88.png)

The middle dot is now symmetrical, but still quite big. Is that the intended design?

[2015-10-24 08:14] chrissimpkins commented on #138
Any idea what Xft.autohint is doing there?

[2015-10-24 08:14] chrissimpkins commented on #138
And to confirm, these are the ttf fonts?

[2015-10-24 08:15] chrissimpkins commented on #138
It is not intended to render as a dot, but rather as an oval fill.  That is the correct design

[2015-10-24 08:15] Grimy commented on #138
Yes, these are the ttf fonts. Turning off `Xft.autohint` has no visible effect. Turning off `Xft.hinting` produces the second screenshot I posted.

[2015-10-24 08:17] chrissimpkins commented on #138
I have not particular expertise with xterm hinting settings, but the second image is the intended appearance with the ttfautohint instruction sets that are included in the ttf builds.

[2015-10-24 08:19] Grimy commented on #138
Okay, thanks for the quick reply (= I’ll leave hinting off and autohint on, then.

That “oval fill” looks really good on the samples in the README, but much less so at font size 11, where it looks more like a vertical bar. Well, I guess that’s just a matter of opinion x)

[2015-10-24 08:21] chrissimpkins commented on #138
Mind trying it at a couple of other text sizes, both smaller and larger?  The shape changes as it gets constrained to different sized pixel grids.   Interested to see how it appears on your platform with that renderer.

[2015-10-24 08:23] chrissimpkins commented on #138
Here is the design:

![hack-numbers](https://cloud.githubusercontent.com/assets/4249591/10709731/e69f7092-7a06-11e5-9898-e8a02cf31670.png)

[2015-10-24 08:32] chrissimpkins commented on #138
Updated title of your issue report and we will leave this open to delve a bit deeper into the issue.  I think that there is room for improvement here.  Perhaps a slight adjustment to the shape at smaller text sizes.  Thanks for pointing this out.  Will update here with additional information and any changes that are made.

[2015-10-24 08:43] Grimy commented on #138
I tried a font sizes 6, 7, 8, 9, 10, 11, 12, 13, 14 and 16, here are the results:

![all](https://cloud.githubusercontent.com/assets/3199732/10709792/ba3d2a00-7a3b-11e5-9558-0be38ddb54ba.png)

In my opinion, it looks bad at sizes 9, 11 and 13.

Thanks for your attention!

[2015-10-24 08:51] chrissimpkins commented on #138
That's extremely helpful and will guide our tests.  Thanks much!

[2015-10-24 12:46] jublo commented on #131
@chrissimpkins @burodepeper Here is a new iteration of the font playground side-by-side comparison; looking forward to your feedback.

http://sf-playground.github.io/sforg/hack/playground.html

Changed in this iteration:

- Use Source Code Pro as default font face for editor 2 (right/bottom)
- Enhance buttons for vertical/horizontal alignment
- Change default labels to indicate what they are, rath